[2018-12-27 16:33] #1100 closed

[2018-12-27 16:35] QB-vladyslav-vyshniak commented on #1096
Hello, dear prathap2626.

Thank you for contacting QuickBlox.
Could you please confirm that this issue is still relevant for you.

[2018-12-28 10:07] RahulTBI opened #1117 "Send Push Notification to all user whose are in my Group."
Hi, I would like to send push notification (Not Alert) to all users that are invited in my group.

Thanks,
RahulTBI

[2018-12-29 10:36] QB-vladyslav-vyshniak commented on #1116
Hello, dear Arjun.

Thank you for contacting QuickBlox.
If you mean call screen, then yes. UI isn't a part of QuickBlox SDK, in this case, you may do anything you want.
If you have an additional question, please let us know.

[2018-12-29 10:45] QB-vladyslav-vyshniak commented on #1117
Hello, dear RahulTBI.

Thank you for contacting QuickBlox.
You can find the answer to your question by this link:
https://quickblox.com/developers/SimpleSample-chat_users-ios#Create_new_dialog

If you have an additional question, please, let us know.
Also, could you confirm that we can close this ticket:  https://github.com/QuickBlox/quickblox-ios-sdk/issues/1114

[2019-01-02 11:24] pwsharma commented on #1105
@QB-vladyslav-vyshniak , Do you have any workaround for this issue.
We also have QuickBlox paid enterprise account

[2019-01-02 15:19] QB-vladyslav-vyshniak commented on #1105
@pwsharma
Hello.
Thank you for contacting QuickBlox support.
Could you please create a ticket in our support portal and we will consider it as soon as possible.

If you have an additional question, please, let us know.

[2019-01-03 13:43] SameerDonga commented on #666
How to generate it in Dart/Flutter?

[2019-01-04 05:07] RahulTBI opened #1118 "when removing user from the group, it was working fine, but when i add him/her again in the same group, then group chat dialog UserID become 0. so i can not get who is group admin of that group"
When removing user from my group, it was working fine, but when i add him/her again, then group chat dialog UserID become 0. so i can not get who is group admin of that group.

While after i close the application and open it again, at that time i get UserID as i expecting

what is the issue for the same

Please help me out

Thanks
RahulTBI

[2019-01-04 12:34] RahulTBI commented on #37
If admin can delete group, all participant will get just system message regarding user has delete group, but how can i update dialog for other user.

other user can see that chat dialog and remaining participant in info about group

[2019-01-04 13:56] QB-vladyslav-vyshniak commented on #1105
@pwsharma
This issue has been fixed in the last version of IOS SDK - v2.17.1
Please, update to the latest version and check that all works as expected.

If you have any additional questions, please let me know.

[2019-01-04 15:11] pwsharma commented on #1105
Ok, thanks for the update.
I will check and update you about the issue

[2019-01-07 06:58] PoojaSachanIOSDeveloper opened #1119 "Can't remove privacy list"
In My app there is blocked and unblocked user module.
Blocked user is working fine. but unblocked user is not working.
 [[QBChat instance] removePrivacyListWithName:@"public"] is not working

Here is my code
- (void)UnblockUserWithQBId:(NSUInteger)qbID{

    QBPrivacyItem *item = [[QBPrivacyItem alloc]initWithPrivacyType:QBPrivacyTypeUserID userID:qbID allow:YES];
    item.mutualBlock = NO;
    if

[2019-01-07 09:33] pwsharma commented on #1105
@QB-vladyslav-vyshniak I have updated QuickBlox Web-RTC version to 2.7.2 and still getting the crash. Even worst I am no longer able to test on the simulator because of **missing required architecture x86_64**

[__NSCFConstantString count]: unrecognized selector sent to instance 0x106063120
2019-01-07 14:58:02.878430+0530 Howdoo[265:7591] *** Terminating app due to uncaught exception 'NSInvalidArg

[2019-01-08 15:47] vadimkhmyrovqb commented on #1109
@captainuberawesome , @dhavalpanchani QuickbloxWebRTC 2.7.3 has been released. It contains support of architecture x86_64.

[2019-01-10 04:34] vineeshLee commented on #970
hi iam not getting call when the Android App app is closed quickblox onReceiveNewSession not getting invoked,is there any option to add callKit like IOS in android to solve this problem,please help.

[2019-01-10 04:36] vineeshLee opened #1120 "QuickBlox not getting call when the Android App app is closed quickblox onReceiveNewSession not getting invoked,"
hi iam not getting call when the Android App app is closed quickblox onReceiveNewSession not getting invoked,is there any option to add callKit like IOS in android to solve this problem,please help.

_Originally posted by @vineeshLee in https://github.com/QuickBlox/quickblox-ios-sdk/issues/970#issuecomment-452967854_

[2019-01-10 07:09] RahulTBI opened #1121 "QMSoundManager giving me error of SystemSoundID, while i adding it in my swift project."
Unknown type name 'SystemSoundID' in QMSoundManager, that are perfectly worked on your sample. what is the issue if i add same file in my project.

Thanks
RahulTBI

[2019-01-10 12:55] #1121 closed

[2019-01-11 09:53] QB-vladyslav-vyshniak commented on #1119
Hello, dear Pooja.

Thank you for contacting QuickBlox support.
Did you read our documentation about "PrivacyLists" feature on IOS?
Could you please check it by this link: https://quickblox.com/developers/SimpleSample-chat_users-ios#Privacy_lists

If you have any additional questions, please let me know.

[2019-01-11 09:57] QB-vladyslav-vyshniak commented on #1116
Dear Arjun.

Could you confirm that we can close this ticket and my reply is suitable for you?

[2019-01-11 09:58] QB-vladyslav-vyshniak commented on #1115
Dear Ngô.

Could you confirm that we can close this ticket and my previous reply is suitable for you?

[2019-01-11 10:01] sv9988 commented on #1115
Thanks for your support. It's from backend side.
Please close this ticket.

[2019-01-11 10:04] QB-vladyslav-vyshniak commented on #1109
@captainuberawesome @dhavalpanchani
Could you confirm that we can close this ticket and reply of @vadimkhmyrovqb  is suitable for you?

If you have any additional questions related to this ticket, please let me know.

[2019-01-11 10:06] captainuberawesome commented on #1109
@QB-vladyslav-vyshniak

Yes, everything's okay now, thank you.

[2019-01-11 10:06] #1109 closed

[2019-01-11 10:22] QB-vladyslav-vyshniak commented on #1110
Dear Naveen.

Could you please confirm that we can close this ticket and my previous reply is suitable for you?

[2019-01-11 10:31] arjunmaniyar commented on #1116
Hi,

We got the solution from our side.

You can close the ticket.

Thanks & Regards,

Arjun M

Skype: arjun.avion

1-646-290-5326

Confidential and Privileged

This communication and any accompanying documents are confidential and may also be legally privileged.  If you have received this transmission in error, you are advised that any disclosure, copying, distribution or the taking of any action

[2019-01-11 10:42] RahulTBI opened #1122 "Need audio call with callkit in swift"
Please help me out if anybody did this

Thanks
RahulTBI

[2019-01-11 11:59] QB-vladyslav-vyshniak commented on #1113
Dear Marianne.

According to the information from my colleague this ticket has been successfully resolved via ticket in the customer support portal.
I changed the status of the ticket to "Closed".

If you have any additional questions, please let me know.

[2019-01-11 12:05] QB-vladyslav-vyshniak commented on #1116
Dear Arjun.

Thank you for the feedback.
Always glad to help you.

[2019-01-11 12:06] #1116 closed

[2019-01-11 12:08] #1113 closed

[2019-01-11 12:12] QB-vladyslav-vyshniak commented on #1115
Dear Ngô.

Thank you for the feedback.
Always glad to help you.

[2019-01-11 12:12] #1115 closed

[2019-01-11 12:19] QB-vladyslav-vyshniak commented on #1105
Dear @pwsharma
Thank you for the report.
Could you please download and testing the latest stable IOS WebRTC version 2.7.3 by these links:
=>>https://cocoapods.org/pods/Quickblox-WebRTC
=>>https://quickbloxwebrtc-sdk.s3.amazonaws.com/ios/QuickbloxWebRTC.framework-2.7.3.zip
It also contains support of architecture x86_64.

[2019-01-11 12:48] #1114 closed

[2019-01-11 12:51] QB-vladyslav-vyshniak commented on #1111
Dear @Kiran-Patel
Could you please check and confirm that my previous reply is suitable for you and I can close this ticket?

[2019-01-11 12:51] #1111 closed

[2019-01-11 12:53] QB-vladyslav-vyshniak commented on #1106
Hello, dear @ValeriiVV

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you and our developers will investigate it.

[2019-01-11 13:14] QB-vladyslav-vyshniak commented on #1102
Hello, dear @williamtran1988

Take our apologies for the delay.
Could you try to make it in 2.17.1 version? There you will have the possibility to proceed with your request.

If this solution is suitable for you, please, confirm it.
Also, i already closed the ticket https://github.com/QuickBlox/quickblox-ios-sdk/issues/1103 as a duplicate.

[2019-01-11 13:16] QB-vladyslav-vyshniak commented on #1103
Hello, dear @williamtran1988

Thank you for contacting QuickBlox support.
I closed this ticket as a duplicate, original ticket: https://github.com/QuickBlox/quickblox-ios-sdk/issues/1102
We can continue the discussion there.

[2019-01-11 13:16] #1103 closed

[2019-01-11 14:16] QB-vladyslav-vyshniak commented on #1104
Hello, dear @dudinvlad

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you and our developers will investigate the issue.

[2019-01-11 14:53] QB-vladyslav-vyshniak commented on #1122
Hello, dear Rahul.

Thank you for contacting QuickBlox.
In this case, you can use the following resources:
=>>https://quickblox.com/developers/Sample-webrtc-ios
=>>https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc
=>>https://cocoapods.org/pods/Quickblox-WebRTC

[2019-01-12 07:44] NaveenYadavGithub commented on #1110
Sorry for late reply
 There is one more query please can you tell me how to download chat videos
from chating view or please give me it's reference link
Thankyou...!

On Fri, Jan 11, 2019 at 3:52 PM Vladyslav Vyshniak <notifications@github.com>
wrote:

[2019-01-12 12:06] RahulTBI commented on #1122
Hello, dear vladyslav
Thanks for reply

I already use this resources, audio call work perfectly in foreground, but i want it in kill state as well.
so i implement VoIP push notification, it occur while someone call, but my application was not launch automatically

[2019-01-14 11:37] QB-vladyslav-vyshniak commented on #1122
Dear @RahulTBI

Could you please check this one: https://quickblox.com/developers/Sample-webrtc-ios#Calling_offline_users

[2019-01-14 14:55] QB-vladyslav-vyshniak commented on #1090
Hello, dear @katoreRahul

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you?

[2019-01-14 15:01] QB-vladyslav-vyshniak commented on #1084
Hello, dear @alexsdi

Thank you for contacting QuickBlox.
Could you please confirm that this issue is still relevant for you.

[2019-01-14 15:16] ValeriiVV commented on #1106
Hello, yes, it is still relevant for me, thank you

[2019-01-14 16:21] QB-vladyslav-vyshniak commented on #1110
Dear @NaveenYadavGithub

Thank you for the feedback.
Could you please try to use this solution: https://quickblox.com/developers/SimpleSample-chat_users-ios#Receive_attachment

[2019-01-15 11:22] QB-vladyslav-vyshniak commented on #1097
Hello, dear @sohilspaceo

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you?

[2019-01-15 13:33] pwsharma commented on #1105
@QB-vladyslav-vyshniak
It's still not fixed please find my crash login Xcode console

2019-01-15 18:57:06.049 rtc::[Signaling Processor] - Did receive signal: call from: 11445
2019-01-15 18:57:06.074 rtc::[RTCClient] Initializing SSL...
2019-01-15 18:57:06.079 rtc::Create audio track: RTCMediaStreamTrack:
audio
audioTrack
enabled
Live
2019-01-15 18:57:06.080 rtc::[CAPT] Init.
2019-01-15 18:57:06.0

[2019-01-15 14:15] QB-vladyslav-vyshniak commented on #1118
Hello, dear @RahulTBI

Thank you for contacting QuickBlox support.

If group admin left the group chat, nobody from the participants which still in this chat can't have admin role.
When you add group admin back to the chat - he is still group admin, always.

[2019-01-15 15:03] QB-vladyslav-vyshniak commented on #1120
Hello, dear @vineeshLee

Thank you for contacting QuickBlox support.
Could you please try to use the following documentation: https://quickblox.com/developers/Sample-webrtc-android#Track_session_states_via_QBRTCClientSessionCallbacks_interface
If the provided solution doesn't help, please, provide us with detail logs.

[2019-01-16 04:05] RahulTBI commented on #1118
Thanks for reply

Group admin was not left, admin will remove other participant that are in group, if admin want to remove any participant from group then admin can do it. but if admin will add again same user again in same group, then that dialog userId become 0. so i can not identify who is group admin.

[2019-01-16 04:07] RahulTBI commented on #1122
Thanks for your reply

I did same with your mentioned link.
i want VoIP push (silent notification). while it occur application automatically open and root will change to AudioVC controller where i have audio calling features

Thanks
RahulTBI

[2019-01-16 04:46] vineeshLee commented on #1120
Hi this issue is solved by using pushnotification.now iam facing an issue
iOS when calling from android iam getting  user information null in iOS
receiver function
? Please help to resolve this issues.

Thanks and Regards

Vineesh Kumar mk
ph:8547452226,8075136606

On Tue, 15 Jan 2019, 9:07 pm Vladyslav Vyshniak <notifications@github.com
wrote:

[2019-01-16 07:47] tung238 opened #1123 "Notification stop working"
**New Issue Checklist**

 - [x ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-----------------------------

[2019-01-16 10:19] vvdodiya commented on #1123
Did you find any solution?

I have the same issue for notification. yesterday it was working fine but today notification can't receive on the receiver side.

it show in quickblox admin panal as Active status.

[2019-01-16 10:53] QB-vladyslav-vyshniak commented on #1123
Hello, dear @tung238 and @vvdodiya

Thank you for contacting QuickBlox support.
This issue has been resolved. We had maintenance on our Shared (PROD) instance, but currently, all works as expected.
Could you please check and confirm that all works as expected on your side too.

[2019-01-16 11:42] vvdodiya commented on #1123
It is working but taking to much time. I receive notification after sometimes. I am implementing call functionality but when the notification arrived, the call is already timeout.

[2019-01-16 12:33] tung238 commented on #1123
Confirm it is working again, thanks @QB-vladyslav-vyshniak!

[2019-01-16 12:40] QB-vladyslav-vyshniak commented on #1123
Dear @tung238

Thank you for confirmation.
Glad that all works as expected on your side.

[2019-01-16 12:46] QB-vladyslav-vyshniak commented on #1123
Dear @vvdodiya

Our developers are still resolving the issues with push notifications (delays, etc) after the maintenance.
We will resolve all issues as soon as possible.

[2019-01-16 16:05] QB-vladyslav-vyshniak commented on #1079
Hello, dear @timeetdev1 @math609

Thank you for contacting QuickBlox support.
Take our apologies for the delay in reply.

You faced this issue, because we had maintenance on our instances at that time.
Currently, all is working well and you can test it.

If you have any additional questions, please, let me know.

[2019-01-16 16:17] QB-vladyslav-vyshniak commented on #1074
Hello, dear @katoreRahul

Thank you for contacting QuickBlox support.
You could proceed with customization of push notifications in your admin panel, please, check image in the attachment.

If you have any additional questions, please let me know.

![pushnotifications customization](https://user-images.githubusercontent.com/45996007/51262356-447ef980-19c3-11e9-8804-4300a9dca923.PNG)

[2019-01-16 16:17] #1074 closed

[2019-01-16 16:20] QB-vladyslav-vyshniak commented on #1063
Hello, dear @vineeshtp

Thank you for contacting QuickBlox support.
Take our apologies for the delay in reply.
Currently, all is working well. You can test it.

If you have any additional questions, please let me know.

[2019-01-16 16:20] #1063 closed

[2019-01-16 16:24] QB-vladyslav-vyshniak commented on #1123
Dear @tung238 @vvdodiya

Our DevOps and backend teams reported that all works as expected.
Could you please check and confirm it.

If you have any additional questions, please let me know.

[2019-01-17 01:48] math609 commented on #1079
Let's make something abundantly clear, your customer service is slow and I'm starting to question if you have any unit testing in your own back end. In the last 6 months, your service failed 5 times and each time your turnover time was of 12h+ minimum. Your worst-case scenario was around 36h. In our modern days, it is simply unacceptable.And I'm not even including your unannounced migration that l

[2019-01-17 09:39] dhara6894 commented on #1082
I am also facing same issue
![24dc1074-6886-42b5-a3cf-ee9f0f82b32a](https://user-images.githubusercontent.com/25882656/51309195-dfcaaa00-1a69-11e9-8cc7-b2fddd47c23e.jpg)

[2019-01-17 10:09] #1123 closed

[2019-01-17 10:39] QB-vladyslav-vyshniak commented on #1087
Hello, dear @dipendrapulse

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you?

If you have any additional questions, please let me know.

[2019-01-17 10:41] dipendrapulse commented on #1087
No, it's already working.

Thanks

Best regards,

Dipendra Dubey

iOS Developer

Direct: +91-22-26797965

Skype: ps97-dipendra.dubey

URL: www.pulsesolutions.com
Email: dipendra.dubey@pulsesolutions.net

Need more traffic? Free web promotion tips on facebook.com/pulsesolutions

On Thu, Jan 17, 2019 at 4:09 PM Vladyslav Vyshniak <notifications@github.com>
wrote:

[2019-01-17 10:42] QB-vladyslav-vyshniak commented on #1120
Dear @vineeshLee

Thank you for the report.
I will investigate the reported issue.
As soon as I find the solution for you - I will let you know.

[2019-01-17 11:02] QB-vladyslav-vyshniak commented on #1087
Dear @dipendrapulse

Thank you for the feedback.

[2019-01-17 11:02] #1087 closed

[2019-01-17 11:04] vvdodiya commented on #1123
Confirmed it is working fine.. thanks @QB-vladyslav-vyshniak!

[2019-01-17 11:44] QB-vladyslav-vyshniak commented on #1122
Dear @RahulTBI

Thank you for the feedback.
Please, use the following: https://quickblox.com/developers/Sample-webrtc-ios#Apple_CallKit
Confirm if this solution is suitable for you.

[2019-01-17 12:42] QB-vladyslav-vyshniak commented on #1073
Hello, dear @vineeshtp

Thank you for contacting QuickBlox support.
Could you please provide me with information about your current QB plan.
This error happened, because your API calls limits were exceeded.
We can't disable this error, but you can upgrade your QB plan to higher.
https://quickblox.com/developers/Errors

If you have any additional questions, please let me know.

[2019-01-17 12:43] #1073 closed

[2019-01-17 12:49] #1122 closed

[2019-01-17 13:32] tuna25 commented on #1079
@QB-vladyslav-vyshniak  since yesterday... both our prod apps affected

[2019-01-17 13:32] #1119 closed

[2019-01-18 09:58] tuna25 commented on #1082
We had a similar issue in September. After investigation and communication with QuickBlox support we got this:

- Each session token contains info about app it relates. 'No application found' means there is no app for this token
- This is strange and can't be happen, so they asked for more logs, and then more logs again, and finally responded to check our code, it's our issue
- After back n forth

[2019-01-18 12:55] QB-vladyslav-vyshniak commented on #1079
@tuna25
Could you please create a new ticket in our QB customer support portal and provide us with your "Application ID".
Link: https://assist.quickblox.com/index.php?/Tickets/Submit
Our DevOps team will investigate the issue.
Because all works as expected on our Shared instance.

[2019-01-19 07:15] arpitjain03 commented on #1021
After adding these two lines :
[code]

You need to reset self.chatDataSource object.
Add below line after above two lines.

`self.chatDataSource = QMChatDataSource()`

[2019-01-20 19:07] NaveenYadavGithub commented on #1110
thanks

[2019-01-21 16:15] QB-vladyslav-vyshniak commented on #1079
Dear @math609

Thank you for your honest feedback - this is useful for improving of our services.
As there was discussed on a call team faced with the unexpected issue during a software update and we will provide an update on further maintenance via blog  https://quickblox.com/blog/.

In case of additional questions or support requests, please, submit a ticket to customer support portal https://as

[2019-01-21 16:17] QB-vladyslav-vyshniak commented on #1079
Dear @tuna25

It was maintenance on our "Shared" instance, all issues have been resolved on 16 of January.
Currently, all is working well. Next time you can check our blog, there we inform the customers about any maintenances, updates, releases, etc: https://quickblox.com/blog/

[2019-01-21 16:18] QB-vladyslav-vyshniak commented on #1110
Dear @NaveenYadavGithub

Thank you for the feedback.
I change the status of the ticket to "Closed".

If you have any additional questions, please let us know.

[2019-01-21 16:18] #1110 closed

[2019-01-22 23:49] kautham opened #1124 "Cannot get chat dialogs even after login in Share Extension"
I have a chat app with share extension. I want to send the messages even from the share extension.
I have saved the current users quickblox id and the current user's friends quickblox ids in the shared app groups userdefaults from the main app and accessed them in the share extension.

But when i try to get the chat dialog object for sending the message i get the error in the shared extension

err

[2019-01-23 04:59] sohilspaceo commented on #1097
Yes, it still exists!

[2019-01-23 18:58] tuna25 commented on #1079
@QB-vladyslav-vyshniak

Ok I tried sir

it also not working

are you guys even know what is going on with your system?

<img width="1241" alt="submit_a_ticket_-_powered_by_kayako_help_desk_software" src="https://user-images.githubusercontent.com/40854633/51629929-7d821580-1f51-11e9-9f8f-5dee4d67eda0.png">

[2019-01-24 14:51] tuna25 commented on #1079
@QB-vladyslav-vyshniak  man you really driving me nuts???
<img width="1111" alt="banners_and_alerts_and_quickblox_-_powered_by_kayako_help_desk_software" src="https://user-images.githubusercontent.com/40854633/51685999-2be09600-1ff8-11e9-89f6-d783e530bea1.png">

[2019-01-24 15:24] QB-vladyslav-vyshniak commented on #1079
Dear @tuna25

Please, could you try to submit a ticket one more time, we disabled the registration process, so you can proceed with it without registration.
From our side, the process of registration works as expected too, so I can provide you with the video.

[2019-01-30 11:50] haarj opened #1125 "Notification still received after disabling for chat."
After calling

`+ (QBRequest *)updateNotificationsSettingsForDialogID:(NSString *)dialogID
                                               enable:(BOOL)enable
                                         successBlock:(nullable void(^)(BOOL enabled))successBlock
                                           errorBlock:(nullable qb_response_block_t)errorBlock;`

I'm still receiving push notifications for a

[2019-01-31 06:06] manishbd commented on #852
please check out this link- useful link for video  Stretching

https://github.com/Mahabali/Apprtc-swift/blob/master/Apprtc/RTCVideoChatViewController.swift

[2019-02-05 11:47] RahulTBI opened #1126 "No dial tone playing when phone is on silent"
Hi everyone,

I need dial tone when my phone is on silent.

Currently when i put my phone on silent, dial tone not played.

Please help me out

Thanks
RahulTBI

[2019-02-06 16:02] QB-vladyslav-vyshniak commented on #1126
Hello, dear RahulTBI.

Thank you for contacting QuickBlox support.
I sent the reported issue to our developers and they will proceed with the internal investigation.
As soon as they provide me with the result - i will let you know.

[2019-02-06 16:15] QB-vladyslav-vyshniak commented on #1055
Hello, dear users.

All is working well on QuickBlox side and we are always glad to provide you with our services.
You could report your issues or ask your questions:
-on GitHub:
https://github.com/QuickBlox/quickblox-ios-sdk
https://github.com/QuickBlox/quickblox-android-sdk
https://github.com/QuickBlox/quickblox-javascript-sdk

-submit a ticket to customer support portal ( registration for this

[2019-02-07 04:16] RahulTBI commented on #1126
Thank you for reply

Please help me soon

[2019-02-08 10:45] QB-vladyslav-vyshniak commented on #1126
Dear @RahulTBI

In this case, you could use AVAudioPlayer instead of standard system audio from our sample for dial tone.
This is a single solution which I can propose to you.

If you have any additional questions, please let us know.

[2019-02-08 10:48] QB-vladyslav-vyshniak commented on #1084
Dear @alexsdi

In this case, you could use AVAudioPlayer instead of standard system audio from our sample for dial tone.
This is a single solution which I can propose to you.

If you have any additional questions, please let us know.

[2019-02-08 10:48] #1084 closed

[2019-02-08 10:49] QB-vladyslav-vyshniak commented on #1089
The status of the ticket changed to "Closed" due to the absence of the reply from the user.

[2019-02-08 10:49] #1089 closed

[2019-02-08 11:10] QB-vladyslav-vyshniak commented on #1105
Dear @pwsharma

Thank you for the report.
Our developers are investigating the provided logs and issue.

[2019-02-08 11:12] QB-vladyslav-vyshniak commented on #1104
The status of the ticket changed to "Closed" due to the absence of the reply from the user.

[2019-02-08 11:12] #1104 closed

[2019-02-08 13:13] QB-vladyslav-vyshniak commented on #1097
Dear @sohilspaceo

Could you please update your WebRTC version to the latest (2.7.3) and proceed with the testing of this option again.

[2019-02-08 13:17] QB-vladyslav-vyshniak commented on #1096
Dear @prathap2626

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-08 13:17] #1096 closed

[2019-02-08 13:20] QB-vladyslav-vyshniak commented on #1091
Dear @mawshd

Thank you for contacting QuickBlox support.
Could you please confirm that this request is still actual for you?

[2019-02-08 13:21] QB-vladyslav-vyshniak commented on #1090
Dear @katoreRahul

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-08 13:21] #1090 closed

[2019-02-08 13:25] QB-vladyslav-vyshniak commented on #1088
Dear @dipendrapulse

Could you confirm that the solution from our developer is suitable for you?

The status of the ticket changed to "Closed", the solution has been provided.
If this issue is still actual for you - please reopen the ticket.

[2019-02-08 13:25] #1088 closed

[2019-02-08 13:31] QB-vladyslav-vyshniak commented on #1086
Hello, dear @vineeshtp

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you and we will proceed with the investigation.

[2019-02-08 14:58] QB-vladyslav-vyshniak commented on #1083
Dear @proactive-solutions

Take our apologies for the delay in reply.
Thank you for the confirmation that the issue has been successfully resolved.

Dear @vineeshtp
As I know, you are Enterprise member of QuickBlox, please, submit a ticket to QB customer support portal (Enterprise department). We are always glad to help you with the resolution of any raised requests.

QuickBlox improves all the pr

[2019-02-08 14:58] #1083 closed

[2019-02-09 06:44] RahulTBI commented on #1126
Thanks for reply,

In AVAudioPlayer sound play in speaker not in ear speaker

[2019-02-11 15:22] QB-vladyslav-vyshniak commented on #1124
Hello, dear @kautham

Thank you for contacting QuickBlox support.
I already sent the reported issue to our developers.
As soon as they provide me with any result, i will let you know.

[2019-02-12 06:47] impalawebspooja opened #1127 "Push notification not able to receive and it's status is active in queue while sending universal notifications."
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-02-12 15:15] QB-vladyslav-vyshniak commented on #1048
Hello, dear @SalmanGhumsani

Could you please confirm that this issue is still relevant for you and we will proceed with the investigation of the reported issue.

If you have any additional questions, please let us know.

[2019-02-12 15:17] QB-vladyslav-vyshniak commented on #1049
Hello, dear @kmittal97

Could you please confirm that this issue is still relevant for you and we will proceed with the investigation of the reported issue.

If you have any additional questions, please let us know.

[2019-02-12 15:26] QB-vladyslav-vyshniak commented on #1052
Hello, dear @kmittal98

Thank you for the provided solution for this issue.
The status of the ticket changed to "Closed".

If you have any additional questions, please let us know.

[2019-02-12 15:26] #1052 closed

[2019-02-12 15:28] QB-vladyslav-vyshniak commented on #1053
Hello, dear @Cyangineer

Could you please confirm that this issue is still relevant for you and we will proceed with the investigation of the reported issue.

If you have any additional questions, please let us know.

[2019-02-12 15:33] QB-vladyslav-vyshniak commented on #1054
Hello, dear @goutham465

The status of the ticket changed to "Closed" due to the absence of the reply from you.

If you have any additional questions, please let us know.

[2019-02-12 15:33] #1054 closed

[2019-02-12 15:36] QB-vladyslav-vyshniak commented on #1056
Hello, dear @kmittal98

Could you please confirm that this issue is still relevant for you and we will proceed with the investigation of the reported issue.

If you have any additional questions, please let us know.

[2019-02-12 15:39] QB-vladyslav-vyshniak commented on #1057
Hello, dear @goutham465

The status of the ticket changed to "Closed" due to the absence of the reply from you.

If you have any additional questions, please let us know.

[2019-02-12 15:39] #1057 closed

[2019-02-12 15:42] QB-vladyslav-vyshniak commented on #1059
Hello, dear @kmittal98

Could you please confirm that this issue is still relevant for you and we will proceed with the investigation of the reported issue.

If you have any additional questions, please let us know.

[2019-02-12 15:47] QB-vladyslav-vyshniak commented on #1065
Hello, dear @prafulargiddi

Thank you for the provided solution for the users.
The status of the ticket changed to "Closed", the issue has been resolved.

If you have any additional questions, please let us know.

[2019-02-12 15:47] #1065 closed

[2019-02-12 16:04] QB-vladyslav-vyshniak commented on #1067
Hello, dear @vineeshtp

Thank you for contacting QuickBlox support.
Currently, our developers are improving the Privacy Lists feature.
Please, check our blog: https://quickblox.com/blog , there you will find news about the new improvements for this feature as soon as our developers release them.

The status of the ticket changed to "Closed".

If you have any additional questions, please let us kno

[2019-02-12 16:04] #1067 closed

[2019-02-12 16:22] QB-vladyslav-vyshniak commented on #1070
Hello, dear @YogendraPatel @KrishnaPatell

Thank you for contacting QuickBlox support.

Authorization is missing or incorrect.
Possible causes:
1. A User tries to authorize with the wrong login and password
2. A user uses the invalid session token.

Please, could you confirm that this issue is still relevant for you?

If you have any additional questions, please let us know.

[2019-02-12 16:24] QB-vladyslav-vyshniak commented on #1071
Hello, dear @goutham465

Thank you for contacting QuickBlox support.
Error 400: missing or invalid parameter.
Possible causes:
-malformed request parameters

The status of the ticket changed to "Closed".
If you have any additional questions, please let us know.

[2019-02-12 16:24] #1071 closed

[2019-02-12 16:25] #1079 closed

[2019-02-12 16:27] QB-vladyslav-vyshniak commented on #1080
Hello, dear @sergiuatodiresei

Thank you for contacting QuickBlox support.
Could you please confirm that this question is still relevant for you?

If you have any additional questions, please let us know.

[2019-02-12 16:50] QB-vladyslav-vyshniak commented on #1081
Hello, dear @MoonTechiOSDev1

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you?

If you have any additional questions, please let us know.

[2019-02-12 23:27] haarj commented on #1125
Hello @QB-vladyslav-vyshniak,

Any info about this?

Thanks,

Justin

[2019-02-13 08:54] QB-vladyslav-vyshniak commented on #1125
Hello, dear @haarj

Thank you for contacting QuickBlox support.
I already sent the reported issue to our developers.
As soon as they provide me with the solution - i will let you know.

[2019-02-13 09:59] QB-vladyslav-vyshniak commented on #1075
Hello, dear @riteshpatel0

Thank you for contacting QuickBlox.
We don't have any additional encryption feature besides SSL/TLS.

If you have any additional questions, please let us know.

[2019-02-13 09:59] #1075 closed

[2019-02-13 11:04] haarj commented on #1125
Ok. Thanks @QB-vladyslav-vyshniak!

[2019-02-13 11:44] RahulTBI opened #1128 "User does not have a confirmed email address"
Hi
When i try to forgot my password it produces error that "User does not have a confirmed email address"

(Error Domain=api.quickblox.com Code=403 \"Request failed: forbidden (403)\" UserInfo={NSErrorFailingURLKey=https://api.quickblox.com/users/password/reset.json?email=rv@gmail.com, NSLocalizedFailureReason={\n    errors =     (\n        \"User does not have a confirmed email address\"\n    );\

[2019-02-13 11:49] RahulTBI commented on #1126
Hi
any update about my issue

Please help me

[2019-02-13 14:21] QB-vladyslav-vyshniak commented on #1128
Hello, dear @RahulTBI

Thank you for contacting QuickBlox support.
Could you please send me e-mail address of the user which try to recovery password to vlad.vishnyak@quickblox.com and we will investigate it.

[2019-02-13 14:31] QB-vladyslav-vyshniak commented on #1077
Hello, dear @ReusIosDeveloper

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you?

If you have any additional questions, please let us know.

[2019-02-13 15:01] QB-vladyslav-vyshniak commented on #1126
Dear @RahulTBI

I already sent your report to our developers.
I will let you know as soon as they provide me with any solution.

[2019-02-13 15:16] QB-vladyslav-vyshniak commented on #1068
Hello, dear @vineeshtp

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you?

If you have any additional questions, please let us know.

[2019-02-13 16:40] QB-vladyslav-vyshniak commented on #1125
Dear @haarj

Did you try this method? - https://quickblox.com/developers/Chat#Update_notifications_settings

[2019-02-13 17:14] justinhaar commented on #1125
Hey @QB-vladyslav-vyshniak ,

I used the above iOS SDK method in the description.

[2019-02-14 06:36] RahulTBI commented on #1128
I sent mail on mentioned above mail id

[2019-02-14 06:39] RahulTBI commented on #1126
Ok thanks

[2019-02-14 15:08] QB-vladyslav-vyshniak commented on #1128
Dear @RahulTBI

I already provided you with the answer via Gmail.
The status of the ticket changed to "Closed".

If you have any additional questions, please let us know.

[2019-02-14 15:08] #1128 closed

[2019-02-14 15:20] QB-vladyslav-vyshniak commented on #1125
Dear @haarj

Could you please implement this option as you can see in our documentation and check it again.

[2019-02-14 15:25] justinhaar commented on #1125
@QB-vladyslav-vyshniak

I want to use `+ (QBRequest *)updateNotificationsSettingsForDialogID:(NSString *)dialogID enable:(BOOL)enable successBlock:(nullable void(^)(BOOL enabled))successBlock errorBlock:(nullable qb_response_block_t)errorBlock;`

, which is calling that api internally. It seems that even if I do use the one you suggested, it still won't work based on the logs I attached. Something

[2019-02-14 15:40] QB-vladyslav-vyshniak commented on #1125
Dear @justinhaar

Thank you for the feedback.
I will check the reported issue with our developers and get back to you soon.

[2019-02-18 05:51] RahulTBI commented on #1128
I did not get your mail with this information.

On Thu, Feb 14, 2019 at 8:38 PM Vladyslav Vyshniak <notifications@github.com>
wrote:

[2019-02-19 09:35] RahulTBI opened #1129 "Disable notification for some chat dialog"
Hi everyone,

I would like to disable push notification for some chat dialog. i send push notification while i sent message to user.

If my group chat type is normal means one-to-one chat, if opposite user disable (mute) notification then this particular user wont get chat notification about messages.

if my group chat type is group means group chat. if any opponent will disable (mute) notificatio

[2019-02-20 05:04] RahulTBI opened #1130 "Chat Dialog custom data not saved."
Hii everyone,

I am trying to save custom data in QBChatDialog, but it is not updated both side means all user that are in group.

I need to set custom data for notification type. if user set active value in custom data of chat dialog, opposite user will send push notification about new message. and if user set deactivate value in custom data then opposite user will not send push notification.

pl

[2019-02-20 14:30] QB-vladyslav-vyshniak commented on #1059
Dear @kmittal98

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:30] #1059 closed

[2019-02-20 14:32] QB-vladyslav-vyshniak commented on #1056
Dear @kmittal98

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:32] #1056 closed

[2019-02-20 14:33] QB-vladyslav-vyshniak commented on #1062
Dear @tonifirnandes

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:33] #1062 closed

[2019-02-20 14:33] QB-vladyslav-vyshniak commented on #1068
Dear @vineeshtp

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:33] #1068 closed

[2019-02-20 14:34] QB-vladyslav-vyshniak commented on #1070
Dear @YogendraPatel

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:34] #1070 closed

[2019-02-20 14:34] QB-vladyslav-vyshniak commented on #1077
Dear @ReusIosDeveloper

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:34] #1077 closed

[2019-02-20 14:34] QB-vladyslav-vyshniak commented on #1080
Dear @sergiuatodiresei

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:34] #1080 closed

[2019-02-20 14:35] QB-vladyslav-vyshniak commented on #1081
Dear @MoonTechiOSDev1

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:35] #1081 closed

[2019-02-20 14:36] QB-vladyslav-vyshniak commented on #1082
Hello, dear @vineeshtp @dhara6894

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you?

[2019-02-20 14:38] QB-vladyslav-vyshniak commented on #1048
Dear @SalmanGhumsani

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:38] #1048 closed

[2019-02-20 14:39] QB-vladyslav-vyshniak commented on #1049
Dear @kmittal97 @kmittal98

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:39] #1049 closed

[2019-02-20 14:39] QB-vladyslav-vyshniak commented on #1053
Dear @Cyangineer

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:39] #1053 closed

[2019-02-20 14:40] QB-vladyslav-vyshniak commented on #1086
Dear @vineeshtp

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:40] #1086 closed

[2019-02-20 14:40] QB-vladyslav-vyshniak commented on #1091
Dear @mawshd

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:40] #1091 closed

[2019-02-20 14:41] QB-vladyslav-vyshniak commented on #1097
Dear @sohilspaceo

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 14:41] #1097 closed

[2019-02-20 15:27] QB-vladyslav-vyshniak commented on #1102
Dear @williamtran1988

The status of the ticket changed to "Closed" due to the absence of the reply from you.
If you have any additional questions, please let us know.

[2019-02-20 15:27] #1102 closed

[2019-02-20 15:29] #621 closed

[2019-02-21 09:20] RahulTBI opened #1131 "Audio Call Not worked sometimes in Swift"
Hii everyone,

I need audio call features in my application, it worked perfectly, but sometimes session was not created so opponent can not receive call signal in didReceiveNewSession method.

few call will work fine, but after that it did not work, caller can not here dial tone as well else opponent wont receive call signal.

didReceiveNewSession not being called sometimes

please help me out for

[2019-02-21 09:32] sohilmemon commented on #1097
Still the issue exists I tried just today, can you pls check and let me know if anything needed from my side.

[2019-02-22 09:59] QB-vladyslav-vyshniak commented on #1126
Dear @RahulTBI

In this case, you can try to use the following method:
`AVAudioSession *audioSession = [AVAudioSession sharedInstance];
[audioSession setCategory:AVAudioSessionCategoryPlayAndRecord error:nil];
[audioSession setActive:YES error:nil];

AVAudioSessionPortDescription *routePort = audioSession.currentRoute.outputs.firstObject;
NSString *portType = routePort.portType;

if ([portType isE

[2019-02-22 10:04] RahulTBI commented on #1126
Yes i already use the AVAudiosession he works fine, but if my phone is on silent mode and i call opponent user then my ring will play in my ear speaker, but not i here in speaker so this is not user friendly.

thanks
RahulTBI

[2019-02-22 10:17] QB-vladyslav-vyshniak commented on #1106
Hello, dear @ValeriiVV

Due to WebRTC updates, some of the solutions that worked before couldn't be used now.
In this case, as a fast solution, you can use older versions of SDK, where the needed option is available.

[2019-02-22 10:17] #1106 closed

[2019-02-22 10:18] #701 closed

[2019-02-22 10:22] QB-vladyslav-vyshniak commented on #776
Hello, dear users.

Thank you for contacting QuickBlox support.
Currently, our developers are testing new updates for PrivacyLists feature where this issue will be fixed.
Also, we will release documentation about how to use PrivacyLists feature.

[2019-02-22 10:22] #776 closed

[2019-02-22 13:58] vadimkhmyrovqb commented on #1131
@RahulTBI Did you try it on the samples from our documentation? Is there any kind of error in the logs?

[2019-02-22 14:26] vadimkhmyrovqb commented on #1130
@RahulTBI Please share the code sample or request that you try. Please also check this article about dialog's custom data: https://quickblox.com/developers/Chat#Set_custom_parameters

[2019-02-22 14:35] vadimkhmyrovqb commented on #1120
@vineeshLee Have you set user info as per documentation? https://quickblox.com/developers/Sample-webrtc-android#Start_Call

[2019-02-22 14:41] QB-vladyslav-vyshniak commented on #1125
Hello, dear @haarj @justinhaar

Our developers detected the reported issue, it will be fixed in the next release.
The status of the ticket changed to "Closed".

[2019-02-22 14:41] #1125 closed

[2019-02-22 14:47] justinhaar commented on #1125
Ok great. Is this an iOS SDK fix? If so, when is the expected release of that?

Thanks!

Justin Haar
201-218-9631

Sent from my iPhone

On Feb 22, 2019, at 9:41 AM, Vladyslav Vyshniak <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #1125<https://github.com/QuickBlox/quickblox-ios-sdk/issues/1125>.

—
You are receiving this because you were mentioned.
Reply to this email

[2019-02-22 14:58] QB-vladyslav-vyshniak commented on #1125
Dear @justinhaar

The reported issue is related to the backend side.
It will be fixed after deploying of new release next week.

If you have any additional questions, please let us know.

[2019-02-22 15:06] haarj commented on #1125
Great! Thanks for clarifying!

On Fri, Feb 22, 2019 at 9:58 AM Vladyslav Vyshniak <notifications@github.com>
wrote:

[2019-02-23 04:06] RahulTBI commented on #1130
Thanks for reply

i used data property for storing custom data in chatdialog

dialog.data = ["notificationActiveStat" : "1", "userId" : CuurentUser.id], here currentUserId means login user id.

thanks
RahulTBI

[2019-02-23 06:46] RahulTBI commented on #1131
Yes, i tried it.
i create session successfully but sometime opponent will not receive call signal in didReceiveNewSession method, so we can not proceed due to mentioned issue.

while i call userA after userA receive call signal and i present audio view controller, whatever action will performed by user i.e., accept or reject or timeout. after userA will call me back at that time i did not receive

[2019-02-26 08:52] HFMohammad opened #1132 "deleteMessages"
I use below code for delete message
But this code remove message only for sender
I want delele messaeg for sender and receiver

[code]

[2019-02-26 08:54] HFMohammad commented on #1132
I change `forAllUsers: false` to `forAllUsers: true` and fix it

[2019-02-26 11:03] RahulTBI commented on #1131
Hello,

When we go through notification at that time opponent user don't receive new call signal in didReceiveNewSession method.
so call will not be connected.

please help me out.

Thanks
RahulTBI

[2019-02-28 11:10] RahulTBI opened #1133 "Audio Call Push Notification not playing ring continuously, it plays & vibrate it in a second"
Hi everyone

I have audio call feature in my application, when i call to opponent user, and if the user is offline, i sent push notification with custom sound, push notification occur successfully, but sound and vibration is just a single time means it play and vibrate in a second only, i want it to continuously play until i tapped on it or call time out.

Please help me out

Thanks
RahulTBI

[2019-03-01 13:05] prohoney commented on #1020
I had 3 issues where all needed to be fixed
- wrong cert. It belonged to a different bundleID
- wrong bundleID
- wrong build, that is we didn't have a sandbox environment to send notifications for our debug builds or something I guess. Solution to that problem was to send notifications to a release build, not debug builds...

[2019-03-02 06:59] imran-samed commented on #1079
@timeetdev1 @math609 @QB-vladyslav-vyshniak @tuna25 @soulfly

Hi

Is anyone get solution for this.

[2019-03-02 12:50] math609 commented on #1079
@imran-samed There isn't any. The issue is on their end. Honestly, the solution is to move to another service!

[2019-03-02 14:25] QB-vladyslav-vyshniak commented on #1079
Hello, dear @imran-samed @math609

This is a known issue for QuickBlox developers team.
During last week users on QB Shared instance faced with the service degradation due to traffic attacks from UAE, please, check an article about it on our blog: https://quickblox.com/blog/
Currently, our developers are resolving the issue and supporting stable work of Shared instance.

[2019-03-02 14:36] QB-vladyslav-vyshniak commented on #1079
Dear @imran-samed

Could you please provide us with information about how you are facing the issue?
Because as I know - you are QuickBlox Enterprise customer and have your dedicated instance.

[2019-03-02 14:43] QB-vladyslav-vyshniak commented on #1079
Dear @math609

Soon, you will use QB dedicated instance, please, enjoy the best service and stable work with QB Enterprise.

[2019-03-07 05:40] RahulTBI commented on #1042
Same issue sometime dialog name occur empty

[2019-03-07 10:36] BRLOKESH opened #1134 "QB_SRWebSocket Thread 1: signal SIGABRT in swift 4.2"
i am using you demo project : sample-conference-videochat-swift
QB_SRWebSocket Thread 1: signal SIGABRT in swift 4.2

rtc::[ConferenceClient] Establishing signaling connection.
rtc::[RTCClient] Initializing SSL...
rtc::[Conference] Opening Socket.

Assertion failed: ([scheme isEqualToString:@"ws"] || [scheme isEqualToString:@"http"] || [scheme isEqualToString:@"wss"] || [scheme isEqualToString:@"h

[2019-03-14 04:37] RahulTBI commented on #1131
Hiiii any update?

[2019-03-14 04:37] RahulTBI commented on #1133
Hiii any update?

[2019-03-14 04:39] RahulTBI commented on #1126
Hiii any update?

[2019-03-14 09:43] RahulTBI opened #1135 "Unread message counter updated from dialog screen (Not in chat view controller)"
Hiii everyone

currently i am facing this issue, when both user are in message list screen (i mean list of dialog screen), at that time any user message unread counter visible with 1 and increment it when another message arrived from same user, but it disappear instantly.

sometimes unread message does not disappear, while i come back from chat view to message list screen

Thanks,
RahulTBI

[2019-03-18 11:46] RahulTBI opened #1136 "Update current user avtarurl in Quickblox"
I want to update current user avtarURL. below code for updating current user. but param can not contain avtarURL method so how can i update avtarURL of current user in Quickblox, so other user can load that user profile picture in chat list

[code]

Thanks
RahulTBI

[2019-03-18 12:44] #1136 closed

[2019-03-18 21:09] riyadfaekanabtawi commented on #824
@developerwr1 what was happening with your storyboard, i having same exact problem

[2019-03-22 09:55] QB-vladyslav-vyshniak commented on #1107
Dear @MaitriDB

Take our apologies for the delay in reply.
Could you please proceed with the update to the latest WebRTC version 2.7.3, find a link below: |
https://cocoapods.org/pods/Quickblox-WebRTC

Let us know about the result.

[2019-03-22 10:10] QB-vladyslav-vyshniak commented on #1134
Hello, dear @BRLOKESH

Thank you for contacting QuickBlox support.
It seems like some mistake in line 311, please proceed with the investigation of implementation.

Let us know about the result.

[2019-03-22 10:10] #1134 closed

[2019-03-22 10:19] QB-vladyslav-vyshniak commented on #1132
Hello, dear @HFMohammad

Thank you for contacting QuickBlox support.
Glad to hear that you successfully fixed the issue and all works as expected on your side.

If you have any additional questions, let us know.
Also, you can use QB documentation for implementation: https://quickblox.com/developers/QuickBlox_Developers

[2019-03-22 10:19] #1132 closed

[2019-03-22 10:41] QB-vladyslav-vyshniak commented on #1133
Hello, dear @RahulTBI

Thank you for contacting QuickBlox support.
We don't have the requested option for push notifications, please proceed with the customization from your side.

[2019-03-22 10:41] #1133 closed

[2019-03-22 11:06] iamfarmankhan opened #1137 "iPhone X screen sharing issue"
Actually, I am facing an issue with iPhone X screen sharing feature with QuickBlox iOS sdk. Whenever we share screen from iPhone X then it got scaled automatically.

Please refer the screenshot:
![Simulator Screen Shot - iPhone XR - 2019-03-22 at 16 34 01](https://user-images.githubusercontent.com/19756500/54818965-c1df1880-4c57-11e9-81f8-b794ce492a62.png)

[2019-03-22 14:50] QB-vladyslav-vyshniak commented on #1043
The status of the ticket changed to "Closed" due to inactivity.

[2019-03-22 14:50] #1043 closed

[2019-03-22 14:57] QB-vladyslav-vyshniak commented on #1038
Hell, dear @PradumnaPatil

Could you please confirm that this issue is still relevant for you?

[2019-03-25 09:17] RahulTBI opened #1138 "downloadCurrentEnvironmentUsers give me Request failed: not found (404) error"
When i fetch user from QuickBlox using downloadCurrentEnviornmentUsers method, but it will giving me below error

 ["NSLocalizedDescription": Request failed: not found (404), "NSErrorFailingURLKey": https://api.quickblox.com/users/by_tags.json?page=1&per_page=100&tags=dev, "NSLocalizedFailureReason": {
    code = "<null>";
    message = "Couldn't find user";
}]

my current user environment is
[cod

[2019-03-28 15:12] IgorChernobayQB commented on #1131
@RahulTBI,

Unfortunately, we had an issue on our server at that period of time.

Please confirm if your issue still occurs.
If yes, specify which version of the SDK you used and exactly what sample you tried.

[2019-03-29 04:01] RahulTBI commented on #1131
Alright, will check it soon

Thanks

[2019-03-29 15:41] QB-vladyslav-vyshniak commented on #1138
Hello, dear @RahulTBI

Thank you for contacting QuickBlox support.
Please, could you investigate the following information about how to retrieve users by different methods: https://quickblox.com/developers/Users

Let us know about the result after your investigation.

[2019-03-29 15:53] QB-vladyslav-vyshniak commented on #1137
Hello, dear @iamfarmankhan

Thank you for contacting QuickBlox support.
In the reported case you can proceed with setting up of "UIImage" parameter before making the call.
Screen sharing documentation: https://quickblox.com/developers/Sample-webrtc-ios#Screen_sharing

If you have any additional questions, please let us know.

[2019-03-29 16:09] QB-vladyslav-vyshniak commented on #1135
Hello, dear @RahulTBI

Thank you for contacting QuickBlox support.
Do you use your own application or Q-municate?

[2019-04-01 03:47] RahulTBI commented on #1135
Thanks for reply
I am using my own application not Q-municate

[2019-04-01 09:49] QB-vladyslav-vyshniak commented on #1135
Dear @RahulTBI

It seems like a strange behavior on your side (incorrect logic or implementation).
We didn't meet this bug previously, I can suggest to use IOS chat guide by this link:
https://quickblox.com/developers/SimpleSample-chat_users-ios#Guide:_Getting_Started_with_Chat_API
You can find a lot of useful options there and implement it correctly on your side.

[2019-04-01 12:52] QB-vladyslav-vyshniak commented on #1126
Dear @RahulTBI

In this case, please proceed with the investigation and corrections on your side.
This issue isn't related to our SDK.

[2019-04-01 12:52] #1126 closed

[2019-04-01 12:54] QB-vladyslav-vyshniak commented on #1082
The status of the ticket changed to "Closed" due to the absence of the reply.

[2019-04-01 12:54] #1082 closed

[2019-04-01 12:55] QB-vladyslav-vyshniak commented on #1107
Dear @MaitriDB

The status of the ticket changed to "Closed" due to the absence of the reply.

[2019-04-01 12:55] #1107 closed

[2019-04-01 13:03] QB-vladyslav-vyshniak commented on #1120
The status of the ticket changed to "Closed" due to the absence of the reply.

[2019-04-01 13:03] #1120 closed

[2019-04-01 15:24] QB-vladyslav-vyshniak commented on #1098
Hello, dear @williamtran1988

I already provided you with the answer in the ticket #1102
The status of the ticket changed to "Closed" due to duplicate.

[2019-04-01 15:24] #1098 closed

[2019-04-01 15:32] QB-vladyslav-vyshniak commented on #1118
Dear @RahulTBI

Our developers can't reproduce the reported issue.
Could you please provide us with the video proof for the continuation of the investigation.

I'm looking forward to your reply.

[2019-04-02 11:27] RahulTBI commented on #1118
Yes will send you video soon

[2019-04-02 11:31] RahulTBI commented on #1135
Hi @QB-vladyslav-vyshniak

Now i am using Q-municate services, but issue remains same.

[2019-04-02 11:50] QB-vladyslav-vyshniak commented on #1135
Dear @RahulTBI

In this case, please provide us with video proof of the issue.
Looking forward to your reply.

[2019-04-02 11:51] RahulTBI commented on #1135
Yes will provide you video soon
let me reproduce this issue, cause it happen sometimes

[2019-04-02 12:07] RahulTBI opened #1139 "attachment.localFileURL always return nil"
Hi everyone,

In chat attachement services, when i sent video to opponent user, it sends perfectly, but when i fetch localurl of particular attachment i return it nil.

i need cache management for faster video playing, how local video play directly in chatviewcontroller of QMChatAttachmentOutgoingCell.

Thanks
RahulTBI

[2019-04-03 04:44] RahulTBI commented on #1135
Dear @QB-vladyslav-vyshniak

Please check below video link for better understanding
https://drive.google.com/file/d/1gvAvrfpAZjQL9lpInGLq5fNgd76euteU/view?usp=sharing

[2019-04-03 11:21] QB-vladyslav-vyshniak commented on #1135
Dear @RahulTBI

Thank you for the provided video proof.
I will send it to developers for the investigation.

I will let you know as soon as they provide me with the result.

[2019-04-03 11:22] RahulTBI commented on #1135
Ok thanks @VladimirNybozhinsky

[2019-04-03 12:32] adil-appifytech opened #1140 "Listing All the audio output devices"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-04-03 13:20] QB-vladyslav-vyshniak commented on #1127
Hello, dear @impalawebspooja

Thank you for contacting QuickBlox support.
Could you please confirm that this issue is still relevant for you?

[2019-04-04 21:39] pombredanne commented on #48
@soulfly could you make this part of the documentation and README?

[2019-04-05 08:20] QB-vladyslav-vyshniak commented on #1129
Hello, dear @RahulTBI

Thank you for contacting QuickBlox support.
Here is the solution: https://quickblox.com/developers/Chat#Update_notifications_settings

Could you please confirm that the provided option is suitable for you and we can close the ticket?
Let us know if you have any additional questions.

[2019-04-05 12:34] RahulTBI commented on #1129
I have not enable push chat alert, i am sending manual push notification while sending a message.
so this is not possible

[2019-04-06 16:12] g-balas opened #1141 "CallKit - Upload VOIP push certificate"
Hello,
I am trying to implement the CallKit feature for my app using your WebRTC Video Call SDK.

Maybe I am doing something wrong, but I don't see where I can upload my VOIP push certificate in my quickblox admin panel.

I tried to upload it in the Push Notification section, but I suppose it's not working because it's not supposed to be uploaded there.

Regards,

[2019-04-06 18:03] g-balas commented on #1141
I think I just go it : When the guide talks about VOIP push certificate, it refer to the APN certificate that also can be used for VOIP.

https://stackoverflow.com/questions/43227039/do-i-need-apns-certificate-as-well-as-voip-certificate

Can someone confirm that ?

[2019-04-08 14:57] g-balas commented on #1141
For next person that, like me, think the guide can be more clear :
- Generate a VOIP certificate in your dev ios account
- Generate a p.12 file using : https://quickblox.com/developers/How_to_create_APNS_certificates
- Upload your VOIP certificate as you would upload APN certificate
- Enjoy CallKit on Quickblox

Great SDK Quickblox, but you should definitly hire an intern to remake your guides and

[2019-04-08 14:57] #1141 closed

[2019-04-23 07:24] nanirocks125 opened #1142 "Display PDF Document attachment with thumbnail"
How to display thumbnail of document , am able to send documents to my friend.
I tried with PDFView from PDFKit but could not get document.

After downloading data using
 **QBRequest.downloadFile(withUID: attachmentID, successBlock: { (response, data) in
             guard let page = PDFDocument(data: data)?.page(at: 0) else { return nil }
        }, statusBlock: { (request, requestStatus) in

[2019-04-23 07:27] QuickBlox-team commented on #1142
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: cezq3kmbmv

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-04-23 09:42] RahulTBI opened #1143 "Chat View Controller display Download Button icon centre of the screen"
Hi, i have face this issue while i implement private chat.
once i navigate to chat view controller there are already display download icon centre of the screen, this image is no longer available in my project.

please see this image for better understanding.

![IMG_0180](https://user-images.githubusercontent.com/44398163/56571190-099beb80-65da-11e9-8780-2239e2e37056.png)
![IMG_0181](https://user-i

[2019-04-23 09:50] QuickBlox-team commented on #1143
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: t3qqchp0pe

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-04-23 09:54] RahulTBI commented on #1143
From where can i enter this credential?

Registered email: reply@reply.github.com
Password: t3qqchp0pe

[2019-04-23 10:01] QuickBlox-team commented on #1143
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: tfqcrhpvn3

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-04-23 10:04] RahulTBI commented on #1143
i try with mentioned credential, but credential was incorrect

[2019-04-23 10:11] QuickBlox-team commented on #1143
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: w3xf7cuerk

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-04-26 02:35] haarj commented on #1125
@QB-vladyslav-vyshniak,

This is still not working.

[2019-04-26 02:39] QuickBlox-team commented on #1125
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: lhweje4lpf

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-04-26 06:11] abhijeetji24 opened #1144 "Thread 1: signal SIGABRT"
I have downloaded the code from github and running the sample-conference-videochat-swift demo. When i try to initiate video call it is crashing with the error here:- "session = QBRTCConferenceClient.instance().createSession(withChatDialogID: chatDialog.id!,
                                                                 conferenceType: conferenceType)"
The error says "Thread 1: signal SIGABRT". P

[2019-04-26 06:13] QuickBlox-team commented on #1144
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: nrk2cnjty8

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-04-26 09:14] DikenOpenxcell commented on #1134
Hello,

I am facing the same issue. Have you found any solution for that?

[2019-04-26 09:16] QuickBlox-team commented on #1134
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: mupwe8btup

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-04-29 11:59] suryaween opened #1145 "push notification issue foir chat"
I have wbeen facing push notification issue win chat. When two individuals chat to each other . the other user doesnot receive messages as notification or notifications when the app is in background mode .

[2019-04-29 12:08] QuickBlox-team commented on #1145
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: 8mgzmkqjze

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-09 13:55] g-balas commented on #838
+1 There could be a workaround on Android with silent notification... but with because pushkit is handled on quickblox side, I think we can't do anything to notify device B that device A took the call...

[2019-05-09 13:56] QuickBlox-team commented on #838
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: bphgq6fjd5

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-14 05:57] AmitBhavsarIphone commented on #1128
Same issue facing in my app

When i try to reset my password it produces error that "User does not have a confirmed email address"

Can anyone please help regarding this?

In Settings:

User > Settings > Require email confirmation (for application users)
This option is already unchecked.

[2019-05-14 06:02] QuickBlox-team commented on #1128
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: rf3lqwe7cv

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-14 06:25] AmitBhavsarIphone opened #1146 "User does not have a confirmed email address"
When i try to reset my password it produces error that "User does not have a confirmed email address"

Can anyone please help regarding this?

In Settings:
User > Settings > Require email confirmation (for application users)
This option is already unchecked.

[2019-05-14 06:32] QuickBlox-team commented on #1146
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: ocdr16ph3k

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-14 07:42] AmitBhavsarIphone commented on #1146
I also tried with enable "Require email confirmation (for application users)" option, but at the time of sign up I am getting this error "Unsupported argument type: MailTemplate"

Confirmation mail also not received to email id.

[2019-05-14 07:44] QuickBlox-team commented on #1146
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: ddgogy2y3w

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-14 08:31] QB-vladyslav-vyshniak commented on #1146
Hello, dear @AmitBhavsarIphone

Thank you for contacting QuickBlox support.

Unfortunately, API users can reset their password through the contacting of the account owner.
Currently, that issue is resolving by QB developers.

Let me know if you have any additional questions.

[2019-05-14 08:35] QuickBlox-team commented on #1146
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: diswjh68x4

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-14 12:52] AmitBhavsarIphone commented on #1146
I received 2 or 3 emails of reset password and again it stop receiving.

If I will plan to use custom web-page to reset password, Is below API will work?

PUT https://api.quickblox.com/update_password.json
    - user[reset_password_token]
    - user[password]
    - user[password_confirmation]

As per my testing default reset password page and this API, both are not working properly.

@QB-vladyslav

[2019-05-16 10:28] QB-vladyslav-vyshniak commented on #1146
Dear @AmitBhavsarIphone

I have provided you with answer in QB support portal, ticket #143474

Let me know if you have any additional questions.

[2019-05-27 07:21] #1146 closed

[2019-05-27 07:37] QB-vladyslav-vyshniak commented on #1143
Hello, dear @RahulTBI

Thank you for contacting QuickBlox support.

I have already provided you with the answer in QB support portal, ticket #143330

The status of the ticket changed to "Closed".

Let me know if you have any additional questions.

[2019-05-27 07:37] #1143 closed

[2019-05-27 14:38] QB-vladyslav-vyshniak commented on #1138
The status of the ticket changed to "Closed" due to the absence of the reply.

[2019-05-27 14:38] #1138 closed

[2019-05-27 14:38] QB-vladyslav-vyshniak commented on #1137
The status of the ticket changed to "Closed" due to the absence of the reply.

[2019-05-27 14:38] #1137 closed

[2019-05-31 10:39] #1145 closed

[2019-05-31 10:44] suryaween opened #1147 "Get chat dialogs from specific date"
I want to show the chat dialogs from specific date  sending the below as extended request
 dictExtend = @{@"type":@"2",
                       @"updated_at" :"date",
                       @"sort_desc":@"last_message_date_sent",
                       @"data[class_name]" : @"ChatDialogType",
                       @"data[ChatCategory]": strChatType
                       };

I am getting error . H

[2019-06-05 11:02] vitthalAnpat commented on #944
Hi,
Can anyone help me with playing video ?

[2019-06-12 14:28] dipendrapulse opened #1149 "Caching of video attachment thumnail"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-06-18 04:43] #1127 closed

[2019-06-18 06:48] baybomax opened #1150 "[!] Error installing QuickBlox"
Installing QuickBlox (2.17.1)

[!] Error installing QuickBlox
[!] /usr/bin/curl -f -L -o /var/folders/1g/v3bmdtxj5k1djdf_37j302ym0000gn/T/d20190618-3268-biva6k/file.zip https://sdk.quickblox.com/ios/iOS-QuickBlox-SDK-2.17.1.zip --create-dirs --netrc-optional --retry 2

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   T

[2019-06-26 09:32] nanirocks125 commented on #1135
I am also facing the same issue mentioned in the video.

[2019-06-27 14:24] QB-vladyslav-vyshniak commented on #1149
You have already got a reply on this question via QuickBlox support portal.

[2019-06-27 14:24] #1149 closed

[2019-06-27 14:38] QB-vladyslav-vyshniak commented on #1147
Hello, dear @suryaween

Thank you for contacting QuickBlox support.

Have you tried the following method: https://quickblox.com/developers/SimpleSample-chat_users-ios#Retrieve_list_of_dialogs
If yes, please, provide me with the error that you get when you try to use the reported method.

Looking forward to your reply.

[2019-07-03 03:31] haarj commented on #1125
Hi. I'm testing this again and it's still not working.

[2019-07-03 03:33] haarj commented on #1129
I'd like to just share that I had the same issue with mine below.

https://github.com/QuickBlox/quickblox-ios-sdk/issues/1125

Thanks

[2019-07-03 15:50] dansinclair25 commented on #1133
@RahulTBI don't use ordinary push notifications for VOIP calls - you should send VOIP push notifications instead.

Alternatively, play a sound file in the call push notification that is 30 seconds long (which is the max time a sound from a push notification can be played on iOS).

[2019-07-03 16:06] dansinclair25 opened #1155 "Taking a call off of speaker on the lock screen doesn't turn the speaker off"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-07-03 16:12] dansinclair25 commented on #1144
@abhijeetji24 did you run this in the simulator? If so, don't. Run it on a real device.

[2019-07-08 09:38] dansinclair25 opened #1156 "QBChatMessage custom parameters not saving to DB"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-07-08 11:09] dansinclair25 commented on #1156
Closing as I seem to have fixed my specific problem.

The issue was that when checking the custom parameters for a key, and casting that key's value to say an `Int`, it fails. The key's value is an `NSTaggedPointerString` meaning you need to cast to an `NSString` and convert that to your desired type; in my case an `Int`
e.g.
`self.customParameters["system_message_type"] as? NSString ?? "0").integ

[2019-07-08 11:09] #1156 closed

[2019-07-11 10:53] dipendrapulse opened #1157 "Show marked messages in chat"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-07-12 11:52] Gurwinder1234 commented on #551
How to create public group  from QuickBlox service for iOS Swift. Please help me.

could you please provide me the solution ??

[2019-07-12 11:55] Gurwinder1234 commented on #551
@Raikerian I want to create public group (QBChatDialogTypePublicGroup) from mobile is it feasible ?
if yes , Could you please provide the solution

[2019-07-20 12:12] wakuki14 opened #1161 "Callkit is not running when the app in background, screen lock or terminate"
Callkit is not running when the app in background, screen lock or terminate. it run ok when the app is active. This is my code
[code]

[2019-07-20 20:54] wakuki14 commented on #1161
I found this from quickblox document, it look like Quickblox not support similar Whatapps, skype
[code]

[2019-07-21 04:34] wakuki14 commented on #1161
I missed to upload APNS certificates. Issue is fixed

[2019-07-21 04:34] #1161 closed

[2019-07-23 17:31] dipendrapulse opened #1162 "Video sharing issue for receiver"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-07-24 14:40] vadimkhmyrovqb commented on #1142
@nanirocks125

Try the following:
[code]

[2019-08-08 08:29] QB-vladyslav-vyshniak commented on #1155
Hello, dear @dansinclair25

Thank you for contacting QuickBlox support.

The reported issue has been successfully reproduced by QuickBlox QA team and will be resolved by the developers in one of the upcoming Shared instance releases.

Thank you for your help in improving of QuickBlox platform.

[2019-08-08 08:29] #1155 closed

[2019-08-12 13:48] rakVER0911 opened #1163 "how to mark all messages for a dialog as read"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-08-12 20:29] aminiz opened #1164 "QBRTCRecorder may not call completion handler on stopRecord"
This is with the latest iOS and SDK versions.

The recorder starts off working fine. But if any participant mutes and then unmutes their audio, stopRecord no longer calls the completion handler.

[2019-08-12 20:34] #1164 closed

[2019-08-12 21:21] aminiz opened #1165 "QBRTCRecorder becomes nil after first recording is complete"
Is there a restriction of 1 recording per session? Or can we do multiple recordings in a single session?

Currently, we are seeing that after the first recording is complete, the recorder becomes nil.

[2019-08-14 10:18] vineeshLee opened #1166 "QuickBlox Integrated App-First call after installing Android App is not getting,once restart the app then call functionalities are working fine."
**-First call after installing Android App is not getting**

QuickBlox Integrated App-First call after installing Android App is not getting,once restart the app then call functionalities are working fine.

QuickBlox Sdk version 3.8.1

Please help to find a better solution.

[2019-08-25 10:33] ranjitDhiman1990 opened #1167 "I didn't create group chat dialog following documentation. There is a miss match between documentation and sample code. why?"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-08-25 10:36] Samrat555 opened #1168 "I didn't create group chat dialog following documentation. There is a miss match between documentation and sample code. why?"
I didn't create group chat dialog following documentation. There is a miss match between documentation and sample code. why?

[2019-09-05 11:18] HarleenKa opened #1169 "Hello everyone..I am using quickblox for chatting..My requirement is that i want to update all the status which is read, delivered and sent to one label..The send and delivered are updating in one label but the read is showing in other label..I am also attaching the screenshot for reference..Can you help me in this?"
[**New](url
![Simulator Screen Shot - iPhone Xs Max - 2019-09-05 at 16 47 40](https://user-images.githubusercontent.com/48941073/64337381-e445d200-cffc-11e9-82a6-1ba54ee1ad56.png)

[2019-09-08 20:30] haarj commented on #1146
Hi @QB-vladyslav-vyshniak,

Can you share that answer here as well?

Thanks!

[2019-09-11 14:17] metizror commented on #877
I have the same issue, How you are solved this issue.

[2019-09-11 14:19] metizror opened #1171 "Quickblox Remote Video not displaying but audio is there"
This is issue closed

https://github.com/QuickBlox/quickblox-ios-sdk/issues/877

I have used the latest SDK

[2019-09-12 05:29] metizror commented on #1171
issue solved
using self.session!.localMediaStream.videoTrack.videoCapture = self.videoCapture

[2019-09-12 05:29] #1171 closed

[2019-09-12 06:49] TempTest313 commented on #245
can we make broadcast using Quick Blox?

[2019-09-18 08:56] Bharath2r opened #1174 "App crash"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-09-18 09:44] Bharath2r opened #1175 "App crash"
**New Issue Checklist**
Error:    Unable to capture view hierarchy.
Details:  Log Title: Data source expression execution failure.
Log Details: error evaluating expression “(id)[[(Class)objc_getClass("DBGTargetHub") sharedHub] performRequestWithRequestInBase64:@"…"]”: error: Execution was interrupted.
The process has been returned to the state before expression evaluation.

Log Method: -[DBGDataSo

[2019-09-20 06:10] kushal211 opened #1177 "VoIP Push is not working for audio video calling"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-09-20 07:39] vadimkhmyrovqb commented on #1174
@Bharath2r please fill the form above, indicating:

iOS Version
Quickblox iOS SDK version
QuickbloxWebRTC SDK version
Xcode Version
Repro with our demo sample - Y/N

[2019-09-20 07:56] Bharath2r commented on #1174
iOS version 12.3
Quickblox iOS SDK version  2.17.1
Xcode version 10.1
Repro with our demo sample - N

[2019-09-20 10:05] vadimkhmyrovqb commented on #1174
Please write Steps to reproduce the behavior.

[2019-09-20 11:08] dansinclair25 commented on #1177
I'm seeing this issue too. It's because Quickblox have added the `apns-push-type` header to the APNS request but Apple are rejecting it for some reason (even though, according to Apple's docs, it should be working).

Surprised to see QB haven't reverted this change though already - was it tested before it was pushed to production?

[2019-09-20 11:25] Bharath2r commented on #1174
Download below link
Go to chatviewcontroller(App is getting crashed at ChatDataSource)
https://github.com/Bharath2r/QuickBloxChatSample

[2019-09-20 11:29] vadimkhmyrovqb commented on #1174
@Bharath2r we do not offer custom code review.
You mentioned that it works with our sample - please try to compare the problematic code block against your sample.

[2019-09-20 11:36] Bharath2r commented on #1174
Both files were same.I copied the Sample project code file(problematic file) into our sample Project but no result.

[2019-09-20 11:43] vadimkhmyrovqb commented on #1174
The main purpose of Simple Samples is to allow quickly test main functionality and to see implementation example. Sample code is not meant to be copied to other projects. To implement main functionality of Quickblox, please use SDK methods documented here: https://quickblox.com/developers/SimpleSample-chat_users-ios#Guide:_Getting_Started_with_Chat_API

[2019-09-20 11:53] Rich2k commented on #1177
Apple's documentation currently states that `apns-push-type` is required for delivering to all devices running iOS 13, however this is NOT currently being enforced.

I have tried non-VoIP notifications today with both the push type missing AND included and they both get delivered successfully to iOS 13 devices.

However the QB VoIP notifications are failing stating that `apns-push-type` of Alert i

[2019-09-20 12:21] kushal211 commented on #1177
I have tried in both iOS 12.4 and iOS 13 (Xcode 10.3 and Xcode 11), The non-VoIP notifications are working without any problem in both iOS versions, but the VoIP push is not working at all.

An interesting fact is that their sample project _(sample-videochat-webrtc-swift)_ is not even able to work for VoIP push notification.

Apparently I've tried with another third-party platform [Pusher](https:/

[2019-09-20 12:36] dansinclair25 commented on #1177
@kushal211 you tried a VoIP push with NWPusher _with_ the `apns-push-type` key added? Every time I've tried sending it locally with that key in the header, it fails.

[2019-09-20 12:41] kushal211 commented on #1177
@dansinclair25 , I've tried without `apns-push-type` to NWPusher and it worked for iOS 12.4. But to test this I've to select specific **VoIP Certificate** and not the **Universal (Sandbox & Production & VoIP) SSL certificate.**

[2019-09-20 12:53] Rich2k commented on #1177
@kushal211 Pusher doesn't appear to be sending the `apns-push-type` at all yet, I'm in contact, separately, with their support team about supporting this

[2019-09-20 13:01] kushal211 commented on #1177
@Rich2k , Agree with you, doesn't seems like they are sending. And appreciate your support. 😃👍🏼 Please update here if you get any further update.

PS. Here's the NWPusher SS I tried with. It delievered the VoIP push on both iOS 12 and 13.
<img width="780" alt="push1" src="https://user-images.githubusercontent.com/24749866/65328602-50ffc580-dbd4-11e9-90f8-18da6cd4d66f.png">
<img width="780" alt="pu

[2019-09-23 14:59] kushal211 commented on #1177
Hi @Rich2k , Did you find any solution/workaround for this push issue?

[2019-09-26 20:31] RahulChona11091991 commented on #1082
Hi QuickBlox Team,
I facing this same issue.
[QBResponse], status: 422

Can anyone help in finding the issue?

Thanks

[2019-09-26 20:32] RahulChona11091991 opened #1179 "Facing [QBResponse], status: 422 Issue"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-10-03 04:49] saifan95 opened #1180 "Login Error in iOS 13"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-10-03 20:02] koust commented on #1180
i get same issue.

[2019-10-04 08:50] QB-vladyslav-vyshniak commented on #1180
Hello @saifan95

Thank you for contacting QuickBlox support.

I have already provided you with an answer in the ticket #145300 (QB support portal).
So, please, proceed with the actions that I have mentioned there.

[2019-10-04 08:59] QB-vladyslav-vyshniak commented on #1180
Hello @koust

First of all you should proceed with the following instructions:
Please use Xcode 10 or lower to create the release build for IOS SDKs up to version 2.17.4 (which supports IOS 13).
The main reason is that Xcode 11 still in the Beta version and the issues can occur during it using.

Please notice that the latest version of IOS SDK is 2.17.4.
You can download it here https://github.com

[2019-10-04 09:07] QB-vladyslav-vyshniak commented on #1179
Hello @RahulChona11091991

Thank you for contacting QuickBlox support.

Could you provide me with a detailed description of the faced issue?
Please, be notified that the error 422 it's the customer's side issue, so first of all, double-check the correctness of your request/action.

[2019-10-04 10:05] QB-vladyslav-vyshniak commented on #1177
Hello @Rich2k @kushal211 @dansinclair25

Thank you for contacting QuickBlox support.
Even you try sending push from the admin panel and it is showing as a failed.
=>>Make sure that you have chosen the right environment. Its “Testing” for the debug build and “Live” for the release build.

[2019-10-04 11:05] saifan95 commented on #243
check this ans - https://stackoverflow.com/a/58235163/7301439

[2019-10-04 11:26] #1180 closed

[2019-10-04 11:31] QB-vladyslav-vyshniak commented on #1169
Hello @HarleenKa

Thank you for contacting QuickBlox support.

Please, be notified that such feature is absent and couldn't be implemented due to the contradiction with QB logic.
So, you can proceed with the implementation and configuration on your side.

[2019-10-08 12:56] QB-vladyslav-vyshniak commented on #1179
Hello @RahulChona11091991

First of all - proceed with the update of IOS SDK to the latest stable version - 2.17.4 using xCode 10.
Please, don't use xCode 11 to avoid any issues, etc.

Looking forward to your reply.

[2019-10-08 12:58] QB-vladyslav-vyshniak commented on #1174
Hello @Bharath2r

Any luck with the testing on QB clear samples?

Looking forward to your reply.

[2019-10-08 13:00] QB-vladyslav-vyshniak commented on #1175
Hello @Bharath2r

The status of the ticket changed to "Closed" due to duplicate with https://github.com/QuickBlox/quickblox-ios-sdk/issues/1175

Please, don't create duplicate tickets, their status will be changed to "Closed".

[2019-10-08 13:00] #1175 closed

[2019-10-08 13:11] QB-vladyslav-vyshniak commented on #1168
Hello @Samrat555

Thank you for contacting QuickBlox support.

Could you clarify what exactly is going wrong on your side while the creation of group dialog?
Provide me with the detailed logs, steps to reproduce the reported issue and link to our documentation where you have found the miss match.

Looking forward to your reply.

[2019-10-08 13:13] QB-vladyslav-vyshniak commented on #1167
Hello @ranjitDhiman1990

The status of the ticket changed to "Closed" due to duplicate with https://github.com/QuickBlox/quickblox-ios-sdk/issues/1168

Please, don't create the duplicated tickets, their status will be changed to "Closed".

[2019-10-08 13:13] #1167 closed

[2019-10-08 13:20] QB-vladyslav-vyshniak commented on #1166
Hello @vineeshLee

Thank you for contacting QuickBlox support.

Please, create a new ticket in Android section. Here we consider the tickets which are related to IOS platform.

Proceed with the update to the latest stable Android SDK version, link: https://github.com/QuickBlox/quickblox-android-sdk

[2019-10-08 13:20] #1166 closed

[2019-10-08 14:49] QB-vladyslav-vyshniak commented on #1165
Hello @aminiz

Thank you for contacting QuickBlox support.

The developers have successfully reproduced the reported bug and currently are fixing it.
The fix will be contained in the upcoming SDK.

P.S. You are QuickBlox Enterprise member, so you can use the support portal (https://assist.quickblox.com/) to report us any issue, question, etc.
Let me know if you need any help with a registration pr

[2019-10-15 08:38] Rushang007 opened #1181 "Stop call or ringing while accept call in another device same login id"
Currently, I'm doing a one calling project and I'm facing an issue in one scenario :

Scenario : Let's say I have logged-in an App from two different Mobile devices. Just consider the App is Skype for a while. Now, whenever I receive a call, then both the devices rang (which is obvious). But, when I accept a call from one device, then the other keeps on ringing. So, can you help me with how I can

[2019-10-22 03:37] Sudhansub opened #1183 "[QBResponse], status: 422"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

My application was working fine in iOS 12. But when users are trying to open app in iOS 13 its returning "[QBResponse], status: 422" from quickblox.

 let extendedRequ

[2019-10-22 04:58] Lavi1561 commented on #1090
I am also facing same issue

[2019-10-24 01:49] haarj opened #1184 "Update SDWebImage Dependency."
Currently the QuickBlox SDK supports only SDWebImage 4.4.8. Is is possible to update to the latest, which is 5.10.2?

Thanks!

[2019-10-26 07:41] oskarko commented on #1183
Same issue here. It's related to iOS 13, could you fix it??? Thanks!

[2019-10-27 10:17] oskarko commented on #1179
in iOS12 works fine login. in iOS13, error 422 :(

[2019-10-28 15:47] QB-vladyslav-vyshniak commented on #1184
Hello @haarj

Thank you for contacting QuickBlox support.

Could you provide me with the detailed description of the reported issue.

Looking forward to your reply.

[2019-10-28 16:01] QB-vladyslav-vyshniak commented on #1183
Hello @Sudhansub and @oskarko

Thank you for contacting QuickBlox support.

Have you tried to use IOS SDK 2.17.4 and xCode 10?
Currently, the developers don't recommend to use xCode 11 because it's not stable version yet, there are some bugs and issues.

Let me know about a result using xCode 10 for implementation.

Looking forward to your reply.

[2019-10-28 16:02] oskarko commented on #1183
yeah, xCode 11, that´s the problem so...

[2019-10-28 16:06] QB-vladyslav-vyshniak commented on #1181
Hello @Rushang007

Thank you for contacting QuickBlox support.

Could you provide me with the detailed logs (which cover all the described behavior) and code snippet.
What IOS SDK version do you use?

Looking forward to your reply.

[2019-10-28 16:08] QB-vladyslav-vyshniak commented on #1179
@oskarko

I have answered you in the ticket #1183

[2019-10-28 16:13] QB-vladyslav-vyshniak commented on #1179
@RahulChona11091991

The status of the ticket changed to "Closed", because you haven't provided me with an answer.
You can reopen this ticket, if you would like to continue the discussion of the reported issue.

[2019-10-28 16:13] #1179 closed

[2019-10-28 16:14] QB-vladyslav-vyshniak commented on #1177
Hello @kushal211

The status of the ticket changed to "Closed", because you haven't provided me with an answer.
You can reopen this ticket, if you would like to continue the discussion of the reported issue.

[2019-10-28 16:14] #1177 closed

[2019-10-28 16:15] QB-vladyslav-vyshniak commented on #1174
Hello @Bharath2r

The status of the ticket changed to "Closed", because you haven't provided me with an answer.
You can reopen this ticket, if you would like to continue the discussion of the reported issue.

[2019-10-28 16:15] #1174 closed

[2019-10-28 16:18] QB-vladyslav-vyshniak commented on #1183
@oskarko

So, currently you can use xCode 10, all works as expected there.

Let me know if you have any additional questions regarding this issue.

[2019-10-28 16:24] QB-vladyslav-vyshniak commented on #1169
Hello @HarleenKa

The status of the ticket changed to "Closed".

Please, create a new ticket if you have any additional questions.

[2019-10-28 16:24] #1169 closed

[2019-10-28 16:30] QB-vladyslav-vyshniak commented on #1168
Hello @Samrat555

The status of the ticket changed to "Closed", because you haven't provided me with an answer.
You can reopen this ticket, if you would like to continue the discussion of the reported issue.

[2019-10-28 16:30] #1168 closed

[2019-10-28 16:37] QB-vladyslav-vyshniak commented on #1165
The status of the ticket changed to "Closed".

The solution has been provided in QB support portal.

[2019-10-28 16:37] #1165 closed

[2019-10-29 09:40] QB-vladyslav-vyshniak commented on #1029
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 09:40] #1029 closed

[2019-10-29 13:33] QB-vladyslav-vyshniak commented on #1038
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 13:33] #1038 closed

[2019-10-29 13:37] QB-vladyslav-vyshniak commented on #1042
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 13:37] #1042 closed

[2019-10-29 13:37] QB-vladyslav-vyshniak commented on #1045
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 13:37] #1045 closed

[2019-10-29 13:38] QB-vladyslav-vyshniak commented on #1105
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 13:38] #1105 closed

[2019-10-29 13:38] QB-vladyslav-vyshniak commented on #1118
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:32] QB-vladyslav-vyshniak commented on #1124
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:32] #1124 closed

[2019-10-29 16:33] QB-vladyslav-vyshniak commented on #1129
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:33] #1129 closed

[2019-10-29 16:33] QB-vladyslav-vyshniak commented on #1130
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:33] #1130 closed

[2019-10-29 16:34] QB-vladyslav-vyshniak commented on #1131
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:34] #1131 closed

[2019-10-29 16:34] QB-vladyslav-vyshniak commented on #1135
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:34] #1135 closed

[2019-10-29 16:36] QB-vladyslav-vyshniak commented on #1139
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:36] #1139 closed

[2019-10-29 16:36] #1140 closed

[2019-10-29 16:37] QB-vladyslav-vyshniak commented on #1142
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:37] #1142 closed

[2019-10-29 16:37] QB-vladyslav-vyshniak commented on #1144
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:37] #1144 closed

[2019-10-29 16:37] #1147 closed

[2019-10-29 16:38] QB-vladyslav-vyshniak commented on #1150
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:38] #1150 closed

[2019-10-29 16:38] QB-vladyslav-vyshniak commented on #1030
The status of the ticket changed to "Closed" due to inactivity.
If the reported issue is still actual for you - please reopen the ticket.

[2019-10-29 16:38] #1030 closed

[2019-10-29 16:42] QB-vladyslav-vyshniak commented on #1163
Hello @rakVER0911

Thank you for contacting QuickBlox support.

Unfortunately, the requested option isn't available and couldn't be implemented due to contradiction with QB backend logic.

Please let me know if you have any additional questions.

[2019-10-30 06:02] Rushang007 commented on #1181
@QB-vladyslav-vyshniak  Thanks For Reply

1. I think for this scenario do not need any log
2.  IOS SDK version latest

[2019-11-01 16:33] rsbydv opened #1185 "Unable to receive offline messages inside app whenever app goes to background or killed"
**New Issue Checklist**

 - [yes ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [yes ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------

[2019-11-04 09:59] oskarko opened #1186 "push notifications with each new version on AppStore"
Hi!

iOS push notifications work fine but every time I upload a new version to AppStore I have to remove all subscriptions in admin panel for making them work again. Why is not working with every new live app? on debug works always fine.... so it´s strange.

iOS 12 and 13.

[2019-11-04 10:27] kushal211 opened #1187 "App Crashing in iOS13 for Incoming Audio + Video call"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2019-11-05 11:29] #1163 closed

[2019-11-05 11:37] QB-vladyslav-vyshniak commented on #1181
@Rushang007

Please, provide me with the detailed logs - only then the developers will start the investigation process.
Also, I need the detailed steps to reproduce the reported behavior (step by step description).

Looking forward to your reply.

[2019-11-05 11:52] Rushang007 commented on #1181
Hi @QB-vladyslav-vyshniak. Actually, the thing is I haven't coded yet. What I want is to know how I execute this functionality which I mentioned earlier. There is nothing related to auto-reject the session when it's already active in another device. The same scenario is available in Javascript but not for the iOS SDK. Please find the attachment

![Screenshot 2019-11-05 at 5 20 13 PM](https://user-

[2019-11-05 11:53] QB-vladyslav-vyshniak commented on #1185
Hello @rsbydv

Thank you for contacting QuickBlox support.

Have you tried to reproduce the reported issue on the application which was created with the using of xCode 10?
Could you provide me with the detailed logs?

Looking forward to your reply.

[2019-11-05 13:21] Rushang007 commented on #1187
@kushal211
I had the same issue but when I update my pod file then it's working a charm.
please update your pod file (Full Update).

[2019-11-05 13:59] kushal211 commented on #1187
Hi @Rushang007 ,  Did you put your application in the background and try calling? I did test this in sample project and every time the sample project app is terminated with the console error -
[code]

I did try updating cocoapods but a result is the same.
Pod version: **1.8.4**
QuickbloxWebRTC SDK: **2.7.4**
Quickblox SDK: **2.17.4**

[2019-11-08 07:39] rsbydv commented on #1185
Hi, Thanks for your reply.

I can not build my application with Xcode 10 now as some of app dependencies require Xcode 11. Also, there are no logs generated at the time where we did not get any message when coming to the foreground. This is happening on both the platforms Android and iOS.

looking forward to your reply.

[2019-11-11 11:24] kushal211 commented on #1187
Hi,

Any update on the background VoIP calling issue in iOS 13? Can you guys please help? I still not facing the issue with the sample project provided.

Application terminated straight away from the background when it receives a call / VoIP push.

Any sort of help is deeply appreciated.

[2019-11-11 11:32] Rushang007 commented on #1187
Hey,

have you faced this issue # 1181?

https://github.com/QuickBlox/quickblox-ios-sdk/issues/1181

[2019-11-11 11:58] kushal211 commented on #1187
Hey, I am not allowing app users to log in to multiple devices as of now. I am aware of this problem and did not look into detail as of now. I am yet stuck with this termination issue.

But I think the SDK will have some delegate methods which provide a signal that the call has been answered from another device.

[2019-11-11 12:09] Rushang007 commented on #1187
@kushal211  Thanks for replay

but I have not found any delegate method and also not working Quickblox demo app (latest).

[2019-12-16 02:58] fukemy commented on #935
hello, im really sorry for bother you, but im stuck in same problem with RTCFramework swift:
[code]
So can you provide the way how to fix this problem as you did? Many thanks

[2020-01-07 10:07] sushantgiri opened #1188 "IOS 13 VOIP Background Crash Issue"
The error logged while running the application is:

Apps receving VoIP pushes must post an incoming call (via CallKit or IncomingCallNotifications) in the same run loop as   pushRegistry:didReceiveIncomingPushWithPayload:forType:[withCompletionHandler:] without delay.

Please update the sample application code for iOS 13 and onwards.

[2020-01-10 13:16] mandeepsinghgill commented on #1183
As i talked to quikblox team they answered this :

Please try to create sessions with user credentials, please check the instructions: https://quickblox.com/developers/Authentication_and_Authorization#With_User_authorization

If this help someone please let me know :) because i didn't tried or update here soon.

[2020-01-13 02:14] jinsu3758 opened #1189 "ios13 voip push background issue"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2020-01-13 05:37] SwiftAmit commented on #1188
anybody got any Solution?

[2020-01-13 05:37] SwiftAmit commented on #1189
anybody got any Solution?

[2020-01-16 12:47] haarj opened #1190 "Dark Mode Support"
Make QMChatAttachmentIncomingCell & QMChatAttachmentOutgoingCell's progressLabels support dark mode.

[2020-01-22 16:09] QB-vladyslav-vyshniak commented on #1188
Hello @sushantgiri @SwiftAmit

Please, be notified, that VOIP functionality has been deprecated by Apple in IOS 13, this is why it doesn't work on your side.
Check the following article about what you should do in this case: https://developer.apple.com/videos/play/wwdc2019/707/

Have a good day!

[2020-01-22 16:09] QB-vladyslav-vyshniak commented on #1189
Hello @jinsu3758 @SwiftAmit

Please, be notified, that VOIP functionality has been deprecated by Apple in IOS 13, this is why it doesn't work on your side.
Check the following article about what you should do in this case: https://developer.apple.com/videos/play/wwdc2019/707/

Have a good day!

[2020-01-23 01:53] jinsu3758 commented on #1189
Hi, Thanks for your reply. @QB-vladyslav-vyshniak

Doesn't the sample code respond to this issue?
Even now, the demo sample 'sample-videochat-webrtc-swift' crashes the app in the background or not running

[2020-01-24 07:30] gurpreet029 commented on #1187
Hey Guys
Not sure if you have fixed this issue or not,
But for me
I have fixed by modifying some of the code
like whenever you receive a VoIP push, you have to trigger the call kit screen, because as of ios13 this is a necessary thing, and after this whenever the users accepts it will call didRecieveSession delegate and you have to just push to ur controller by accepting the call.

[2020-01-25 04:07] Rushang007 commented on #1187
@gurpreet029
have you faced this issue # 1181?
#1181

[2020-01-30 06:54] SwiftAmit opened #1191 "Stop Working VOIP Push notification - show Error in Certificate."
In admin panel push certificate show error log in every 2-3 days, when this certificate shows error then VOIP push notification stops working again I have to upload the same certificate **[WITHOUT ANY CHANGES]** and the VOIP push notification start working.

This scenioro is too frequently, i am not able to find the reason behind that why certificate  shows error in admin panel automatically.

Two

[2020-01-30 08:33] QB-vladyslav-vyshniak commented on #1183
@oskarko last releases of xCode 11 are stable and now you can build your application using xCode 11 + IOS SDK 2.17.4.

Let me know about a result.

[2020-01-30 08:35] QB-vladyslav-vyshniak commented on #1183
@mandeepsinghgill did the suggested method help you resolve the issue or it is still relevant for you?

[2020-01-31 09:16] Patrick-foreseers commented on #1183
I'm using these frameworks before iOS13 and they works fine, however it fails to compile after pod update to Quickblox 2.17.4.

pod 'QuickBlox', '2.9.2'
pod 'Quickblox-WebRTC', '2.5’
pod 'QMChatViewController', ‘0.4.1.1’
pod 'QMServices', ‘0.4.5’

[2020-01-31 13:23] QB-vladyslav-vyshniak commented on #1190
Hello @haarj

Currently, applying of dark mode for Q-municate is unavailable, such option will be added in the new Q-municate 2.0

Unfortunately, there is no ETA of release for now.

[2020-01-31 13:26] QB-vladyslav-vyshniak commented on #1191
Hello @SwiftAmit

Have you tried to generate a new APNS certificate and check how it works with a new one?

[2020-01-31 13:30] QB-vladyslav-vyshniak commented on #1189
@jinsu3758 do you mean that after applying of the necessary points in the provided by Apple article QuickBlox clear sample crashes?
Provide me with a detailed description of the issue, reproducing steps and detailed logs to investigate the issue.

[2020-01-31 13:32] QB-vladyslav-vyshniak commented on #1188
@SwiftAmit

Has the issue solved or still actual for you?

[2020-01-31 14:56] QB-vladyslav-vyshniak commented on #1186
Hello @oskarko

Is the issue still relevant for you?

[2020-01-31 16:07] QB-vladyslav-vyshniak commented on #1183
@Patrick-foreseers

Proceed with the update of pod 'Quickblox-WebRTC', '2.5’ to the latest version => 2.7.4
https://cocoapods.org/pods/Quickblox-WebRTC  and let me know about a result.

[2020-01-31 16:10] Patrick-foreseers commented on #1183
I'd update all the 4 frameworks but still not working.

在 2020年2月1日週六 上午12:07，Vladyslav Vyshniak <notifications@github.com> 寫道：

[2020-02-03 02:59] Patrick-foreseers commented on #1183
**pod 'Quickblox-WebRTC', '2.7.4'**
[!] CocoaPods could not find compatible versions for pod "Quickblox-WebRTC":
  In Podfile:
    Quickblox-WebRTC (= 2.7.4)

Specs satisfying the `Quickblox-WebRTC (= 2.7.4)` dependency were found, but they required a higher minimum deployment target.

**https://cocoapods.org/pods/Quickblox-WebRTC**
HTTP ERROR 503

**Before update QMServices, 2 errors were found.*

[2020-02-03 07:43] Patrick-foreseers commented on #1183
**The versions which are updated from Pods.**
Installing QMChatViewController 0.5.1 (was 0.4.1.1 and source changed to `https://cdn.cocoapods.org/` from `trunk`)
Installing QMServices 0.5.5 (was 0.4.5 and source changed to `https://cdn.cocoapods.org/` from `trunk`)
Installing QuickBlox 2.17.4 (was 2.9.2 and source changed to `https://cdn.cocoapods.org/` from `trunk`)
Installing Quickblox-WebRTC 2.

[2020-02-06 15:07] HussainTechGee commented on #1146
@QB-vladyslav-vyshniak i'm facing the same issue as quickblox server is not sending a reset password mail to user. I have enabled authenticate user email checkbox in users > setting > Require email confirmation (for application users).

[2020-02-07 10:25] QB-vladyslav-vyshniak commented on #1191
The status of the ticket changed to "Closed" due to the absence of a reply.

[2020-02-07 10:25] #1191 closed

[2020-02-07 10:27] QB-vladyslav-vyshniak commented on #1190
The status of the ticket changed to "Closed", the answer has been provided.

[2020-02-07 10:27] #1190 closed

[2020-02-07 10:27] QB-vladyslav-vyshniak commented on #1189
The status of the ticket changed to "Closed" due to the absence of a reply.

[2020-02-07 10:29] #1189 closed

[2020-02-07 10:30] QB-vladyslav-vyshniak commented on #1188
The status of the ticket changed to "Closed" due to the absence of a reply.

[2020-02-07 10:30] #1188 closed

[2020-02-07 10:44] QB-vladyslav-vyshniak commented on #1186
The status of the ticket changed to "Closed" due to the absence of a reply.

[2020-02-07 10:44] #1186 closed

[2020-02-12 03:01] Patrick-foreseers commented on #1183
any idea?

[2020-02-12 11:05] QB-vladyslav-vyshniak commented on #1187
@kushal211 @gurpreet029 @Rushang007
Is the reported issue still relevant for you?

[2020-02-17 15:40] QB-vladyslav-vyshniak commented on #1187
The status of the ticket changed to "Closed" due to the absence of a reply.

[2020-02-17 15:40] #1187 closed

[2020-02-17 15:41] QB-vladyslav-vyshniak commented on #1185
Hello @rsbydv

Is the reported issue still relevant for you or could be "Closed"?

[2020-02-17 15:56] QB-vladyslav-vyshniak commented on #1183
@Patrick-foreseers

We are checking the provided logs.
I let you know once we will have any update for you.

[2020-02-17 15:58] QB-vladyslav-vyshniak commented on #1181
Hello @Rushang007

Is the asked question still relevant for you or could be "Closed"?

[2020-02-18 13:25] KiranPatelSpaceo opened #1193 "Crashed : [__NSCFConstantString objectForKeyedSubscript:] while connecting to android device"
When android device is disconnected and try to connect second time
getting crashed [__NSCFConstantString objectForKeyedSubscript:] in iOS device

**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details

[2020-02-26 09:08] kiran5232 commented on #1193
Hello Guys

Any update?

Thanks

[2020-03-06 04:27] raheeshishan commented on #1187
Hi,

How to solve @kushal211 reported issue

[2020-03-11 12:58] sujitkaulavkar123 commented on #1013
@darpan-123 , can you please guide me on the solution you added.

[2020-03-25 04:35] vishalrana-spaceo commented on #981
It is still exist on iOS 13

[2020-03-25 04:36] vishalrana-spaceo opened #1194 "Can not make audio call once app in background or terminated state."
**New Issue Checklist**

 - [ yes] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ yes] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------

[2020-03-27 08:52] vishalrana-spaceo commented on #1155
I am also facing same issue. please let us know when it will be fixed

[2020-03-27 08:58] vishalrana-spaceo opened #1195 "Receving a call on the lock screen doesn't turn the speaker off when trying turning off speaker on clicking speaker button"
**New Issue Checklist**

 - [- ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [- ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-----------------------------

[2020-03-31 02:26] dokutoshi commented on #980
This solved my issue after about 6 hours of working through all possible scenarios.

[2020-03-31 11:28] vishalrana-spaceo commented on #1195
Hello devs,

Any update on issue??

Thanks

[2020-03-31 11:29] vishalrana-spaceo commented on #1194
Hello devs,

Any update on issue??

Thanks

[2020-03-31 13:22] devgeektech opened #1196 "I am not getting audio input in video call sometime"
Hello Guys

I am able to make video call, everything is working fine in first call but in second or third time, audio is not coming from second device. Please help me out for this issue, you can check my code below:-

[code]

[2020-04-02 08:47] vishalrana-spaceo opened #1198 "is typing status is not working properly."
**New Issue Checklist**

 - [yes ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ yes] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------

[2020-04-03 02:43] maari2k23 commented on #981
background and inactive state app not working

[2020-04-03 02:45] maari2k23 commented on #981
I added the Dev cerificate in Quickblox pushNotification and Google Info Plist API key also. I m getting the foreground VOIP call only.

[2020-04-03 15:59] samratpramanik commented on #1183
The same issue happened to me. I cannot make log-in or sign up when the application run in Xcode 11.2.1.  And the worst part is Apple did not support AppStore build from starting of April 2020.

           error: Request failed: client error (422)
           reasons: {
                  errors =     {
                        base =         (
                              "Unexpected signature"

[2020-04-04 03:20] Rushang007 commented on #981
@vineeshtp Your app is working in the background and inactive state mine is not working. can you please tell me

[2020-04-04 08:55] Rushang007 opened #1199 "Incoming video/audio call not working in background (Swift, iOS 13)"
iOS Version  - 13.0
Quickblox iOS SDK version   - 2.17.4
QuickbloxWebRTC SDK version -   2.7.4
Xcode Version  - 11.2.0

please help

Thanks in Advance

[2020-04-08 09:37] vineeshtp commented on #981
I have done this 2 years ago.
Please integrate with iOS CallKit , sample code is available in QuickBlox itself.

[2020-04-08 09:43] Rushang007 commented on #981
@vineeshtp Yes it's working in iOS 12 but not working in iOS 13
I'm using the latest version of Quickblox and webRTC SDK
#1166

[2020-04-08 09:44] vineeshtp commented on #981
You might have to get help from QuickBlox. in their communinity you can raise this issue.

[2020-04-11 12:28] Rushang007 commented on #1191
@QB-vladyslav-vyshniak  not working for me i had generate a new APNS certificate and check but not working its Working in iOS 12 but not working in iOS 13 can you please help me?
![WhatsApp Image 2020-04-08 at 7 42 53 PM](https://user-images.githubusercontent.com/16713953/79043650-03a17f00-7c1e-11ea-860b-1e98cb239801.jpeg)

Latest version of Quickblox and WebRTC SDK
Swift
#1199

[2020-04-11 12:31] Rushang007 opened #1201 "Killing app because it never posted an incoming call to the system after receiving a PushKit VoIP push callback."
i'm facing this error in iOS 13 & Xcode 11.4
i'm using latest version of Quickblox and webrtc SDK

can you please help ?
![WhatsApp Image 2020-04-08 at 7 42 53 PM](https://user-images.githubusercontent.com/16713953/79043703-63982580-7c1e-11ea-8be4-6055b60d6d78.jpeg)

[2020-04-11 18:00] VishalSharma91 commented on #875
Currently I am not allowing record support in my app but when I make calls it shows red banner like a recorder if I go in background, unlike Green banner which is case with most of apps like WhatsApp, Skype, etc, let me know how to achieve that.
Even I turned the audio capability off and I made a call but still it shows red.

[2020-04-13 11:12] Shruti2208 opened #1202 "Not able to receive call as it gets disconnected on its own."
I'm trying to make a call from 1 simulator to another. The call appears but gets disconnected on its own.Please guide.

Below are my logs

2020-04-13 16:40:58.792 rtc::[RTCClient] Initializing SSL...
2020-04-13 16:40:58.792 rtc::Create audio track: RTCMediaStreamTrack:
audio
audioTrack
enabled
Live
2020-04-13 16:40:58.792 rtc::[SESS]<7FB4ED16-36CC-4ED0-ADB6-1EE4A378D13E, I:106077683, O:[106525069]

[2020-04-15 04:03] Rushang007 commented on #1187
@QB-vladyslav-vyshniak  Yes issue is still there

[2020-04-15 15:35] Rushang007 commented on #1181
@QB-vladyslav-vyshniak  Still not happening please help

[2020-04-22 08:22] duynk163 commented on #1201
You can try with objective-C, it's OK with me.

[2020-04-22 08:37] Rushang007 commented on #1201
@duynk163 what do you mean by objective-C, can you explain in details how to use in my swift code?

[2020-04-23 19:01] Awais987 commented on #1201
@Rushang007  i am also facing this issue after installing latest quickblox webrtc swift sdk?? Do you find any solution related to this

[2020-04-24 13:50] katafo commented on #1201
https://developer.apple.com/documentation/pushkit/pkpushregistrydelegate/2875784-pushregistry

You must report incoming call immediately in **didReceiveIncomingPushWith**. Example:

[code]

[2020-04-24 15:39] Awais987 opened #1206 "Calls not working in background in swift but working fine in objective C"
**New Issue Checklist**

 - [yes] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [yes] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------

[2020-04-29 04:33] cloudtenlabs opened #1207 "Return MessageID on send"
Can you please return message Id on dialog.send function?
let privateDialog = ...
privateDialog.send(message) { (error) in

}

I need to implement the feature to delete the message the users just sent but I cant delete them because they do not have message Id

[2020-04-29 16:51] VladimirNybozhinsky commented on #1206
Please check the latest update Swift-Video-Chat-WEBRTC
https://github.com/QuickBlox/quickblox-ios-sdk/commit/9b70536f44558d7ce004449731a9cfb4e539ea2b

[2020-04-29 16:53] VladimirNybozhinsky commented on #1201
Please check the latest update Swift-Video-Chat-WEBRTC
https://github.com/QuickBlox/quickblox-ios-sdk/commit/9b70536f44558d7ce004449731a9cfb4e539ea2b

[2020-04-29 16:53] VladimirNybozhinsky commented on #1199
Please check the latest update Swift-Video-Chat-WEBRTC
https://github.com/QuickBlox/quickblox-ios-sdk/commit/9b70536f44558d7ce004449731a9cfb4e539ea2b

[2020-04-29 19:24] Awais987 commented on #1206
@VladimirNybozhinsky yes it is working fine now there is only 1 issue left when i picked call from terminate state or from lock screen the voice connection is lost and i can't hear other user voice but it is working fine in background or active state

[2020-04-29 19:50] Muhammad7861 commented on #1206
yes i have same issue which is facing by @Awais987 please look into this we are on ending state we have need to buy startup or enterprise plan

[2020-04-29 19:56] Awais987 opened #1209 "Some microphone or voice issues in latest sample WebRtc Swift"
**New Issue Checklist**

 - [yes] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [yes] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------

[2020-04-30 20:49] Muhammad7861 commented on #1206
@VladimirNybozhinsky  please update and check thoroughly swift webrtc project we are on stake with our client 4 months effort can be destroyed on this last feature of quickblox
Please help into this.

[2020-04-30 20:52] Muhammad7861 commented on #1209
I have also this issue same
when app in terminate, iphone locked and some time in background microphone issue occured some time
I request to quickblox test swift webrtc app thoroughly
On the other hand objective c app wokring fine.

[2020-04-30 20:55] Muhammad7861 commented on #1194
background call issue now resolved in new sdk but some issues are pending for mic in background, terminated or iphone locked state
quickblox team is very slow in response.

[2020-05-04 18:55] devgeektech opened #1210 "Not able to hear with Bluetooth handset"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2020-05-11 05:53] ritesh5553 opened #1211 "VoIP Push notification not work in background and terminate state."
Hello,

We have performed chatting, audio, video call functionality in our project. we got text message related notification, but we haven't got VoIP notification for audio/video call once the app goes in background and terminate the state. we have used the latest framework for audio/video calls. and also sometimes not subscription not work. So can you guide us to complete this functionality?

Tha

[2020-05-13 18:32] tusharfreshworks opened #1212 "iOS SDK intermittent crash on `QBRequest.unregisterSubscription`"
- I have read the [Documentation](https://quickblox.com/developers/IOS)
 - I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Crash Log**
Hardware Model:      iPhone11,2
Process:             AppName [21478]
Path:                /private/var/containers/Bundle/Application/9CC6E083-4F37-4B27-8BC4-CED6E306C494/AppName.app/App S

[2020-05-16 07:56] shoaibhassan1 opened #1213 "Video call with Voip in terminated state"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

Dear Devs,
i have tested sample with VOIP notification by shifting all push kit code from UsersViewController to app delegate,
Voip notification receives on device,cal

[2020-05-16 08:04] shoaibHassanAttech commented on #1161
i have moved all code of PushKit framework from UsersViewController to AppDelegate,
Voip Notification recieved, callkit showing incoming call, call accepted, call get connected but audio only, both users can see their own video but not of other peer.
Any Help please.

[2020-05-18 06:45] Awais987 opened #1214 "Inbox unread conversation counter in Swift"
**New Issue Checklist**

 - [ yes ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ yes ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-----------------------

[2020-05-21 08:07] shoaibhassan1 opened #1216 "Crash if we change app name or display name"
There is crash for key-value coding of login button  if we change app name or display name from project settings.

[2020-05-29 14:21] GokmenAkar opened #1217 "I can't receive any background calls in TestFlight"
Hello guys,

I just can't take any calls in TestFlight, just working in the app. While I'm running the app via Xcode there is no problem. I can take calls in the foreground or background, and locked state. It works as expected. APNS certificates were uploaded successfully, there are subscribers also. But as I said there is a problem with TestFlight(I also tried Firebase distribution). I can take V

[2020-06-02 07:51] sohaibkhaa commented on #1146
I'm having the same issue
"User does not have a confirmed email address"
can anyone help?

[2020-06-05 14:28] sohaibkhaa opened #1218 "Reset Password not working"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2020-06-05 14:29] #1218 closed

[2020-06-09 18:42] pavanbalu commented on #1179
how to access response date value from iOS SDK

[2020-06-22 15:38] chandaboy786 opened #1219 "[Call Answer] not working"
2020-06-22 20:36:31.213551+0500 TAG[1920:286296] [BackgroundTask] Background Task 14 ("Called by QuickbloxWebRTC, from qb_create_dispatch_timer"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for your task in a timely manner to avoid this.

I am running code but right now it is c

[2020-06-24 10:20] virajptridhya commented on #1199
@Rushang007  I am facing the same issue with iOS 13. Incoming video call not working in background.

[2020-06-24 11:26] parthsit commented on #1199
Hello @Rushang007 I am also facing same issue for incoming video call in iOS 13, It is working fine in iOS 12. I have mentioned information below which I am getting in iOS 13. Did you able to find any solution related to this ?

"didReceiveIncomingPushWith called"
" timeIntervalSinceStartCall > QBRTCConfig.answerTimeInterval"
2020-06-23 22:51:12.114253+0530[2555:1050373] Apps receving VoIP pushes

[2020-06-24 11:34] parthsit commented on #1191
@QB-vladyslav-vyshniak Yes I am also facing same issue in iOS 13 can you please help me ?

[2020-07-07 16:16] tmkinger commented on #1210
I have the same issue, and even I'm using the latest versions of iOS SDK and WebRTC SDK.

[2020-07-09 09:11] maulik15 opened #1221 "Delete Messages"
how to delete messages from the public group.

[2020-07-15 19:27] BCSingh commented on #1217
Have you managed to get this work on Testflight app? I am facing the same issue now.. Incoming calls works fine in development mode. But the incoming call doesnt come in the testflight app, both in background and killed state.

[2020-07-17 06:26] BCSingh opened #1223 "Incoming Call VOIP notification not fired when app is in background or killed state in Production build"
**New Issue Checklist**

 - [YES] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [YES ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|--------------------------

[2020-07-20 12:57] indraja-iOS opened #1224 "Issue in creating subscription when logged and login by another user... [UsersViewController] Create Subscription request - Error.....But when killed from backgound it is working."
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2020-07-21 13:37] kirti301290 commented on #1223
@BCSingh @QB-vladyslav-vyshniak
can help facing same problem  in production and working fine in development mode
Thanks

[2020-07-21 21:46] rajeevsharma2811 commented on #548
For iOS as well it is handling automatically? No need to send an event object? What if I have to send a custom parameter?

[2020-07-22 07:37] datpham96 commented on #1217
@BCSingh I have the same opinion with you. In development mode, the voip token spawns normally but on the testflight, it doesn't seem to spawn and function?

[2020-07-22 19:04] hassan31 opened #1225 "Does Quickblox SDK provides @mentions in group chat?"
Hi everyone, I just wanted to quickly know if QuickBlox SDK provides @mentions in a group chat or not?

Waiting for your reply.

Thanks
Hassan

[2020-07-23 19:25] BCSingh commented on #1223
Ok I got it solved. Guessing it to be either a logical issue or the certificate issue. There are few things I did to get this solved. see if any of these points helps

- In quickblox admin portal, i created 2 apps. I used one for development and uploaded 2 certificates -  Apple Development iOS Push and VOIP p12 files. I used the second app production by uploading just the Apple Push services(Produ

[2020-07-23 19:26] BCSingh commented on #1223
Closing as I got it working

[2020-07-23 19:26] #1223 closed

[2020-07-23 19:32] BCSingh commented on #1217
It had to rework on it to get it working.. Check my post [here](https://github.com/QuickBlox/quickblox-ios-sdk/issues/1223#issuecomment-663189506)..  See if any point helps

[2020-07-26 18:22] #1217 closed

[2020-07-28 13:41] meAbhishekTripathi commented on #1105
Getting crash on receiver side when created session for Video call on sender side. Delegate of **didReceiveNewSession not called before crashing. It means It somewhere crashing on getting the session.**

Here is the crash log :

2020-07-28 09:38:22.896 rtc::Create audio track: RTCMediaStreamTrack:
audio
audioTrack
enabled
Live
2020-07-28 09:38:22.897 rtc::[CAPT] Init.
2020-07-28 09:38:22.897 rtc::

[2020-07-28 13:43] meAbhishekTripathi opened #1226 "Crash on Receiving Video call session"
**Getting crash on receiver side when created session for Video call on sender side. Delegate of didReceiveNewSession not called before crashing. It means It somewhere crashing on getting the session.**

Here is the crash log :

2020-07-28 09:38:22.896 rtc::Create audio track: RTCMediaStreamTrack:
audio
audioTrack
enabled
Live
2020-07-28 09:38:22.897 rtc::[CAPT] Init.
2020-07-28 09:38:22.897 rtc::

[2020-07-29 21:52] rorodriguez116 commented on #1226
I'm receiving the exact same error on the callee side. iOS app crashes with same error.

[2020-07-30 05:11] meAbhishekTripathi commented on #1226
@rorodriguez116  When you create session from the caller side, make sure you pass nil or use NSString not String.

[2020-07-30 06:23] rorodriguez116 commented on #1226
@meAbhishekTripathi, Thanks for the suggestion.

[2020-07-30 14:35] meAbhishekTripathi commented on #1105
When you create session from the caller side, make sure you pass nil or use NSString not String for the userInfo.

session?.startCall(nil)

[2020-08-10 07:31] kirti301290 opened #1227 "taking to much time to establish audio/video call"
iOS Version                    13.5
QuickbloxWebRTC SDK version   2.7.5
Xcode Version                 Xcode 11.5

Hello
we facing problem  4-5 sec delay  establish  audio/video call and having good internet connection
for example  UserA calling to UserB and  UsedB Accepted call but  it taking 4-5 sec to connection
Thanks

[2020-08-11 05:42] KiranPatelSpaceo commented on #1193
This issue happed when android device in background mode and iOS device trying to connect

[2020-08-11 11:54] shoaibHassanAttech commented on #231
QBRequest.subscriptions(successBlock: { (response, subscriptions) in
           if subscriptions!.count > 0
           {
               for sub in subscriptions!
               {
                   QBRequest.deleteSubscription(withID: sub.id, successBlock: nil, errorBlock: nil)
               }
           }
            // Create new subscriciption for current device here
           }) { (errorResp

[2020-08-12 07:14] shoaibhassan1 opened #1228 "Network switch during call causing disconnect."
I have successfully connected to video call, but if i switch network connection during call and if switching takes more than 3,4 seconds, then call gets disconnect, i want to increase this time and want to implement a reconnect feature like whatsapp and others apps do.
Thanks in advance.

[2020-08-17 09:33] KiranPatelSpaceo commented on #1227
I have same issue

[2020-08-17 13:07] KiranPatelSpaceo commented on #1193
Hello Team,

Here is latest log

**IOS SDK** version : "**2.17.4**"
**Android SDK** version :  "**3.9.2**"

2020-08-17 18:17:35.196184+0530   AppName[2796:1005615] [ChatService]: RCV: <message xmlns="jabber:client" type="headline" from="Sender_User_Id@chat.quickblox.com/android_00000000-5bfd-b037-78e7-100f43349267" id="1597668454686" to="Receipt_User_Id@chat.quickblox.com">
  <extraParams xmlns="j

[2020-08-17 16:27] maulikshah09 opened #1229 "How can i Stop Login Every Time?"
How can i Stop Login Every Time? any Possible way to store login info in model  and directly connect ?

1. When I login first time through api then i login into quickblox it's ok understand that but when i remove app from back ground then lunch again it's need to relogin in quickblox it's not understand. can i Store login info in local and reuse to connect client .

[2020-08-18 05:19] shoaibHassanAttech commented on #1229
I think you shoud Use login and Signup methods when you are logging in your app and save QB user ID innto device.
next time when you launch app and goes to home screen directly, you just need to connnect to chat then you can perform chat and Audio/Video calls.

[2020-08-18 05:28] shoaibhassan1 opened #1230 "Session is nil if hangup call imediately after creating new session causing issue on other peer."
If Peer 1 create a new call session and showing outgoing call screen with hangup option after sending VOIP notification on other peer,and hagup call immediately then peer 2 is showing callkit because app is killede and accept then call, but peer 2 is still not connected to chat and press accept button, then is stucked on call screen and no function from both of this will be call on peer 2 side on

[2020-08-18 05:57] maulikshah09 commented on #1229
NO i think it's not working..

[2020-08-18 06:10] shoaibHassanAttech commented on #1229
Well i have implemented that logic mentioned above into my app
and it is working good for audio video calls and iOS and android as well.

[2020-08-18 06:19] maulikshah09 commented on #1229
Can YOU Give me code or example

[2020-08-18 06:25] shoaibHassanAttech commented on #1229
Here is my code in app Delegate

[code]

and here is my helper function in singleton helper

[code]

and then all delegate get called in that singleton methods for didRecieveNewSession or accept and reject.

[2020-08-18 06:42] maulikshah09 commented on #1229
*I have done the same code IN my app. for quick blox login...IT's everytime login when you remove app from background.*

func connectToChat() {

       if QBChat.instance.isConnected {
           return
       }
       let qbUserId = self.getUserIdOfQuickBlox()

              print("connecting to chat with QB id...\(qbUserId)")

       QBRTCClient.instance().remove(self)
       QBRTCClient.instanc

[2020-08-18 06:47] shoaibHassanAttech commented on #1229
This is not app login, this is connecting to chat server only,
login and signup are different methods of SDK.
You must connect to server to perform any query to SDK.
Not only in Quickblox but any other SDK must initiate a connection with server to proceed.

[2020-08-19 07:29] shoaibHassanAttech commented on #1185
Hi,
i am sending message with this code
[code]
but unable to recieve that message when user connect to chat and following method does't call

    `func chatDidReceive(_ message: QBChatMessage) {`

[2020-08-20 05:41] shoaibHassanAttech commented on #720
@marshad13  did you receive offline message via this code?
because if my chat is disconnected and peer sent me messages, i want to receive them when connected to chat,please guide.
Thanks in advance.

[2020-08-20 14:05] silicus-kirankhalkar commented on #1090
Hello Team,
We are facing the same problem. Anyone know that is the cause of this.

[2020-08-20 14:12] silicus-kirankhalkar opened #1231 "Android to iOS calling is not working when my app is killed or in background, (but ios to ios calling is working)."
**New Issue Checklist**

 - [ yes] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ yes] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------

[2020-08-25 03:59] silicus-kirankhalkar commented on #1185
@QB-vladyslav-vyshniak

Could you please look on the below issue.
https://github.com/QuickBlox/quickblox-ios-sdk/issues/1231

[2020-08-27 11:09] shubhashkspaceo opened #1232 "App Crash Immediately after initiating call from web"
When initiating call from website and iOS App crashed, I have used Quickblox-WebRTC -> Version 2.7.5

RECV: <message xmlns="jabber:client" type="headline" from="106392714-68733@chatmedcall.quickblox.com/1204607085-chat-172344" to="106392715-68733@chatmedcall.quickblox.com" id="5f478eefe75d6f3c6c000005"><extraParams xmlns="jabber:client"><userInfo/><sessionID>b8dd7fa5-bb5f-4ae1-a1a0-ed0acd699750</s

[2020-08-28 04:52] shubhashkspaceo commented on #1226
I have fetching same issue when call initiate from web and in iOS app is crashed.

[2020-08-31 07:24] shoaibHassanAttech commented on #1231
Check environment type to distribution on android side if you are creating build for adhoc in iOS.

[2020-09-03 12:49] silicus-kirankhalkar commented on #1231
@shoaibHassanAttech - Thanks for the response. We already did that setup. but not getting a call from the android device when the iOS app has in the background and Terminated state.

[2020-09-03 12:52] shoaibHassanAttech commented on #1231
Please check in subscription tab in Quickbolx whether VOIP token is registered or not
if it is registered and subscription is created then there is possibility whether android is sending APNS instead of VOIP notification or there is some certificate issue.

[2020-09-03 13:12] silicus-kirankhalkar commented on #1231
@shoaibHassanAttech - Yes, from iOS sider we successfully subscribed for VOIP along with the token. also crossed check on Quickblox portal.
From the android side, we sent below payload for VOIP calling.

Notification Type - QBMNotificationTypePush
Event type = QBMEventTypeOneShot;

{
  "message": “Jemi is calling you..",
  "ios_voip": "1",
  "VOIPCall": "1",
  "sessionID": "0e6448b5-464b-4f8d-bc47

[2020-09-04 04:13] shubhashkspaceo commented on #1232
Most likely, the issue is related to outdated Javascript SDK.

Per our check, your Javascript SDK version is 2.8.1. Please update SDK to the latest version 2.12.9: https://github.com/QuickBlox/quickblox-javascript-sdk

Also, make sure that you are using the latest iOS SDK version 2.17.4: https://github.com/QuickBlox/quickblox-ios-sdk

[2020-09-04 04:13] #1232 closed

[2020-09-04 06:50] shoaibHassanAttech commented on #1231
Please check in queue what response you got?

[2020-09-04 07:02] silicus-kirankhalkar commented on #1231
@shoaibHassanAttech -It is showing push sent. Do you have any idea about what changes required from the Android side? while sending push. Do you have any sample payload for Android which will work for iOS and Android as well?

[2020-09-04 07:12] shoaibHassanAttech commented on #1231
We are using these lines of code from android side and call s working fine in all 3 platforms.

[code]

[2020-09-04 07:25] silicus-kirankhalkar commented on #1231
@shoaibHassanAttech - Yes, we also have the same code snippet. but we not received VOIP call from android on below two conditions.

1. when the iOS app is in the background, call not received from Android
2. when their OS app was killed/screen locked, call not received from Android.

As I mentioned, it is working fine on iOS to iOS.

For testing purpose, I have added logfile for VOIP method but do

[2020-09-04 07:29] shoaibHassanAttech commented on #1231
Maybe you are receiving VOIP notification in background but not handing in didReceiveIncomingPushWith properly,
and app is crashing before callkit get initiated,
please write a text/json file in documents directory in this method with log including payload, then you will get better idea.

[2020-09-04 07:35] silicus-kirankhalkar commented on #1231
@shoaibHassanAttech, I have already done that, I have written Payload in my text log file but not found any entry.

 - (void)pushRegistry:(PKPushRegistry *)registry didReceiveIncomingPushWithPayload:(nonnull PKPushPayload *)payload forType:(nonnull PKPushType)type withCompletionHandler:(nonnull void (^)(void))completion {
//Logfile added here..
}

[2020-09-08 14:54] maughray commented on #785
Hi,

I am currently using last version of QuickBlox and I also want to recognize voice from remote audio track, but I can not find how to convert received variable of type "UnsafePointer<AudioBufferList>" to "AVAudioPCMBuffer" that uses SFSpeechAudioBufferRecognitionRequest. Could you please let me know how you do that?

[code]

Thanks.

[2020-09-09 07:54] maughray opened #1233 "Voice recognition from remote audio track"
**New Issue Checklist**

 - [ + ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ + ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

Hi,

I am currently using last version of QuickBlox and  want to recognize voice from remote audio track, but I can not find how to convert received variable of ty

[2020-09-10 13:17] #1233 closed

[2020-09-14 02:28] Navya-ios opened #1234 "How to make remote video as full screen and local video as small screen on bottom right (like whatsapp call or facetime)"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none
<img width="571" alt="Screenshot 2020-09-14 at 7 57 32 AM" src="https://user-images.githubusercontent.com/69191943/93037415-020e3400-f660-11ea-8b0f-c1021120437c.png">

[2020-09-20 21:47] vanywhere opened #1235 "Push notifications are not delivered suddenly"
**New Issue Checklist**

 - [v] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [v] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

iOS SDK

Hi QB Team,

Push notifications are not delivered for the last few days. It worked before. We did not make any changes. While testing it a couple of days ago

[2020-09-21 14:43] kirti301290 commented on #1231
@silicus-kirankhalkar @shoaibHassanAttech
i  have similar problem and found problem from android side so need to send environment (production or development )  in push notification payload then ios will  receiver voip notification

[2020-09-21 15:01] silicus-kirankhalkar commented on #1231
@kirti301290 - Can you please share Android end the sample Payload?

[2020-09-21 15:11] kirti301290 commented on #1231
@silicus-kirankhalkar
you need to set  one in manifest file and qbevent class like this
  qbEvent.setEnvironment(QBEnvironment.PRODUCTION);
you are doing in development then need to set development instead of production
may be you are set PRODUCTION mode that why are not getting notification

[2020-09-21 16:28] silicus-kirankhalkar commented on #1231
@kirti301290 - Thanks for your reply.  Yes, Our Android developer already added this line of code while initiating call "qbEvent.setEnvironment(QBEnvironment.PRODUCTION)". We also tried the "development" environment but it did not work. We will again revisit this point.

[2020-09-22 05:29] silicus-kirankhalkar commented on #1231
@kirti301290 - have you received a call from Android to iOS when iOS App has in Background or Kill state?. We have done above changes like "qbEvent.setEnvironment(QBEnvironment.DEVELOPMENT)" but it does not work.

[2020-09-22 08:13] shoaibHassanAttech opened #1236 "Cannot find type 'PermissionBlock' in scope XCode 12"
Unable to compile app on xcode 12
please find a solution
Thanks in advance.

[2020-09-22 09:37] maughray opened #1237 "currentAudioDevice is deprecated"
How can I change audio output if the method below is deprecated?
`QBRTCAudioSession.instance().currentAudioDevice = .speaker // WARNING: 'currentAudioDevice' is deprecated`

UPD:
Is this a good solution?
`try? AVAudioSession.sharedInstance().overrideOutputAudioPort(.speaker)`

[2020-09-22 12:49] kirti301290 commented on #1231
@silicus-kirankhalkar  yes, do you added  same environment in manifest file file
 opened ticket regarding this problem from quickblox and here is their reply

Check the Admin Panel whether a user has Push Notification subscription for Device(s) or not → Admin panel →App name→Push notifications→Subscriptions→User

Please make sure that devices have subscriptions to all of the push notifications typ

[2020-09-23 04:07] silicus-kirankhalkar commented on #1231
@kirti301290 - Thanks, I just want one confirmation is the point here, I have subscribed only for VOIP, not for an APNS?  is it fine or I need to be a subscription for APNS as well.

[2020-09-23 04:31] shoaibHassanAttech commented on #1231
if you are subscribed to VOIP, and your subscription is shown in quickblox dashboard, then you should receive VOIP notification, Even if you are not receiving VOIP notification from iOS to iOS with this type of payload in killed/terminated state,then most probably you have some certificates issue.

[code]

[2020-09-23 05:30] silicus-kirankhalkar commented on #1231
@shoaibHassanAttech - No, It is working fine for iOS to iOS - I received a call from Application all state (Active,background and Kill). But this is not worked for the below condition-
Android to iOS issue-
1. when the app is in the background, calling functionality not working. 
2. when the app was killed/screen locked, calling functionality not working. 

[2020-09-23 12:43] maughray commented on #1227
I also have the same issue.

[2020-09-23 18:56] Navya-ios opened #1238 "video stream in chat screen"
anyone implemented small video stream in chat screen
Any help please
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value

[2020-09-23 19:06] #1234 closed

[2020-09-23 19:09] Navya-ios commented on #1206
Can i know how you implemented background video call in swift ?

[2020-09-23 19:11] Navya-ios commented on #1211
need help with same issue

[2020-09-24 04:13] zealoussys commented on #1211
Hello navya,

I have found some way to solve this issue. You can try as below,

-> Have you added PKPushRegistryDelegate method in appdelegate file? and PKPushRegistryDelegate is only in appdelegate file. otherwise you added more than 1 PKPushRegistryDelegate, it will not work.

-> If you will fail to report 2-3 notification, then Apple will block your notification. so you have to first delete you

[2020-09-24 04:25] riteshpatel0 commented on #1211
Hello @Navya-ios ,

I have found some way to solve this issue. You can try as below,

-> Have you added PKPushRegistryDelegate method in appdelegate file? and PKPushRegistryDelegate is only in appdelegate file. otherwise you added more than 1 PKPushRegistryDelegate, it will not work.

-> If you will fail to report 2-3 notification, then Apple will block your notification. so you have to first dele

[2020-09-24 04:49] Navya-ios commented on #1211
Yes PKPushRegistryDelegate methods are in App delegate only,
subscription is getting success but incoming call was coming.

[2020-09-24 04:49] Navya-ios commented on #1211
Yes PKPushRegistryDelegate methods are in App delegate only,
subscription is getting success but incoming call was coming.

[2020-09-24 06:54] riteshpatel0 commented on #1211
What you are writing in didReceiveIncomingPushWith methods, Can you share here.

[2020-09-24 07:05] Navya-ios commented on #1211
func pushRegistry(_ registry: PKPushRegistry,
                      didReceiveIncomingPushWith payload: PKPushPayload,
                      for type: PKPushType,
                      completion: @escaping () -> Void) {
        print("didReceiveIncomingPushwith payload")
        let application = UIApplication.shared

        //in case of bad internet we check how long the VOIP Push was delivered

[2020-09-24 07:44] Navya-ios commented on #1211
func pushRegistry(_ registry: PKPushRegistry,
didReceiveIncomingPushWith payload: PKPushPayload,
for type: PKPushType,
completion: @escaping () -> Void) {
print("didReceiveIncomingPushwith payload")
let application = UIApplication.shared

    //in case of bad internet we check how long the VOIP Push was delivered for call(1-1)
    //if time delivery is more than “answerTimeInterval” - return
    i

[2020-09-24 08:20] riteshpatel0 commented on #1211
@Navya-ios

Comment below section,

if type == .voIP,
    payload.dictionaryPayload[UsersConstant.voipEvent] != nil {
    if let timeStampString = payload.dictionaryPayload["timestamp"] as? String,
        let opponentsIDsString = payload.dictionaryPayload["opponentsIDs"] as? String {
        let opponentsIDsArray = opponentsIDsString.components(separatedBy: ",")
        if opponentsIDsArray.count

[2020-09-24 09:14] Navya-ios commented on #1211
no, im not getting any notification app was in background only

[2020-09-24 11:05] Navya-ios commented on #1211
Can you please tell me the step by step procedure to work for background call?

[2020-09-24 11:30] riteshpatel0 commented on #1211
@Navya-ios

How many places to call below method,
func pushRegistry(_ registry: PKPushRegistry, didUpdate pushCredentials: PKPushCredentials, for type: PKPushType)

didReceiveIncomingPushWith method is call when your app is in foreground?
if not, then first delete the app the reinstall the app.

[2020-09-24 11:42] Navya-ios commented on #1211
func pushRegistry(_ registry: PKPushRegistry, didUpdate pushCredentials: PKPushCredentials, for type: PKPushType) this is only in one view controller

and
didReceiveIncomingPushWith method is call when your app is in foreground?  this method is not calling in foreground

[2020-09-24 12:00] riteshpatel0 commented on #1211
Please try to delete the app and reinstall the app. then check it. if this method is not called then your notification is blocked by apple due to not reporting incoming call.

[2020-09-24 12:11] Navya-ios commented on #1211
Yes tried but no progress

[2020-09-24 12:29] riteshpatel0 commented on #1211
Can you share your chat related files?

[2020-09-25 08:54] Navya-ios commented on #1211
its for video calling

[2020-09-25 09:19] riteshpatel0 commented on #1211
Yes

[2020-09-25 09:27] Navya-ios commented on #1211
can i have your mail id?

[2020-09-25 11:04] Navya-ios commented on #1211
I am getting this crash log if i call in foreground.
Any idea or suggestion?

2020-09-25 15:53:49.679 rtc::[Signaling Processor] - Did receive signal: call from: 25150912
2020-09-25 15:53:49.700 rtc::[RTCClient] Initializing SSL...
2020-09-25 15:53:49.702 rtc::Create audio track: RTCMediaStreamTrack:
audio
audioTrack
enabled
Live
2020-09-25 15:53:49.702 rtc::[CAPT] Init.
2020-09-25 15:53:49.702 rt

[2020-09-25 13:09] silicus-kirankhalkar commented on #1231
@kirti301290 @shoaibHassanAttech - We have resolved this issue.  Thank you for your inputs and time.

Managing Background Mode properly is the key. Ensure you manage users' Background mode properly, because automatic Chat Alerts for Offline users require that a recipient is explicitly Offline:
follow the following link:
https://docs.quickblox.com/docs/ios-chat#section-chat-in-background

Note- iOS

[2020-09-25 13:09] #1231 closed

[2020-09-28 06:34] maughray commented on #1236
Just add this line of code:
`typealias PermissionBlock = (Bool) -> Void`

[2020-09-28 08:45] Navya-ios commented on #1236
resolved for me thank you

[2020-09-28 08:50] Navya-ios commented on #1236
I am getting this error while receiving call

2020-09-28T08:46:34.036Z error: Invoking client hub method notifyPtScreenShare failed due to: typeMismatch(Swift.String, Swift.DecodingError.Context(codingPath: [_JSONKey(stringValue: "Index 0", intValue: 0)], debugDescription: "Expected to decode String but found a dictionary instead.", underlyingError: nil))
2020-09-28 14:16:35.494 rtc::[Signaling Pr

[2020-09-28 10:17] seshukumarpoluparthi commented on #1226
when call is initiated,while receiving side my app got crashed , i didnt even dubug it where the error is

this the error i got:
Could not cast value of type '__NSDictionaryM' (0x1eb48b050) to 'NSString' (0x1eb493f18)

this is the log:

2020-09-28 15:44:03.999 rtc::[Signaling Processor] - Did receive signal: call from: 25156065
2020-09-28 15:44:04.005 rtc::[RTCClient] Initializing SSL...
2020-09-2

[2020-09-29 15:18] #1212 closed

[2020-10-01 06:50] maughray opened #1239 "RTC Uninitialized when trying to make a call"
- [+] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [+] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

Hi,

When my application enter foreground and immediately try to make a call by calling QBRTCClient.instance().createNewSession, result is nil with error RTC uninitialized. Before that, I am ca

[2020-10-01 09:41] QB-maksym-pidhorbunskyi commented on #1237
Hello @maughray,

Thank you for contacting QuickBlox support.

This issue is known and we will update our documentation as soon as possible.

You can find the code example from unreleased documentation below:

QBRTCAudioSession *audioSession = [QBRTCAudioSession instance];
AVAudioSessionPortOverride audioPort =
sender.selected == NO ? AVAudioSessionPortOverrideSpeaker : AVAudioSessionPortOverrideN

[2020-10-01 09:43] QB-maksym-pidhorbunskyi commented on #1198
Hello @vishalrana-spaceo,

Thank you for contacting QuickBlox support.

Please make sure that you are following QuickBlox iOS documentation regarding Is Typing Status functionality: https://docs.quickblox.com/docs/ios-chat-advanced#is-typing-status

[2020-10-01 09:45] QB-maksym-pidhorbunskyi commented on #1221
Hello @maulik15,

Thank you for contacting QuickBlox support.

Here is the link to QuickBlox iOS documentation regarding Delete Message functionality: https://docs.quickblox.com/docs/ios-chat-advanced#delete-message

[2020-10-01 11:23] maughray commented on #1237
The issue is solved. Thanks.

[2020-10-01 11:23] #1237 closed

[2020-10-05 07:28] shoaibHassanAttech commented on #1237
@QB-maksym-pidhorbunskyi  can you provide a sample code replacement for
`rtcAudioSession.initialize(configurationBlock: nil)`
because new sdk is asking for 'QBRTCAudioSessionConfiguration' type object.

Looking forward to your reply.

[2020-10-05 07:37] maughray commented on #1237
[code]

[2020-10-05 07:38] shoaibHassanAttech commented on #1237
@maughray  thank you.

[2020-10-06 10:16] Navya-ios commented on #1227
same issue

[2020-10-06 19:39] Drumering commented on #1236
I'm having the same problem and the above solution didn't work for me. Any other tip?

[2020-10-07 05:56] #1238 closed

[2020-10-07 11:04] izubairsh opened #1240 "Unsubscribe all subscriptions on logout"
**New Issue Checklist**

 - [1] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [1] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2020-10-07 15:06] Drumering commented on #1236
Hi there!

I got to solve the problem.

I add `typealias PermissionBlock = (Bool) -> Void` before the declaration of the class.

![Screen Shot 2020-10-07 at 11 34 35](https://user-images.githubusercontent.com/34747194/95349383-686c2800-0895-11eb-9842-8b3a3cb7e388.png)

This way the problem has solved.

[2020-10-08 07:11] #1239 closed

[2020-10-08 07:16] RajModi235 commented on #1236
@maughray it's working good so nice

[2020-10-12 13:40] Navya-ios opened #1242 "Taking more time to receive a call"
I am Calling from our web app to iOS mobile app ---

When we initiate the call from web to iOS mobile app, we are getting more delay  when compared to web to web and web to android. It's taking 3 seconds for web and android but coming to web to iOS mobile app call initiation its taking more than 5 seconds to receive the call.

Any solution from anyone

[2020-10-15 11:00] #1242 closed

[2020-10-17 08:47] indraja-paramount opened #1245 "video call get disconnected automatically and gets crashed when video call is recieved from another user."
This is my log

2020-10-16 18:19:25.289484+0530 sample-videochat-webrtc-swift[23410:1129005] Failed to bind EAGLDrawable: <CAEAGLLayer: 0x60000145d860> to GL_RENDERBUFFER 1
2020-10-16 18:19:25.290350+0530 sample-videochat-webrtc-swift[23410:1129005] Failed to make complete framebuffer object 8cd6
2020-10-16 18:19:25.292 rtc::[Signaling Processor] - Did receive signal: iceCandidates from: 123313882

[2020-10-20 02:40] seshukumarpoluparthi opened #1246 "How to implement Live screen sharing while on video call like zoom and skype using ReplayKit in ios"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2020-11-02 12:28] Navya-ios commented on #1211
@riteshpatel0 @ritesh5553 @soulfly @dgem

For voIP notification (for call)
In admin panel, I am able to get success in subscriptions but not i am not able to get in queue and not receiving any incoming call when app is in background.

[2020-11-03 04:26] riteshpatel0 commented on #1211
@Navya-ios

While you are going to subscribe, did you check QBChat service is connected or not?. If QBChat service is not connected then the subscription will not show in the admin panel. and where you are added PKPushRegistryDelegate. if you are not added in appdelegate then VoIP will not work in background and terminate.

[2020-11-03 11:10] Navya-ios commented on #1211
@riteshpatel0

We are disconnecting chat service when app goes to background state so, in that case we are not getting video call in background
And if  we don't disconnect chat service in didEnterBackground we are not getting messages when app is in  background

How to overcome this issue?

[2020-11-03 11:46] riteshpatel0 commented on #1211
@riteshpatel0

Can you share VoIP Call functionality related files?

[2020-11-14 11:27] haarj commented on #1184
The SDWebImage Dependency in the QuickBlox iOS framework is out of date. Currently it supports SDWebImage 4.0.0. The Latest is v5.9.5.

Thank you!

[2020-11-30 10:00] NomanUmar opened #1255 "During the call if move other screen via tap on notification screen how i will show video screen ?"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2020-12-01 06:05] NomanUmar commented on #1255
When i am enter app from background if call running it's fine when i am enter via notification during call , video call view not showing but in background call running but screen not showing

[2020-12-05 18:23] haarj commented on #1184
Hi @QB-vladyslav-vyshniak any news here? Thanks!

[2020-12-23 06:34] MAsifZ opened #1258 "Reject video call in background"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2021-01-04 05:27] seshukumarpoluparthi opened #1261 "Sending chat attachments taking long time(more than 1 min) in QuickBlox ios Swift SDK"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2021-01-07 12:53] NomanUmar opened #1262 "Live app not Sending notification In development works fine also upload production certificate same certificate works in firebase notification"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2021-01-13 12:16] haarj commented on #1184
Hi @QB-vladyslav-vyshniak any update here. Just wondering if and when the latest SDWebImage dependency will be supported in the SDK and the QMChatViewController. Thanks!

https://github.com/SDWebImage/SDWebImage

[2021-01-18 05:54] RashidaBegamShaik commented on #1090
unable to get call when the app is killed... we need a solution in flutter to get call when the app is killed ... please help me with the solution

[2021-01-29 13:34] akshaySwarajya opened #1264 "RTCClient : You have to be logged in in order to use Chat API"
Calling below code to start video call using QuickBlox, But getting 'You have to be logged in in order to use Chat API' error even after calling login API.

` //Authorise user/Create session
    QBRequest.logIn(withUserLogin: userDef.value(forKey: "userID") as! String, password: ConstantObjectFile.quickBloxPassWord, successBlock: { [self] (response, user) in
        print(response)
        print(u

[2021-02-02 13:28] RashidaBegamShaik opened #1265 "handle incoming call in both iOS and android when app in background or terminated in flutter"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2021-02-02 13:32] RashidaBegamShaik commented on #1265
I am getting callSubscription handler trigger when the app is in fore ground... so am showing alert dialogue when I get trigger from

*QB.webrtc.subscribeRTCEvent(QBRTCEventTypes.CALL, (data){
// showing dialogue when app in foreground
}*

its only handling in foreground... but how to handle the UI when the app in background or terminated

Please help me with code to handle... I have to give relea

[2021-02-03 09:21] seshukumarpoluparthi opened #1266 "making outgoing video call app got crashed"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2021-02-04 13:24] maughray opened #1267 "Message 'dateSent' property does not keep milliseconds"
- [+] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [+] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Expected behavior**
Messages keep timestamp property in milliseconds

**Actual behavior**
Messages timestamp (dateSent property) is rounded by seconds.

I want to save messages in BD so i can

[2021-02-04 13:28] maughray commented on #1258
If call is rejected by CallKit, you can actually save the rejected call uuid and when `didReceiveNewSession` is called you can verify is call has been rejected already

[2021-02-09 10:47] asadali737 opened #1268 "totalEntries in QBResponsePage is zero for public group messages request"
**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------------------------|
iOS Version                    | 14.2                                    |
Quickblox iOS SDK version      | 2.17.5                                  |
QuickbloxWebRTC SDK version    | 2.7.4

[2021-02-09 16:31] asadali737 opened #1269 "Is there anyway to add reactions to QBChatMessage?"
I wonder if there's anyway to add reactions to `QBChatMessage` object and everybody in public/private group get it?

[2021-02-17 13:46] Rabi-tech opened #1270 "How to disable call kit feature for china"
**New Issue Checklist**

Apple reject my app while review the app due to call kit using in the app. Apple suggest to me disable the callkit feature for china region,
could you help me how to do this ?

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and fo

[2021-03-04 13:18] maughray commented on #1266
I have the same issue. It seems like starting video capture causes this crash, but I can't understand why.
`videoCapture?.startSession() // main thread violation crash`

[2021-03-17 15:11] maughray commented on #1266
Finally found a solution. In my case, application got crash because I was trying to start video capture, but there was no active QBRTCSession.

[2021-03-23 15:00] maughray opened #1271 "How to send silent push notifications?"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

QBMEvent and QBMPushMessage simply are not sent if "content-available" parameter is present. Is there a way to send silent notifications to some user?

Thanks

[2021-04-06 12:07] Ahmadpashaquarterpi commented on #706
Is it possible to change the Group Owner now?

[2021-04-10 12:38] likil33 opened #1277 "How to get Group Dialog with using group id. I have Group ID, I need to add new user to admin created group."
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2021-04-10 12:46] likil33 commented on #1277
Please Help me this issues  (using swift language: iOS)

[2021-04-19 18:55] ademozsayin opened #1278 "Unable to find matching .xcframework slice inPods/QuickBlox/Framework/Quickblox.xcframework Quickblox framework ios-x86_64-simulator ios-arm64' for the current build architectures (arm64 armv7)."
I have installed Quickblox via pod and it works very well. When it comes to upload my app test flight it says "Unable to find matching .xcframework slice inPods/QuickBlox/Framework/Quickblox.xcframework Quickblox framework ios-x86_64-simulator ios-arm64' for the current build architectures (arm64 armv7)."

my cocoapod version is cocoapods-1.10.1 and pods for quickblox are
    pod 'QuickBlox', '~>

[2021-04-19 20:41] ademozsayin commented on #1270
You can do it in AppStore Connect. Go to Availability and deselect it.

[2021-04-20 09:00] #1278 closed

[2021-04-30 12:23] aju10 opened #1279 "response [QBResponse], status: 201 after sending message"
after sending message got this response [QBResponse], status: 201,
and notification not send to next user
Please help me out to solve this

[2021-05-11 17:33] stephanoparaskeva opened #1280 "QuickBlox community Slack"
Here is the invite link:
https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

quickbloxcommunity.community.slack

@muteKey @Forsarion @soulfly

[2021-05-11 17:45] stephanoparaskeva commented on #1266
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-14 12:38] aju10 commented on #1279
@stephanoparaskeva Thanks, just join the QB Community on slack

[2021-05-20 12:35] jeetrajput01 opened #1281 "Too many occupants for Private Dialog."
ERROR occur while creating private chat dialog
  Optional(
   Error reasons:{
    errors =     (
        "Too many occupants for Private Dialog."
    );
})
I found this is an error from QBResponse.

[2021-05-21 06:35] waqarYasin commented on #1097
I have been trying this issue but same response when i start recording it only records my voice but don't record other side voice
but i am facing this issue in android 10 ..

[2021-07-05 11:55] maughray opened #1282 "Wrong audio output on call"
- [+] I have read the [Documentation](https://quickblox.com/developers/IOS)
- [+] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

When AirPods or EarPods are connected, it works great, but when connecting other wireless headphones (in my case is Beats) then built-in speaker is used instead.
Accessing `AVFoundation.sharedIn

[2021-07-05 11:57] maughray commented on #1210
I also have the same issue

[2021-07-05 12:46] maughray opened #1283 "Activating audio session config changes audio output from headphones to receiver"
**New Issue Checklist**

 - [+] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [+] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

Before call, audio output is selected as headphones, but when activating below config it is set to recever. How to continue use headphones for call?

[code]

[2021-07-05 12:58] maughray opened #1284 "Audio mode and category issues"
**New Issue Checklist**

 - [YES] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [YES] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

[code]

In the code above you can see that setting audio category or mode does not affect audio output.
How can I set manually which audio output to use?

Thanks

[2021-07-07 14:01] remotelxszk opened #1285 "Could not build Objective-C module 'Quickblox'"
When I try to import Quickblox inside AppDelegate after installing it with Cocoapods (pod 'Quickblox'), I get this error:
`'QuickBlox/QBAddressBookContact.h' file not found`
I've tried deleting Derrived Data, Clearing pods cache, deleting all pods and reinstalling it.

[2021-07-07 14:22] remotelxszk commented on #1285
I fixed it by replacing in every header file
`#import<QuickBlox`
with
`#import<Quickblox`

[2021-07-25 16:27] tarikhs opened #1286 "Differentiate bw calling and ringing"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2021-07-31 12:45] traditionalistic opened #1287 "Call Rejection if app is terminated via CallKit"
So the issue is this: I am unable to reject call if app is terminated. If the app is in foreground/background it works fine, since the app is able to get the call session, so what i do is simply set the "rejected" flag and just wait for session with correct id. Is there any way to reject call in terminated state?

Edit: I revealed that if I'm waiting long enough before pressing "end call" button i

[2021-08-03 12:55] traditionalistic commented on #1287
I've found the answer: using UIApplication beginBackgroundTask solved the problem.

[2021-08-03 12:55] #1287 closed

[2021-08-06 17:09] stensmir commented on #1264
Need call QBChat.instance.connect... after QBRequest.logIn and before create new session

[2021-08-18 13:16] QB-nikolay-zolotarov commented on #1286
Hello Tariq,

This is Nikolay from QuickBlox support.

Please check the following method:
onCallListener - A new call session has been received.

Please refer to the Event Listener section in the documentation:
https://docs.quickblox.com/docs/js-video-calling#event-listener

Also, please be notified that the handling of VoIP notifications in the background/non-running state isn't part of QuickBlox

[2021-09-01 08:42] OmarNoppe opened #1291 "Swift Package Manager"
Are there any plans to support the Swift Package Manager for installing the Quickblox SDK?

[2021-09-01 13:15] QB-nikolay-zolotarov commented on #1291
Hello Omar,

This is Nikolay from QuickBlox support.

The point with Swift Package Manager support is absent in the roadmap for this year.

You may check [the iOS SDK repository](https://github.com/QuickBlox/quickblox-ios-sdk) for updates.

[2021-09-29 05:18] jatinderarora90 opened #1294 "Message Chat not working in Different region"
After implementing chat, its working in India but not in Australia..

[2021-09-29 14:30] QB-nikolay-zolotarov commented on #1294
Hello @jatinderarora90 ,

This is Nikolay from QuickBlox support.

There are no complaints from other customers from Australia.

In order to investigate the issue, please provide me with the following information:
1. Please specify what exactly is not working.
2. Are there any error messages? Please provide me with full REST + XMPP logs as an attachment in .txt format.
You can find out how to gath

[2021-09-30 14:58] #1157 closed

[2021-09-30 14:58] #1162 closed

[2021-09-30 15:09] QB-nikolay-zolotarov commented on #1157
This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

If it is still relevant, feel free to open a new issue.

Have a nice day.

[2021-09-30 15:09] QB-nikolay-zolotarov commented on #1162
This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

If it is still relevant, feel free to open a new issue.

Have a nice day.

[2021-09-30 15:49] QB-nikolay-zolotarov commented on #1157
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/ios-chat-messaging#mark-message-as-read](https://docs.quickblox.com/docs/ios-chat-messaging#mark-message-as-read)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/q

[2021-09-30 15:54] QB-nikolay-zolotarov commented on #1162
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/ios-chat-messaging#send-message-with-attachment](https://docs.quickblox.com/docs/ios-chat-messaging#send-message-with-attachment)

Also, please update the SDK to the latest version:
[https://github

[2021-10-01 10:54] pooja1bhatia opened #1295 "Sending message in deleted dialog creates and new dialog"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2021-10-04 12:57] maughray commented on #1207
You should firstly create message via `QBRequest.createMessage` and then send it. This method will also attach an identifier for this message

[2021-10-06 09:16] QB-vladyslav-vyshniak commented on #1295
Hello Pooja.

Thank you for contacting QuickBlox Customer Support department.

In order to start the investigation of the reported case QuickBlox Development team needs the following points.

1. Could you try to reproduce the reported behavior using a clear QuickBlox IOS Chat sample URL: https://docs.quickblox.com/docs/ios-quick-start#chat-samples and let us know about a result there.
2. Collect t

[2021-10-06 09:27] QB-vladyslav-vyshniak commented on #1285
Hello Dominik.

Thank you for contacting QuickBlox Customer Support department.

Glad that the reported case has been successfully resolved on your side and is no longer relevant.
The status of the ticket changed to "Closed" for now.

Have a good day.

[2021-10-06 09:27] #1285 closed

[2021-11-01 12:21] maughray opened #1297 "[BUG] lastMsgText remains even if message is deleted"
- [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Bug description**
If all messages from a dialog are removed (even for all users), _lastMsgText_ property of _**Dialog**_ model contains last message anyway, even if it does not exist anymore.

[2021-11-03 10:36] QB-nikolay-zolotarov commented on #1184
@haarj
You can use our [official SDKs](https://docs.quickblox.com/docs) and [samples](https://docs.quickblox.com/docs/code-samples).

You may also be interested in our [UI Kit](https://quickblox.com/ui-kit/).

[2021-11-03 11:50] QB-nikolay-zolotarov commented on #1297
@maughray Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is reproduced on the latest version of the QuickBlox iOS SDK (2.17.10):
https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.17.10

Also, please provide me with the following information:
- Versions of the iOS platform where the issue is reproduced (e.g. iOS 13).
- iPhone models (e.g. iPhone 12 Pro)

[2021-11-04 09:45] maughray commented on #1297
This is a server-side issue. I don't think that iOS version or iPhone models matter.

[2021-11-07 18:25] rami965 opened #1298 "[Crash] threading violation: expected the main thread"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2021-11-08 08:03] maughray commented on #1298
I have the same issue. `cameraCapture.startSession()` is crashing even on the main thread

[2021-11-08 19:44] BCSingh opened #1299 "500 Internal server error on Login"
**New Issue Checklist**

 - [ Yes] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [Yes ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------

[2021-11-08 21:19] rami965 commented on #1298
Yes, I noticed the same thing. Here is the steps to reproduce:
- Run the sample from Xcode on a device (I'm using iPhone 7 (14.6)) and signup/login with any user.
- Start video call from another user to the user logged in from the previous step.
- While the video call is running stop the debugging from Xcode and run the sample again.
- Start a new video call with same steps.

Expected behavior
The

[2021-11-10 10:36] QB-nikolay-zolotarov commented on #1299
Hello @BCSingh ,

This is Nikolay from QuickBlox support.

The password should be at least 8 characters.

Please try using another password and let me know if the issue is resolved.

If the issue persists, please provide me with the following points:
1. When did this issue happen? Did the issue happen before or after implementing recent changes into your code?
2. Is this issue intermittent or perm

[2021-11-10 12:18] QB-nikolay-zolotarov commented on #1299
@BCSingh According to my check, there were temporary issues.

The issues should be resolved.

Please try reproducing it and let me know if everything works as expected.

[2021-11-13 10:34] OmarNoppe commented on #1298
+1 I have the same issue.

[2021-11-16 14:48] QB-liubov-shmatok commented on #1298
@rami965 @OmarNoppe @maughray Hello,
We have created an internal ticket  assigned to our developers' team regarding the issue and will notify you as soon as we have any updates.

[2021-11-29 09:01] OmarNoppe commented on #1298
@QB-liubov-shmatok  Any update?

[2021-12-01 17:01] QB-liubov-shmatok commented on #1298
@rami965 @OmarNoppe @maughray Hello,

We have checked the issue with our iOS Team and these steps can help to resolve the issue :

The bug relates to specific iOS version and does not require changes in iOS SDK.
Also the bug is not reproduced on a new Obj-c sample that will be released soon.

In order to resolve the issue we suggest to do the following before cameraCapture startSession:

    1. Ch

[2021-12-01 18:59] JokerMZD commented on #1298
Doesn't work for me even with the code sample above. It crashes if connected to Xcode

[2021-12-05 11:31] rami965 commented on #1298
@QB-liubov-shmatok Doesn't work for me either with provided steps.

[2021-12-07 14:40] QB-nikolay-zolotarov commented on #1181
@Rushang007 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:40] #1181 closed

[2021-12-07 14:40] QB-nikolay-zolotarov commented on #1183
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:40] #1183 closed

[2021-12-07 14:41] QB-nikolay-zolotarov commented on #1185
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:41] #1185 closed

[2021-12-07 14:41] QB-nikolay-zolotarov commented on #1193
@KiranPatelSpaceo The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:41] #1193 closed

[2021-12-07 14:41] QB-nikolay-zolotarov commented on #1194
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:41] #1194 closed

[2021-12-07 14:42] QB-nikolay-zolotarov commented on #1196
@devgeektech The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:42] #1196 closed

[2021-12-07 14:42] #1198 closed

[2021-12-07 14:43] QB-nikolay-zolotarov commented on #1199
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:43] #1199 closed

[2021-12-07 14:43] QB-nikolay-zolotarov commented on #1201
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:44] QB-nikolay-zolotarov commented on #1202
@Shruti2208 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:44] #1202 closed

[2021-12-07 14:46] QB-nikolay-zolotarov commented on #1209
@Muhammad7861 @Awais987 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:46] #1209 closed

[2021-12-07 14:46] QB-nikolay-zolotarov commented on #1210
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:46] #1210 closed

[2021-12-07 14:48] QB-nikolay-zolotarov commented on #1255
@NomanUmar The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:48] #1255 closed

[2021-12-07 14:49] QB-nikolay-zolotarov commented on #1245
@indraja-paramount The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:49] #1245 closed

[2021-12-07 14:49] QB-nikolay-zolotarov commented on #1235
@vanywhere The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:49] #1235 closed

[2021-12-07 14:49] QB-nikolay-zolotarov commented on #1230
@shoaibhassan1 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:49] #1230 closed

[2021-12-07 14:50] QB-nikolay-zolotarov commented on #1228
@shoaibhassan1 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:50] #1228 closed

[2021-12-07 14:50] QB-nikolay-zolotarov commented on #1227
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:50] #1227 closed

[2021-12-07 14:50] QB-nikolay-zolotarov commented on #1226
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:50] #1226 closed

[2021-12-07 14:51] QB-nikolay-zolotarov commented on #1224
@indraja-iOS The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:51] #1224 closed

[2021-12-07 14:51] QB-nikolay-zolotarov commented on #1219
@chandaboy786 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:51] #1219 closed

[2021-12-07 14:51] QB-nikolay-zolotarov commented on #1216
@shoaibhassan1 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:51] #1216 closed

[2021-12-07 14:51] QB-nikolay-zolotarov commented on #1214
@Awais987 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:51] #1214 closed

[2021-12-07 14:52] QB-nikolay-zolotarov commented on #1213
@shoaibhassan1 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:52] #1213 closed

[2021-12-07 14:54] QB-nikolay-zolotarov commented on #1295
@pooja1bhatia The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:54] #1295 closed

[2021-12-07 14:54] QB-nikolay-zolotarov commented on #1294
@jatinderarora90 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:54] #1294 closed

[2021-12-07 14:55] QB-nikolay-zolotarov commented on #1283
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:55] #1283 closed

[2021-12-07 14:56] QB-nikolay-zolotarov commented on #1281
@jeetrajput01 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:56] #1281 closed

[2021-12-07 14:57] QB-nikolay-zolotarov commented on #1279
@aju10 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:57] #1279 closed

[2021-12-07 14:57] QB-nikolay-zolotarov commented on #1277
@likil33 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:57] #1277 closed

[2021-12-07 14:59] QB-nikolay-zolotarov commented on #1266
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:59] #1266 closed

[2021-12-07 14:59] QB-nikolay-zolotarov commented on #1268
@asadali737 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:59] #1268 closed

[2021-12-08 13:14] QB-nikolay-zolotarov commented on #1271
@maughray Hello,

This is Nikolay from QuickBlox support.

We don’t have the feature of sending silent push notifications at this moment as well as information about it in the documentation.

According to feedback from our developers, we are going to implement this functionality as a core feature. However, there is no ETA due to other scheduled tasks.

[2021-12-10 09:39] QB-liubov-shmatok commented on #1298
Please try to check the following steps in order to proceed with the issue investigation :
- make sure that you implemented the code provided before cameraCapture startSession
- provide us with the modified code with the changes implemented
- please provide us with the full logs of the error you get

[2021-12-16 14:50] akshaypatil5634 opened #1302 "NSInternalInconsistencyException', reason: 'Killing app because it never posted an incoming call to the system after receiving a PushKit VoIP push.' terminating with uncaught exception of type NSException"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Killing app because it never posted an incoming call to the system after receiving a PushKit VoIP push.'

App crashing in pushRegistry(_ registry: PKPushRegistry,
                      didReceiveIncomingPushWith payload: PKPushPayload,
                      for type: PKPushType,
                      completion:

[2021-12-20 04:20] RuchiMakadia commented on #1206
same issue video calling not work in background in swift

[2021-12-22 10:09] QB-nikolay-zolotarov commented on #1206
@RuchiMakadia Hello,

Please check our new swift sample where the background call functionality is reworked and described in more detail:
[
https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc-swift](
https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc-swift)

[2021-12-22 15:25] QB-liubov-shmatok commented on #1302
Hello Akshay,

Please, be notified, that the handling of VOIP notifications in the background/non-running state isn't part of QuickBlox IOS SDK's and the implementation of that functionality is up to the client-side.

To use Apple CallKit with VOIP notifications please refer to our documentation:
https://docs.quickblox.com/docs/ios-video-calling-advanced#apple-callkit-using-voip-push-notifications

[2021-12-27 07:12] pradip-thummar-sttl opened #1303 "You have to be connected to Chat in order to use Chat API."
hi Dear,

we have implement chat functionality but all SDK Api error send "You have to be connected to Chat in order to use Chat API."

please help me for this problem.

[2021-12-29 10:51] QB-nikolay-zolotarov commented on #1303
@pradip-thummar-sttl Hello,

This is Nikolay from QuickBlox support.

Please double-check our documentation regarding authentication:
[https://docs.quickblox.com/docs/ios-authentication](https://docs.quickblox.com/docs/ios-authentication)

Also, please make sure that the user is connected to chat:
[https://docs.quickblox.com/docs/ios-chat-connection](https://docs.quickblox.com/docs/ios-chat-connec

[2022-01-14 09:36] Borisss opened #1304 "QuickBlox not compilable on case-sensitive drives"
Due to mismatch of cases in imports and paths in framework directories/files (Quickblox vs QuickBlox on multiple places) pod is not compilable on APFS (case-sensitive) drives.

Experienced in Xcode 12.5.1, iOS 14.0, QuickBlox 2.17.10 but it shouldn't matter. This should probably be fixed as it's a simple rename for all
`#import <QuickBlox/` to `#import<Quickblox/` and is in general a good practice

[2022-01-18 12:25] QB-nikolay-zolotarov commented on #1304
@Borisss Hello, This is Nikolay from QuickBlox support.
We have forwarded this information to our developers. Once there is any news, we will let you know.

[2022-01-26 12:52] maughray opened #1306 "Unsubscribe from remote notifications"
- [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

I have an unusual problem with remote notifications. Consider the next situation:
1. Log in and subscribe to remote notifications via `QBRequest.createSubscription`
2. Close application and set

[2022-01-31 00:38] codingrhythm opened #1307 "Apple silicon support?"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2022-02-02 09:31] QB-nikolay-zolotarov commented on #1307
@codingrhythm Hello,

This is Nikolay from QuickBlox support.

We will refactor the samples in the future.

At this moment to correctly launch samples in the iOS simulator, you need to update the pod file like in the next snippet:
[code]

And reinstall the pods.

Podfile example (update pod file for the chat sample swift):
[code]

[2022-02-02 09:39] QB-nikolay-zolotarov commented on #1304
@Borisss
Thank you for reporting this.
However, according to our developers, it is a standard.
This is how #import is written by default when creating a project.

[2022-02-02 10:14] codingrhythm commented on #1307
@QB-nikolay-zolotarov Thanks for your reply. Correct me if I am wrong, this change you suggested was to exclude arm64 from iOS simulator build, but we actually need it for building on M1 machine. What we need is to include the arm64 slice (for simulator) as part of the prebuilt xcframework. Instead of `ios-x86_64-simulator/Quickblox.framework`, we will have `ios-arm64_x86_64-simulator/Quickblox.fr

[2022-02-02 10:28] QB-nikolay-zolotarov commented on #1307
@codingrhythm Thank you for your reply. Yes, you are right. We will add support of arm64 in the next release.
I will update you.