[2017-07-11 22:46] shalem93 commented on #824
I have a similar issue where remote view works about 50%. What was the problem with your storyboard? @developerwr1

[2017-07-12 00:14] shalem93 opened #832 "Not allowing user to accept Call (not being received appropriately)"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-ios-sdk/issues)*

**Environment details**
*iOS version, Quickblox iOS SDK version, QuickbloxWebRTC SDK version (optional)*
iOS 10+ , QBRTC 2.6.1, QB 2.9.2

**Did this work before?**
50 percent of the time

**Expected behavior**
User calls, other user receives call and accepts

**Actual behavior**
Us

[2017-07-12 22:49] shalem93 opened #833 "Push Notifications being Backlogged"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-ios-sdk/issues)*

**Environment details**
*iOS version, Quickblox iOS SDK version, QuickbloxWebRTC SDK version (optional)*
iOS 10, Qb 2.9.2, RTC 2.6.1

**Did this work before?**
No

**Expected behavior**
Push notifications fire at time of event

**Actual behavior**
Push notifications getting caught

[2017-07-14 07:04] Nik20112 opened #834 "Error: Can't retrieve users from any way"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-ios-sdk/issues)*

**Environment details**
*iOS version, Quickblox iOS SDK version, QuickbloxWebRTC SDK version (optional)*
iOS Version: 10.3
pod 'Quickblox-WebRTC', '~> 2.6'
pod 'QuickBlox'

**Did this work before?**
No. I am working on Swift 3 I have successfully sign up and login with QuickBlox. I

[2017-07-14 12:43] Nik20112 opened #835 "Error: Success or Failure block is not called"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-ios-sdk/issues)*

**Environment details**
*iOS version, Quickblox iOS SDK version, QuickbloxWebRTC SDK version (optional)*
iOS Version: 10.3
pod 'Quickblox-WebRTC', '~> 2.6'
pod 'QuickBlox'

**Did this work before?**
No. I m working swift 3 and calling the below methods but can't go inside success o

[2017-07-16 18:52] shalem93 commented on #824
@developerwr1  ???

[2017-07-18 14:00] adil-appifytech commented on #483
@Raikerian - Please update your code sample because of following reasons.

1. It's not according to latest version of swift
2. categoryOptions is read only property now!

[2017-07-18 14:03] Raikerian commented on #483
@adil-appifytech we should definitely rework swift section for our webrtc doc in a near future, but right now I don't have access to the latest swift webrtc example. Perhaps you can post code snippets that are working here for now?

[2017-07-18 14:20] adil-appifytech commented on #483
@Raikerian - Actually I am getting error - if you could help me fix that.

<img width="1268" alt="screen shot 2017-07-18 at 7 19 06 pm" src="https://user-images.githubusercontent.com/10629648/28321932-0d4b32c8-6bee-11e7-93c7-91984f3c4250.png">

[2017-07-18 14:22] Raikerian commented on #483
Yeah, swift 3 doesn't have binary operation anymore. Should probably be changed to something like this:
`configuration.categoryOptions = configuration.categoryOptions | .allowBluetooth`

[2017-07-18 14:25] adil-appifytech commented on #483
@Raikerian - Not working :(

[2017-07-18 14:28] Raikerian commented on #483
What does it say?

[2017-07-18 14:30] adil-appifytech commented on #483
@Raikerian - Same error

[2017-07-18 14:34] Raikerian commented on #483
My suggested code doesn't contain '|=' operand. Are you sure the error is the same.

[2017-07-18 14:56] adil-appifytech commented on #483
@Raikerian - Please check the image. And can you show me how it's done on Android?

<img width="1647" alt="screen shot 2017-07-18 at 7 55 00 pm" src="https://user-images.githubusercontent.com/10629648/28323747-1b3a7f42-6bf3-11e7-8938-1177e4542620.png">

[2017-07-19 08:07] Raikerian commented on #483
then just go for:
`configuration.categoryOptions = [.duckOthers, .allowBluetooth, .allowBluetoothA2DP, .allowAirPlay]` as the default enum usage in swift. categoryOptions is not readonly.

[2017-07-19 16:49] keithslater commented on #830
It looks like it's because of this line QuickBlox vs Quickblox

https://github.com/QuickBlox/push-sender-tools/blob/master/ios/Quickblox.framework/Headers/QBPushNotificationsHeader.h#L17

[2017-07-20 07:31] adil-appifytech opened #836 "App Crash When Call is Received"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-ios-sdk/issues)*

**Environment details**
Quickblox-WebRTC => 2.4.2
QuickBlox => 2.9.2

**Did this work before?**
Not Sure

**Expected behavior**
- App should not crash

**Actual behavior**
- A user is logged in on multiple locations and you receive a call. It crash the app

**Logs**
https://gist.gi

[2017-07-20 07:39] Raikerian commented on #836
Hi,

Please attach full logs. Also, you are using quite an old version of QBWebRTC, if there is a possibility for you, we recommend to update it to the latest one.

[2017-07-20 07:48] adil-appifytech commented on #483
Now there is a new issue. It seems BluetoothA2DP and AirPlay have conflict with iOS frameworks.

<img width="1232" alt="screen shot 2017-07-20 at 12 46 49 pm" src="https://user-images.githubusercontent.com/10629648/28406352-993000fa-6d49-11e7-8e4f-ca3276f4b4f9.png">

[2017-07-20 07:58] Raikerian commented on #483
Just add checks for the target being iOS 10 and higher or don't use these parameters at all. I suggest you read what do they mean: https://developer.apple.com/documentation/avfoundation/avaudiosessioncategoryoptions

[2017-07-20 11:06] adil-appifytech commented on #836
@Raikerian - Can you check why this assertion may fail?

[code]

[2017-07-20 11:08] Raikerian commented on #836
Well, it says for itself, you don't have an offer but already got remote SDP. I need to see logs in order to show you what's wrong.

[2017-07-20 11:56] sv-dev2 commented on #569
HI
I implement the video calling. Sound is come and remotevideoTrack delegate is also called but video is not coming i do all the possible things but nothing is worked. I all changes for video showing but cant work. So anybody please help me to solve this issue.
Here is my code for showing the video track in a view.

- (void)session:(QBRTCSession *)session receivedRemoteVideoTrack:(QBRTCVideoTrack

[2017-07-20 11:57] Raikerian commented on #569
Hi @sv-dev2

Please create a separate issue and attach as many info as possible.

[2017-07-20 12:00] sv-dev2 commented on #569
Here is my class, can you please check what i missing here?

[2017-07-20 12:13] sv-dev2 opened #837 "Using Quickblox-> Video Not Received!"
Hi

I am using quickblox (iOS Objective-C) to make video calls. I stuck in an issue, the issue is that - when i call the other user sound is coming perfectly but video is not coming. The delegate or function (receivedRemoteVideoTrack) is calling and i set the video track on my view but nothing is happend and video is not coming. I do the all stuff and make all possible changes but i cant solved my

[2017-07-20 14:55] Raikerian commented on #832
Hi,

Is this issue in our sample or not?
If you are receiving signaling in logs, check whether you are subscribed to QBRTCClientDelegate in order to receive such updates in code.

[2017-07-20 14:58] Raikerian commented on #831
Hi,

Referenced issue was fixed long ago (just update your framework). I don't really understand this part:

Perhaps any screenshots? Also, checkout our video sample in current repository, is the issue persistent there?

[2017-07-20 15:04] Raikerian commented on #830
Hi,

Seems like that line indeed has B as an upper case. But for some reason, it is working in our projects. It will be fixed in our next release, for now, can you fix 1 letter on your own, will it work for you?

[2017-07-20 15:06] #829 closed

[2017-07-20 15:07] Raikerian commented on #826
Like I said before, there is no call at all in logs (no messages received) on the receiver side. Make sure you are indeed calling the user and that you are connected to chat there.

[2017-07-20 15:08] Raikerian commented on #828
Any update on this?

[2017-07-20 15:11] #811 closed

[2017-07-20 15:12] Raikerian commented on #819
Hi,

The case you have described is possible to do by using our Enterprise-only feature: https://quickblox.com/developers/EnterpriseFeatures#Conference_video_calls

It's not really possible with just p2p calls without the server (at least for now).

[2017-07-20 15:12] #819 closed

[2017-07-20 15:12] #822 closed

[2017-07-20 15:13] Raikerian commented on #823
Hi,

Will be fixed in the next release.

[2017-07-20 15:16] Raikerian commented on #823
My bad, it appears this is not SDK bug but our QMServices feature. By design QMServices UID in order to get all information by it. It will not be changed on our side but you are always welcome to fork and make the changes you want to. Crash on android should be sent here: https://github.com/QuickBlox/quickblox-android-sdk

[2017-07-20 15:17] Raikerian commented on #808
Any updates on this? Can we close this issue?

[2017-07-20 15:18] Raikerian commented on #796
If you are still having new issues make a new issue with full logs attached.

[2017-07-20 15:18] #796 closed

[2017-07-20 15:19] Raikerian commented on #643
Marking as fixed and closing. If you are still having troubles with this, please let us know by creating a new issue with reference.

[2017-07-20 15:19] #643 closed

[2017-07-20 15:21] Raikerian commented on #834
Hi,

Please set log level Debug and post full logs for this.

[2017-07-20 15:23] Raikerian commented on #835
Hi,

Please attach full logs from app start till problem occurs.

[2017-07-20 15:28] Raikerian commented on #833
Hi,

It might be a server-side issue or any other. This is iOS repository. Please contact our support as you are pro-tier user: https://assist.quickblox.com/index.php?/Tickets/Submit

[2017-07-20 15:28] #833 closed

[2017-07-20 15:39] keithslater commented on #830
Yes, I fixed it for myself. Just wanted to let you guys know so you can fix it in the project. I believe the reason it doesn't work for me is because my code is on a case sensitive partition.

[2017-07-20 17:02] shalem93 commented on #831
Hi I'm using RTC 2.6.1 . It's not fixed, when I rotate the camera rotates. I want it to hold still on the remote view when user rotates the camera. How do I do this?

[2017-07-21 05:29] adil-appifytech commented on #836
Sorry for my lake of knowledge about webrtc. But what's an offer and remote SDP?

[2017-07-21 07:01] jwzhuang opened #838 "How accept video/audio call at one of the devices"
iOS version: 10.3.2
Quickblox version:2.9.2
QuickbloxWebRTC version:2.6.1

Three devices A, B and C. Device A and B login with same user1(id:29508308), device C login with user2(id:29508315).
When user2 call user1, device A and B can receive new session. then device A accept call, device B received remote ICE candidates, but no delegate call back.Until device B answer time out.

How let device B k

[2017-07-21 07:53] Raikerian commented on #830
Glad to hear it worked, thank you for your report, will be available public next release.

[2017-07-21 07:54] Raikerian commented on #831
Do you mean you want to block orientation change? Then you should look into this https://stackoverflow.com/questions/11785565/how-can-i-disable-landscape-orientation

Camera will be always rotated if application supports such orientation.

[2017-07-21 07:58] Raikerian commented on #836
It's a protocol to exchange options between clients (SDP). One can be an offer, another one is the answer. Here is detailed paper on this: https://tools.ietf.org/html/rfc3264

You can also learn about basic webrtc terminology here: https://www.w3.org/TR/webrtc/#terminology

[2017-07-22 15:12] chaymaeBZ opened #839 "can't remove privacy list"
I am trying to build the block users feature using privacy lists.
I already created a privacy list with name “public”. When I try to remove it I get an error that says ‘Can not modify list while being in use by other session’ . I tried to create another temporary list named “tmp” and set it to default so that the “public” list can be removed. here is the code that I used :
[code]

[code]

Then I h

[2017-07-22 18:31] ZeshanIlyas opened #840 "iOS Swift group message is not sent live. Group chat not working"
*1 to 1 chat is working but group chat is not working *

created a group dialogue

[code]

But when I send the chat message it does not received live for any occupants in either of these methods

[code]

[2017-07-22 19:11] ZeshanIlyas commented on #840
@Raikerian Please check this

[2017-07-24 09:02] aliasad106 commented on #840
No reply on this from anyone ?

[2017-07-24 09:29] Raikerian commented on #840
Hi @ZeshanIlyas , @aliasad106

Not really sure what do you want us to check here. I have just tested our swift sample in current repository and everything is working fine in both group and 1on1 chats.
Please check that sample and if you are still having issues attach full logs (use gist.github.com to post logs).

[2017-07-24 10:10] chaymaeBZ commented on #839
@Raikerian please can you check this ? I've been trying with this for a very long time ...

[2017-07-24 10:11] aliasad106 commented on #840
@Raikerian for me the group dialog is being created perfectly and it's also available with all occupants in the admin panel on the QB admin panel. But I'm not receiving message. It seems I'm missing some configuration for group chat in the Admin panel. could this be the reason apart from that I've followed the tutorial and sample chat for making this.

[2017-07-24 10:18] aliasad106 commented on #840
@Raikerian As far as I know This method should be called Since I'm an occupant in that dialgue.
**- (void)chatRoomDidReceiveMessage:(QBChatMessage *)message fromDialogID:(NSString *)dialogID**
_** But it is not called at all**_
Event the messages do load when I go back and come back to that dialogue. But the messages do not get received live.

[2017-07-24 10:33] Raikerian commented on #840
Check whether you are joined to that dialog by calling `isJoined` method:
[code]

[2017-07-24 10:40] Raikerian commented on #839
Hi,

Make sure that you have logged in with that user on 1 device. If you have multiple active sessions with 1 user, you should deactivate privacy list that you want to delete in every active session.
Otherwise, if this is not the case, please provide full logs where we can see creating the list, activating and attempt of deleting it (user gist.github.com for attaching logs).

[2017-07-24 10:48] aliasad106 commented on #840
isJoined() is returning false.

[2017-07-24 10:54] Raikerian commented on #840
That's the issue, you need to join to group dialog first. Are you using our sample or any other custom implementation?
Use this method to join group dialogs:
https://github.com/QuickBlox/quickblox-ios-sdk/blob/master/Framework/Quickblox.framework/Headers/QBChatDialog.h#L220-L225

[2017-07-24 10:58] aliasad106 commented on #840
@Raikerian the sample chat does not call this method anywhere but the groups is joined already. This group is not a public group in fact it's just a group created with predefined occupants.

[2017-07-24 11:01] Raikerian commented on #840
You need to join any chat dialog that is a group (both group and public group). And sample chat calling this method for every group chat (the actual code is in QMServices): https://github.com/QuickBlox/q-municate-services-ios/blob/master/QMManagers/QMServicesManager.m#L178-L219

[2017-07-24 11:08] chaymaeBZ commented on #839
@Raikerian here are the full logs ( link to gist file ) :

https://gist.github.com/chaymaeBZ/768878edc749775f7d222fec1b4c483a

[2017-07-24 11:11] aliasad106 commented on #840
This is crazy. It's missing in the documentation. It took plenty of hours. Anyways thanks

[2017-07-24 11:20] Raikerian commented on #840
It's in the documentation, please take a read here: https://quickblox.com/developers/SimpleSample-chat_users-ios#Chat_in_group_dialog
:)

[2017-07-24 11:50] aliasad106 commented on #840
Wow. Sorry :( My Bad. I was searching the group creation code. I thought that should be in that. But also the messages were being retrieved except the live one this also made me confused that it could be internal issue.

[2017-07-24 13:13] Raikerian commented on #840
Messages retrieval functions are REST-based. They are performed using QBRequest class. QBChat is the whole different thing and is responsible for live-time chat updates. You can read more if you want on how this is working here (not required obviously, just additional information on system): https://quickblox.com/developers/Overview

If you will still have any questions hit us up with a new issue

[2017-07-24 13:13] #840 closed

[2017-07-24 13:51] Raikerian commented on #839
According to log:
[code]

Line = action:
1. You did set "tmp" list.
2. You did set "tmp" as default.
3. You did set "tmp" as active.
4. Received success result.
5. You did set "public" list.

The issue is in the action 5, you are setting "public" list and then trying to remove it. Check your code.
You can see our guidelines here: https://quickblox.com/developers/SimpleSample-chat_users-ios#Privacy

[2017-07-24 13:54] Raikerian commented on #838
Hi,

So, the issue is related to 1 user being logged in on multiple devices and receiving a call, right?

[2017-07-24 13:55] Raikerian commented on #837
Hi,

You can check our video sample in current repository, it is written in objc and it should give you the right idea of what's wrong with your code.

[2017-07-24 14:19] chaymaeBZ commented on #839
@Raikerian Thank you for pointing this. I don't really know what's wrong I m sure I didn't set "public" list after setting "tmp" and here is the full code :
(It's just a small code to test features individually)
https://gist.github.com/chaymaeBZ/f2e9c97138ed78377a118773361f0ed4

can you please do a quick review !

[2017-07-24 15:41] chaymaeBZ commented on #839
It looks like `QBChat.instance().removePrivacyList(withName: "public")` is implicitly calling set privacy list ...

[2017-07-25 02:19] jwzhuang commented on #838
Yes

[2017-07-26 08:35] Pro100Andrey commented on #835
Hi @Nik20112, Any updates?

[2017-07-26 08:53] Pro100Andrey commented on #837
Hi @sv-dev2, could you please provide logs + stat report.

[2017-07-26 08:58] ZeshanIlyas commented on #599
The Q-municate app does not save call logs/ call history in the application. It only saves adds a message with custom parameter in that particular dialog about calls. How to get list of all outgoing and incoming calls that I had from Quickblox ? @Raikerian

[2017-07-26 09:55] Pro100Andrey commented on #837
@sv-dev2

- (IBAction)answervideoCall:(id)sender
{
//    // 2123, 2123, 3122 - opponent's
    NSArray *opponentsIDs = @[@29774029];
    QBRTCSession *newSession = [[QBRTCClient instance] createNewSessionWithOpponents:opponentsIDs
                                                                  withConferenceType:QBRTCConferenceTypeVideo];

    self.session = newSession;
   //Set self.videoCapture

[2017-07-26 12:33] shalem93 commented on #832
Logic was bad

[2017-07-26 12:33] #832 closed

[2017-07-26 12:35] shalem93 commented on #832
Order of operations
"""""""""""""""""""""""
Offer

steps:
1 - [QBRTCClient initializeRTC];

//Create Camera Capture
2 -   self.videoCapture = [[XUCameraCapture alloc] initWithVideoFormat:videoFormat position:AVCaptureDevicePositionFront]; // or AVCaptureDevicePositionBack
    [self.videoCapture.previewLayer.connection setVideoOrientation:AVCaptureVideoOrientationPortrait];

    self.videoCapture.p

[2017-07-26 15:25] nick1ee opened #841 "Call accepted successfully, but there is no remote video show up."
Hi there, I implement quickblox video chat function into my ios app with swift 3, in the following demo project, I could call the other user and the callee could accept the call, but there is no remote video show up. I confirmed the function "receivedRemoteVideoTrack" had been executed. Could anyone advise?

https://github.com/nick1ee/QuickBloxDemo_2

**Did this work before?**
No

**Expected behav

[2017-07-26 17:24] nick1ee commented on #841
Sorry guys, I created a new project and then the original issue is gone. I got a new problem, there is no remote video show up, could anyone help. Thanks a lot!

[2017-07-30 04:19] dungnc opened #842 "Push notifications stop working"
Hi, my app is working well until 07/28/2017
I'm check in "Queue" at Admin page and it's show me:
https://gyazo.com/0f1e37f0d461eb2c54ee4c3966cd9529
My app id is: 49976

Please help me, thanks for your supporting

[2017-07-30 17:02] tom-falcore commented on #842
Doesn't work for me as well from that Date.
We are getting the exact same error:

"There were no recipients for this scheduled event. You may need to check 'Subscriber filtering' settings for your event. For example: there are no users with specified tags."

My app id is: 59533

[2017-07-31 05:44] sunilju opened #843 "How to identify if new user sign up for chat in may app?"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-ios-sdk/issues)*

**Environment details**
*iOS version, Quickblox iOS SDK version, QuickbloxWebRTC SDK version (optional)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*Attach full logs that will describe your problem (please, use github [gist](https://gist.github

[2017-07-31 08:02] RishabhParashar commented on #842
facing the same exact issue since that 28/07/2017.... app #id : 59032

[2017-07-31 08:32] Raikerian commented on #842
Hi, everyone.

As this is probably a server-side issue, I have addressed it to them currently. Thanks for your report, we will post updates as soon as I will get them.

[2017-07-31 08:44] Raikerian commented on #842
It should be fixed now, can you guys check it?

[2017-07-31 09:04] mrikh commented on #842
I am facing the same exact issue as above and the push aren't still working. All of them are currently in the active status (even though they were working until a few days ago) and showing :

"There were no recipients for this scheduled event. You may need to check 'Subscriber filtering' settings for your event. For example: there are no users with specified tags."

@Raikerian I tried sending a pu

[2017-07-31 09:36] Raikerian commented on #842
@mrikh are you sure that there are users with those tags that have push subscriptions?

[2017-07-31 09:39] mrikh commented on #842
I'm not sure what you mean by tags as i'm not using that property at all.
This is how i'm creating my push event object:

            let data = try JSONSerialization.data(withJSONObject: payload, options: .prettyPrinted)

            let message = String(data: data, encoding: .utf8)

            let event = QBMEvent()

            event.notificationType = .push

            event.usersIDs = oppon

[2017-07-31 10:44] mrikh commented on #842
@Raikerian The push have started to appear now :)

[2017-07-31 10:46] stdiohue commented on #842
It's working, thanks Team

[2017-07-31 13:26] tom-falcore commented on #842
Seems to be working now.

[2017-07-31 15:34] akhil1103 opened #844 "Push notification not able to receive and it's status is active in queue."
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-ios-sdk/issues)*

**Environment details**
Ios 10.3.1
Quickblox version 3.3

**Did this work before?**
I am able to receive notification but from last 2 days, all notification are just added into the queue with status as active.

**Expected behavior**
Push notification should reaches to the device

*

[2017-07-31 15:36] Raikerian commented on #844
Hi,

There were some issues server-side that were fixed today: https://github.com/QuickBlox/quickblox-ios-sdk/issues/842

Can you check sending pushes one more time?

[2017-07-31 16:15] akhil1103 commented on #844
Thanks for the support,

Its working well now

On Mon, Jul 31, 2017 at 9:06 PM, Vitaliy Gorbachov <notifications@github.com

[2017-08-01 06:11] unoiatech opened #845 "messageMemoryStorage returns 0 messages for dialogID when I open app after terminating."
**Did this work before?**
No. Seems like it clears cache on terminating app.

**Expected behavior**
The messages must be saved like dialogs.

**Actual behavior**
When I initiate chat and send a message, the messageMemoryStorage returns that message till I am in app. Once I terminate the app and try to retrieve messages from storage with same method, it returns 0.

**Any others comments?**
How can

[2017-08-01 07:21] #844 closed

[2017-08-01 07:21] #842 closed

[2017-08-01 07:44] #845 closed

[2017-08-01 07:51] unoiatech opened #846 "Retrieve all chat rooms from Quickblox Database"
**Did this work before?**
No

**Expected behavior**
I want to retrieve all the chat dialogs (User associated and without ) from database.

**Actual behavior**
Currently I am able to retrieve only dialogs with which the user is associated.

**Any others comments?**

  I want to retrieve total chat dialogs from Database. Even if the current user is not part of that chat. Is it possible ?

[2017-08-04 08:01] saadhasnain commented on #836
Hi @adil-appifytech
did you found the solution for this problem?

[2017-08-04 08:06] saadhasnain commented on #836
Hello @Raikerian Here are full logs
I am also facing same problem when user login to two devices with same username and password this error occurs....

2017-08-04 13:03:13.173 Appname[7456:96852] [ChatService] Presence RCV: <presence xmlns="jabber:client" from="30399800-58994@chat.quickblox.com/1571722472-quickblox-1743557" to="30399800-58994@chat.quickblox.com"/>
2017-08-04 13:03:24.564 Appname[7

[2017-08-04 09:24] YroJlbok opened #847 "QMSoundManager doesn't play properly sound on speaker"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-ios-sdk/issues)*

**Environment details**
*iOS version, Quickblox iOS SDK version, QuickbloxWebRTC SDK version (optional)*
ios - 10.3.2, Quickblox - 2.9.2, QuickbloxWebRTC -2.6.0.1

**Did this work before?**
no

**Expected behavior**
When I am changing QBRTCAudioSession.instance().currentAudioDevice

[2017-08-04 13:25] Raikerian commented on #847
Hi,

I have just tested our video sample in the master branch of the current repository with the steps you have provided and wasn't able to reproduce it. Also ringer level has nothing to do with QBRTCAudioSession before the call. Please make sure that you are not using modified version of the sample. And if not, please update your steps for the actual ones.

[2017-08-04 13:27] Raikerian commented on #836
Hi @saadhasnain

Please do not hijack other people thread. Create your own issue and attach **full logs** (also please use gist.github.com for logs).

[2017-08-04 13:33] saadhasnain commented on #836
@Raikerian
<img width="383" alt="screen shot 2017-08-04 at 6 30 47 pm" src="https://user-images.githubusercontent.com/30718924/28970742-19fdde82-7943-11e7-95e7-f9d7d1ea10b6.png">

Hi i think there is mentioned in Github that help avoiding to create duplicate issue and I am facing the same issue that's why i comment here and i think this thread is for public not for a single person.

[2017-08-04 13:36] saadhasnain commented on #836
@Raikerian I already attached the full logs in upper comment...
If you can answer to resolve this problem then it will be very helpful. Thanks in advance.

[2017-08-04 13:38] Raikerian commented on #836
I do not see the full log in your message.  It should contain messages about calling and answering. Do not cut them if it's possible. Also, logs from the second device where you accepting are also would be helpful. Without them I will not be able to help with your issue, and the only solution would be to have a look into our sample in this repository.

[2017-08-04 13:41] ghulammustafa opened #848 "QuickBlox is not working, and returning error message "cancelled""
Quickblox Framework Version 2.7.3 (for iOS)

Call to `+logInWithUserLogin:password:successBlock:errorBlock:` fails with error. See below for reference. All environment variables are properly set. The same code was working before, but it's not working anymore.

Note that the same is not working using the web API as well.

The log is below for reference. Has anything changed in the API?

[code]

[2017-08-04 13:45] Raikerian commented on #848
Hi,

Did you call cancel method for that QBRequest by any chance? That's the only possible way for that error to appear.

[2017-08-07 04:10] ghulammustafa opened #849 "Getting -999 cancelled error on login request"
Quickblox Framework Version 2.7.3 (for iOS)

Call to +logInWithUserLogin:password:successBlock:errorBlock: fails with error. See below for reference. All environment variables are properly set. The same code was working before, but it's not working anymore.

Note that the same is not working using the web API as well.

The log is below for reference. Has anything changed in the API?

[code]

Note:

[2017-08-07 04:57] ghulammustafa commented on #848
No ,we didn't. And, the same code was working before. But now it's not working on both web and iOS.

[2017-08-07 04:58] #849 closed

[2017-08-07 06:39] sv-dev2 commented on #837
Thanx A Lot Guys........ Its Working! ..............Thank You all.....:)

[2017-08-07 07:40] #841 closed

[2017-08-07 08:12] unoiatech opened #850 "The operation couldn’t be completed. (com.quickblox.chat error -1004.)"
**Environment details**
QuickbloxFramework Version : 2.9.2

**Did this work before?**
Yes, it was working a few hours before. I was able to join the public chat group.

**Logs**
The operation couldn’t be completed. (com.quickblox.chat error -1004.)

**Steps to reproduce the behavior**
[code]

[2017-08-07 10:38] VitaliyGuru commented on #850
@unoiatech, Hello
Could you please enable full logs and send us this information?

[code]

[2017-08-07 16:09] syrotynin opened #851 "internal server error (500) on QBRequest createEvent (Fixed Date)"
**"QB-OS" = "iOS 10.3.2";
"QB-SDK" = "iOS 2.9.2";
"QuickBlox-REST-API-Version" = "0.1.1";**

*This feature worked before. Are you going to support it in the future?*

**Expected: scheduled notification with fire date**
**Actual: Request failed: internal server error (500)**

**Response error: Error Domain=com.alamofire.error.serialization.response Code=-1011 "Request failed: internal server error

[2017-08-07 16:12] Pro100Andrey commented on #851
Hi @syrotynin, could you please provide Request / Response logs?

[2017-08-07 16:14] syrotynin commented on #851
`Request URL:https://api.quickblox.com/events.json
2017-08-07 19:14:02.314722+0300 ClipOn[1071:383575] [QBCore] Request method: POST
2017-08-07 19:14:02.314935+0300 ClipOn[1071:383575] [QBCore] Request parameters:{
    event =     {
        date = 1502123014;
        environment = development;
        "event_type" = "fixed_date";
        message = ewogICJtZXNzYWdlIiA6ICJZb3UgaGF2ZSBhIG5ldyBDbGlwT2

[2017-08-07 16:16] syrotynin commented on #851
@Pro100Andrey
Request URL:https://api.quickblox.com/events.json
2017-08-07 19:14:02.314722+0300 ClipOn[1071:383575] [QBCore] Request method: POST
2017-08-07 19:14:02.314935+0300 ClipOn[1071:383575] [QBCore] Request parameters:{
    event =     {
        date = 1502123014;
        environment = development;
        "event_type" = "fixed_date";
        message = ewogICJtZXNzYWdlIiA6ICJZb3UgaGF2ZSBhI

[2017-08-10 08:23] Raikerian commented on #848
What was changed prior to the bug? Did you update framework by any chance?

[2017-08-10 09:14] syrotynin commented on #851
Also, this feature doesn't seem to be working from Dashboard.
Scheduled notifications don't come and the status is always "active".
Please check the screenshot
![screen shot 2017-08-10 at 12 09 50 pm](https://user-images.githubusercontent.com/6272133/29163484-51e94a30-7dc5-11e7-8c07-f541a63aa247.png)

[2017-08-12 17:58] #847 closed

[2017-08-13 11:54] ghulammustafa commented on #848
No changes made to the framework. Don't remember changing any code as well.

[2017-08-14 15:23] iosgnanavel opened #852 "Remote Video Stretching - QBRTCRemoteVideoView"
**Video Stretching**
Hi,  We had faced an issue in video call screen. While in call ,the opponent video view was filled to the entire view as per our need but the view was stretched.

The video displaying was not accurately aspect fill to the view. we need your guidance to prevent the video from being stretched.The video was perfectly fitted for local video view but not for remote video view.

**V

[2017-08-14 15:29] Pro100Andrey commented on #852
Hi @iosgnanavel, Use AVLayerVideoGravityResizeAspectFill. From inline documentation:
[code]

[2017-08-14 16:26] Pro100Andrey commented on #852
@iosgnanavel Any updates ?

[2017-08-14 16:26] #815 closed

[2017-08-14 16:27] Pro100Andrey commented on #781
@vahants, fixed 2.10

[2017-08-14 16:27] #781 closed

[2017-08-14 16:28] Pro100Andrey commented on #783
Fixed 2.10

[2017-08-14 16:28] #783 closed

[2017-08-14 16:29] Pro100Andrey commented on #818
@nyan2x, fixed in 2.10

[2017-08-14 16:29] #818 closed

[2017-08-15 16:07] Pro100Andrey commented on #852
@iosgnanavel ?

[2017-08-15 16:10] Pro100Andrey commented on #850
@unoiatech hi, any updates?

[2017-08-15 16:13] Pro100Andrey commented on #846
Hi @unoiatech, No, only user associated

[2017-08-16 07:33] iosgnanavel commented on #852
**Hi andrey**, Thanks for your reply! , we tried with your answer but its not working.
The  following line which u suggested ,
"Use AVLayerVideoGravityResizeAspectFill. From inline documentation " is working like this. pls follow the screenshot:
![img_0685](https://user-images.githubusercontent.com/22077394/29352126-3f31a3fc-8283-11e7-8ae2-e80bb3b9092f.PNG)

we expected to be like, the remote vide

[2017-08-16 08:55] Pro100Andrey commented on #852
Hi @iosgnanavel, Use `AVLayerVideoGravityResizeAspect` for filled to the entire view all like local video view without scratching

[2017-08-16 09:24] EugeneGoloboyar opened #853 "Can I send message from dialog created with init(id)?"
**New Issue Checklist**

 - [+] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [+] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-08-16 10:13] Pro100Andrey commented on #853
Hi @EugeneGoloboyar, try the code bellow:

[code]

[2017-08-16 10:22] Pro100Andrey commented on #843
Hi @sunilju, What did you mean "new user sign up for chat in my app" ?

[2017-08-16 10:26] Pro100Andrey commented on #838
Hi @jwzhuang, We’re going to implement this in the nearest future release.

[2017-08-16 10:29] iosgnanavel commented on #852
Hi @Pro100Andrey  Thanks for reply, its working fine. thanks a lot.

[2017-08-16 10:30] #852 closed

[2017-08-16 10:32] Pro100Andrey commented on #836
Hi @adil-appifytech, Any updates ?

[2017-08-16 10:32] #837 closed

[2017-08-16 10:35] EugeneGoloboyar commented on #853
Thanks for quick reply, works now!
As I understand senderID and dialogID are obligatory parameters for message and
for occupantsIDs in chatDialog.

[2017-08-16 10:35] #853 closed

[2017-08-16 10:49] Pro100Andrey commented on #820
Hi @mrikh, could you please enable QMServices logs and provide full logs again:
[code]

[2017-08-16 10:50] Pro100Andrey commented on #834
Hi @Nik20112, Any updates ?

[2017-08-16 10:50] Pro100Andrey commented on #831
Hi @shalem93, Any updates ?

[2017-08-16 10:54] Pro100Andrey commented on #830
Fixed in 2.10

[2017-08-16 10:54] #830 closed

[2017-08-16 10:55] #828 closed

[2017-08-16 10:55] Pro100Andrey commented on #795
Hi @kuangzq, any updates ?

[2017-08-16 10:58] Pro100Andrey commented on #826
Hi @v-anh, Any updates?

[2017-08-16 11:02] #823 closed

[2017-08-16 11:03] #808 closed

[2017-08-16 11:06] #778 closed

[2017-08-16 11:07] Raikerian commented on #814
Just don't show the incoming video call when hanging up a new session. I don't really see any issues here. You cannot forbid some one to call you, unless that person will know for sure that you are busy (hold a status somewhere if you really need this).

[2017-08-16 11:07] Raikerian commented on #848
Please check our latest framework 2.10.

[2017-08-16 11:08] Pro100Andrey commented on #762
Hi @ajay2c9, any updates?

[2017-08-16 11:16] #846 closed

[2017-08-16 11:28] Pro100Andrey commented on #839
Hi @chaymaeBZ, you right `QBChat.instance().removePrivacyList(withName: "public")` is implicitly calling set privacy list, without <QBPrivacyItem *> items

[xmpp spec](https://xmpp.org/extensions/xep-0016.html)

[2017-08-16 11:30] Pro100Andrey commented on #839
@chaymaeBZ could you please remove `QBChat.instance().setActivePrivacyListWithName("tmp")` from your code and check again

[2017-08-17 04:33] mrikh commented on #820
Hi @Pro100Andrey. Feel free to mark this issue as closed as I am no longer using the caching ability for users so I don't have the code sample to reproduce this issue.

[2017-08-17 06:51] #820 closed

[2017-08-17 16:16] maodd opened #854 "mutualBlock doesn't work in private chat"
**New Issue Checklist**

 - [Y] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [N] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-08-18 05:03] EugeneGoloboyar opened #855 "What is best practice of handling dev and production environment for Quickblox? Should I create 2 apps in admin panel?"
**New Issue Checklist**

 - [+] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [+] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

Should I create two apps (dev and prod) to handle environments properly?
In order not to mix dev and prod users/chats.

And I'm not sure is this method related to my q

[2017-08-18 11:32] theappslabb commented on #790
I have same issue but  I resolved it. The reason behind this is the wrong date and time on my phone.

[2017-08-19 09:41] v-anh commented on #826
Hi @Pro100Andrey it still the same, I recheck the code and the call has been made. But if receive device comes to background and back to the foreground by notification the didReceiveNewSession never be called.

[2017-08-20 11:41] v-anh commented on #826
Hi @Pro100Andrey, @Raikerian

Thanks for your support, I could be able to receive the call after notification by change my call method.

[2017-08-20 11:41] #826 closed

[2017-08-20 18:41] chaymaeBZ commented on #839
Hi @Pro100Andrey , I just removed `QBChat.instance().setActivePrivacyListWithName("tmp")` from code but it still doesn't work. I tried also to remove items of "public" one by one. In fact it deleted all items except the first item in the list, because if all items were deleted the list will be deleted and that's what it fails exactly to do : removing a list . I think there is an internal problem .

[2017-08-21 07:18] soulfly commented on #695
You can now use _id filter, it's fixed

[2017-08-21 07:18] #695 closed

[2017-08-21 09:21] iosgnanavel opened #856 "Joining in an existing conference calls"
Hi Quickblox Team,

We are trying to join the new user into the existing video call. we  are retrieving session id from our server but not able to join the user into the call. Is there any possibility for joining the new user into the ongoing video call? (For Example:- A,B, C are in the conference video call  and now the D wants to join in the video call. How can we do this? we are having only the

[2017-08-22 15:34] ndemenko opened #857 "Dialog messages loading."
Use ChatViewController and DialogsViewController from swift example (but logic fixed for my requirements). It work perfect until today. Run app, go to dialogs try open one -> chat screen is empty. Go back and try to open same dialog -> now it show messages.

If need I can provide needed parts of code.

[2017-08-23 04:26] #857 closed

[2017-08-23 04:26] ndemenko commented on #857
It was my bad, solved.

[2017-08-23 18:24] svtechnology opened #858 "TIC TCP Conn Failed on iOS 11"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-08-23 19:00] svtechnology commented on #858
Apologies for the false flag. It was a configuration issue. Closing it as non-issue.

[2017-08-23 19:00] #858 closed

[2017-08-24 23:11] wanglouin1990925 commented on #669
Hi I am getting this issue again.
It was worked before but app is started to getting this issue suddenly.
I am using quickblox sdk 2.10. its happening to me always.

Disconnected with error: Error Domain=kCFStreamErrorDomainSSL Code=-9806 "(null)" UserInfo={NSLocalizedRecoverySuggestion=Error code definition can be found in Apple's SecureTransport.h}

Can you please help me to solve this issue asa

[2017-08-25 07:29] EugeneGoloboyar opened #859 "Last message in dialog mismatch history and wrong send date"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [X] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-08-25 12:41] iman2420 opened #860 "How to join a public group by group_id in Java."
Hello. i want to join users in an` public group `by **group_id** in Java. How to do it?

[2017-08-25 12:51] VitaliyGuru commented on #860
@iman2420, Hello. This issue is not related to QB iOS SDK.
Please create an issue in [Android Repo](https://github.com/QuickBlox/quickblox-android-sdk).

[2017-08-25 12:51] #860 closed

[2017-08-25 14:39] Allan-Nava commented on #747
I have this problem when I i try to upload the Archive Release.

I use this script:
[code]

I use ionic cordova build ios --release and it works "build succeeded", but when I try to upload to app store I have this problem:

[2017-08-30 14:36] iosgnanavel commented on #856
Any updates?.

[2017-08-30 14:48] Raikerian commented on #856
Hi,

You cannot join an existent call with our regular calls. As they are implemented as a peer to peer calls, all participants must be known at the moment of call, in order to connect to each other.
But we have custom enterprise solution with the usage of server-side, you can read more info here: https://quickblox.com/developers/EnterpriseFeatures#Conference_video_calls

[2017-08-30 14:56] iosgnanavel commented on #856
Hi @Raikerian

Thanks for your support

[2017-08-30 14:56] #856 closed

[2017-09-01 08:24] DemonionFF opened #861 "Is it possible to sync privacy list between multiple devices for the same user when he blocks someone?"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-09-02 07:24] Rameshwar48 opened #862 "Getting previous login user dailouge"
There is two user A and B

First login with user A and making request to get dialogue of user A, dialogue getting correct
Than logout using user A, and login to user B and make request for dialogue of user B
than dialogue getting wrong(getting dialogue of user A)

I check current user after login again , user getting correct

[2017-09-06 02:33] Mani101991 opened #863 "How to identify opponent user enable or disable video in quickblox iOS"
Hello Guys,

How to identify opponent user enable or disable video or audio in quickblox. Please tell me the solution

[2017-09-06 06:15] unoiatech commented on #850
Hello, I tried with debug Log. But it does not log any error. But I looks like it has something with the Connection. I tried to reconnect the chat, and it works. It happens, when I join one public chat group after another.

[2017-09-06 06:17] unoiatech commented on #850
Also, I am getting error
com.quickblox.chat error -1002.
while sending message to a private chat

[2017-09-07 06:58] vickysaini commented on #254
Hi,

I am using version 3.3.5. I know Public Groups does not have occupant Ids. But a QBUser who joins a Public Group can be stored as the occupants in the table at backend. Is there any method to get the QBUsers who has joined a particular Public Group.

[2017-09-07 07:02] PriyeshRanjan7 opened #864 "code signing issue when installed Quickblox through cocoapods"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-09-07 08:48] vinayr opened #865 "joinWithCompletionBlock callback is not called"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found https://github.com/QuickBlox/quickblox-ios-sdk/issues/609 https://github.com/QuickBlox/quickblox-ios-sdk/issues/332

**Environment details**

Info

[2017-09-07 10:25] VitaliyGuru commented on #865
@vinayr, You're trying to join `chatDialog` which hasn't dialog ID.
You should join the dialog `createdDialog` in success block of the request.

[2017-09-07 10:28] VitaliyGuru commented on #864
I would be grateful if you could send the details.

[2017-09-07 10:33] VitaliyGuru commented on #862
@Rameshwar48, Please provide full logs for user A and user B.

[2017-09-07 10:53] vinayr commented on #865
@VitaliyGuru I tried with `createdDialog`. Still doesn't work.

[code]

[2017-09-07 10:54] Mani101991 commented on #863
Hi @VitaliyGuru I Was Calling one to one video call. Quickblox already provided Video enable/disable Stream. UserA is Calling to UserB(Video Call). if UserB disables the video that time shows the UserA Screen is black. So I am asking if UserB disable the video any identify the (disable video for UserB) methods to UserA

[2017-09-07 14:31] PriyeshRanjan7 commented on #864
I installed Quickblox through cocoapods. Added run-script also. But when trying to distribute using crashlytics Beta app, I am unable to install. In the device log I can see "Failed to verify code signature of QuickbloxWebRTC.framework". Please let me know if I am doing anything incorrectly?

[2017-09-08 08:10] shalem93 opened #866 "User is logged in but can't connect to QBChat"
**New Issue Checklist**

 - [x ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-----------------------------

[2017-09-08 12:48] VitaliyGuru commented on #864
@PriyeshRanjan7, Let me just make sure - you have added [this script](https://quickblox.com/developers/Sample-webrtc-ios#Run_Script_Phase_for_Dynamic_framework), haven't you?

[2017-09-08 14:23] PriyeshRanjan7 commented on #864
@VitaliyGuru : yes.. I have added the same script and followed the same link.

[2017-09-08 14:34] Raikerian commented on #863
Hi @Mani101991

When disabling/enabling video, send a system message to your opponents about such update:
https://quickblox.com/developers/SimpleSample-chat_users-ios#System_notifications

[2017-09-08 14:36] Raikerian commented on #865
Hi @vinayr

Print `createdDialog` param in success block, it should have valid ID in it.

[2017-09-08 14:38] Raikerian commented on #864
Is "Failed to verify code signature of QuickbloxWebRTC.framework" the only error you see? Any other lines that hint us about the problem?
What is QuickbloxWebRTC framework version? You didn't fill that in your initial post. Also, make sure those scripts are at the bottom of the build phases and validate the script itself once again.

[2017-09-08 15:03] vinayr commented on #865
@Raikerian it actually started working with `createdDialog`, couple of hours after I created the issue. I guess there was a temporary problem in the backend? Anyway, I'm closing the issue now. Thanks for the support.

[2017-09-08 15:03] #865 closed

[2017-09-08 15:56] PriyeshRanjan7 commented on #864
@Raikerian : update it with the version.
Xcode 8.3.3, quickblox: 2.10, webrtc:2.6.1, ios: 10.3.

run script is in the bottom of the build phases.

Also, able to create ipa manually. This problem is when I am trying to distribute using Crashlytics Beta app.

[2017-09-09 02:04] Mani101991 commented on #863
Hi @Raikerian

Thanks. One more question @Raikerian . If userA is Callling to userB(Video Call). userB is attend the call. if userB press Home button(Background Mode) that case also working ha system message?. In quickblox Document saying only online users to get the system message. Please tell me the solution @Raikerian

[2017-09-10 22:05] gstream commented on #783
@Pro100Andrey , I am getting same issue with latest version

[2017-09-10 23:37] gstream commented on #783
This issue is not fixed yet. I've fixed temporally this with @Fedenieto90 's solution.

[2017-09-11 09:14] Pro100Andrey commented on #866
Hi @shalem93, could you please provide full logs (REST & xmpp), for enable use code bellow
[code]

[2017-09-12 02:10] Mani101991 opened #867 "Need Callkit With Quickblox SDK Demo App"
Hi Guys,

Anyone having or implemented the callkit in quickblox SDK. Please provide the demo app for Quickblox with Callkit.

[2017-09-12 03:58] shalem93 commented on #831
Hi @Pro100Andrey @Raikerian I am still having this problem. Sorry for the delayed response!

The QBRTCRemoteView is still changing when I rotate my phone despite locking landscape. How do I fix this? The solution in #262 is only for QBRTCVideoView which is my local video stream...

[2017-09-12 09:14] Raikerian commented on #854
Hi,

I have checked this in the latest iOS SDK and everything is fine in my case. I did the check 5 seconds after the last line of code in your snippet. Maybe there is a specific way to check it?

[2017-09-12 09:15] Raikerian commented on #839
Can you replicate this by adding code to our sample chat? If yes attach that modified version and we will check it one more time. I didn't find much success replicating that.

[2017-09-12 10:58] RamandeepGosal opened #868 "Can the owner of the chat delete all the messages for a particular chat?"
**New Issue Checklist**

 -  I have read the [Documentation](https://quickblox.com/developers/IOS)
 -  I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------------

[2017-09-12 19:09] gstream commented on #826
@v-anh , Can you share me how you changed your "call method" ? I am facing same issue right now.

[2017-09-13 08:56] nitinsindhubt opened #869 "Unable to connect to chat server ."
For Receiving  video call i need to do following things
**1.** I need to login to quick . blox
**2**. i should connect to the chat server

i am doing this using below code

I am trying to login on QuickBlox , after login Success and trying to connect user to Quickblox chat server .

[code]

but when call

[code]

i get the following error message in the log :

  `  rtc::<QBRTCClient 0x6000002459a0

[2017-09-13 09:42] nitinsindhubt commented on #869
Abe bhai koi batayega ? kyun ho raha hai aisa ??

[2017-09-13 10:22] Pro100Andrey commented on #869
Hi @nitinsindhubt, could you please check the port 5223 access in your firewall settings ?

[2017-09-13 10:29] mpogra opened #870 "QuickBlox - How to send data during video call?"
Is there any way to send some data to opponent during live video call? We have a requirement to send configuration data to opponent based user's action on video call screen. Or is it something like that we need to open chat session between user's in background and send data on that channel?

Please advise, I also asked this question [SO](https://stackoverflow.com/questions/46177577/quickblox-how-t

[2017-09-13 10:44] nitinsindhubt commented on #869
Thank you soo much ,,,,, Live long bro ,,,, you are real life saver :) . 👍

This is a issue of my office network , working fine on personal hotspot .

[2017-09-13 10:45] nitinsindhubt commented on #869
But how can i know if firwall is blocking , i need to show error message to user , when some user connect to such network

Thanks in advacne

[2017-09-13 10:46] Pro100Andrey commented on #869
@nitinsindhubt, could you please update the issue on stackowerflow ?

[2017-09-13 11:03] nitinsindhubt commented on #869
Ok, I'll remove the issue from stackoverflow  .

but i have question

[code]

the above block doesn't call , when i am getting such problem , if firewall is blocking you should  return in the block with `Error` and `error.localizedDescription`

[2017-09-14 01:14] mpogra commented on #870
Got response on SO so please [check here](https://stackoverflow.com/questions/46177577/quickblox-how-to-send-data-during-video-call/46192128#46192128) if anyone is looking for something similar.

[2017-09-14 13:46] vikrantrajput commented on #776
Hello @VitaliyGuru, any updates on this issue?
Is this fixed in any of the recent updates?

[2017-09-15 05:26] RamandeepGosal commented on #252
Hi,
I am new to Quickblox, can you please explain the above code a bit
[code]

and where and how to use -
[code]

[2017-09-15 06:17] RamandeepGosal commented on #252
I did create a category
but was not able to find
[code]
class.

[2017-09-15 06:55] Mani101991 commented on #851
Hi syrotynin. This issues if fixed or not

[2017-09-15 07:21] Mani101991 commented on #851
Hi @syrotynin and @Pro100Andrey. This issues is fixed or not. Not working for me in iOS App and Dashboard also. Please fix this

[2017-09-15 10:09] Pro100Andrey commented on #851
Hi @syrotynin, @Mani101991, the new version of application server will be deployed on Thursday

[2017-09-15 10:30] unoiatech opened #871 "Adding Custom Field in QBChatAttachment"
This is actually not an issue. But I need help in customizing QBChatAttachment. If its possible to customize this header class.
I need to attach a thumbnail with the image. The thumbnail will be display while the original image is downloading.
How can I do that? I am trying to add custom field "thumbnailData" in QBChatAttachment class. But getting this error:

`Terminating app due to uncaught exce

[2017-09-15 13:23] Pro100Andrey commented on #871
HI @unoiatech, use code bellow:

[code]

[2017-09-15 14:05] Pro100Andrey commented on #866
Hi @shalem93, any updates ?

[2017-09-15 15:12] Raikerian commented on #861
Hi,

Privacy lists are stored on the server. So they are already synchronized. Perhaps you have some specific problem with them?

[2017-09-15 15:12] #870 closed

[2017-09-15 15:13] Pro100Andrey commented on #814
Hi @Shamsiddin, any updates ?

[2017-09-15 15:14] #831 closed

[2017-09-15 15:21] Pro100Andrey commented on #864
Hi @PriyeshRanjan7, could you please provide error log?

[2017-09-15 15:24] soulfly commented on #859
Did you remove any messages via API?

[2017-09-15 15:25] Pro100Andrey commented on #862
Hi @Rameshwar48, Any updates ?

[2017-09-15 15:47] PriyeshRanjan7 commented on #864
@Pro100Andrey : please find attached log.`Sep 15 20:21:09 iPhone installd(MobileSystemServices)[413] <Notice>: 0x16e0db000 +[MICodeSigningVerifier _validateSignatureAndCopyInfoForURL:withOptions:error:]: 147: Failed to verify code signature of /private/var/installd/Library/Caches/com.apple.mobile.installd.staging/temp.g7WQTD/extracted/Payload/ServiceLive.app/Frameworks/QuickbloxWebRTC.framework :

[2017-09-15 15:47] VitaliyGuru commented on #868
@RamandeepGosal, There is no such possibility.

[2017-09-15 16:56] VitaliyGuru commented on #868
@RamandeepGosal, Please describe in details the workflow you need.

[2017-09-15 17:03] PriyeshRanjan7 commented on #864
@Pro100Andrey : bash "${BUILT_PRODUCTS_DIR}/${FRAMEWORKS_FOLDER_PATH}/QuickbloxWebRTC.framework/strip-framework.sh"

while debugging I found that when adding above script.. m unable to find Quickblox folder in BUILT_PRODUCTS_DIR... **I am adding  this quickblox frameworks using cocoapods**.

please let me know if anything wrong here.

[2017-09-16 05:58] unoiatech commented on #871
Hey , I tried the above code  . It is giving me below error :

Expected method to write dictionary element not found on object of type 'QBChatAttachment *'

[2017-09-18 06:14] RamandeepGosal commented on #868
Hi,
Thanks for the reply.
I want to provide the delete all messages privilege to the owner of the chat. Only the owner of the chat will have this functionality.

[2017-09-18 07:20] EugeneGoloboyar commented on #859
No, I didn't remove any messages on this stage. On that stage we only had sending messages.
Neither via API, nor in any other way we remove messages etc.
And encountered with this strange issue.

[2017-09-19 06:24] hiteshwork commented on #668
Is it required to LOGIN to quickblox EVERYTIME app is launched?
When i login for the first time , connect to chat and get dialogs of user it gets fetched successfully.
However after logging in once if i close the app. Open again (user is already logged in) , connect to chat (successfully) and try to retreive dialog list i get the error "Forbidden. Need User".
Here is the code ->
QBRequest.dialogs(

[2017-09-19 13:15] hiteshwork commented on #836
@Pro100Andrey  I am facing the same issue, app works fine when user rejects video call. But on answer it crashes without any logs.
Here is the log from app -
2017-09-19 18:40:33.319 rtc::[Signaling Processor] - Did receive signal: call from: 3204xxxx
2017-09-19 18:40:33.378 rtc::[RTCClient] Initializing SSL...
2017-09-19 18:40:33.389 rtc::Create audio track: RTCMediaStreamTrack: kind:audio, id:aud

[2017-09-19 14:07] VitaliyGuru commented on #871
@unoiatech, Please provide Quickblox SDK version.

[2017-09-19 14:21] DemonionFF commented on #861
I mean is there any delegate/completion for notifying another device of same user when privacy list did change?

[2017-09-20 11:03] unoiatech commented on #871
I am using Quickblox 2.9.2 Version.

[2017-09-20 11:18] Pro100Andrey commented on #871
Hi @unoiatech, please update to the last versions of SDK

[2017-09-21 09:17] shahkevin23 opened #872 "How to share a video as attachment"
func didPickAttactmentVideoUrl(_ url: URL) {
        let message = QBChatMessage()
        message.senderID =  self.senderID
        message.dialogID = self.dialog.id
//        message.text = "\(url)"
        message.dateSent = Date()

        DispatchQueue.global().async {
            [weak self] () -> Void in
            // Sending attachment.
            DispatchQueue.main.async(execute: {

[2017-09-21 09:20] shahkevin23 commented on #872
func didPickAttactmentVideoUrl(_ url: URL) {
        let message = QBChatMessage()
        message.senderID =  self.senderID
        message.dialogID = self.dialog.id
//        message.text = "\(url)"
        message.dateSent = Date()

        DispatchQueue.global().async {
            [weak self] () -> Void in
            // Sending attachment.
            DispatchQueue.main.async(execute: {

[2017-09-21 09:32] shahkevin23 commented on #872
Can you please provide a sample for video sharing as attachment

[2017-09-22 13:51] YatinKwikard commented on #836
Environment details
Quickblox-WebRTC => 2.6.1
QuickBlox => 2.10

I was facing the same crash and after lots of research i found the reason behind it. carbon was enabled that's why caller getting the incoming call sdp packets in didRecieveNewSession method and caused the crash.Now the crash has been resolved but it leads to another problem as after disabling carbon, sender are not getting the sent

[2017-09-22 14:14] technogeek6693 opened #873 "Join Multiple Private Groups"
Hello,
I am using Dialog join method to join multiple groups dialogs and groups dialogs are successfully joined with no error.
But when I send any message in joined group dialog then instead of receiving message in delegate Method, I receive push  notification for that message.
The method I used to join group dialog
[code]
Delegate method which is supposed to be called
[code]

[2017-09-25 03:16] Mani101991 commented on #851
Hi @Pro100Andrey , this issues is fixed or not in latest version.

[2017-09-25 10:27] sadiqsiddiqui commented on #316
Working on QuickBlox Video Chat API on iOS Swift.
Unable to connect to Chat log attached below
Can you tell me what did I miss??
2017-09-25 15:19:54:605 DemoVideoCallQuickBlox[367:8a03] RECV: <stream:features xmlns:stream="http://etherx.jabber.org/streams"><sm xmlns="urn:xmpp:sm:3"/><mechanisms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>PLAIN</mechanism><mechanism>ANONYMOUS</mechanism><me

[2017-09-25 10:28] sadiqsiddiqui commented on #316
XML Response
<failure xmlns="urn:ietf:params:xml:ns:xmpp-sasl">
  <not-authorized/>
</failure>

[2017-09-25 12:16] VitaliyGuru commented on #873
Could you please enable full logs and send us this information?

[code]

[2017-09-25 12:16] Pro100Andrey commented on #871
Hi @unoiatech, any updates ?

[2017-09-25 12:18] #866 closed

[2017-09-25 14:09] technogeek6693 commented on #873
`2017-09-25 19:35:28.461 Sware[24416:322017] [QBCore] Request URL:https://api.quickblox.com/login.json
2017-09-25 19:35:28.461 Sware[24416:322017] [QBCore] Request method: POST
2017-09-25 19:35:28.462 Sware[24416:322017] [QBCore] Request parameters:{
    email = "yug@mailinator.com";
    password = "sware@123";
}
 [QBCore] Response headers: {
    "Access-Control-Allow-Origin" = "*";
    "Cache-Con

[2017-09-25 14:44] Pro100Andrey commented on #851
fixed

[2017-09-25 14:44] #851 closed

[2017-09-25 14:45] #835 closed

[2017-09-25 14:47] Pro100Andrey commented on #848
Hi @ghulammustafa, any updates ???

[2017-09-25 14:52] Pro100Andrey commented on #854
Hi @maodd, any updates ?

[2017-09-25 14:53] Pro100Andrey commented on #839
Hi @chaymaeBZ, any updates ??

[2017-09-25 15:02] Raikerian commented on #863
Just do not logout from QBChat when you have an active call while going in the background. Then if call ended in background perform chat log out, otherwise, you will be good.

[2017-09-26 02:52] Mani101991 commented on #851
@Pro100Andrey ok Thanks.

[2017-09-26 09:51] DhananjayAwasthisyscraft commented on #852
@iosgnanavel  Can you please share this demo with me. I have urgently required.

[2017-09-26 12:57] shashankel opened #874 "Expected a Type"
When I try to compile the code for sample-videochat-webrtc the below lines in QBcore.m throw the error Expected a Type. I am using Xcode 9.

(void)chatDidNotConnectWithError:(QB_NULLABLE NSError *)error {

}

- (void)chatDidFailWithStreamError:(QB_NULLABLE NSError *)error {

}

[2017-09-26 12:59] Raikerian commented on #874
Hi,

Just remove QB_NULLABLE from there and it should work.

[2017-09-26 13:02] shashankel commented on #874
Working now. Thanks

[2017-09-26 13:34] #874 closed

[2017-09-26 18:35] vivek5586 opened #875 "Red Banner"
When two users connect online in Ios and then if the receiver put the app in the background mode and after speaking if the dialer disconnects the call there is a red banner that appears on the top and it is not disappearing for at least 30 seconds.

**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in th

[2017-09-27 05:15] DhananjayAwasthisyscraft commented on #704
Can u Please share updated code in swift

[2017-09-27 10:55] jkmathew opened #876 "Signup filing with error **Failed to save the record** if the username already exists."
Signup filing with error **Failed to save the record** if the username already exists.

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |

[2017-09-27 11:25] soulfly commented on #876
Hi @jkmathew
we are checking this now

[2017-09-27 13:11] soulfly commented on #876
This is fixed now, you can check

[2017-09-27 13:40] PrakashSalawria opened #877 "Quick Blox Remote Video not displaying but audio is there in swift 3."
**New Issue Checklist**

 - [yes ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [yes ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------

[2017-09-28 08:06] technogeek6693 commented on #873
Hello,
There is no update from you. Please look into the issue.

[2017-09-28 09:48] #871 closed

[2017-09-28 09:50] #814 closed

[2017-09-28 10:04] Raikerian commented on #875
Hi,

Red banner is a result of activating webrtc audio session. After call end you need to deinitialize audio session:

[code]

[2017-09-28 10:06] Raikerian commented on #877
Hi,

Please enable stat reports and attach logs with them:
https://quickblox.com/developers/Sample-webrtc-ios#WebRTC_Stats_reporting

[2017-09-28 11:27] VitaliyGuru commented on #876
@jkmathew  Could you please confirm this issue has been fixed?

[2017-09-28 11:39] VitaliyGuru commented on #873
@technogeek6693, I haven't found any information about the message sending in provided logs.

[2017-09-28 13:13] technogeek6693 commented on #873
@VitaliyGuru, as per my issue "But when I send any message in joined group dialog then instead of receiving message in delegate Method, I receive push notification for that message."
I am not able to receive message in delegate method at receiver end. Although here is log from sender end
`[ChatService] Message SNT: <message id="59ccf4cb7c6ccf243b0041d0" to="52954_59c4e557a28f9a672cc48b32@muc.chat.

[2017-09-28 13:27] vivek5586 commented on #875
Thanks for the reply and Including my developer on this ,we are already
doing the deinitialise but the red banner disappears and reappears again
,please help us on this as this is the only issue stopping us from going
live.

On Sep 28, 2017 6:04 AM, "Vitaliy Gorbachov" <notifications@github.com>
wrote:

[2017-09-28 13:38] vivek5586 commented on #875
Will send u video ,code and debug logs in couple of hours.

On Sep 28, 2017 9:35 AM, "Vitaliy Gorbachov" <notifications@github.com>
wrote:

[2017-09-28 13:39] Raikerian commented on #875
Just let me know if the issue exists in our sample.

[2017-09-28 13:42] vivek5586 commented on #875
Can u refer me wat sample you are asking about pleasw.

On Sep 28, 2017 9:39 AM, "Vitaliy Gorbachov" <notifications@github.com>
wrote:

Just let me know if the issue exists in our sample.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/QuickBlox/quickblox-ios-sdk/issues/875#issuecomment-332839229>,
or mute the thread
<h

[2017-09-28 13:43] Raikerian commented on #875
https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc

[2017-09-28 13:43] Shamsiddin commented on #814
Hi @Pro100Andrey

@Raikerian offered that I need to store this status somewhere on my server and check for this status if my opponent is in call at the moment or not. Of course I can do this, but I want that Quickblox gave me this opportunity. It would be great if I can get this status from Quickblox.
I don't want to send push notification to opponent if it's in call, before sending push-notificat

[2017-09-28 13:47] vivek5586 commented on #875
The sample does not have background mode and call kit integration ,so there is no red banner there

[2017-09-28 13:48] Raikerian commented on #814
@Shamsiddin you can use Quickblox of course. Take a look at our custom objects module https://quickblox.com/developers/SimpleSample-customObjects-ios
You can store information there.

[2017-09-28 13:53] Raikerian commented on #875
It does have background mode though: http://take.ms/YxL5W
And it does have a red banner when you are going background (I have just checked it)

And call kit has nothing to do with in-call (red banner) notification on iOS.

[2017-09-28 14:07] vivek5586 commented on #875
Ok will check and let u know in couple of hours ,Thank u

[2017-09-28 14:54] Shamsiddin commented on #814
Hi @Raikerian thanks for your quick response.

Why QuickbloxWebRTC itself doesn't have this functionality? Storing statuses on custom objects module means responsibility for controlling this status value is on my responsibility. I want that QuickbloxWebRTC gave this status like a checking for opponents online/offline status

[2017-09-28 14:56] Raikerian commented on #814
All calls are made with peer to peer technology. There is no server involved technically, therefore there is nowhere to store your call status. Only the user himself can answer whether he is in call or not.

[2017-09-28 18:18] vivek5586 commented on #875
one quick question do we have to put the voip flag to true or false when we integrate with call kit as i am confused with the documentation provided by quickblox.

[2017-09-29 14:07] #802 closed

[2017-09-29 14:09] #876 closed

[2017-09-29 14:13] #862 closed

[2017-09-29 14:14] #795 closed

[2017-09-29 14:14] #834 closed

[2017-09-29 14:16] Raikerian commented on #875
You don't need VoIP flag for our functionality. You can use it of course if you need it (VoIP push notifications for example).
Here is background documentation https://quickblox.com/developers/Sample-webrtc-ios#Background_mode
Please tell us what exactly confusing there so we can improve that.

[2017-09-29 14:19] soulfly commented on #805
Fixed, so closing it

[2017-09-29 14:19] #805 closed

[2017-09-29 14:22] Pro100Andrey commented on #864
@PriyeshRanjan7, Could you confirm if this issue is still reproducible?

[2017-09-29 14:22] #848 closed

[2017-09-29 14:23] Pro100Andrey commented on #861
Hi @DemonionFF, Any updates ?

[2017-09-29 14:26] Pro100Andrey commented on #850
Hi @unoiatech, error code -1002  mens that you are not connected to the chat.

[2017-09-29 14:27] Pro100Andrey commented on #850
All errors:

[code]

[2017-09-29 14:30] #863 closed

[2017-09-29 14:31] #762 closed

[2017-09-29 14:32] #843 closed

[2017-09-29 14:32] #787 closed

[2017-09-29 14:52] vivek5586 commented on #875
It's confusing because apple doc says we have to enable voip if we use call
kit.

On Sep 29, 2017 10:16 AM, "Vitaliy Gorbachov" <notifications@github.com>
wrote:

[2017-09-29 14:54] Raikerian commented on #875
When I said that you don't need that flag for our functionality, I meant SDK. Call Kit is not a part of our SDK, and if Apple says so then you definitely need to enable that flag.

[2017-09-29 14:59] DemonionFF commented on #861
We had it enabled, but on another device delegates don't triggering.

[2017-09-29 15:33] PriyeshRanjan7 commented on #864
@Pro100Andrey : Got the issue. It was happening due to static framework of WebRTC and in the cocoapods I was using use_framework!. May be because of that it was throwing error.

[2017-09-29 15:34] #864 closed

[2017-09-29 16:22] vivek5586 commented on #875
ok thank you and we did take the background audio off as call kit has its
own audio, is that fine?

On 29 September 2017 at 10:54, Vitaliy Gorbachov <notifications@github.com>
wrote:

[2017-09-29 18:19] deadjdona opened #878 "Calls take too long to connect"
**New Issue Checklist**

 - [+] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [+] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-09-30 16:04] jkmathew commented on #876
@soulfly , should I update pod/framework or its fixed from server side?

[2017-10-02 06:30] technogeek6693 commented on #873
Hello,
There is no update from you. Please look into the issue.

[2017-10-02 12:38] kuangzq opened #879 "Updating a custom object failed"
Hi there,

I was trying to update the value of a field for a custom object but it was always returning a failure by "You don't have appropriate permissions to do this operation". I checked up my code and added

[code]
when creating the object but it still refuses to update by returning the same permission error message.

The snippet of my creating and updating the custom object is like following.

[2017-10-03 10:13] RamandeepGosal opened #880 "Search the dialogs on bases on names not working"
**New Issue Checklist**

 -  I have read the [Documentation](https://quickblox.com/developers/IOS)
 -  I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------------

[2017-10-03 10:21] RamandeepGosal commented on #868
Hi there @VitaliyGuru
Can you please provide me a response whether it is possible or not?
I would be thankful.

[2017-10-03 14:33] Pro100Andrey commented on #880
Hi @RamandeepGosal, type=3 don't have the `name` field. From [documentation](https://quickblox.com/developers/Chat#Create_dialog):

Parameter `name` Required - YES (except when type=3 (PRIVATE). Ignored when type=3(PRIVATE)

[2017-10-03 14:40] Pro100Andrey commented on #878
Hi @deadjdona,
Could you please provide full logs?

[code]
Thanks.

[2017-10-03 14:46] Pro100Andrey commented on #879
Hi @kuangzq,
Could you please provide logs for crate / update object?

Thanks.

[2017-10-03 19:21] kuangzq commented on #879
Hi there, @Pro100Andrey

I figured out finally that I did not turn on the update permission for the custom class. My bad. Sorry. Please close this issue.

Thanks.

P. S. For other people's reference, steps to turn on update permission is as follows.
(1) Access your app administration at https://admin.quickblox.com/
(2) Select your custom class on Custom page
(3) There is a light blue button "Edit

[2017-10-03 19:21] #879 closed

[2017-10-04 08:17] Raikerian commented on #875
Where did you take background audio off again?

[2017-10-04 08:20] Raikerian commented on #861
Which delegates exactly are not triggering?

[2017-10-04 08:24] Raikerian commented on #836
Don't disable carbon, just don't handle your own call. Check for caller ID.

[2017-10-04 08:52] DemonionFF commented on #861
func chatDidReceive(_ privacyList: QBPrivacyList) {
        print("char did receive list: \(privacyList)")

        self.privacyList = privacyList
    }

    func chatDidNotReceivePrivacyList(withName name: String, error: Any?) {
        print("unable to fetch privacy list")
    }

    func chatDidSetPrivacyList(withName name: String) {
        print("did set privacy list with name")
    }

    fu

[2017-10-04 12:12] RamandeepGosal commented on #880
Hi @Pro100Andrey,
Thanks for a quick reply,
But I am working on an application which is having group messages and private messages listing on two different controllers.
And I want to add search functionality in the listing. Can you please suggest me what to use to implement searching on the bases on name in private chat which is of type 3.

[2017-10-04 12:44] Pro100Andrey commented on #880
Hi @RamandeepGosal, Did you have contact list functionality in your app?

[2017-10-04 12:46] RamandeepGosal commented on #880
Hi @Pro100Andrey, Yes I have taken the users phone numbers from the contacts of the phone and once the message is sent to the user, the app shows them in the private chat listing screen,

[2017-10-04 12:48] RamandeepGosal commented on #880
I apologies if I am doing something wrong but the application was already built and was sent for improvements to me and I have checked and rectified most of the functionality, but I am stuch at this issue.

[2017-10-04 13:00] Pro100Andrey commented on #880
Hi @RamandeepGosal,
1) You can use Group Dialog with 2 occupants instead of Private, then you will be able to search by name

2) You can load own dialogs and search locally . (Same functionality : https://github.com/QuickBlox/q-municate-ios)

[2017-10-04 13:17] Pro100Andrey commented on #877
Hi @PrakashSalawria, Any updates?

[2017-10-04 13:21] Pro100Andrey commented on #850
Hi @unoiatech, Any updates ?

[2017-10-04 13:21] #839 closed

[2017-10-04 13:22] #854 closed

[2017-10-04 21:31] chaymaeBZ commented on #839
@Pro100Andrey Sorry I am very busy these days, I'll get back to this really soon and add code to sample chat as @Raikerian requested.

[2017-10-05 05:49] aly-irshad opened #881 "Quickblox Group Dialog Join Error"
I have an API that creates a Quickblox Group Dialog and adds the current user to dialog and returns the dialog id. I m using dialog id to fetch dialog and then send a message to the dialog using the following code. It says the user is not joined and can't even join the dialog because already joined. What I am doing wrong please suggest.

**My Code I am using in my app.**
[code]

[code]

[2017-10-05 08:54] VitaliyGuru commented on #868
@RamandeepGosal, You can use the following approach:
1. When the owner deletes chat message he can send the notification message with custom parameter, e.g.

[code]
2. All occupants will receive this message and they should check for the parameter `@"message_to_delete"` and remove message on theirs side if the parameter  exists.
[code]

[2017-10-05 08:58] RamandeepGosal commented on #880
I will load them all and then search locally,
Thanks for your time.

[2017-10-05 09:02] #880 closed

[2017-10-05 09:08] RamandeepGosal commented on #868
@VitaliyGuru
Thanks for giving me this idea, but recievedmessage will be in chatdidrecievemessage right?
Then it will make all the messages vanish when the chat gets connected, if I am not wrong.
I think it will be a bit strange (all messages getting deleted after chat gets connected) with respect to user experience.
I will give it a try.
Thank you very much!!!

[2017-10-05 09:15] VitaliyGuru commented on #868
@RamandeepGosal, Also you can send system message with the approach described above for online users.
https://quickblox.com/developers/SimpleSample-chat_users-ios#System_notifications

[2017-10-05 09:22] VitaliyGuru commented on #868
@RamandeepGosal, My bet, I forgot, that you also should check for the owner of the message.
You should add:
[code]
And the final method:
[code]

[2017-10-05 09:32] VitaliyGuru commented on #872
@shahkevin23,
You should use the latest version of QMServices.
[code]

For attachment send you can use the following method of QMChatService instance:
[code]

[2017-10-05 10:11] Pro100Andrey commented on #881
Hi @aly-irshad,
This issue will be fixed tomorrow.

Thanks!

[2017-10-05 13:40] aly-irshad commented on #881
Hi @Pro100Andrey ,

Updated the pod but still having the same issue.

**LOGS**
objc[13647]: Class PLBuildVersion is implemented in both /Volumes/BackUp/Software/Xcode 8.3.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/PrivateFrameworks/AssetsLibraryServices.framework/AssetsLibraryServices (0x11857bcc0) and /Volumes/BackUp/Software/Xcode

[2017-10-05 14:00] Pro100Andrey commented on #881
Hi @aly-irshad

[2017-10-06 07:25] RamandeepGosal opened #883 "did receive acknowledgments for stanza ids count."
**New Issue Checklist**

 -  I have read the [Documentation](https://quickblox.com/developers/IOS)
 -  I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------------

[2017-10-06 07:29] RamandeepGosal commented on #868
Hi thanks for the efforts,
My client said deleting the messages from the personal chat would be enough.
No need to delete for all.
I ll stick to that .
Thank you very much!!!

[2017-10-06 07:29] #868 closed

[2017-10-06 10:23] Pro100Andrey commented on #883
Hi @RamandeepGosal,
Could you please update to latest version of Quickblox.framework ? And check again

[2017-10-06 10:55] Pro100Andrey commented on #881
Hi @aly-irshad,

 🚀  QMServices (0.5.4) successfully published
 📅  October 6th, 13:54
 🌎  https://cocoapods.org/pods/QMServices

[2017-10-06 12:31] Pro100Andrey commented on #881
Hi @aly-irshad, any updates ?

[2017-10-07 14:01] aly-irshad commented on #881
Hi @Pro100Andrey,

Sorry for the delay.  I have updated the pod and tested it. It worked the same way I thought it should. Thanks for the support.

Thanks.

[2017-10-07 14:01] #881 closed

[2017-10-08 03:34] hcrgithub opened #884 "hungUpByUser not called"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

iOS Version    : 11.0
Quickblox iOS SDK version  : 2.12
QuickbloxWebRTC SDK version  :  2.6.1
Xcode Version  : Xcode 9
Repro with our demo sam

[2017-10-09 07:38] Mani101991 opened #885 "Group Created After Join Immediately the user Not working in Android."
Hi Team,

Hello i am using quickblox SDK in Android. UserA Group is created after join immediately
 in group. That user cannot be joined. once UserA is Background to enter foreground working fine. Please look on this issue and fix this ASAP.

[2017-10-09 09:50] Pro100Andrey commented on #885
Hi @Mani101991,

Could you please provide full logs? For enable logging use code bellow:

[code]

[2017-10-09 09:52] Pro100Andrey commented on #878
Hi @deadjdona, Any updates ?

[2017-10-09 09:55] Pro100Andrey commented on #872
Hi @shahkevin23, Any updates ?

[2017-10-09 09:55] #850 closed

[2017-10-09 09:59] Mani101991 commented on #885
Hello @Pro100Andrey
This is the log. Please look on this below

09-26 17:47:59.201 5227-7502/com.chat W/System.err: at org.jivesoftware.smack.PacketCollector.nextResultOrThrow(Unknown Source)
09-26 17:47:59.202 5227-7502/com.chat W/System.err: at org.jivesoftware.smackx.muc.MultiUserChat.enter(Unknown Source)
09-26 17:47:59.203 5227-7502/com.chat W/System.err: at org.jivesoftware.smackx.muc.MultiU

[2017-10-09 13:31] VitaliyGuru commented on #885
@Mani101991, You have provided logs from the android device.
Please provide logs from the iOS device or create an issue in [android repo](https://github.com/QuickBlox/quickblox-android-sdk) and close this one.

[2017-10-10 01:53] Mani101991 commented on #885
Hello @Pro100Andrey  & @VitaliyGuru. Sorry. The above issues not working in only Android. Now working on Fine in iOS. Please check the issues and fix the ASAP

[2017-10-10 06:16] hcrgithub commented on #884
Here is the complete project : https://www.dropbox.com/s/pd3hx8qteed7kv2/CallAudioVideo.zip?dl=0

[2017-10-10 09:41] Mani101991 opened #886 "Quickblox Server not working properly"
Hello @Pro100Andrey

You have mentioned that server is under maintenance today. After your server maintenance the call, chat,online,offline and everything are not working properly and its dosent showing any error too.  Before that everything are worked well. Kindly fix this issue.

[2017-10-10 09:50] Pro100Andrey commented on #885
Hi @Mani101991,
Please create an issue in [android repo](https://github.com/QuickBlox/quickblox-android-sdk)

[2017-10-10 09:50] #885 closed

[2017-10-10 09:52] Pro100Andrey commented on #883
Hi @RamandeepGosal, Any updates ?

[2017-10-10 09:53] #877 closed

[2017-10-10 10:11] Mani101991 commented on #886
Hello @VitaliyGuru

This Error came in chat logs

[2017-10-10 10:21] Mani101991 commented on #886
Hi @VitaliyGuru and @soulfly

It is a serious issues. Please fix this ASAP

[2017-10-10 10:44] Pro100Andrey commented on #886
Hi @Mani101991, Fixed. Thanks!

[2017-10-10 10:46] Mani101991 commented on #886
Hello @Pro100Andrey,

Thanks. i will check and let you know.

[2017-10-10 10:52] Mani101991 commented on #886
Hello @Pro100Andrey

System Message not working. i will trying to send system message

But that error came

Error Domain=libxmlErrorDomain Code=68 "StartTag: invalid element name
" UserInfo={NSLocalizedDescription=StartTag: invalid element name
}

Please check and fix this ASAP

[2017-10-10 10:57] Pro100Andrey commented on #886
Hi @Mani101991 Please provide full logs

[2017-10-10 11:02] Pro100Andrey commented on #861
Hi @DemonionFF,
Could you please provide logs from first and second devices?
Thanks!

[2017-10-10 11:32] RamandeepGosal commented on #883
Hi @Pro100Andrey,
I was on a leave for the day, I'll surely check it today and revert back.
Thanks...

[2017-10-10 11:34] Mani101991 commented on #886
Hi @Pro100Andrey,

Thank you so much for your quick response and work. Well done, And I am using your SDK for both android and ios. In iOS, every problem is solved and everything is working perfect and nice. But In Android, issues are there and I already locked the issues in the GitHub for Android SDK  and no response is arrived from your side as like ios kindly fix that issues too.

[2017-10-10 11:39] RamandeepGosal commented on #883
The versions of quickblox which I am using are-
[code]
Are there any newer versions than these?
these are already installed using cocoapods dependency.

[2017-10-10 13:33] Pro100Andrey commented on #886
@Mani101991,
Could you please close the issue if problem has been resolved?

Thanks.

[2017-10-10 13:35] Mani101991 commented on #886
Hello @Pro100Andrey

I will close this issue. Please see it Android SDK issues in github and fix this ASAP

[2017-10-10 13:36] #886 closed

[2017-10-10 13:56] Raikerian commented on #861
Seems like a bug, we will check it (this might require new method, but not sure for now).

[2017-10-10 14:05] hcrgithub commented on #884
Finally I got the solution.

I followed the tutorial at https://quickblox.com/developers/Sample-webrtc-ios to create a video calling app, but there are many important issues in the tutorial for Swift which was creating an issue.

The issue was mainly in method definition. For an example,

In tutorial, the hungUpByUser method shown for Swift is

Wrong :
func session(_ session: QBRTCSession, hungUpB

[2017-10-10 14:05] #884 closed

[2017-10-10 14:15] Raikerian commented on #884
Thank you for pointing that out, fixed that part of the doc on the website

[2017-10-10 14:20] hcrgithub commented on #884
Hi Raikerian, this was just one of the method I pointed out, but there might be other method signature not confirming to the syntax it should be.

Example at tutorial:
Wrong :

func session(session: QBRTCSession!, acceptedByUser userID: NSNumber!, userInfo: [NSObject : AnyObject]!) {

}

Correct :

func session(_ session: QBRTCSession, acceptedByUser userID: NSNumber, userInfo: [String : String]?

[2017-10-10 14:22] Raikerian commented on #884
Fixed that one too. Unfortunately, we don't have swift video sample now, so some of the swift code can use old syntax.

[2017-10-10 15:24] Pro100Andrey commented on #861
Hi @DemonionFF,

There are couple workarounds/solutions how to do it:

1) Send a system message to yourself, with some custom param, e.g. 'updated_privacy_list'=<name>
In this case this messages will be delivered to ALL active resources(devices).
On current device you will just ignore this message

2) If you use a privacy list only in UI - you can refresh your list when you open a screen with it.

[2017-10-10 15:35] Pro100Andrey commented on #883
Hi @RamandeepGosal,

Yes, [last version - 2.12](https://cocoapods.org/?q=quickblox).

Thanks.

[2017-10-10 15:44] Pro100Andrey commented on #875
Hi @vivek5586,
Thanks for notify us!

[2017-10-10 15:44] #875 closed

[2017-10-10 15:47] Pro100Andrey commented on #859
Hi @EugeneGoloboyar,

Could you please confirm that the issue is still reproducible?

Thanks.

[2017-10-10 16:45] Pro100Andrey commented on #753
Hi @rvilches,
Could you please confirm that the issue is still reproducible?

Thanks.

[2017-10-10 16:53] Pro100Andrey commented on #855
Hi @EugeneGoloboyar,

How does quickblox handle dev and prod for the same one app?

Yes, for example we use the some logic in  [Q-municate](https://github.com/QuickBlox/q-municate-ios/blob/master/Q-municate/QMAppDelegate.m#L67)

Yes you are right.

[2017-10-11 05:16] RamandeepGosal commented on #883
Oh, yes It solved the issue
Thank you very much 'Sir' for your courtesy and time.

[2017-10-11 05:16] #883 closed

[2017-10-11 10:30] Pro100Andrey commented on #873
Hi @technogeek6693, any updates ?

[2017-10-11 11:55] unoiatech commented on #789
I hope now I explained better.

[2017-10-11 12:49] Pro100Andrey commented on #741
Hi @srgzah,

From logs i have figured out that you redefined message's sender id to yours id (<message to="22398338).

[code]

That's why `chatDidReadMessageWithID` is called only for you (22398338)

[2017-10-11 12:49] #741 closed

[2017-10-12 08:01] UtkuDalmaz opened #887 "PrivacyList Usage Help"
I am totally confused about how to use privacy list

My code is like

[code]
Can you please help using that Blocking system in a proper way?

[2017-10-12 11:00] Pro100Andrey commented on #887
Hi @UtkuDalmaz, Could you please check and fill the template:

**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |

[2017-10-12 11:26] unoiatech commented on #850
Hello @Pro100Andrey , Thanks for your help. I got it worked. The issue was with chat Connection. Thank you.

[2017-10-12 12:46] #872 closed

[2017-10-12 12:48] #861 closed

[2017-10-12 12:49] #753 closed

[2017-10-12 12:50] #855 closed

[2017-10-12 12:58] Pro100Andrey commented on #798
Hi @marshad13,
We have released new [Address book](https://quickblox.com/developers/SimpleSample-users-ios#Address_Book) functionality, please check it.

Thanks!

[2017-10-12 12:58] #798 closed

[2017-10-13 09:52] Pro100Andrey commented on #887
Hi @UtkuDalmaz, any updates ?

[2017-10-13 12:20] #836 closed

[2017-10-16 05:35] githubmss opened #888 "Can we get others users privacy lists data in quickblox?"
Please help to get all users privacy list through quickblox.

[2017-10-16 06:46] Mani101991 opened #889 "Chat without Request Invitation :"
Hi Quickblox Team and @Pro100Andrey ,

Chat without Request Invitation :
For example :  Consider A and B is a app user and A need to chat with B and A has a contact info of B, But B doesn’t have a contact info of A. So at this time A and B are not able to chat with each other. Is there any way to chat between them without sending any invitation to B user ?

[2017-10-16 06:51] Pro100Andrey commented on #889
Hi @Mani101991, could you please check and fill issue template ?

[2017-10-16 06:52] Pro100Andrey commented on #888
Hi @githubmss,
Could you please check and fill issue template ?

[2017-10-16 06:53] Mani101991 commented on #889
Hi @Pro100Andrey

Like WhatsApp

[2017-10-16 06:55] Pro100Andrey commented on #889
i mean

**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-----------------------

[2017-10-16 06:56] Mani101991 commented on #889
Hi @Pro100Andrey

It is not a issue and its is question i am asking.

[2017-10-16 07:04] Pro100Andrey commented on #889
According to REST API, [Create a dialog](https://quickblox.com/developers/SimpleSample-chat_users-ios#Create_new_dialog) query, you don't need to create a dialog for 1-1(private) chat - it will be created automatically with 1st chat message. But you can create it anyway if you need this for your application.

[2017-10-16 07:27] Pro100Andrey commented on #888
Hi @githubmss,

Please check [Retrieve a privacy list](https://quickblox.com/developers/SimpleSample-chat_users-ios#Retrieve_a_privacy_list)

[code]
Thanks.

[2017-10-16 07:35] Pro100Andrey commented on #889
@Mani101991, Any updates ?

[2017-10-16 07:37] Mani101991 commented on #889
Ok. i Will check and let you know. Without Request Invitation whether call will also work?

[2017-10-16 07:38] Pro100Andrey commented on #889
@Mani101991

Yes

[2017-10-16 09:52] Pro100Andrey commented on #889
Hi @Mani101991, Any updates ?

[2017-10-16 09:54] Mani101991 commented on #889
hi @Pro100Andrey

Already we are working like this only, But without adding in contact its not showing that particular user inside the app.

[2017-10-16 10:19] Pro100Andrey commented on #889
@Mani101991,
You can display the dialog as a user.

To notify particular user(online) that you created a private chat you should use chat notifications - it's simple chat message with extra parameters inside. These parameters used to separate chat notifications from regular text chat messages:
[code]
Particular user will receive this in delegate:
[code]
if particular user offline - use  [Request D

[2017-10-16 10:21] Pro100Andrey commented on #889
@Mani101991 , Or use Chat with auto Request Invitation )

[2017-10-16 10:29] Pro100Andrey commented on #889
@Mani101991,

[Please check documentation](https://quickblox.com/developers/SimpleSample-chat_users-ios#Add.2FRemove_users)

To add users to the contact list just use the method below:
[code]

This user will receive the request to be added to the contact list:
[code]

[2017-10-16 10:33] Mani101991 commented on #889
Hi @Pro100Andrey

Already Implemented for this method. But working on sometime and not working sometime.

I was trying to send a message to another user via Android

For This issue came below

[2017-10-16 10:35] Pro100Andrey commented on #889
@Mani101991, you should login to user before create / get dialogs

[2017-10-16 10:43] Pro100Andrey commented on #889
@Mani101991,

When someone connects with an app using QuickBlox, the app will be able to obtain an access token which provides temporary, secure access to QuickBlox APIs.

Expiration time for session token is 2 hours after last request to REST API.

[2017-10-16 10:46] Pro100Andrey commented on #889
@Mani101991 Any updates ?

[2017-10-16 10:47] Mani101991 commented on #889
Hi @Pro100Andrey

Dialog Cannot created

[2017-10-16 10:49] Pro100Andrey commented on #889
@Mani101991, Could you please provide iOS logs ?

[2017-10-16 10:57] Mani101991 commented on #889
Hi @Pro100Andrey

iOS Working fine. But Android not working.

                                                     STATUS : 422
                                                     HEADERS
                                                         X-Runtime=0.007880
                                                         Cache-Control=no-cache

[2017-10-16 10:59] Pro100Andrey commented on #889
@Mani101991

Expiration time for session token is 2 hours after last request to REST API.

[2017-10-16 11:02] Pro100Andrey commented on #889
@Mani101991,[please check it](https://quickblox.com/developers/SimpleSample-users-android#Sign_In_with_login_.26_password)

[2017-10-16 11:17] Pro100Andrey commented on #889
or provide the issue in [android team](https://github.com/QuickBlox/quickblox-android-sdk)

[2017-10-16 11:33] Pro100Andrey commented on #889
@Mani101991, any updates ?

[2017-10-16 11:59] Mani101991 commented on #889
Hi @Pro100Andrey

Thanks for your response. Please provide the issue to android Team

[2017-10-16 14:48] VitaliyGuru commented on #889
@Mani101991, you can create an issue in [android repo](https://github.com/QuickBlox/quickblox-android-sdk).

[2017-10-16 14:49] VitaliyGuru commented on #889
@Mani101991, please close this issue if it has been resolved.

[2017-10-16 14:53] VitaliyGuru commented on #888
@githubmss,  Closed due to template absence. Please create an issue again and fill template.

[2017-10-16 14:53] #888 closed

[2017-10-16 14:54] VitaliyGuru commented on #873
This issue is being closed due to no response from our previous requests for information or action.  We are assuming that this issue no longer exists.  If this is still an issue, please open a new one.

[2017-10-16 14:54] #873 closed

[2017-10-16 14:58] VitaliyGuru commented on #887
This issue is being closed due to no response from our previous requests for information or action. We are assuming that this issue no longer exists. If this is still an issue, please open a new one and fill the template.

[2017-10-16 14:58] #887 closed

[2017-10-16 14:59] VitaliyGuru commented on #859
This issue is being closed due to no response from our previous requests for information or action. We are assuming that this issue no longer exists. If this is still an issue, please open a new one.

[2017-10-16 14:59] #859 closed

[2017-10-17 08:00] Pro100Andrey commented on #889
Hi @Mani101991,
You can create an issue in [android repo](https://github.com/QuickBlox/quickblox-android-sdk).

[2017-10-17 08:00] #889 closed

[2017-10-18 09:47] maulik6994 opened #890 "ChatDataSource not add messages"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-10-18 09:51] Raikerian commented on #890
Hi,

Can you add more information on what problem do you have? We are not able to help you just by reading a title of the issue.

[2017-10-18 11:04] maulik6994 commented on #890
i am using with swift but addMessage method not adding messages

[2017-10-18 12:00] Pro100Andrey commented on #890
Hi @maulik6994, where is it not working ?

[2017-10-18 12:01] Pro100Andrey commented on #890
@maulik6994, Could you please provide more details ?

[2017-10-18 12:32] maulik6994 commented on #890
implement custom UI, in that
[changeDataSource:self withMessages:messagesArray updateType:updateType];

Not getting call.
Delegate perfectly..

[2017-10-18 12:41] VitaliyGuru commented on #890
@maulik6994, You should the following methods for data source:
[code]

[2017-10-18 12:52] maulik6994 commented on #890
- (void)addMessage:(QBChatMessage *)message;
- (void)addMessages:(NSArray<QBChatMessage *> *)messages;

we have used both of this methods.

Issue in QMChatDataSource object in to that not getting stored messages.

[2017-10-18 13:01] VitaliyGuru commented on #890
@maulik6994, Could you please provide a sample project with this issue?

[2017-10-18 13:08] maulik6994 commented on #890
Ok
here I attaching the demo.
please check it in xcode 9.0

[QuickBloxDemo.zip](https://github.com/QuickBlox/quickblox-ios-sdk/files/1394685/QuickBloxDemo.zip)

Thank you.

[2017-10-19 10:16] VitaliyGuru commented on #890
@maulik6994, Please provide login and password for testing.

[2017-10-19 12:12] VitaliyGuru commented on #890
[QuickBloxDemo 2.zip](https://github.com/QuickBlox/quickblox-ios-sdk/files/1398237/QuickBloxDemo.2.zip)

I have updated your project with our data source.
Just tap login button - the user is hardcoded.

One thing you should know is that our collection view is flipped upside down and that's why our data source is reversed.  So in this example new messages are added at the top of your table view.
Th

[2017-10-19 14:03] Pro100Andrey commented on #890
Hi @maulik6994,

Any updates ?

Thanks

[2017-10-19 14:09] maulik6994 commented on #890
Hey, We have Holidays this week.

I will update you by Monday..

Thanking you...

On Oct 19, 2017 7:33 PM, "andrey" <notifications@github.com> wrote:

[2017-10-23 04:30] unoiatech opened #891 "Update multiple Group Chat dialogs"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-10-23 07:33] Pro100Andrey commented on #890
Hi @maulik6994,
Any updates ?

Thanks

[2017-10-23 07:36] Pro100Andrey commented on #891
Hi @unoiatech,

Could you expand a little bit on why you need `update multiple chat dialogs with One Method` ?

Thanks.

[2017-10-23 07:40] unoiatech commented on #891
Thanks for the reply @Pro100Andrey ,

I have some functionality in my app where I need to update the Dialog Data for multiple Chat Dialogs.

[2017-10-23 07:56] Pro100Andrey commented on #891
@unoiatech We have 3 fields for update chat dialog - `occupants_ids`, `name` and `photo`:

Fields to update:

Field | Available operators | Description | Usage example
-- | -- | -- | --
occupants_ids | pull_all,push_all | Update dialog occupants.Use push_all operator to add new occupants.Use pull_all to remove occupants | push_all[occupants_ids][]=55,56pull_all[occupants_ids][]=22,23
name |   | Na

[2017-10-23 08:02] unoiatech commented on #891
Here is my Code to update Single Chat Dialog:

[code]

In this scenario,  I am updating "job_status" from "Pending" to "Completed". In some cases, I have to update same for multiple dialogs at one time.

[2017-10-23 08:46] Pro100Andrey commented on #891
@unoiatech,
How many chat dialogs you want to update in single query? If it only a few then you can run multiple request in parallel and achieve the same behaviour.

Thanks.

[2017-10-23 08:54] Pro100Andrey commented on #891
@unoiatech,

Also you can use another approach using custom objects. In custom parameters of the chat dialog instance you can set the ID of the created custom object and use method of custom object updates

[2017-10-23 08:59] Pro100Andrey commented on #891
@unoiatech, Any updates?

Thanks.

[2017-10-23 09:22] unoiatech commented on #891
Dialogs count may be around 40-50..
I tried with Custom Objects but could not achieve the results. So, Dialogs worked for me. Only issue I am facing with dialogs is Updating Multiple.

[2017-10-23 11:49] VitaliyGuru commented on #891
@unoiatech,

Could you give an example of this?

[2017-10-23 12:49] unoiatech commented on #891
In my app, I have a Job. Multiple Users can Apply on that job. Each user will have individual Chat dialog associated to the Job. Means, if 30 users apply on a job, there will 30 Chat dialogs.

Now, if the Owner of job accept one of the Proposal from 30. The accepted one will be marked as accept and others will be marked as Rejected.

We are keeping the Job_status with each dialog using Dialog_Data

[2017-10-24 05:03] maulik6994 commented on #890
Thanks thats Done..

one more help please.
Do you have demo of videochat in swift?

[2017-10-24 05:23] RamandeepGosal opened #892 "Can not get total number of messages for a particular dialog."
**New Issue Checklist**

 -  I have read the [Documentation](https://quickblox.com/developers/IOS)
 -  I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------------

[2017-10-24 14:34] Pro100Andrey commented on #892
Hi @RamandeepGosal,
Thanks for reporting this, we are releasing new version of SDK witch will include this fix.

Thanks

[2017-10-24 14:42] Pro100Andrey commented on #892
https://github.com/QuickBlox/quickblox-ios-sdk/issues/892

[2017-10-25 13:58] #869 closed

[2017-10-25 13:58] #736 closed

[2017-10-25 13:58] #892 closed

[2017-10-25 15:27] VitaliyGuru commented on #890
@maulik6994, No, but we have planned it for the future releases.
You can follow our [blog](https://quickblox.com/blog/) to keep track of updates.

[2017-10-25 15:33] #890 closed

[2017-10-26 04:36] maulik6994 commented on #890
Ok Thanks @VitaliyGuru

[2017-10-26 10:41] VitaliyGuru commented on #891
@unoiatech, For your scenario there is no need to bind QBChatDialogs to the custom object.

|Job (Custom object )|
|---------------------|
|User_ids[Array]      |
|owner_ID[Integer]                    |
|Approved User ID[Integer]  |
|..etc |

As owner:
1. You can retrieve all custom objects where 'owner_ID == Your_ID'.
2. You can retrieve all private dialogs from rest(or cache) using 'User ids'.
3

[2017-10-26 15:59] Pro100Andrey commented on #891
Hi @unoiatech, any updates ?

[2017-10-27 13:28] #891 closed

[2017-10-28 07:20] aslam969 opened #893 "voice issue when receiving video call to ios device"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-10-28 10:24] prographo opened #894 "deprecated method QBCBlob.privateUrlForID(imageID)."
QB: You must NEVER discontinue the functionality of QBCBlob.privateUrlForID(imageID)

Images have already been uploaded, we only store the imageID

[2017-10-30 11:20] Raikerian commented on #893
Hi,

Please attach full logs to this issue.

[2017-10-30 11:38] Pro100Andrey commented on #894
Hi @prographo,  You should NEVER use this method for security reasons. Because `privateUrlForID` can be brute-forced. You need to migrate to uid download based API.

[2017-10-30 12:00] Pro100Andrey commented on #894
Hi @prographo, use this helper method instead:

[code]

[2017-10-30 12:00] #894 closed

[2017-10-31 09:29] prographo commented on #894
thx

[2017-10-31 11:04] Pro100Andrey commented on #893
Hi @aslam969, Any updates ?

[2017-11-01 12:26] riteshpatel0 opened #895 "enable to send message in private chat."
I am not sending message in private chat, sometimes i am getting error as below:
[code]

[2017-11-01 12:29] Pro100Andrey commented on #895
Hi @riteshpatel0, you should be  connected to chat. Use method bellow:

[code]

[2017-11-01 12:32] Pro100Andrey commented on #895
@riteshpatel0,
Any updates ?

Thanks!

[2017-11-01 12:39] riteshpatel0 commented on #895
yeh...but when I login, I was connect to chat server.so i need to connect with server before sending message?

[2017-11-01 12:43] Pro100Andrey commented on #895
@riteshpatel0, looks like you have disconnected before message sending. Please check it again.

[2017-11-01 12:56] riteshpatel0 commented on #895
No, I am disconnect only in applicationWillTerminate and applicationDidEnterBackground. and i am connect when app is Enter Foreground.not else I am disconnect from the chat server.

[2017-11-01 13:06] Pro100Andrey commented on #895
@riteshpatel0,
Could you please provide full logs with reproducing this issue?

For enabling logs use code:
[code]

[2017-11-01 13:22] riteshpatel0 commented on #895
POST URL:https://api.quickblox.com/chat/Dialog.json
headers: {
    "Accept-Language" = "en;q=1";
    "Content-Type" = "application/x-www-form-urlencoded";
    "QB-OS" = "iOS 11.0";
    "QB-SDK" = "iOS 2.12";
    "QB-Token" = 020b9d27262d3040a4b7c62db3bfed096400f338;
    "QuickBlox-REST-API-Version" = "0.1.1";
    "User-Agent" = "Wassup/1.0 (iPhone; iOS 11.0; Scale/2.00)";
}
parameters: {
    "occu

[2017-11-01 13:24] Pro100Andrey commented on #895
@riteshpatel0, please provide FULL logs with connect to chat

[2017-11-01 13:49] riteshpatel0 commented on #895
2017-11-01 19:01:13.352969+0530 Wassup[18179:412472] [Common] _BSMachError: port 9903; (os/kern) invalid capability (0x14) "Unable to insert COPY_SEND"
2017-11-01 19:01:15.013664+0530 Wassup[18179:413621] Strict Trust Evaluation yielded status(-9802) for [9:0x604000168b80]
2017-11-01 19:01:15.013838+0530 Wassup[18179:413621] TIC SSL Trust Error [9:0x604000168b80]: 3:0
2017-11-01 19:01:15.014104+05

[2017-11-01 14:21] Pro100Andrey commented on #895
@riteshpatel0 Needs full logs with error: Error Domain=com.quickblox.chat Code=-1002 "(null)" UserInfo={NSLocalizedRecoverySuggestion=You are not connected to chat.}

Thaks

[2017-11-01 15:52] Pro100Andrey commented on #895
Hi @riteshpatel0, Any updates?

Thanks!

[2017-11-02 03:53] fans3210 opened #896 "Not able to group chat using self initiated QBChatDialog instance which is a copy of the QBChatDialog returned by server"
Tested on IOS 11.1, xcode 9.1 and quickblox 13.0

**Did this work before?**
Nope.

**Expected behavior**
The self initialized QBChatDialog should also work for group chat if I make a copy of the QBChatDialog instance returned by server

**Actual behavior**
We didn't use the service manager provided by quickblox, instead, we implemented our own service manager.
I self-implemented auto groupjoin for

[2017-11-02 04:14] fans3210 commented on #896
I also noticed that for QMService, you maintained a memory cache for all QBChatDialogs after joined, we didn't do that because our project is a swift one and we are trying to avoid using singletons and reference type objects for the consideration of our project architecture.

I would be very appreciated if you could give me some suggestions.

[2017-11-02 04:51] riteshpatel0 commented on #895
GET URL:https://api.quickblox.com/chat/Message.json?chat_dialog_id=59f9cf03a0eb4718158ab052&date_sent%5Bgt%5D=1509543687&limit=100&mark_as_read=0&sort_desc=date_sent
headers: {
    "Accept-Language" = "en;q=1";
    "QB-OS" = "iOS 11.0";
    "QB-SDK" = "iOS 2.12";
    "QB-Token" = 22403170db04d10ff9efe269fd267cb9a100f338;
    "QuickBlox-REST-API-Version" = "0.1.1";
    "User-Agent" = "Wassup/1.0 (i

[2017-11-02 05:39] riteshpatel0 commented on #895
Sometime message to be send and I can see in admin panel of Quickblox and after sometime I am getting error like "The operation couldn’t be completed. (com.quickblox.chat error -1002.)".

I have attached signup, login snippet , userlist and chatVC file below of snippet. Please look into files if any mistake in snippet let me know.

SignUp snippet:
func signUpChatWithUser(user: QBUUser) {

[2017-11-02 09:12] maulik6994 commented on #895
i am getting same issue @Pro100Andrey  "Error Domain=com.quickblox.chat Code=-1002 "(null)" UserInfo={NSLocalizedRecoverySuggestion=You are not connected to chat.}"

Please guide me.

[2017-11-02 10:20] Raikerian commented on #896
Hi,

In order to QBChatDialog maintain join you need to keep it in memory for as long as you need join to work. Singletons are not mandatory here, you can store those loaded dialogues in any class.

[2017-11-02 11:07] Pro100Andrey commented on #895
@riteshpatel0, @maulik6994
Hi, guys. Please resend full logs from the start of the application until this issue. It is needed to solve your problem. Previous logs are not full or don't contain this issue. Full logs can help me to understand the steps which cause this problem.

Thanks!

[2017-11-02 11:32] maulik6994 commented on #895
now i am getting sent messages from but sometimes it disconnect

[2017-11-02 11:38] Pro100Andrey commented on #895
@maulik6994, [check it](https://github.com/QuickBlox/quickblox-ios-sdk/issues/895#issuecomment-341388599)

[2017-11-02 16:19] Pro100Andrey commented on #895
@maulik6994 , @riteshpatel0 Any updates ?

[2017-11-02 16:20] Pro100Andrey commented on #896
Hi @fans3210, Any updates?

Thanks!

[2017-11-03 02:50] fans3210 commented on #896
@Raikerian . Thanks. I think I will keep a memory cache like QMServiceManager for now.

@Pro100Andrey , problem solved after following @Raikerian 's suggestion. Thanks

[2017-11-03 02:50] #896 closed

[2017-11-03 04:55] fans3210 opened #897 "QBChatDelegate didReceiveMessage not called for group chat when app enter foreground"
**Did this work before?**
No

**Expected behavior**
For private chat message, when app enters foreground, the 'didReceiveMessage' method is triggered and all the messages that the user didn't receive will be pushed to him via this method.

Group chat should have similar behavior since I guess it's the feature of XMPP

**Actual behavior**

As mentioned in the title, the didReceiveMessage is not tri

[2017-11-03 04:57] fans3210 commented on #897
By the way, I also checked the issue #773 . It mentioned that we have to use restful api, but does enterprise account have such feature?

[2017-11-03 10:36] Raikerian commented on #897
Hi,

There is no feature to get missed messages through xmpp for group chats. Please use REST api to gather what you have missed: https://quickblox.com/developers/SimpleSample-chat_users-ios#List_chat_messages

[2017-11-03 12:38] Ashu commented on #895
I am having the same issue. Do I have to login again whenever I want to initiate a chat?

[2017-11-03 13:04] Pro100Andrey commented on #895
Hi @Ashu, Please resend full logs from the start of the application until this issue. It is needed to solve your problem. Full logs can help me to understand the steps which cause this problem.

Thanks!

[2017-11-03 13:05] Pro100Andrey commented on #895
@Ashu, For enabling logs use code:
[code]

[2017-11-03 14:12] Ashu commented on #895
@Pro100Andrey The issue was that I wasn't logging in user whenever I wanted to initiate a chat. All I had to do was check if current user is logged in by:

[code]

Logging in again fixed my issue.

[2017-11-04 11:27] Ashu commented on #857
How did you solved it? I am having the similar issue in example project.

[2017-11-04 11:42] SagarDabhi opened #898 "'Dialog have to be in memory cache!"
Hello Team,

i added quickblox in my app but i have an issue while sending text message, if i send image its working fine.

issue is like this:
**Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Dialog have to be in memory cache!**

i am using Pod and service manager class
[code]
Code :
[code]

Hope you can help me to find exact issue
Thanks

[2017-11-04 13:41] SagarDabhi commented on #898
able to solve issue using this code

`ServicesManager.instance().chatService.send(message, type: QMMessageType.text, to: self.dialog, saveToHistory: true, saveToStorage: true)
`

[2017-11-04 13:41] #898 closed

[2017-11-06 08:49] #897 closed

[2017-11-06 08:50] #895 closed

[2017-11-06 10:03] #893 closed

[2017-11-08 10:24] riteshpatel0 opened #899 "chat user disconnected on idle mode after some time."
chat user disconnect after sometime on idle mode when I don't touch screen to after few minutes.

[2017-11-08 12:02] Pro100Andrey commented on #899
Hi @riteshpatel0, Did you mean  `[UIApplication sharedApplication].idleTimerDisabled = YES;` ?

[2017-11-08 12:21] riteshpatel0 commented on #899
No... screen is not off. is On that time is disconnect.

[2017-11-08 12:46] Pro100Andrey commented on #899
@riteshpatel0, Could you provide full logs? For enabling logs use code:

[code]

[2017-11-08 16:17] Pro100Andrey commented on #899
Hi @riteshpatel0, any updates?

[2017-11-08 16:47] riteshpatel0 commented on #899
Hi, I am not getting any connection related error. I was check QBchat connection. But I was getting result false.

[2017-11-09 06:55] riteshpatel0 commented on #899
I am Getting error like "Request failed client error:422".

[2017-11-09 09:38] riteshpatel0 commented on #899
Hi @Pro100Andrey , Please look into below log:

[QBCore]: Response[1]
headers: {
    "Access-Control-Allow-Origin" = "*";
    "Cache-Control" = "no-cache";
    Connection = "keep-alive";
    "Content-Length" = 82;
    "Content-Type" = "application/json; charset=utf-8";
    Date = "Thu, 09 Nov 2017 09:34:17 GMT";
    Duration = "3.137856";
    "QB-Token-ExpirationDate" = "2017-11-09 11:27:01 +0000"

[2017-11-09 09:47] Pro100Andrey commented on #899
Login or email and password- can not be blank

[2017-11-09 09:48] Pro100Andrey commented on #899
Please provide FULL logs

[2017-11-09 10:11] riteshpatel0 commented on #899
Hi,

2017-11-09 15:37:49.261961+0530 Sample[14144:235995] Init - QMAuthService service...
2017-11-09 15:37:49.314207+0530 Sample[14144:235995] Init - QMChatService service...
2017-11-09 15:37:49.315031+0530 Sample[14144:235995] Init - QMDeferredQueueManager service...
2017-11-09 15:37:49.454034+0530 Sample[14144:235995] Init - QMUsersService service...
2017-11-09 15:37:54.472071+0530 Sample[14144:

[2017-11-09 10:12] Pro100Andrey commented on #899
@riteshpatel0, From logs
[code]

You should set email and password

[2017-11-09 10:18] riteshpatel0 commented on #899
But I was set Userid, email and password at login time.

[2017-11-09 10:22] Pro100Andrey commented on #899
@riteshpatel0, But from logs I see empty email and password. Please check it

[2017-11-09 11:13] Pro100Andrey commented on #899
@riteshpatel0, any updates?

[2017-11-09 13:06] maulik6994 commented on #899
Hey @Pro100Andrey

I want to implement functionality of "unfriend".
How can i do that?

[2017-11-09 13:10] Pro100Andrey commented on #899
@riteshpatel0, https://quickblox.com/developers/SimpleSample-chat_users-ios#Add.2FRemove_users

[2017-11-09 13:14] Pro100Andrey commented on #899
@riteshpatel0, what about the previous question?

[2017-11-09 13:22] Pro100Andrey commented on #899
@riteshpatel0, if you will have any questions, please create a separate issue.

Thanks!

[2017-11-09 15:50] riteshpatel0 commented on #899
Hi, I was login again and I am successfully login and I am getting email and password. But I am disconnected from the chat server. After few second I am disconnected from the chat server. I don't know what going on.

[2017-11-09 18:15] sin2 opened #900 "Endpoint detection broken"
When updating app using QB SDK 2.12 => QB SDK 2.14, endpoints are not automatically detected and set for enterprise solution.

However, it works when the app has a clean install.

Workaround for now is setting the endpoints manually.

[2017-11-09 18:20] Pro100Andrey commented on #899
Please provide logs with the issue. Thanks.

[2017-11-09 19:57] VitaliyGuru commented on #899
@maulik6994, If you need help, please create a separate issue. Each separate question - each separate issue.

[2017-11-09 19:57] VitaliyGuru commented on #899
@riteshpatel0, We can't help you without logs.

[2017-11-10 09:21] Pro100Andrey commented on #900
Hi @sin2, Could you please provide code snippet and step's for reproduce ?

Thanks!

[2017-11-10 10:28] Pro100Andrey commented on #899
Hi @riteshpatel0, Any updates ?

[2017-11-10 16:43] sin2 commented on #900
Well, we setup QB the following way:
`
    // QuickBlox
    [QBSettings setApplicationID:kQuickBloxAppID];
    [QBSettings setAuthKey:kQuickBloxAuthKey];
    [QBSettings setAuthSecret:kQuickBloxAuthSecret];
    [QBSettings setAutoReconnectEnabled:YES];
    [QBSettings setAccountKey:kQuickBloxAccountKey];
`

Prior to the update on version 2.12, this worked fine and connected to our custom endpoint

[2017-11-11 07:51] jlubeck commented on #759
This is happening to me on 2.13

[2017-11-11 07:55] jlubeck opened #901 "Push notifications (version 2.13): Can't create subscription from iOS device - "unknown attribute: bundle_identifier""
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

Same as ticket #759 but that one is closed already and it's happening for me on version 2.13.

here is the request being sent:

[code]

[2017-11-12 09:41] shalem93 opened #902 "Still seeing previous caller's video track in a new video call"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-11-13 10:01] Raikerian commented on #901
Hi,

If you use Enterprise plan, please submit a ticket at https://assist.quickblox.com to Enterprise department to ensure your request will be processed in shortest time. Seems like you need to update server to the newest version.

[2017-11-14 07:55] manishverma30 opened #903 "Swift Chat does not load dialog for first time"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-11-14 07:57] manishverma30 commented on #903
Swift Chat issue. reproduced in sample chat swift project.

[2017-11-14 13:29] riteshpatel0 opened #904 "chat notification not show."
sometime foreground chat notification not fire.

[2017-11-14 13:34] Pro100Andrey commented on #901
Hi @jlubeck, any updates?

Thanks!

[2017-11-14 13:38] Pro100Andrey commented on #904
Hi @riteshpatel0, Could you provide Full logs, from Xcode and `QuickBlox Dashboard` -> `Push Notifications` ->  `Queue`.

Thanks!

[2017-11-14 15:16] jlubeck commented on #901
Not yet, I'm not the owner of the account, so I can't submit the ticket myself. I already told the owner so hopefully he'll do it soon.
Thanks! I'll let you know

[2017-11-15 06:04] shirsh94 commented on #741
my private chat dialog processMessageDelivered method easily worked,but processMessageRead method does not work....

this is my code~~~~~~~~~~~~~~~~

messageStatusesManager = QBChatService.getInstance().getMessageStatusesManager();
        messageStatusListener = new QBMessageStatusListener() {
            @Override
            public void processMessageDelivered(String messageId, String dialogId,

[2017-11-16 04:53] fans3210 opened #905 "Able to receive private chat message but not able to send after re-login"
Currently using quickblox 2.14. Currently our project doesn't have chat history feature and we didn't retrieve dialogs from server after re-install our app and login. So what we did is:
1.  If I want to chat with someone, use QBRqeust.createDialog and then continue chatting with him.(As mentioned from the documentation, createDialog would help to find the existing dialog on server if any)
2. If so

[2017-11-16 11:05] Pro100Andrey commented on #905
Hi @fans3210, from your logs:
[code]
18446744073709551615 (MAXINT) - Recipient ID

So, to fix your issue you should check the following :

- `self.occupantIDs` for chat dialog must contain the sender id and the recipient id
- `QBSession.currentSession.currentUser.ID` - must be the user with whom you have performed the login.

Thanks!

[2017-11-16 11:07] Pro100Andrey commented on #905
From the inline documentation:

QBChatDialog:

[code]

[2017-11-16 11:09] Pro100Andrey commented on #904
Hi @riteshpatel0, Any updates?

Thanks!

[2017-11-16 12:25] Pro100Andrey commented on #900
Hi @sin2,
Thanks for reporting this, we are releasing the new version of SDK which will include this fix.

Thanks.

[2017-11-16 13:45] UtkuDalmaz opened #906 "Problem getting total unread messages count"
Hello,

I used to be able to get total unread message count with this code successfully but now it doesn't work.

[code]

Cannot find a proper documentation or assistance on this topic.
Any help is appreciated. Thanks

[2017-11-16 14:02] VitaliyGuru commented on #906
@UtkuDalmaz, Please describe your problem in details by adding actual behavior.

[2017-11-16 14:03] VitaliyGuru commented on #906
@UtkuDalmaz, FYI,  issue without template has the lowest priority.

[2017-11-16 14:23] UtkuDalmaz commented on #906
What template guys come on. I am just looking for a way to get total unread messages count that's all and cannot find a proper documentation. Anyone can help me or you will just ignore?

[2017-11-16 14:47] Pro100Andrey commented on #906
Hi @UtkuDalmaz,

[Unread messages count](https://quickblox.com/developers/SimpleSample-chat_users-ios#Unread_messages_count)

[2017-11-16 14:50] UtkuDalmaz commented on #906
The problem is that when using that exact same code I get

`Cannot convert value of type '(QBResponse, UInt, [String : AnyObject]?) -> Void' to expected argument type 'qb_response_unread_messages_block_t?' (aka 'Optional<(QBResponse, UInt, Dictionary<String, Any>) -> ()>')`

[2017-11-16 14:57] Raikerian commented on #902
Hi,

Have you removed old video track from QBRTCRemoteVideoView by calling `-[QBRTCRemoteVideoView setVideoTrack:]` and passing nil there?

[2017-11-16 14:59] Pro100Andrey commented on #906
@UtkuDalmaz try this for swift 4

[code]

[2017-11-16 15:09] Pro100Andrey commented on #906
@UtkuDalmaz, any updates?

[2017-11-16 15:11] UtkuDalmaz commented on #906
Testing the code now.

[2017-11-16 15:14] UtkuDalmaz commented on #906
let dialogsIDs: Set<String> = [""]
            QBRequest.totalUnreadMessageCountForDialogs(withIDs: dialogsIDs, successBlock: { (response, count, dialogs) in

            }) { (response) in
                print(response)
            }

I tried the code like this without any DialogID to get the total unread count but I get this response
`[QBResponse], status: 404`

[2017-11-16 15:27] Pro100Andrey commented on #906
@UtkuDalmaz   `let dialogsIDs: Set<String> = [""]` is not empty set.
You should use   `let dialogsIDs: Set<String> = []`.

[2017-11-16 15:30] UtkuDalmaz commented on #906
Thank you so much, man. You saved my life. By the way, try to update documentation for Swift 4. Cheers

[2017-11-16 15:31] Pro100Andrey commented on #906
Your issue:

Hello,

doesn't contain any helpful information, please follow our advice for a quick and useful response.

Thanks.

[2017-11-16 15:32] Pro100Andrey commented on #906
@UtkuDalmaz, as for:

it is in progress.

Thanks!

[2017-11-16 15:33] #906 closed

[2017-11-16 15:35] Pro100Andrey commented on #905
@fans3210, Any updates?

[2017-11-16 16:32] fans3210 commented on #905
@Pro100Andrey . I checked, occupant id has some issues. But it worked before. Is it because of the recent update of the sdk? I will fix on the occupantid and test again

[2017-11-16 16:48] Pro100Andrey commented on #905
@fans3210

I think no.

Thanks!

[2017-11-17 10:07] riteshpatel0 commented on #904
hi @Pro100Andrey ,

What should I provide from the "QuickBlox Dashboard -> Push Notifications -> Queue"? and Notification was dismiss from the this method "[self showNotification:notification usingOneByOneMode:self.isOneByOneMode];". sometime work perfectly and sometime not. I don't no where I was wrong.

[2017-11-17 10:22] VitaliyGuru commented on #904
@riteshpatel0, Do you have any additional information we should know?

[2017-11-17 10:31] VitaliyGuru commented on #904
@riteshpatel0,

Sorry for the confusion. It appears that we do not need this information.

[2017-11-17 12:10] #899 closed

[2017-11-17 12:42] VitaliyGuru commented on #903
@manishverma30,  Please use the Sample-Chat-Swift project from the latest release.
This issue was fixed.

[2017-11-17 12:47] sathisndot opened #907 "Other Audio sound is low when playing them in video chat"
I are working on Game Application.I have a few option on WIN/LOSE the Game that are on our video chat screen and I want to add sound effects for these process like Start,Win,Lose in this game.
I've face problem that when I call these methods to play sounds outside of the video chat the volume on them sounds fine but in video chat the volume of other sound is very low. I have Explain my code below

[2017-11-20 04:35] riteshpatel0 commented on #904
hi @Pro100Andrey ,

Notification was dismiss in this method [self showNotification:notification usingOneByOneMode:self.isOneByOneMode]. and I was not getting any log related to notification.

[2017-11-20 08:00] anil03 opened #908 "I am trying to call video call on QuickBlox-iOS. But I am not getting continuous call"
Hi There,

I implement the video chat feature in iOS application, When user call through video chat to another user then I only get simple notification.
 I need to get continuous call alert when user call me. It is not happening. for example whatsapp

Please do let me know if any code implementation or flag.

[2017-11-20 09:25] YroJlbok opened #909 "How group call initiator can stop audio/video call for selected opponent?"
**New Issue Checklist**

 - [+] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [+] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-11-20 11:45] Raikerian commented on #909
Hi,

You can do it by sending a system message using system message module (https://quickblox.com/developers/SimpleSample-chat_users-ios#System_notifications), on which you can just hang up call. So for example, you as an initiator, sending this message to the user in the call, and he just performs hangup.

[2017-11-20 11:47] Raikerian commented on #908
Hi,

It is done by using Apple CallKit framework. We are currently working on making SDK to work with it. It will be released with the example in our sample soon.

[2017-11-20 11:48] Raikerian commented on #867
Hi,

We are currently working on it. Updated SDK, as well as the example in sample will be released soon.

[2017-11-20 11:51] Raikerian commented on #907
Hi,

Please look into categoryOptions when initializing the audio session. Apple has different ones, you need to select which one you personally need: https://developer.apple.com/documentation/avfoundation/avaudiosessioncategoryoptions

You are currently using duckOthers and mixWithOthers, which are working exactly how you described in the post.

[2017-11-20 12:30] YroJlbok commented on #909
hi Raikerian,
thanks for answer.

[2017-11-20 12:30] #909 closed

[2017-11-21 14:04] Pro100Andrey commented on #907
Hi @sathisndot, Any updates?

[2017-11-21 14:06] Pro100Andrey commented on #901
Hi @jlubeck, Any updates ?

[2017-11-21 14:07] Pro100Andrey commented on #903
Hi @manishverma30, any updates ?

[2017-11-21 14:08] VitaliyGuru commented on #904
@riteshpatel0, We have tested our latest samples. Notifications work as expected. Please provide some additional information.

[2017-11-23 09:38] manishverma30 commented on #903
Hi Anndrey,
I have these lines on my project Pod file
pod 'QMServicesDevelopment', :git => 'https://github.com/QuickBlox/q-municate-services-ios.git', :branch => 'development'
pod 'QMCVDevelopment' , :git => 'https://github.com/QuickBlox/QMChatViewController-ios', :branch => 'development'
pod 'SearchEmojiOnString'

and now I should replace these with ?? please suggest
Thanks.
Manish

[2017-11-24 08:43] SagarDabhi opened #910 "Need quickblox audio call in swift."
hello, there is any video/audio calling exapmle on swift ?

[2017-11-24 09:35] Raikerian commented on #910
Hi,

The example is only available in objc, but framework is working fully with swift.

[2017-11-24 11:17] Pro100Andrey commented on #903
Hi @manishverma30, Could you provide you ChatViewController.swift?

[2017-11-24 11:52] SagarDabhi commented on #910
Thanks for reply, already code for that but I really don't know how its work

[2017-11-24 12:34] riteshpatel0 commented on #904
hi @VitaliyGuru ,

I am not getting error in sample demo. I was getting error in my project. and I was check my project but I am not getting any error related to notification. if you want to check my notification related code. so can I send you.

[2017-11-24 16:11] Raikerian commented on #867
Check out our latest QuickbloxWebRTC framework version 2.6.3: https://quickblox.com/developers/Sample-webrtc-ios#Framework_changelog
CallKit walkthrough: https://quickblox.com/developers/Sample-webrtc-ios#Apple_CallKit

Also check our updated sample: https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc

[2017-11-24 16:11] #867 closed

[2017-11-24 16:11] Raikerian commented on #908
Check out our latest QuickbloxWebRTC framework version 2.6.3: https://quickblox.com/developers/Sample-webrtc-ios#Framework_changelog
CallKit walkthrough: https://quickblox.com/developers/Sample-webrtc-ios#Apple_CallKit

Also check our updated sample: https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc

[2017-11-24 16:11] #908 closed

[2017-11-24 16:12] Raikerian commented on #910
Check out this guide to understand whats going on, there are some swift examples, but overall logic is same for both: https://quickblox.com/developers/Sample-webrtc-ios

[2017-11-25 08:11] SagarDabhi commented on #910
Ok Thanks

[2017-11-25 08:11] #910 closed

[2017-11-27 14:22] aly-irshad opened #912 "User data not updating"
I have designed the following code to check that a user exists or not.

 //checking if user exists with this email
    func quickbloxUserExistence(phone:String, callback: @escaping (Bool)->(Void)) {

        let arrr = QMServicesManager.instance().usersService.getUsersWithLogins([phone])
        if let arr = arrr.result as? [QBUUser], arr.count > 0{
            //user found
            callback(tr

[2017-11-28 06:26] manishverma30 commented on #903
[ChatViewController.swift.zip](https://github.com/QuickBlox/quickblox-ios-sdk/files/1508687/ChatViewController.swift.zip)
Hi Andrey,
Please find my ChatViewController.swift attached here.
Thanks.
Manish

[2017-11-28 08:17] #907 closed

[2017-11-28 10:04] Pro100Andrey commented on #903
Hi @manishverma30, [Please check latest release](https://github.com/QuickBlox/quickblox-ios-sdk/blob/b5abd41b582bac44f10985f541b1614f354dc700/sample-chat-swift/sample-chat-swift/Classes/ViewControllers/ChatViewController.swift#L62)

For fix your issue, please remove 2 lines from:

[code]

and from:

[code]

and add 2 lines into:
[code]

[2017-11-28 10:05] #903 closed

[2017-11-28 10:07] Pro100Andrey commented on #904
Hi @riteshpatel0, Could you provide your sample project with this issue?

Thanks!

[2017-11-28 10:07] #902 closed

[2017-11-28 10:07] #901 closed

[2017-11-28 10:13] VitaliyGuru commented on #912
The user is still cached in the QMServices. QMServices aren't bonded to the console.

[2017-11-28 10:13] #912 closed

[2017-11-28 11:38] manishverma30 commented on #903
Thanks you so much Andrey. issue got resolved.
Thanks.
Manish

[2017-11-28 14:55] aly-irshad commented on #912
So what should I do to solve this. please suggest.

On 28 Nov 2017 3:44 pm, "404" <notifications@github.com> wrote:

[2017-11-28 15:51] LeonardoCardoso opened #913 "How to join an active session using session token?"
On Android SDK, we can use

[code]
What's the equivalent for the iOS SDK?

[2017-11-29 09:33] IntellectSoftDeveloper commented on #878
Look on debug log, with enabled xmpp logging.
[log.txt](https://github.com/QuickBlox/quickblox-ios-sdk/files/1513204/log.txt)

[2017-11-29 09:35] Raikerian commented on #878
@IntellectSoftDeveloper are you connected to the original issue creator? If not, then please create a separate issue.

[2017-11-29 09:40] IntellectSoftDeveloper commented on #878
Yes, I provide full logs instead @deadjdona, we on same project)

[2017-11-29 10:07] DaskiOFF opened #914 "The application crashes when calling from a web application"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2017-11-29 11:37] Raikerian commented on #914
Hi,

According to logs crash is somewhere in your application:

You are sending an unrecognized selector. In order to catch this add exception for all exceptions: http://blog.manbolo.com/2012/01/23/xcode-tips-1-break-on-exceptions

[2017-11-29 12:49] DaskiOFF commented on #914
Hello,

Why it happens only when we call from our web application? If you call from your test application into our iOS application, then everything is fine.

I think if it was a problem in our code, I'd get the session in the callback function
``func didReceiveNewSession(_ session: QBRTCSession, userInfo: [String : String]? = nil)``
otherwise, why with your example I get through, and from our serv

[2017-11-29 13:15] LeonardoCardoso commented on #913
Found it. https://quickblox.com/developers/IOS#Initialize_framework

[2017-11-29 13:15] #913 closed

[2017-11-29 13:25] Raikerian commented on #914
Have you set up all exceptions? The link is provided in my previous answer. It should point out the exact line where it is crashing.

You can also call to our sample app from our web sample to test: http://samples.quickblox.com/web/webrtc/?creds=test#dashboard

[2017-11-29 21:47] deadjdona commented on #878
that's on dedicated quickblox server, not even on shared server.

[2017-11-30 08:56] DaskiOFF commented on #914
Yes, I set up all exceptions.

Line crashing which indicates Xcode is
```class AppDelegate: UIResponder, UIApplicationDelegate {```

In the near future will try to call from the web application in your test and I will report on the results.

Thank you

[2017-12-01 11:05] Raikerian commented on #878
Please attach logs from both devices where we can see slow connections. Also please check this issue in our sample in current repository (sample-videochat).

[2017-12-01 16:17] Raikerian commented on #914
Please also check this issue https://github.com/QuickBlox/quickblox-ios-sdk/issues/797
It might be related to yours.

[2017-12-02 09:32] Pro100Andrey commented on #904
Hi @riteshpatel0, any updates?

[2017-12-04 07:13] jlubeck opened #915 "setVideoTrack works with caller but not receiver"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

I'm using the latest SDK. I can't make the RemoteVideoView work on the receiving end. Whenever I make a video call, the caller gets the video from the receiver. But no

[2017-12-04 10:24] Pro100Andrey commented on #915
Hi @jlubeck, move this code:

[code]

from view will appear into:

[code]

Thanks

[2017-12-04 10:29] Pro100Andrey commented on #915
@jlubeck because you create the session in the `call:` method,  in `view will appear` session == nil.
Plese chek it.

[2017-12-04 10:40] Pro100Andrey commented on #915
Please check [our video sample](https://github.com/QuickBlox/quickblox-ios-sdk/blob/master/sample-videochat-webrtc/sample-videochat-webrtc/ViewControllers/CallViewController/CallViewController.m#L122-L125). We set video capture for local media stream after session creates.

Thanks.

[2017-12-04 14:58] DaskiOFF commented on #914
Hi, we have been able to call in your example application, but we still continue to Crash in our application.

I tried to find a solution and here's what happened:
- I did all your methods `QBCore` from your example
- `QBCore` is delegate for `QBRTCClient` (`QBRTCClient.instance.().add(self)`)

[Example Our QBCore](https://gist.github.com/DaskiOFF/b3c4b79425796c6a9547c3c5f97a6611)
-----------
- If

[2017-12-04 18:48] Pro100Andrey commented on #915
Hi @jlubeck, Any updates?

[2017-12-04 20:41] jlubeck commented on #915
Working on it!

[2017-12-05 04:07] jlubeck commented on #915
It worked!!! But instead of moving from viewWillAppear I had to copy it it. If I just moved it, then it work the other way around and only work on the receiver and not the caller. Thanks!

[2017-12-05 04:07] #915 closed

[2017-12-05 09:22] tarunseerayash commented on #706
Hello I have the similar problem

In our app QB chat is associated with our app Wall's , so there can be multiple chats on a single wall.
Every chat owner is different but if main wall is get deleted all chats associated with this get deleted.

So is there any way so we can provide access to our wall owner to delete all chats having on the wall??

We can go with dedicated server plan if you suppor

[2017-12-07 09:16] keeblebogdan commented on #776
Any new updates? Blocked user can still send messages.

[2017-12-07 11:02] optimumbrew commented on #745
[//]([url](url)) **Call other user (Click call button press)**

QBRTCClient.instance().add(self)
        let opponentsIDs = [38245148]
        let newSession = QBRTCClient.instance().createNewSession(withOpponents: opponentsIDs as [NSNumber], with: QBRTCConferenceType.video)
        // userInfo - the custom user information dictionary for the call. May be nil.
        let userInfo :[String:String]

[2017-12-07 11:15] Raikerian commented on #745
@optimumbrew Please create a new issue and explain it with much details as possible. Don't forget to check our [documentation](https://quickblox.com/developers/Sample-webrtc-ios) and [video sample](https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc).

[2017-12-08 05:39] mssiosteam opened #916 "Facing issue in chat ui after installing firebase Framework"
I am facing one problem in chat Ui (objective C), it’s causing problem when i come back to chat screen by clicking on arrived notification , the navigation bar get hides .its working fine when i am inside at the app , the problem is coming only when i come back to app from notification tab , please let me now the issue. The problem only arise when i install Firebase framework inside application fo

[2017-12-08 05:45] riteshpatel0 commented on #904
Hi @Pro100Andrey ,

I am not working in sample project. If you need code of notification so can I give you?

[2017-12-08 06:40] optimumbrew commented on #305
hi @**tonchis**  QBChat connect chat method are

QBChat.instance.connect(with: user, completion: {(_ error: Error?) -> Void in

                })

[2017-12-11 05:44] optimumbrew commented on #305
hi

QBChat.instance.connect(with: user, completion: {(_ error: Error?) -> Void in

  })

[2017-12-11 07:51] riteshpatel0 opened #917 "Not able to fetch value from the usersMemoryStorage."
I am store value in usersMemoryStorage but I am getting nil when I fetch value from the cache.

[2017-12-11 08:02] amit44405 opened #918 "need help"
i need help, hw can i develop video calling swift app using quicklox

[2017-12-11 12:09] optimumbrew commented on #704
i have try to video calling ,  calling to another user but can not be show video , the video screen are black window. please help be.

**my code file attach the file
[VideoVC.swift.zip](https://github.com/QuickBlox/quickblox-ios-sdk/files/1547660/VideoVC.swift.zip)

**
**my output are also attach**
![image1](https://user-images.githubusercontent.com/34236449/33830443-31d6f3a6-de9a-11e7-8ad9-6fe4f5

[2017-12-11 13:47] VitaliyGuru commented on #917
@riteshpatel0, Please send us a code snippet for getting and retrieving users. Also, print 'usersMemoryStorage' array before getting.

[2017-12-11 13:51] VitaliyGuru commented on #916
@mssiosteam, You issue is not related to our SDK. Please take a look at [Q-municate](https://github.com/QuickBlox/q-municate-ios). Firebase is implemented in Q-municate and we haven't faced such problem.

[2017-12-11 13:54] VitaliyGuru commented on #918
@amit44405, Take a look at our [video sample and the documentation related to it](https://quickblox.com/developers/Sample-webrtc-ios).

[2017-12-12 03:52] amit44405 commented on #918
@VitaliyGuru ,thank you so much

[2017-12-12 04:44] riteshpatel0 commented on #917
hi @VitaliyGuru ,

I am using below snippet for storing user into 'usersMemoryStorage' cache.

 func storeUserToDB()
    {

        for user in arrayFriends
        {
           let userDB = QBUUser()
            userDB.id = UInt(user.chatid)!
            userDB.fullName = user.firstname
            userDB.avatarUrl = user.profileImg
            ServicesManager.instance().usersService.usersMemoryS

[2017-12-12 09:12] #916 closed

[2017-12-12 09:12] #918 closed

[2017-12-12 09:13] VitaliyGuru commented on #878
@deadjdona, @IntellectSoftDeveloper ,
Any updates?

[2017-12-12 09:44] mssiosteam commented on #916
@VitaliyGuru
Please share your email address i will share you code and also sharing you video about the issue.

[2017-12-15 13:14] mikeRozen commented on #382
I started to experience the same issue
It seems that this option no longer exists in the setting....

[2017-12-18 10:42] VitaliyGuru commented on #382
@mikeRozen, Please create a separate issue and attach full logs.

[2017-12-18 11:05] Prady11 opened #920 "Not able to identify wheather cell is kind of QMBaseMediaCell or different on call of chatCellDidTapContainer function"
i am using your quickblox swift code for my project all this are woking fine except no able to identify cell type wheather cell is kindofclass QMBaseMediaCell or QMChatBaseLinkPreviewCell.
bellow is my code for cheking cell on click of function  chatCellDidTapContainer()

[code]

in this code at the time of check MediaCell my cell is returning nil.
Please suggest how to handle this problem.

[2017-12-19 05:58] mohanrajmca opened #921 "group video call"
how many member join at the same time in group video call ? . And how much internet speed need connect 4 member video call , because my group video call more then 2 member not connecting at the time , so kindly explain me how to solve the problem quickly ASOP.

[2017-12-19 21:25] Aragunz opened #922 "push[fieldName] array"
**New Issue Checklist**

let currentUserCustomObject = QBCOCustomObject()
        currentUserCustomObject.id  =  currentUser.userCustomId
        currentUserCustomObject.fields[push"friends"] = comUserId

        //currentUserCustomObject.fields.setValue(comUserId, forKey: "push[friends]")

        let communicatingUserObject = QBCOCustomObject()
        communicatingUserObject.id = customComUserI

[2017-12-20 14:14] DaskiOFF commented on #914
Error was found! For Swift 3.2

In xcode wrong interface generation for header files, in particular xcode substitutes might method:
```func didReceiveNewSession(_ session: QBRTCSession, users: [string : string]? = nil)```

and should be:
```func didReceiveNewSession(_ session: QBRTCSession, users: Any!)```

[2017-12-20 14:14] #914 closed

[2017-12-21 08:05] kalyan9691 commented on #917
I am facing same issue but only in iOS 11.2.1

[2017-12-24 02:50] jsaadk opened #923 "Set environment manually in push subscription iOS sdk"
I need to set production environment in push notification subscription without needing to archive for TestFlight or AppStore; and setting service zone in "production" does not work. Is there a way to achieve it manually.

[2017-12-27 09:34] riteshpatel0 commented on #904
Hi @Pro100Andrey ,

I am attach my notification code as below. please check it.

[ChatNotification.zip](https://github.com/QuickBlox/quickblox-ios-sdk/files/1588743/ChatNotification.zip)

Thanks!

[2017-12-27 10:04] DhananjayAwasthisyscraft commented on #337
I am also using pod 'Quickblox-WebRTC', '~> 2.6' for video calling. I am facing two problem the first one is, during video call volume is too slow an i am using this code
            QBRTCAudioSession.instance().initialize()
            QBRTCAudioSession.instance().currentAudioDevice = QBRTCAudioDevice.speaker
the second one is that, during video calling video quality is poor and video is stretche

[2017-12-27 10:58] DhananjayAwasthisyscraft commented on #415
I am also using pod 'Quickblox-WebRTC', '~> 2.6' for video calling in ios swift and xcode 8.3.2. I am facing two problem the first one is, during video call volume is too slow an i am using this code
QBRTCAudioSession.instance().initialize()
QBRTCAudioSession.instance().currentAudioDevice = QBRTCAudioDevice.speaker
the second one is that, during video calling video quality is poor and video is str

[2017-12-27 11:32] Raikerian commented on #415
Please create your own issues @Ajayiosdeveloper @DhananjayAwasthisyscraft as this one is not related to yours.

[2017-12-27 12:00] DhananjayAwasthisyscraft opened #924 "Video quality is very poor and volume is too slow during video call in swift."
I am using pod 'Quickblox-WebRTC', '~> 2.6' for video calling in ios swift and xcode 8.3.2. I am facing two problem the first one is, during video call volume is too slow an i am using this code
QBRTCAudioSession.instance().initialize()
QBRTCAudioSession.instance().currentAudioDevice = QBRTCAudioDevice.speaker
the second one is that, during video calling video quality is poor and video is stretche

[2017-12-27 13:20] SalmanGhumsani commented on #872
@Pro100Andrey Yeah It's awesome I have just followed the step and I am able to send the video can you please clarify How to represent it from both ends? is there any hack?

[2017-12-28 06:51] SalmanGhumsani opened #925 "Display video attachment with thumbnail"
Hi Team,

I am implementing send and receive the video attachment with the help of **QMChatViewController** I am able to get the video from the user and also able to send it to another person and this is works perfectly but there is a problem to show it and download it.
Can you please explain if you have any method to download the video or thumbnail?

I am using for sending the video:
[code]

[2017-12-28 12:48] VitaliyGuru commented on #925
@SalmanGhumsani, Hello.
Please take a look at [this method implementation of QMAttachmentAssetService](https://github.com/QuickBlox/q-municate-services-ios/blob/master/QMChatService/QMChatService/QMAttachmentService/QMAttachmentAssetService/QMAttachmentAssetService.m#L40-L87).

QMAttachmentAssetService is part of [QMServices](https://github.com/QuickBlox/q-municate-services-ios) with high-level AP

[2017-12-29 11:38] Raikerian commented on #924
This is the right solution and you are doing it right.
Regarding volume and quality issues, please attach call logs. Enable full logs by setting
`[QBRTCConfig setLogLevel:QBRTCLogLevelVerbose];`

Also, enable stat reports. To do that first enable them by setting:
`[QBRTCConfig setStatsReportTimeInterval:1.0f];`

And then print them in QBRTCClientDelegate:
[code]

[2017-12-29 13:15] Pro100Andrey commented on #922
Hi @Aragunz, could you provide full logs? Thanks!

[2017-12-29 13:27] VitaliyGuru commented on #920
[code]

[2017-12-29 14:36] Aragunz commented on #922
It was a mistake on my part, i thought push works when creating QBCustomObject  ... customObjects.fields["push[friends]"] but that is user as special operatior when updating custom object. Thank you. i will close issue.

[2017-12-29 14:36] #922 closed

[2017-12-30 12:04] nikunjgabani opened #926 "How to get a session for Incoming call using PushKit?"
Hi Team,

I am implementing send and receive a video call with the help of PushKit. because I am using CallKit to get call direct without interacting with Push notification. but I am not able to get a session for video calling.
Can you please explain if you have any method to get session via PushKit?

I am using to receiving the video call push:
[code]

[2018-01-01 07:06] jasminpethani commented on #925
@SalmanGhumsani

How did you show video option because i am not able to find any options which provides selecting video from attachments option on screen ??

[2018-01-01 12:03] #926 closed

[2018-01-02 08:49] DhananjayAwasthisyscraft commented on #924
Hello Raikerian,
I am sending call logs to you, for call logs i am using this line of codes.
QBRTCConfig.setStatsReportTimeInterval(5)
QBRTCConfig.setLogLevel(QBRTCLogLevel.verbose)

func session(_ session: QBRTCBaseSession, updatedStatsReport report: QBRTCStatsReport, forUserID userID: NSNumber) {
 print("\(report.statsString())")
}
This is statsString.
(cpu)60%
CN 273ms | stun->stun/udp | (s)0bp

[2018-01-02 13:38] manishverma30 opened #927 "CustomObject creation error"
Hi ,
I am having issue with creation of custom Object. I am using both Objective C and Swift code to create custom object but I am getting error " Error reasons:{
    errors =     (
        "Undefined class"
    );
and
[QBResponse], status: 403
This code use to work before and I have created many custom object but now I am getting error as above all the time for both Objective C and Swift code.
My

[2018-01-03 12:28] VitaliyGuru commented on #927
The error tells that you don't have the custom data structure for the class named `doctor_schedulesmytest`. [Documentation related to this issue](https://quickblox.com/developers/SimpleSample-customObjects-ios#Adding_a_Custom_Data_structure_to_your_application).
Could you please check it?

[2018-01-03 14:40] manishverma30 commented on #927
HI, I have question here, I was having this impression that I should able to create new Custom Object using IOS code that means I should be able to create new class named "doctor_schedulesmytest" using IOS code but not from Admin Panel. ??
Thanks.
Manish

[2018-01-03 19:55] VitaliyGuru commented on #927
A custom data structure for the class in admin panel is mandatory.

[2018-01-04 05:54] manishverma30 commented on #927
Thanks got the point. so data structure has to be created first from Admin panel and then IOS code can add records in that. Its clear now. We can close this issue.
Thanks.
Manish

[2018-01-04 09:34] #927 closed

[2018-01-05 07:05] AsceticKumar opened #928 "Incomplete chat history in a private group dialog"
**Scenario**: I have added a participant in a private group dialog then i removed that participant, after few conversations i added that participant again to the dialog. In that case added participant can see the list of chat messages from the time it was removed from the group.

**Expected behavior**: Either it can see all chat messages history or from the moment it was added to the group.

Platf

[2018-01-05 12:12] AsceticKumar opened #929 "Last message From QbChatDialog is not complete"
Hi,
   We are using JSON String as body for QbChatMessage . When getting the dialog list the `lastMessage` returned was incomplete . So its not a valid JSON and can not be parsed.

Could you please look into this issue ?

[2018-01-05 13:02] AshitCapermint opened #930 "Issue with Group Video Call in iOS Application"
**New Issue Checklist**

 - [x] I have checked https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc

**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------------------------|
iOS Version                    | 9.0+                                    |
Quickblox i

[2018-01-09 11:04] Mani101991 opened #931 "Need"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-01-09 11:19] Mani101991 opened #932 "Need Push Notification Delivered Acknlowledgment."
Hi Team,

Currently, i’m facing a problem to identify whether the message is delivered to the receiver when he killed the app and received the notification. We need to get delivered response from the quick blox.

For Example :
Consider User A & User B,
User A is in Online.
User B is Offline(Internet is on) and the app is in the killed state(quit).
User A is sending a message to User B.
User B rece

[2018-01-09 11:54] #931 closed

[2018-01-10 10:15] jkmathew opened #933 "+[QBRequest updateDialog:.... not updating values"
- [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------------------------|
iOS Versio

[2018-01-10 15:52] VitaliyGuru commented on #933
@jkmathew, Hello.
There is another approach for using dialog's data.
Please take a look at the [documentation](https://quickblox.com/developers/SimpleSample-chat_users-ios#Custom_parameters).

[2018-01-10 16:14] Amekill opened #934 "Receiving all user dialogs from the server"
**New Issue Checklist**

 - [+] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [+] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-01-10 16:20] jkmathew commented on #933
hi @VitaliyGuru , Thank you for your reply.
Let me try it out.

[2018-01-11 07:09] jkmathew commented on #933
Hi @VitaliyGuru ,
I have one more issue related to this,
I am trying to add/update photo field of the dialog by setting
` dialog.photo = photourl`, its showing as updated in the `successBlock` . But when I relaunch the application, the photo field showing old value. If I logout and login again/delete the app from device and login again, updated value is showing. You have any idea why this is happe

[2018-01-11 10:02] LeonardoCardoso opened #935 "UIApplication applicationState being called from a Background Thread"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-01-11 10:40] VitaliyGuru commented on #934
@Amekill, Hello.

Could you please enable full logs, perform the request and send us this information?

[code]

[2018-01-11 10:40] Pro100Andrey commented on #935
Hi @LeonardoCardoso, Thanks for reporting the issue!

[2018-01-11 10:45] VitaliyGuru commented on #933
@jkmathew, How do you store dialogs?

[2018-01-11 11:17] jkmathew commented on #933
Storing dialogs n memory cache...

[2018-01-11 11:19] jkmathew commented on #933
I meant not doing anything particular for storing dialogs/messages. I think its storing in memory storage by default.

[2018-01-11 11:22] jkmathew commented on #933
I tried
[code]

Then its working but, adding a blank message in the dialog.

Is it possible to avoid adding these  messages(NotificationMessageAboutChangingDialogPhoto) to dialog?

[2018-01-11 11:31] Raikerian commented on #930
Hi,

Please attach full logs from app start till problem. Also, check that you have subscribed to QBRTCClientDelegate.

[2018-01-11 12:29] VitaliyGuru commented on #933
You should update dialog in memory storage after setting the image.

[2018-01-11 12:31] VitaliyGuru commented on #929
@YatinKwikard, Hello.

Could you please enable full logs, perform all steps to reproduce this issue and send us this information?

[code]

[2018-01-11 12:52] jkmathew commented on #933
How I can update dialog in memory storage?.
I tried
[code]

Also,
[code]

In second case, not even calling the completion block.

In Both cases `unc chatService(chatService: QMChatService!, didUpdateChatDialogInMemoryStorage chatDialog: QBChatDialog!)` method not getting executed.

If I Send Any message in the dialog, then its getting updated in memory storage

[2018-01-11 13:10] VitaliyGuru commented on #928
@YatinKwikard, This behavior can't be changed. It's Quickblox workflow.

[2018-01-12 12:12] Amekill commented on #934
@VitaliyGuru Hello. Thanks for response. Logs:

2018-01-12 15:10:23.074137+0300 Amefee[7783:955184] [QBCore]: Request[1]:
GET URL:https://api.quickblox.com/chat/Dialog.json?limit=20&sender_id%5Bin%5D=39258716&type%5Bin%5D=1
headers: {
    "Accept-Language" = "en-RU;q=1, ru-RU;q=0.9";
    "QB-OS" = "iOS 11.2.2";
    "QB-SDK" = "iOS 2.14";
    "QB-Token" = 0411f895582559bff3ce7d64596c43d5bb010074;

[2018-01-15 10:18] Raikerian commented on #924
You can set up video quality on a sender side: https://quickblox.com/developers/Sample-webrtc-ios#Switch_camera
As for audio, there should not be any problems if you have correctly activated audio session: https://quickblox.com/developers/Sample-webrtc-ios#Audio_Session_.28Previously_Sound_Router.29

Check out our video sample in the current repository to see if the problem is persistent there, an

[2018-01-15 10:21] Raikerian commented on #921
Highly depends on the device you are using. Usually we do not recommend more than 5 users in 1 call if you are using p2p calls. Things are different if there is a serverside implemented (enterprise only): https://quickblox.com/developers/EnterpriseFeatures#Conference_video_calls

Prettu much any internet speed can be used. Webrtc will adapt quality to your internet speed, so you don't have much la

[2018-01-18 17:16] iOSMahesh opened #936 "Audio call: No sound listen due to play calling sound even I stop using [QMSoundManager stopAllSounds]."
I am facing audio issue from iOS to android call or iOS to iOS call.
Device A: iPhone
Device B: Android phone
Step:
1. Press call button from the iOS device. & audio initialize & play calling sound using
        QMSoundManager.playCallingSound()
 2. Call received from android phone then our delegate called So I remove calling sound.
- delegate method; session(_ session: QBRTCBaseSession, connected

[2018-01-19 15:54] iOSMahesh commented on #936
Hi @Raikerian,

I'm using latest version 2.6.3 webRTC with swift 4.0.
I had update lib using pod but no luck to fix issue!!

[2018-01-19 15:58] Raikerian commented on #936
1. Is it possible for you to reproduce this issue using our sample? If yes, did you make any changes (which ones). sample-videochat in current repository.
2. If 1 is not true for you, please attach full logs with stat reports from the device with the problem.

To achieve full logs in console, first turn on them before using anything webrtc related in the app by using this code:
[code]

Then in the

[2018-01-19 16:04] iOSMahesh commented on #936
Thanks for quick response.

Let me try with #2. If it helps to find the issue otherwise I will do work on #1.

[2018-01-19 16:23] iOSMahesh commented on #936
Hi @Raikerian

Please check below URL contain WebRTC logs.
https://gist.github.com/iOSMahesh/031fe8698cbeff0a8b3c1ea319468587

[2018-01-20 15:37] iOSMahesh commented on #936
Hi @Raikerian ,
Did you able to get any hint from error logs?

[2018-01-21 12:13] StrobeGB opened #937 "Sample chat swift build failure - <Quickblox/Quickblox.h> not found"
Downloaded sample chat swift from Github, opened in Xcode 8.3.3, replaced IDs, secret and key in AppDelegate.sift then build and run (as per 5 minute install)

Build failed with <Quickblox/Quickblox.h> file not found in QBChatMessage+QBDateDivider.h.

![screen shot 2018-01-21 at 12 05 47](https://user-images.githubusercontent.com/23457270/35194040-2ed35012-fea4-11e7-8c4d-d75234d45181.png)
![screen

[2018-01-24 15:36] iOSMahesh commented on #936
Hi @Raikerian
Can I have more suggestion from you to fix the issue?

[2018-01-24 15:47] Raikerian commented on #936
Main error is:
[code]

Which means your audio session using incorrect settings.
Please make sure that you are correctly activating audio session before the call:
https://quickblox.com/developers/Sample-webrtc-ios#Audio_Session_.28Previously_Sound_Router.29

You can check our sample to see the correct usage.

[2018-01-24 17:04] iOSMahesh commented on #936
Thanks @Raikerian
Issue fixed. it's due to _AVAudioSessionCategoryOptionAllowBluetoothA2DP_ missing in my code

[2018-01-24 17:04] #936 closed

[2018-01-25 14:22] Pro100Andrey commented on #900
fixed

[2018-01-25 14:22] #900 closed

[2018-01-25 15:32] Pro100Andrey commented on #937
Hi @StrobeGB , please check latest release https://github.com/QuickBlox/quickblox-ios-sdk/releases

[2018-01-28 21:51] shalem93 opened #938 "WebRTC Crash"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-01-30 09:06] thebirds opened #939 "Is it possible to access/modify local audio track?"
Hi Team,
I just want to access the audio track, add some filters/effects to the sound, then pass them to call process, and the receiver can hear the change of my voice while calling. Is it possible to do that with QuickBlox? Thanks

[2018-01-30 09:41] jkmathew commented on #933
@VitaliyGuru , can you clarify my doubt. How to save/update dialog in memory storage?

[2018-01-30 14:47] Pro100Andrey commented on #937
hi @StrobeGB, any updates?

[2018-01-30 15:13] Pro100Andrey commented on #938
hi @shalem93, could you please provide full webrtc logs before crash?

[2018-01-31 15:59] sandeep102 opened #940 "send message issue"
Message send successfully but.  the message go up first and then it show to bottom as last message. why this happening?. is it animation issue. this thing is happening in Demo also.

[2018-02-01 02:42] zhugongyuan commented on #858
How to resolve the configuration issue?i hava this issue.thanks

[2018-02-01 10:13] VitaliyGuru commented on #940
Please provide screenshots or video.

[2018-02-01 10:36] sandeep102 commented on #940
![simulator screen shot - iphone 8 plus - 2018-02-01 at 05 30 55](https://user-images.githubusercontent.com/30519234/35674041-6322d9c6-0711-11e8-8bfd-f5bda9933e36.png)

screenshot just after sending message you can see the "Dad" is not at last

![simulator screen shot - iphone 8 plus - 2018-02-01 at 05 32 11](https://user-images.githubusercontent.com/30519234/35674095-93161a44-0711-11e8-90d5-82ee5

[2018-02-01 12:04] PrincessGitu commented on #120
Hi can you please share me any sample of video attachment sharing

[2018-02-01 12:08] VitaliyGuru commented on #120
@PrincessGitu, @abhishek33u  Please create a separate issue.

[2018-02-01 12:31] sandeep102 commented on #690
I face same Issue when i send message. collection view rearranges. send message.

[2018-02-01 13:57] StrobeGB commented on #937
I didn't see the requirement for XCode 9. I've reverted from XCode 9 back to 8 due to performance issues with Swift. Could I proceed using Quickblox downloads prior to Swift 4 support, or should I abandon?

[2018-02-01 14:49] VitaliyGuru commented on #690
@sandeep102  Hello. An explanation given by @Raikerian isn't changed. We didn't change the workflow for messages with attachments.

[2018-02-02 11:26] sandeep102 commented on #940
this is also happening in ios

[2018-02-06 13:25] Raikerian commented on #939
Hi,

As of now, there is no possible way to modify audio data.

[2018-02-06 15:29] Raikerian commented on #938
Hi @shalem93
Were you able to figure out this or have any updates?

[2018-02-06 15:30] Raikerian commented on #937
You can definitely use our sdk with any version of swift.

[2018-02-08 09:03] MrProject13 opened #941 "Rate limit for your current plan Starter has been exceeded"
**Limit exceeded notification**

I received notification from quickblox that :
**Rate limit for your current plan Starter has been exceeded, please consider to upgrade you plan in QuickBlox dashboard to avoid any potential issues in your application. You can check available QuickBlox plans on Plans page.**

I am sure that I have not sent that much messages that starter plan exceeded. I want to kno

[2018-02-09 12:13] dipendrapulse opened #942 "Unable to join the group chat & send message"
iOS Version                    | e.g. 10.3.3                                    |
Quickblox iOS SDK version      | e.g. 2.9.2                                  |
Xcode Version                  | e.g. Xcode 9.1                              |
Repro with our demo sample     | e.g. does it happen with our demo sample?   |

Issue: I am able to create Group dialog but when I am unable to join the group n

[2018-02-09 15:17] VitaliyGuru commented on #941
Hello, @MrProject13
You can check all statistic for API Calls in your admin panel.
http://joxi.ru/EA4K8gGCDB7eP2

I hope that helps! If you have any further questions, please [contact our support team](https://assist.quickblox.com/index.php?/Tickets/Submit).

[2018-02-14 10:29] amit44405 opened #943 "Video not Show Display only Display Blank view"
**Newsue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|----------------------------------

[2018-02-14 13:54] Raikerian commented on #943
Please enable stat reports and gather logs again. Also, please use gist.github.com or similar services to attach logs and make them readable.

To enable stats report first enable them by setting:
`[QBRTCConfig setStatsReportTimeInterval:1.0f];`

And then print them in QBRTCClientDelegate:
[code]

[2018-02-15 04:49] amit44405 commented on #943
<script src="https://gist.github.com/amit44405/1de4afa7a525f18c7e922e798eec62a7.js"></script>

[2018-02-15 04:51] amit44405 commented on #943
[logfile.txt](https://github.com/QuickBlox/quickblox-ios-sdk/files/1726441/logfile.txt)

[2018-02-15 04:53] amit44405 commented on #943
[https://gist.github.com/amit44405/1de4afa7a525f18c7e922e798eec62a7](url)

[2018-02-15 04:53] amit44405 commented on #943
[https://gist.github.com/amit44405/1de4afa7a525f18c7e922e798eec62a7.js](url)

[2018-02-15 05:02] amit44405 commented on #943
https://gist.github.com/amit44405/1de4afa7a525f18c7e922e798eec62a7 Here is log file with .swift file attached as per your suggestions

[2018-02-15 12:08] darpan-123 opened #944 "Display video attachment with thumbnail"
How to display thumbnail of video, am able to send videos to mine friend but am not able to see that video. How can i play that video.

  // MARK: Actions
    override func didPickAttachmentVideoMedia(_ videoURL: URL!) {

        let message = QBChatMessage()
        message.senderID = self.senderID
        message.dialogID = self.dialog.id
        message.dateSent = Date()

        let videoName

[2018-02-15 13:55] Raikerian commented on #943
You do not receive any video as per logs. Make sure you have correctly set up video capturer as per doc: https://quickblox.com/developers/Sample-webrtc-ios#Manage_local_video_track

Also, your logs are call-only, so I cannot see if capturer was set up correctly or not.

[2018-02-20 07:59] mobile3000 opened #945 "self.inputToolbar.audioRecordingEnabled = true"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-02-20 08:02] mobile3000 opened #946 "Audio recording Button is not appeared."
I  added  "self.inputToolBar.audioRecordingEnabled = true" in viewdidload function.
But audio recording Button is not appeared.

[2018-02-21 11:31] manojkraftly opened #947 "Push Error"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-02-22 12:09] jkmathew opened #948 "Users Who blocked me can send notifications with `QBMEvent`."
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

User A blocked User B, User B cannot send message to User A. As it is sending but not receiving. This is fine. But User B can send `QBMEvent` to user A.

**Environment

[2018-02-23 11:01] mayur9333 commented on #943
hey there,
i am working with quickblox chat and i also have same problem that when i call then receiver can able to view both side videos.but caller unable to see the opponent video.please sugget

[2018-02-23 12:04] dipendrapulse commented on #942
This is fixed

[2018-02-23 12:04] #942 closed

[2018-02-23 15:30] dipendrapulse opened #949 "Issue while sending sticker"
**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------------------------|
iOS Version                     11.0                                    |
Quickblox iOS SDK version      iOS 2.9.2                                  |
QuickbloxWebRTC SDK version    | e.g. 2.2.1

[2018-02-26 06:18] Sengthai commented on #794
Hello @Raikerian
I have same problem and I added the opponents IDs by using
    var dialog: QBChatDialog!
     if let ids = dialog.occupantIDs {

     }
So is it right? if not how to add opponents IDs?

[2018-02-27 07:34] sheikhrashid opened #950 "Failed to Send message in GroupChat"
Receiving this error in **Group Dialog**. Messages are sending successfully in **Private Dialog**, but causing issue in GROUP.
Don't know what's happening

`Optional(Error Domain=com.quickblox.chat Code=-1001 "You are not joined to the dialog." UserInfo={NSLocalizedRecoverySuggestion=You should be joined to the dialog with JID: 68598_5a950591a28f9a2c003bc3b6@muc.chat.quickblox.com., NSLocalizedDes

[2018-02-27 07:50] Jaimin2208 commented on #689
Quick Blox not Any Good Tutorial

[2018-02-27 07:52] Jaimin2208 commented on #689
please any one ask me when implement call kit then which place didReciveNewsession method move

[2018-02-27 08:13] VitaliyGuru commented on #689
CallKit is implemented in Q-municate.
Please take a look at [QMCallKitAdapter](https://github.com/QuickBlox/q-municate-ios/blob/8b00f2270f970cc32539e4e609433abb2b24a14a/Q-municate/Classes/QMCallKitAdapter/QMCallKitAdapter.h) and [QMCallManager](https://github.com/QuickBlox/q-municate-ios/blob/8b00f2270f970cc32539e4e609433abb2b24a14a/Q-municate/Classes/Core/QMCallManager/QMCallManager.h)

[2018-02-27 08:27] VitaliyGuru commented on #947
@manojkraftly, Hello.

Could you please enable full logs and send us this information?
[code]

[2018-02-27 08:29] #945 closed

[2018-02-27 08:30] VitaliyGuru commented on #945
Closed as [duplicate](https://github.com/QuickBlox/quickblox-ios-sdk/issues/945)

[2018-02-27 08:41] sheikhrashid commented on #950
Got this.

Thanks Quickblox support

[2018-02-27 08:49] mayur9333 opened #951 "didReceiveNewSession call repeatedly."
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-02-27 08:52] #941 closed

[2018-02-27 08:57] #921 closed

[2018-02-28 06:19] manojkraftly opened #952 "Push Notification not working in production app"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-02-28 06:23] senjaliya1989 opened #953 "how can get video/audio call history"
i have use quickblox. every think working fine but i can't understand how to get video/audio call history like whatsapp

[2018-02-28 12:31] VishalWaman opened #954 "Custom Chat Engine"
We are looking for a Custom Chat Engine that should have below capability
1.	IOS SDK
2.	Android SDK
3.	Chat + Voice + Video Feature
4.	Custom message that should trigger a event, e.g. when user types “#” we should list an options (like dropdown) and event should trigger on user selection

[2018-03-01 06:30] Jaimin2208 commented on #259
Hello Raikerian,

When My App in Foreground & Background then didReceiveNewSession method is called.
but when in "lock-Mode" then it's not work.

[2018-03-01 09:30] manojkraftly opened #955 "Push not working Android to iOS, iOS to Android"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-03-01 11:19] VitaliyGuru commented on #954
@VishalWaman, Hello
QuickBlox works cross-platform and we offer native SDKs for Web/iOS/Android as well as Rest APIs. You may check variety of features we offer as well as our documentation and code sample here: https://quickblox.com/developers/QuickBlox_Developers

We would love to find out more about your project and be able to advise of the best practices in similar use cases tapping into our e

[2018-03-01 11:56] Jaimin2208 opened #956 "QuickBlox In Swift, iOS When My App in Foreground & Background then didReceiveNewSession method is called. but when in "lock-Mode" then it's not work."
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-03-01 11:57] Jaimin2208 commented on #956
Hello Raikerian,

When My App in Foreground & Background then didReceiveNewSession method is called.
but when in "lock-Mode" then it's not work.

[2018-03-07 14:26] shaharukhs opened #957 "receivedRemoteVideoTrack not being called"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-03-08 06:13] manojkraftly commented on #591
How it will work Android to iOS?

[2018-03-09 07:04] #957 closed

[2018-03-09 12:20] VitaliyGuru commented on #955
@manojkraftly, Please provide logs, code and other helpful information.
Check your certificate and subscriptions in the admin panel.

[2018-03-09 13:06] VitaliyGuru commented on #952
@manojkraftly, Please add details to your issue.

For now, we can only provide the list of well-known issues:
1. The certificate is invalid. To test your push certificate, we recommend using a third-party tool like Houston or APNS Tester to send pushes to the device. If the pushes don't work with the third party then you'll need to re-create your certs.
2. Your device is not registered for push no

[2018-03-09 13:08] VitaliyGuru commented on #943
@mayur9333, Please create a separate issue and add logs and stats reports.

[2018-03-09 13:50] VitaliyGuru commented on #956
@Jaimin2208, Please provide full logs.

[2018-03-09 14:02] VitaliyGuru commented on #954
@VishalWaman, Should you need any further information, please do not hesitate to contact us.

[2018-03-09 14:02] #954 closed

[2018-03-09 15:29] VitaliyGuru commented on #953
@senjaliya1989, Hello.
The call history can be implemented by dint of notification messages as in Q-municate.
Please take a look at [this category](https://github.com/QuickBlox/q-municate-ios/blob/d43696b18c9c73fe22a64a81360c8d554e2734ba/Q-municate/Categories/QBChatMessage/QBChatMessage%2BQMCallNotifications.h) which can be used as an example for implementation on your side.

[2018-03-09 15:35] VitaliyGuru commented on #951
@mayur9333, Hello.
Could you please enable full logs and send us this information?

[code]

[2018-03-09 15:48] VitaliyGuru commented on #948
@jkmathew, Hello.

This behavior can't be considered as an issue because events are custom notifications and their processing depends on the developer's needs.

[2018-03-09 16:47] #924 closed

[2018-03-10 12:03] siddharth3322 opened #958 "response Code=-1011 "Request failed: not found (404)""
When QMChatViewController loaded at time, I was getting this kind of error log.
Though if you test within devices then you don't feel any problem is running but xCode log showing this kind of error messages.

![exnext_chat_error](https://user-images.githubusercontent.com/3082151/37242063-f649f790-2488-11e8-839b-225f32072c83.png)

I hope above log has given you all required details. Please reply me

[2018-03-10 12:28] siddharth3322 opened #959 "unrecognized selector sent to instance 0x16a92400"
When I try to close QMChatViewController at that time my application get crashed with following log details.

![exnext_app_crash](https://user-images.githubusercontent.com/3082151/37242258-50ca7b10-248c-11e8-83f2-33f49bba91c0.png)

Then I press back button of chat view dialog, list of chat users page get loaded. So I can't able to figure out whether its problem of chat view dialog or chat user lis

[2018-03-11 14:54] Pro100Andrey commented on #958
Hi @siddharth3322, Could you provide full logs (not screenshot)?

Thanks!

[2018-03-11 14:56] siddharth3322 commented on #958
yes I can provide you full log now but which component, should I use? If I paste directly log over here then it will create complete mess up and all data get jumbled.

[2018-03-11 14:58] Pro100Andrey commented on #958
@siddharth3322 use gist - https://gist.github.com

[2018-03-11 15:03] siddharth3322 commented on #958
Here is the uploaded log details:
[https://gist.github.com/siddharth3322/c1cff8b0578dba4a8af85494450b27fb](url)

[2018-03-11 15:15] Pro100Andrey commented on #958
@siddharth3322  from your log:
- "date_sent[gte]" = 0; - **invalid field**.
and you set **nil** for dialog id in:

[code]

[2018-03-11 15:19] siddharth3322 commented on #958
now what should I require to do for solution?

[2018-03-11 15:20] Pro100Andrey commented on #958
@siddharth3322
my suggestion -  update SDK to lates version [2.16](https://github.com/QuickBlox/quickblox-ios-sdk/releases)

Thanks!

[2018-03-11 15:23] siddharth3322 commented on #958
If I just update the framework file then will it work for me?

[2018-03-11 15:26] Pro100Andrey commented on #958
Check documentation - [HOWTO Retrive chat history](https://quickblox.com/developers/SimpleSample-chat_users-ios#List_chat_messages)

[2018-03-11 15:41] siddharth3322 commented on #958
At these two places, I am assigning dialogID
[code]

Here is another place:

[code]

This is last way:

[code]

So at which place my ID going wrong for dialog?

[2018-03-11 15:55] siddharth3322 commented on #959
Also this is more important for me to solve - because this one crashing the application.
Other one is only showing error code.

[2018-03-11 16:22] Pro100Andrey commented on #958
@siddharth3322 check  this mehtod:
[code]

[2018-03-11 16:26] siddharth3322 commented on #958
can you tell me exactly in which class this method exist?

Within my code I can't able to find this one...

[2018-03-11 16:29] siddharth3322 commented on #958
I have not written this method any where in my code:
![messageswithdialogid_method_call](https://user-images.githubusercontent.com/3082151/37255790-6c6babe6-2577-11e8-9e76-37b6287c3998.png)

[2018-03-11 16:29] Pro100Andrey commented on #958
https://github.com/QuickBlox/q-municate-services-ios/blob/3370000d584c46051077b99f81bf603bf8fe7682/QMChatService/QMChatService/QMChatService.m#L995

[2018-03-11 16:29] Pro100Andrey commented on #958
yes but you call this method

[2018-03-11 16:30] Pro100Andrey commented on #958
and you shuld check why dialogID == nil

[2018-03-11 16:32] Pro100Andrey commented on #958
For example check our chat sample - https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-chat. Works fine.

[2018-03-11 16:34] siddharth3322 commented on #958
Okay I will do this 👍

Now help me in my another posted issue.

[2018-03-11 16:36] Pro100Andrey commented on #959
@siddharth3322 , Colud you check this issue https://github.com/QuickBlox/QMChatViewController-ios/issues/133

[2018-03-11 17:13] siddharth3322 commented on #959
Yes this problem get solve if you rename following delegate:
`@property (weak, nonatomic, nullable) id<QMPlaceHolderTextViewPasteDelegate> pasteQMDelegate;`

That you found within this file:
**QMChatViewController-ios/QMChatViewController/QMChatViewController.m**

[2018-03-11 17:13] #959 closed

[2018-03-11 18:23] VitaliyGuru commented on #958
From [Quicblox "Response codes and errors" documentation](https://quickblox.com/developers/Errors):
The requested resource could not be found:
- a user tries to retrieve chat messages for invalid chat dialog id.

[2018-03-12 04:58] manojkraftly commented on #952
I have checked these all points & push working fine iOS-iOS & iOS-web but getting issue with iOS-Android, Even android device already subscribed there.

[2018-03-12 09:17] Pro100Andrey commented on #958
Hi @siddharth3322, any updates ?

[2018-03-12 09:17] Pro100Andrey commented on #956
Hi @Jaimin2208, any updates ?

[2018-03-12 09:18] Pro100Andrey commented on #955
hi @manojkraftly, any updates?

[2018-03-12 09:18] Pro100Andrey commented on #953
Hi @senjaliya1989, any updates ?

[2018-03-12 09:30] manojkraftly commented on #955
Yes sending you log file again here push not working iOS-Android

On Mon, Mar 12, 2018 at 2:48 PM, andrey <notifications@github.com> wrote:

[2018-03-12 09:40] Pro100Andrey commented on #951
Hi @mayur9333, any updates?

[2018-03-12 09:42] Pro100Andrey commented on #948
Hi @jkmathew, any updates ?

[2018-03-12 09:43] Pro100Andrey commented on #947
Hi @manojkraftly, Any updates ?

[2018-03-12 09:44] Pro100Andrey commented on #946
Hi @mobile3000, any updates  ?

[2018-03-12 10:18] jkmathew commented on #948
Hi @VitaliyGuru , I was expecting a behavior something like in Facebook. If a user blocks someone. Both of the users will not receive any update or even show in anywhere.

As this is a desired behavior, is there is any way to detect if a user has blocked me?

[2018-03-12 12:20] VitaliyGuru commented on #949
@dipendrapulse, Hello.
 [http://stickerpipe.com](StickerPipe) is a third party component, so Quicbklox is not responsible for it stability.
Try checking for an error in the method below:
[code]

[2018-03-12 14:14] shaharukhs opened #960 "-[__NSCFConstantString count]: unrecognized selector sent to instance"
**New Issue Checklist**

  - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

- [x] I have read the [Documentation](https://quickblox.com/developers/IOS)

**Environment details**

Info                           | Value                                       |
-------------------------------|------------------------------

[2018-03-12 14:40] Pro100Andrey commented on #960
Hi @shaharukhs, Could you provide full logs ?

for enable logs use code:

[code]

Thanks!

[2018-03-12 16:00] shaharukhs commented on #960
crashlytics report

![screen shot 2018-03-12 at 9 28 56 pm](https://user-images.githubusercontent.com/16479669/37294757-8ac701ec-263c-11e8-9441-baf4a0bf3cc3.png)

[2018-03-12 16:11] VitaliyGuru commented on #923
@jsaadk,
The environment is taken from the certificate your application subscribed for.
You can test APNS production environment archiving an AdHoc version of your App. The app will be using the production certificates and servers.

[2018-03-12 16:21] shaharukhs commented on #960
But where to find logs.. as I have already given all logs which was printed in my console.

[2018-03-13 09:41] MiteshiOS opened #961 "How to customise whole QMChatCell ?"
Please let me know how can i customise whole QMChatCell. Also in demo on tap of cell full view of cell is appear but i didn't want like that. I want only message and status in cell. Also provide me suggestion in a way that so i can add some more info if require in future. Also i want to customise message header. Please review the attached screenshot for more information.
![screen shot 2018-03-13 a

[2018-03-13 10:13] mobile3000 commented on #946
I have no any update.

[2018-03-13 10:21] mayur9333 commented on #951
still the same thing happening. here im attaching my full log .please go through it and help me.
2018-03-13 05:19:44.927 rtc::[Signaling Processor] - Did receive signal: call from: 44132459
2018-03-13 05:19:44.935271-0500 QuickBloxChat[18621:5937144] [ChatService]: RCV: <message xmlns="jabber:client" type="headline" from="44132459-68555@chat.quickblox.com/android_ffffffff-b1b7-3848-ffff-ffffcc01d6

[2018-03-13 10:23] mayur9333 commented on #951
sorry for last one here attaching my log

2018-03-13 05:19:44.927 rtc::[Signaling Processor] - Did receive signal: call from: 44132459
2018-03-13 05:19:44.935271-0500 QuickBloxChat[18621:5937144] [ChatService]: RCV: <message xmlns="jabber:client" type="headline" from="44132459-68555@chat.quickblox.com/android_ffffffff-b1b7-3848-ffff-ffffcc01d678" to="44132489-68555@chat.quickblox.com" id="15209363

[2018-03-13 10:52] #947 closed

[2018-03-13 10:55] Pro100Andrey commented on #946
Hi @mobile3000, fixed in development branch [See](https://github.com/QuickBlox/QMChatViewController-ios/commit/30263b6314d40975a1c1dba89ef8d6576897da0e)

[2018-03-13 10:56] mobile3000 commented on #946
Thanks , I will check.

[2018-03-13 11:01] #928 closed

[2018-03-13 11:06] #938 closed

[2018-03-13 11:07] #939 closed

[2018-03-13 11:07] #943 closed

[2018-03-13 11:11] #953 closed

[2018-03-13 11:13] Pro100Andrey commented on #955
https://github.com/QuickBlox/quickblox-ios-sdk/issues/952

[2018-03-13 12:49] mayur9333 opened #962 "keep login session active and automatically logged in when already login to app"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found non

Hey there, i am new to quickblox an trying to make an simple chat app. Here i am facing issue with session.

**Environment details**

Info                           | V

[2018-03-13 12:52] VitaliyGuru commented on #962
@mayur9333, Hello
 Any questions or issues?

[2018-03-13 12:54] mayur9333 commented on #962
please check above updated block and help @VitaliyGuru

[2018-03-13 14:21] mayur9333 opened #963 "How to ring the receiver end phone when sender call the receiver."
Hello,
 i am working with quickblox audio call and in my app i want to play ringtone. and for that i dont have an any idea how to do same. please suggest..thanks in advance.

[2018-03-13 15:48] dipendrapulse opened #964 "ServicesManager.instance.chatService.dialogsMemoryStorage doesn't list public group chat"
**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------------------------|
iOS Version                    | 11.0                                    |
Quickblox iOS SDK version      | e.g. 2.9.2                                  |
QuickbloxWebRTC SDK version    | e.g. 2.2.1

[2018-03-14 10:49] Raikerian commented on #935
This will be fixed in a near future release. For now, this is just a warning from thread checker.

[2018-03-14 10:49] Raikerian commented on #930
Any updates on this?

[2018-03-14 11:59] VitaliyGuru commented on #964
@dipendrapulse, Hello.
Public dialogs are not supported in QMServices. They were initially developed for Q-municate and there are no public dialogs in this application.

[2018-03-14 11:59] #964 closed

[2018-03-14 12:02] VitaliyGuru commented on #952
@manojkraftly, Could you please create an issue in [Android Repo](https://github.com/QuickBlox/quickblox-android-sdk)?
Because as you said there are no problems on the iOS side.

[2018-03-15 04:28] manojkraftly commented on #952
There are problems in iOS side because push not working iOS-Android

On Wed, Mar 14, 2018 at 5:32 PM, 404 <notifications@github.com> wrote:

[2018-03-15 06:31] testingmyaccount opened #965 "Getting extra space at bottom in QMChatViewController ?"
![simulator screen shot - iphone 7 - 2018-03-15 at 12 01 12](https://user-images.githubusercontent.com/36070930/37447544-96fc03b4-2848-11e8-8d23-dbdff511cad4.png)

[2018-03-15 07:48] shaharukhs commented on #962
I have same question.

[2018-03-15 10:02] #958 closed

[2018-03-15 10:03] #949 closed

[2018-03-15 10:05] #937 closed

[2018-03-15 10:55] mayur9333 commented on #951
2018-03-15 16:22:11.180 rtc::[RTCClient] List of Delegates (
    "<UsersListPage: 0x131e66580>",
    "<UsersListPage: 0x131ef34b0>",
    "<AcceptCallVC: 0x131d957b0>",
    "<UsersListPage: 0x131e6f7a0>",
    "<UsersListPage: 0x131e46f90>",
    "<UsersListPage: 0x131ea9660>"
)
2018-03-15 16:22:11.180 rtc::[RTCClient] Added <UsersListPage: 0x131ea9660> to list of delegates
2018-03-15 16:22:11.181 rt

[2018-03-15 12:12] haarj opened #966 ""near" filter not accurate"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-03-15 14:32] VitaliyGuru commented on #948
For this case you should implement a certain logic on client-side, so that push notifications are filtered based on Privacy List settings and the recipient does not receive pushes from blocked users.

1. Privacy list.
Each user should have information about own Privacy Lists.
For other users to be able to get the information if they are blocked in a Privacy List by the recipient, you need to use C

[2018-03-15 14:47] VitaliyGuru commented on #965
@testingmyaccount, Hello.

You should override "inputToolBarStartPos" method which is used in the QMChatViewController.

-(NSUInteger)inputToolBarStartPos {
return 0;
}

[2018-03-15 15:15] VitaliyGuru commented on #966
@haarj, Hello.
Could you please enable full logs and send us this information?

[code]

[2018-03-15 15:31] VitaliyGuru commented on #960
@shaharukhs, Hello, you should put that code in your `didFinishLaunchingWithOptions` method of the AppDelegate.

[2018-03-15 15:53] VitaliyGuru commented on #962
@mayur9333, @shaharukhs  Hello.
For this purpose, you should use [keychain](https://medium.com/ios-os-x-development/securing-user-data-with-keychain-for-ios-e720e0f9a8e2).
The same approach is used in Q-municate. You can look at [this class](https://github.com/QuickBlox/q-municate-ios/blob/17f5b930b0391fea144b46f5a082acbf8b2ca90c/Q-municate/Classes/QMProfile/QMProfile.h). We're using wrapper for t

[2018-03-15 16:00] Raikerian commented on #951
Hi,

According to this:

You have different UserListPage class instances added in our client delegate. So delegate will be called for every instance that was added to it. Please check your memory management, as it seems odd that you have 5 instances of the same class attached to delegate callback.

Also, please, use pastebin, github gist or similar services to attach your logs next time. As it is

[2018-03-15 16:01] Raikerian commented on #956
Hi,

This might be because you are disconnecting from the QBChat, whenever app goes in inactive state. Locking your phone does make it inactive.

[2018-03-15 16:02] VitaliyGuru commented on #952
@manojkraftly, What were you trying to imply with "...push not working iOS-Android"?
Please send logs with the error or any other additional information.

[2018-03-15 16:04] VitaliyGuru commented on #952
But you said before:

Could you please create an issue in [Android Repo](https://github.com/QuickBlox/quickblox-android-sdk)?

[2018-03-15 16:04] Raikerian commented on #963
Hi,

Please check [QMSoundManager](https://github.com/QuickBlox/quickblox-ios-sdk/blob/master/sample-videochat-webrtc/sample-videochat-webrtc/Classes/QMSoundManager/QMSoundManager.m). We are using that class to make sounds in our video sample.

[2018-03-15 16:06] Raikerian commented on #961
Hi,

For customization of our components (QMChatViewController in current question), you might need to fork off our main repository of chat controller: https://github.com/QuickBlox/QMChatViewController-ios

In your case please look into QMChatIncomingCell and QMChatOutgoingCell for reference.

[2018-03-16 01:26] haarj commented on #966
`2018-03-15 21:23:45.128326-0400 Alike[5941:4536345] [QBCore]: Request[1]:
GET URL:https://api.quickblox.com/account_settings.json
headers: {
    "Accept-Language" = "en;q=1";
    "QB-Account-Key" = iX3st5iL8QfY6WamS1bX;
    "QB-OS" = "iOS 11.2";
    "QB-SDK" = "iOS 2.16";
    "QB-Token" = 2520b759fe49a118194189b31925925dce00f5f9;
    "QuickBlox-REST-API-Version" = "0.1.1";
    "User-Agent" = "Ali