[2018-03-16 01:26] haarj commented on #966
2018-03-15 21:23:45.128326-0400 Alike[5941:4536345] [QBCore]: Request[1]:
GET URL:https://api.quickblox.com/account_settings.json
headers: {
    "Accept-Language" = "en;q=1";
    "QB-Account-Key" = iX3st5iL8QfY6WamS1bX;
    "QB-OS" = "iOS 11.2";
    "QB-SDK" = "iOS 2.16";
    "QB-Token" = 2520b759fe49a118194189b31925925dce00f5f9;
    "QuickBlox-REST-API-Version" = "0.1.1";
    "User-Agent" = "Alik

[2018-03-16 03:32] jkmathew commented on #948
Closing this issue now. Will check it out once I get enough time(Off to the project now).

[2018-03-16 03:32] #948 closed

[2018-03-16 04:32] testingmyaccount opened #967 "How to maintain record button icon show/hide in QMchatViewController ?"
I am trying to set record button at same place of send button. The issue is for first time when i open chat screen at that time record button is there and after then when i start typing then send button is appear, but if i remove all text then again it should show record button but unfortunately it is not showing.
For showing record button in controller i did like this.

        microButton.setIma

[2018-03-16 05:09] mayur9333 commented on #963
for that should i have to install pod or it comes with quickblox pod. @Raikerian

[2018-03-16 05:14] mayur9333 commented on #951
thank you @Raikerian but can you please suggest how to handle the issue tried but fail.

[2018-03-16 07:31] vktanappa commented on #751
Same issue here. Any updates?

[2018-03-16 11:56] VitaliyGuru commented on #966
@haarj,
Could you please provide objects that should be returned from your request with these parameters:
radius 160934, coordinate 40.904147,-72.558254?

[2018-03-16 12:27] haarj commented on #966
Hi @VitaliyGuru, the request above was accurate. If I move the coordinate out a little bit like around 78 miles, I get no objects but I expect all of the ones I received in the above request since they are still within 100 miles. (40.89211, -72.493924) is around 78 miles away from the 4 objects returned above.

[2018-03-16 12:37] #951 closed

[2018-03-16 12:41] VitaliyGuru commented on #966
@haarj, Could you please omit `"output[include]" = "user_id"` parameter and resend logs. We need full information about custom objects.

[2018-03-16 12:43] mayur9333 opened #968 "-(void)didReceiveNewSession:(QBRTCSession *)session userInfo:(NSDictionary<NSString *,NSString *> *)userInfo"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-03-16 12:56] Pro100Andrey commented on #966
Hi @haarj, Could you plese use http://gist.github.com/ for full logs?

[2018-03-16 12:58] Raikerian commented on #968
Hi,

Ideally, you need to have this method only in 1 place. It can be either singleton class object (as we are doing it in [Q-municate here)](https://github.com/QuickBlox/q-municate-ios/blob/master/Q-municate/Classes/Core/QMCallManager/QMCallManager.m#L307-L355) or single view controller which is always sitting in your memory, like some kind of root view controller/main view controller for your ap

[2018-03-16 12:59] Raikerian commented on #963
No, you have to copy that class in your project.

[2018-03-16 14:10] Pro100Andrey commented on #967
Hi @testingmyaccount use  the method bellow:
objc:
[code]
swift

objc:
[code]

[2018-03-16 14:24] Pro100Andrey commented on #965
Hi @testingmyaccount, any updates ?

[2018-03-16 16:51] Pro100Andrey commented on #966
Hi @haarj, any updates ?

[2018-03-17 01:05] haarj commented on #966
<script src="https://gist.github.com/haarj/630fed9f532c00929760317cb21787fe.js"></script>

[2018-03-17 01:10] haarj commented on #966
@Pro100Andrey @VitaliyGuru

Here you go. Thank you.

https://gist.github.com/haarj/d31b7143ac022c939698910566f56837

[2018-03-19 09:13] shaharukhs commented on #960
Not working still getting crash

[2018-03-19 10:37] Raikerian commented on #960
The suggestion above wasn't supposed to fix your problem. It was to enable logs, so you can post them here.

[2018-03-19 10:46] shaharukhs commented on #960
@Raikerian I have uploaded screenshot on previous comment as you can see I have already enabled logs.

Thank you.

[2018-03-19 10:51] shaharukhs commented on #960
[code]

[2018-03-19 10:55] Pro100Andrey commented on #967
hi @testingmyaccount, Any updates ?

Thanks!

[2018-03-19 10:56] Pro100Andrey commented on #962
hi @mayur9333 and @shaharukhs any updates?

Thanks!

[2018-03-19 13:38] shaharukhs commented on #962
I want solution just for login session active for Text chat and Video chat

this is my current scenario when app launch then user is logged in and session is created.
but this session I want to keep alive till user did not logged out from app.
As currently I need to logged in user each time when they open apps after terminated.

for login I am using swift demo provided by you.

[code]

[2018-03-19 14:06] VitaliyGuru commented on #962
@shaharukhs, The solution will be the same. You should use the keychain.

[2018-03-19 14:46] Pro100Andrey commented on #966
Hi @haarj, this [log](https://gist.github.com/haarj/d31b7143ac022c939698910566f56837) is not valid

Could you please provide custom objects that should be returned from your request with these parameters: radius 160934 and coordinate **40.904147,-72.558254**  not  40.892110,-72.493924

[2018-03-19 14:52] Pro100Andrey commented on #966
@haarj This objects should be returned without `"output[include]" = "user_id"`:

[code]

these objects are need for investigating and repordusing your issue

[2018-03-19 15:04] Pro100Andrey commented on #904
Hi @riteshpatel0, Provided [ChatNotification.zip](https://github.com/QuickBlox/quickblox-ios-sdk/files/1588743/ChatNotification.zip) is not a sample project (only files). Please attach project which can be run on xcode.

[2018-03-19 15:07] #923 closed

[2018-03-19 15:08] Pro100Andrey commented on #946
Hi @mobile3000, any udpates ?

[2018-03-19 15:09] #930 closed

[2018-03-19 15:28] Pro100Andrey commented on #960
Hi @shaharukhs, set userInfo to nil for hangup method in web side and try again.

`<userInfo/>` - invalid field for iOS side

[2018-03-19 15:37] Pro100Andrey commented on #968
Hi @mayur9333 any updates?

Thanks!

[2018-03-19 15:37] #965 closed

[2018-03-19 15:57] Pro100Andrey commented on #961
Hi @MiteshiOS, any updates ?

[2018-03-19 16:05] Pro100Andrey commented on #960
Check https://github.com/QuickBlox/quickblox-ios-sdk/issues/797

[2018-03-19 16:07] Pro100Andrey commented on #956
Hi @Jaimin2208, any updates ?

[2018-03-19 17:19] mobile3000 commented on #946
How can I use this branch?

[2018-03-19 18:01] Pro100Andrey commented on #946
pod 'QMChatViewController', :git => 'git@github.com:QuickBlox/QMChatViewController-ios.git', :branch => 'development' ??

[2018-03-19 18:09] mobile3000 commented on #946
Thank you.
But When I install pod, I get the error.
http://prntscr.com/itemuu

[2018-03-19 18:10] Pro100Andrey commented on #946
remove ?? )

sould be `pod 'QMChatViewController', :git => 'git@github.com:QuickBlox/QMChatViewController-ios.git', :branch => 'development'`

[2018-03-19 18:11] mobile3000 commented on #946
yes. but it is not.
http://prntscr.com/iteo2g

[2018-03-19 18:15] Pro100Andrey commented on #946
`pod 'QMChatViewController', :git => 'https://github.com/QuickBlox/QMChatViewController-ios.git', :branch => 'development'`

[2018-03-19 18:31] mobile3000 commented on #946
Thank you.
I have installed pod file.
Then I get the error from pod file.
http://prntscr.com/itezg1

[2018-03-19 18:56] Pro100Andrey commented on #946
@mobile3000, could you please provide your Podfile

[2018-03-19 19:15] mobile3000 commented on #946
If you can't help, sorry.

[2018-03-19 23:27] haarj commented on #966
Hi @Pro100Andrey and @VitaliyGuru

Here you go! Sorry for the late response. Thank you!

https://gist.github.com/haarj/4b44867fec34d33362c289bca5ccdda0

[2018-03-20 03:51] MiteshiOS commented on #961
@Pro100Andrey @Raikerian I just tried with possible ways but still not got result that i want. I also took reference from Q-Municate and some how i am able to set msg header(date/time) but main message cell is still complicated to edit for me. Because i want message both status(Read/Delivered) separate from main message and in a cell both are combined. So don't know how to customise same like i wa

[2018-03-20 09:09] shaharukhs commented on #960
[app.js.zip](https://github.com/QuickBlox/quickblox-ios-sdk/files/1828568/app.js.zip)
Here is app.js file which is using when am calling from web to iOS.

whats wrong in that file. I am not java script user so not able to debug this file.

Thank you.

[2018-03-20 09:28] Pro100Andrey commented on #960
Hi @shaharukhs, try remove empty extension from `app.currentSession.stop({});` - {}. for example should be:

`app.currentSession.stop();`

Thanks!

[2018-03-20 10:17] #960 closed

[2018-03-20 12:59] #967 closed

[2018-03-20 13:03] Pro100Andrey commented on #946
Hi @mobile3000,
🚀  QMChatViewController (0.6.1) successfully published [Changelog](https://github.com/QuickBlox/QMChatViewController-ios/releases/tag/0.6.1)

Podfile:
`pod 'QMChatViewController'`

How to update:
[code]

Thanks!

[2018-03-20 13:40] Raikerian commented on #966
It seems like this is a server-side issue. We have delegated this task to our server team.

[2018-03-20 13:42] Pro100Andrey commented on #963
Hi @mayur9333, any updates?

[2018-03-20 13:44] #929 closed

[2018-03-20 13:51] #952 closed

[2018-03-20 13:52] Pro100Andrey commented on #955
Hi @manojkraftly, any updates?

[2018-03-20 13:53] Pro100Andrey commented on #962
Hi @mayur9333 and @shaharukhs any updates?

[2018-03-20 14:59] justinhaar commented on #966
Great! Let me know if you need anything else from me.

[2018-03-20 16:06] #946 closed

[2018-03-20 20:13] mobile3000 commented on #946
Thank you.

[2018-03-21 08:09] mayur9333 opened #969 "How to Handle Session"
i am integrating quickblox in my chat app. Here my requirement is maintain Session after force quiet the App. If i open again by clicking App should revert me in user list rather login page.
 please suggest how to do same.

[2018-03-21 08:15] mayur9333 commented on #962
don't have an any idea about how to use keychain. please suggest. @Pro100Andrey  @VitaliyGuru

[2018-03-21 10:27] Pro100Andrey commented on #969
Hi @mayur9333

For this purpose, you should use [keychain](https://medium.com/ios-os-x-development/securing-user-data-with-keychain-for-ios-e720e0f9a8e2).
The same approach is used in Q-municate. You can look at [this class](https://github.com/QuickBlox/q-municate-ios/blob/17f5b930b0391fea144b46f5a082acbf8b2ca90c/Q-municate/Classes/QMProfile/QMProfile.h). We're using wrapper for the keychain named

[2018-03-21 10:32] Pro100Andrey commented on #969
For example check [QMSplashViewController](https://github.com/QuickBlox/q-municate-ios/blob/master/Q-municate/Scenes/Start/QMSplashViewController/QMSplashViewController.m#L22)

[code]

[2018-03-21 10:35] #969 closed

[2018-03-21 10:35] Pro100Andrey commented on #969
dublicat https://github.com/QuickBlox/quickblox-ios-sdk/issues/962

[2018-03-21 10:37] Pro100Andrey commented on #962
For example check [QMSplashViewController](https://github.com/QuickBlox/q-municate-ios/blob/master/Q-municate/Scenes/Start/QMSplashViewController/QMSplashViewController.m#L22) from Q-municate app

[code]

[2018-03-21 10:40] Pro100Andrey commented on #962
When [QMProfile](https://github.com/QuickBlox/q-municate-ios/blob/17f5b930b0391fea144b46f5a082acbf8b2ca90c/Q-municate/Classes/QMProfile/QMProfile.h)  (QMCore.instance.currentProfile) - wrapper for the keychain named [SAMKeychain](https://github.com/soffes/SAMKeychain).

[2018-03-21 10:42] #963 closed

[2018-03-21 10:46] #956 closed

[2018-03-21 10:46] #955 closed

[2018-03-21 12:06] VitaliyGuru commented on #944
@darpan-123, Hello. You should use the method below:
[code]

[2018-03-21 13:34] testingmyaccount opened #970 "How to implement CallKit while app is in Background or Kill ?"
In demo code i found that CallKit incoming call screen is appear when app is active, but nothing happen except notification while doing call when recipient app is in background or kill. Can you please help me on this how can i achieve this. I am familiar with Twilio and Sinch and i know they provides methods which works at the time of call when app is in background or kill.
Is there any extra set

[2018-03-22 13:42] #878 closed

[2018-03-22 13:42] #904 closed

[2018-03-22 13:44] #925 closed

[2018-03-22 13:45] #917 closed

[2018-03-22 13:46] Raikerian commented on #970
Hi,

In order to receive calls in background please setup VOIP push certificate in your admin panel first: https://quickblox.com/developers/SimpleSample-messages_users-ios

[2018-03-22 13:48] Pro100Andrey commented on #962
Hi @mayur9333 any updates?

[2018-03-22 13:49] Pro100Andrey commented on #944
Hi @darpan-123, any updates?

Thanks!

[2018-03-22 13:50] Pro100Andrey commented on #940
Hi @sandeep102 swift or objective-c?

[2018-03-22 13:51] #968 closed

[2018-03-22 13:54] AtulKrP opened #971 "Voice Echo"
Getting echo during call. I am hearing my own voice.

[2018-03-22 13:58] Raikerian commented on #971
Hi,

Are you sure that both devices are not in the same location? We have never encountered that before.

[2018-03-22 14:44] VitaliyGuru commented on #940
@sandeep102, You're using the latest version of the sample, aren't you?

[2018-03-22 23:21] VitaliyGuru commented on #934
@Amekill, Hello. You should use custom data and extended request for public dialogs in order to keep subscribed users and retrieve only needed dialogs because there is no occupants list for this type of dialog.
[Filters documentation](https://quickblox.com/developers/SimpleSample-chat_users-ios#Filters)
[Custom data documentation](https://quickblox.com/developers/SimpleSample-chat_users-ios#Custom

[2018-03-23 04:57] AtulKrP commented on #971
Yes. Both devices are at different locations.

[2018-03-23 04:57] hardeeposvin commented on #944
Hi @Pro100Andrey , we are implementing this function which is provided by @VitaliyGuru . Let me check will get back to you within 1 hour.

[2018-03-23 11:28] Raikerian commented on #971
Please capture logs in the call. To enable them and this to your config:
`[QBRTCConfig setLogLevel:QBRTCLogLevelVerboseWithWebRTC];`

Also enable stats reports:
To enable stats report first enable them by setting config:
`[QBRTCConfig setStatsReportTimeInterval:1.0f];`

And then print them in QBRTCClientDelegate:
[code]

[2018-03-23 12:38] testingmyaccount commented on #970
i have already uploaded the VOIP certificates, but how i can get that which method has been call when get the incoming call & receive the call

[2018-03-23 12:43] Raikerian commented on #970
Are you using our video sample in the current repository? If so, here are Apple Push Kit methods that you need to know about: https://github.com/QuickBlox/quickblox-ios-sdk/blob/master/sample-videochat-webrtc/sample-videochat-webrtc/Components/Users/ViewControllers/UsersViewController/UsersViewController.m#L539-L555
That method gets triggered every time you receive VOIP push, and if it's not, then

[2018-03-23 15:02] vineeshtp opened #972 "QBCore currentUser object is nil"
Have an issue while integrating Videochat with existing project.

In the Existing project already implemented text chat.
Now I need to integrate Video and Audio with the same.
I seen that in the Video and Audio integration throughout the sample code, It uses **QBCore** class but, in the chat doesn't contains the same.
By using QBCore there is no API to login with QuickBlox  account, it have signup

[2018-03-23 15:04] Pro100Andrey commented on #972
Hi @vineeshtp Could you provide full logs ?

To enable full logs use the following code:

[code]

Use gist.github.com to deliver logs.

Thanks

[2018-03-23 15:08] Pro100Andrey commented on #972
https://github.com/QuickBlox/quickblox-ios-sdk/blob/0cc178065f25dc3d7680a4a762c8fcda158cb7c8/sample-videochat-webrtc/sample-videochat-webrtc/Components/Core/QBCore.m#L99

[2018-03-23 15:15] vineeshtp commented on #972
Sorry,

Now it is working.
I hope missed some thing earlier.

Thanks & Regards,

 Vineesh TP

On Fri, Mar 23, 2018 at 8:34 PM, andrey <notifications@github.com> wrote:

[2018-03-23 15:17] Pro100Andrey commented on #972
Hi @vineeshtp, Check Q-municate for login, signiup logic:

-  `login` view controller
https://github.com/QuickBlox/quickblox-ios-sdk/blob/0cc178065f25dc3d7680a4a762c8fcda158cb7c8/sample-videochat-webrtc/sample-videochat-webrtc/Components/Core/QBCore.m#L99

- `signup`  with facebook view controller

https://github.com/QuickBlox/q-municate-ios/blob/master/Q-municate/Scenes/Auth/Welcome%20screen/QMWe

[2018-03-23 15:18] #972 closed

[2018-03-23 15:32] Raikerian commented on #971
Yes, it should be repeating, but not showing anything for some reason. Seems like you are using swift, print something like this:
`print(report.statsString)`

[2018-03-23 16:20] Pro100Andrey commented on #961
Hi @MiteshiOS, check example
[ChatExample.zip](https://github.com/QuickBlox/quickblox-ios-sdk/files/1842490/ChatExample.zip)

In your case please look into QMChatIncomingCell and QMChatOutgoingCell for reference.

[2018-03-23 16:52] vineeshtp commented on #972
Some times I got the same issue.

Here is the scenario :
1. loggedout by call

QBCore.instance().logout()

2. Login Again by using QBRequest using email Id

Please find the below log:-

*2018-03-23 22:17:39.665362+0530 VideoChat[1062:404526] [DYMTLInitPlatform]
platform initialization successful*

*2018-03-23 22:17:39.906 rtc::[RTCClient] iPhone6,2, 11.2.5, SDK: 2.6.3,
webrtc: 18213*

*2018-03-23

[2018-03-23 19:57] vineeshtp commented on #972
Still the issue open.

Thanks & Regards,

 Vineesh TP

On Fri, Mar 23, 2018 at 10:22 PM, Vineesh TP <vineeshtp88@gmail.com> wrote:

[2018-03-23 19:59] vineeshtp commented on #748
I have the same issue

[2018-03-23 20:21] vineeshtp opened #973 "QBCore.instance().currentUser is nil"
QBCore.instance().currentUser is always nil  when login through QBRequest using email id and password.

**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value

[2018-03-24 13:52] testingmyaccount commented on #970
Still i didn't receive any VOIP notification when app is in Background Or Kill in this example. Also none of PKPushRegistryDelegate methods called when app is in background/kill. It is only working when app is in active mode and methods under this QBWebRTCChatDelegate getting called.

We are working with Swift as our development language. And i did VOIP related set up but still very confused on wh

[2018-03-24 19:23] truemetal opened #974 "'Quickblox-WebRTC' uses the unencrypted http protocol to transfer the Pod."
Quickblox-WebRTC (2.6.3)

`[!] 'Quickblox-WebRTC' uses the unencrypted http protocol to transfer the Pod. Please be sure you're in a safe network with only trusted hosts in there. Please reach out to the library author to notify them of this security issue.
`

![screen shot 2018-03-24 at 21 20 27](https://user-images.githubusercontent.com/2472186/37868056-7d862992-2fa9-11e8-9023-2f76475debcb.png)

[2018-03-25 08:24] Pro100Andrey commented on #973
Hi @vineeshtp, could you provide full logs?

[2018-03-25 08:25] Pro100Andrey commented on #973
@vineeshtp, To enable full logs use the following code:

[code]

[2018-03-25 08:27] Pro100Andrey commented on #973
@vineeshtp, and any steps to reproduce the behavior ?

[2018-03-25 08:34] Pro100Andrey commented on #973
@vineeshtp, in our [sample-videochat-webrtc](https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc) after signup/login current user  always exitst:
<img width="1103" alt="screenshot 2018-03-25 11 31 21" src="https://user-images.githubusercontent.com/1109916/37873210-2e3760d2-3020-11e8-8945-8cb05d434f1c.png">

[2018-03-25 08:40] Pro100Andrey commented on #974
Hi @truemetal, thank you for informing us!

[2018-03-25 08:41] Pro100Andrey commented on #971
Hi @AtulKrP, any updates?

[2018-03-25 08:43] #962 closed

[2018-03-25 08:44] #934 closed

[2018-03-25 08:45] Pro100Andrey commented on #940
Hi @sandeep102, any updates?

[2018-03-25 08:45] #961 closed

[2018-03-25 08:46] Pro100Andrey commented on #944
hi @hardeeposvin, any updates ?

[2018-03-25 08:47] Pro100Andrey commented on #973
Hi @vineeshtp, any updates?

[2018-03-25 09:02] vineeshtp commented on #973
Hi Here is the full log.
2018-03-25 14:29:14.349461+0530 VideoChat[1354:524572] [DYMTLInitPlatform] platform initialization successful
2018-03-25 14:29:14.631 rtc::[RTCClient] iPhone6,2, 11.2.5, SDK: 2.6.3, webrtc: 18213
2018-03-25 14:29:14.641 rtc::[RTCClient] Waiting for QBChat to connect
2018-03-25 14:29:14.710712+0530 VideoChat[1354:524276] [MC] Lazy loading NSBundle MobileCoreServices.framewo

[2018-03-25 09:05] Pro100Andrey commented on #973
Hi @vineeshtp, is not [sample-videochat-webrtc](https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc), check or sample

[2018-03-25 09:11] vineeshtp commented on #973
s, I have an application I already implemeted QuickBlox text chat application.

Now I need to integrate Video and Audio with the same.
I seen that in the Video and Audio integration throughout the sample code, It uses QBCore class but, in the chat doesn't contains the same.
I used QBRequest login api for login in Chat application.

[2018-03-25 09:12] Pro100Andrey commented on #973
@vineeshtp, did you call `[self.profile synchronizeWithUserData:user];` method ?

[2018-03-25 09:14] Pro100Andrey commented on #973
@vineeshtp, did you have any changes in QBCore? If yes, check you changes.

[2018-03-25 09:28] Pro100Andrey commented on #973
@vineeshtp, For example check our cross-platform application [Q-municate](https://github.com/QuickBlox/q-municate-ios). Q-municate is an open source code of chat application with full range of communication features on board (such as messaging, file transfer, push notifications, audio/video calls, etc.).

Thanks!

[2018-03-25 09:35] Pro100Andrey commented on #973
@vineeshtp, any updates about -> did you call [self.profile synchronizeWithUserData:user]; method ?

[2018-03-25 16:15] vineeshtp commented on #973
The **self.profile.synchronize(withUserData: user)** is working fine.
But, some times **QBCore.instance().currentUser** it is nil.
Thank you for the prompt support.

[2018-03-25 17:06] Pro100Andrey commented on #973
@vineeshtp, Could you provide steps to reproduce in our [sample-videochat-webrtc](https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc)? Or provide your example

[2018-03-26 03:08] hassan31 opened #975 "CallKit is not working when I call from other device, but it works in sample project"
Hello Dear,

I've been facing a serious issue on video calling. When I run your sample project on both devices, then it works really fine, whenever I receive video call with native CallKit UI on receiver side.

But When I implemented the same behaviour same code in my project, then I don't receive Native CallKit UI on receiver end, However I tried to show Custom Incoming call UI on behalf of CallK

[2018-03-26 05:28] AtulKrP commented on #971
"print(report.statsString)" prints the same.

[2018-03-26 08:29] Pro100Andrey commented on #973
Hi @vineeshtp, any updates?

[2018-03-26 09:02] Pro100Andrey commented on #971
Hi @AtulKrP, Should be:

[code]

Output:

[code]

Use gist.github.com to deliver logs.

Thanks!!

[2018-03-26 11:10] VitaliyGuru commented on #933
@jkmathew,

This method is called inside our services and does not depend on the methods you provided above.
You should use your own logic for dialogs' update after calling
[code]
 and
[code]
to inform that the dialog has been updated.

As for

please try using the latest version of QMServices and check again.

[2018-03-26 12:58] mayur9333 opened #976 "Is it Possible to make a successfull call when receiver app is terminated or in background"
Hi, i need to call user when receiver end App is in background or terminated. please suggest
thank you,

[2018-03-26 13:07] Raikerian commented on #976
Hi,

Yes, it is possible, for that you will need to use Apple CallKit, with VOIP push notifications. You can check [quick guide here](https://quickblox.com/developers/Sample-webrtc-ios#Apple_CallKit), as well as an example within our sample-videochat in the current repository.

[2018-03-26 13:10] Raikerian commented on #975
Hi,

Please check that you have correctly setup Apple CallKit and VOIP push notifications for that, use our [quick guide](https://quickblox.com/developers/Sample-webrtc-ios#Apple_CallKit) to check things up.
Basically, whenever you are receiving VOIP push notification with a specific key, that identifies that that VOIP push notification is about a call, you need to login into chat to then receive

[2018-03-26 13:13] Raikerian commented on #970
Please take a look at the sample-videochat in the current repository. Apple PushKit related stuff is in UsersViewController class, and CallKit related stuff is in CallKitManager class.

[2018-03-26 14:13] hassan31 commented on #975
Thanks a lot for your help. Now its working. :)

[2018-03-26 14:16] Raikerian commented on #975
Great to hear that you've managed to fix it. If you will have any other problems please let us know by creating a separate issue.

[2018-03-26 14:16] #975 closed

[2018-03-26 14:50] YUGTIA-TECH commented on #796
2018-03-26 20:18:12.058 rtc::[RTCClient] List of Delegates (
    "<VHP.CallingViewController: 0x7fbaf775f750>",
    "<VHP.DoctorListViewController: 0x7fbaf744eca0>"
)
2018-03-26 20:18:15.233 rtc::[QBRTCAudioSession] Initializing QBRTCAudioSession using configuration: <QBRTCAudioSessionConfiguration: 0x600000234c40, Category: AVAudioSessionCategoryPlayAndRecord, Category options: 2, Mode: AVAudioSe

[2018-03-26 15:22] truemetal opened #977 "UIKit thread sanitizer issue - RTC"
JFYI - this happens if current session is receiving remote video track
Cheers

<img width="1405" alt="item-0_and_airportextra_and_item-0_and_item-0_and_item-0_and_item-0_and_applebluetoothextra" src="https://user-images.githubusercontent.com/2472186/37915397-1a2c87b8-3122-11e8-9796-4475fbb22351.png">

[2018-03-26 15:25] #977 closed

[2018-03-26 16:23] AtulKrP commented on #971
Hi here is the log that was printed

https://gist.github.com/AtulKrP/5f41ec8ee069d934d439176cf1962bc4

[2018-03-26 16:32] vineeshtp commented on #973
Hi

Here I am attaching a sample program excluding the QuickBlox frameworks,
Since it is big size.
​
 VideoChat 2.zip
<https://drive.google.com/file/d/1ZA92mUJ5Po-XopNkqPifcYMeHA8fRlZj/view?usp=drive_web>
​

Thanks & Regards,

 Vineesh TP

On Mon, Mar 26, 2018 at 1:59 PM, andrey <notifications@github.com> wrote:

[2018-03-26 19:48] Pro100Andrey commented on #973
<img width="947" alt="screenshot 2018-03-26 22 42 20" src="https://user-images.githubusercontent.com/1109916/37929134-c763e3c0-3147-11e8-8d23-0880f0842f0d.png">

[2018-03-26 19:53] Pro100Andrey commented on #973
This is async method

[2018-03-27 02:08] vineeshtp commented on #973
Hi

I haven't used loginwithCurrentUser.
I used this for trail and error only.

Here I called the sync function

QBRequest.logIn(withUserEmail: inputTextfield.text!, password: "12345678",
successBlock: { (res, user) in

            *self.prof.synchronize(withUserData: user)*

            self.currentUser = user

            QBChat.instance.connect(with: user, completion: { (err) in

[2018-03-27 08:28] Pro100Andrey commented on #973
yes, is correct

[2018-03-27 08:47] Pro100Andrey commented on #976
Hi @mayur9333, any updates?

[2018-03-27 08:56] Pro100Andrey commented on #971
Your anser - > Yes. Both devices are at different locations.

Could you please provide distance?

[2018-03-27 09:00] Pro100Andrey commented on #971
@AtulKrP and set opus codec for all devices

[2018-03-27 09:17] mayur9333 commented on #976
Not check yet @Pro100Andrey  and you @Raikerian

[2018-03-27 09:41] tung238 commented on #838
It is 7 months old now. Any progress on this, please?

[2018-03-27 10:02] Pro100Andrey commented on #976
@mayur9333, ок

[2018-03-27 10:02] #976 closed

[2018-03-27 11:00] Pro100Andrey commented on #973
@vineeshtp any updates?

[2018-03-27 11:32] AtulKrP commented on #971
Hi @Pro100Andrey
Distance between the devices-
In first case the devices were miles apart.
In second case devices were 12-15 meters apart.
Also Can you please explain little bit because i am unfamiliar with this "..opus codec for all devices"

[2018-03-27 11:39] Pro100Andrey commented on #971
Hi @AtulKrP,

From your logs:

[code]

When :

AS - Audio Send
AR - Audio recevied
ISAC and opus - Audio codecs

for set auido codec use code bellow:
[code]

[2018-03-27 11:51] Pro100Andrey commented on #971
@AtulKrP,

Can you confirm that echo continues?
And if yes - Please capture logs in the call for this case:

[2018-03-27 12:01] Pro100Andrey commented on #971
@AtulKrP please update log level settings:

[code]

[2018-03-27 12:04] AtulKrP commented on #971
@Pro100Andrey

i already have set following config

QBRTCConfig.setLogLevel(.verboseWithWebRTC)
QBRTCConfig.setStatsReportTimeInterval(1.0)

[2018-03-27 12:08] AtulKrP commented on #971
@Pro100Andrey

Sure, i will reach you after the logs.
Thanks

[2018-03-27 12:15] truemetal opened #978 "Problem sending frames from ReplayKit via QBRTCVideoCapture"
I have a subclass of `QBRTCVideoCapture` that sends frames like this:

[code]

The frames appear on the other side's `QBRTCRemoteVideoView` for several seconds, then on sender's side I see multitude of these errors in terminal:
[code]

PODS:
  - QuickBlox (2.16)
  - Quickblox-WebRTC (2.6.3)

[2018-03-27 12:25] Pro100Andrey commented on #978
Hi @truemetal, Could you provide more info about CMSampleBuffer:

- width, height
- pixel format (for example kCVPixelFormatType_420YpCbCr8Planar or other)

Thanks!

[2018-03-27 12:46] Pro100Andrey commented on #978
@truemetal ,

Please capture logs in the call. To enable them and this to your config:
[code]
Also enable stats reports:
To enable stats report first enable them by setting config:
[code]
And then print them in QBRTCClientDelegate:
[code]

Thanks!

[2018-03-27 12:55] truemetal commented on #978
@Pro100Andrey here's info about buffer

[2018-03-27 12:58] truemetal commented on #978
@Pro100Andrey here's the logs: https://pastebin.com/V3MdLK1R

[2018-03-27 13:05] Pro100Andrey commented on #978
@truemetal, from your logs:

webrtc is currently supporting only 30 fps

[2018-03-27 13:24] truemetal commented on #978
@Pro100Andrey after throttling to 30fps, the problem unfortunately, persists
Here're the logs: https://pastebin.com/AjCLuYcg

[2018-03-27 13:40] Pro100Andrey commented on #978
@truemetal, from your logs:

[code]

-> H264 encode failed after change dimensions in to 810x1440

check demention <   `810x1440` for example `540x960`

Thanks!

[2018-03-27 13:41] truemetal commented on #978
@Pro100Andrey do you mean like downsample the buffer before sending it?

[2018-03-27 13:42] Pro100Andrey commented on #978
@truemetal yes

[2018-03-27 13:43] Pro100Andrey commented on #978
@truemetal without downsample should work in vp8 codec

[2018-03-27 14:16] Pro100Andrey commented on #978
Hi @truemetal, Check code bellow:
[code]

[2018-03-27 14:32] Pro100Andrey commented on #978
@truemetal, any updates?

[2018-03-27 16:19] truemetal commented on #978
@Pro100Andrey thanks for the code! Looks like something wrong is now with pixel format after using that function:

I get a lot of these:

[2018-03-27 19:59] Pro100Andrey commented on #978
@truemetal, Sorry my mistake. Should be:

[code]

[2018-03-28 10:10] Pro100Andrey commented on #978
@truemetal Use AdaptOutputFormat(....) method after setting the capture to localmediasteam videotrack:

self.session.localMediaStream.videoTrack.videoCapture = self.cameraCapture;

[2018-03-28 10:34] Pro100Andrey commented on #978
Hi @truemetal, any updates?

[2018-03-28 10:34] #973 closed

[2018-03-28 10:55] #944 closed

[2018-03-28 10:57] Pro100Andrey commented on #933
Hi @jkmathew, any updates?

[2018-03-28 11:07] #940 closed

[2018-03-28 11:07] Pro100Andrey commented on #970
Hi @testingmyaccount, any updates?

[2018-03-28 11:08] Pro100Andrey commented on #971
Hi @AtulKrP, any updates?

[2018-03-28 11:54] truemetal commented on #978
@Pro100Andrey thanks for the quick responses, `adaptOutputFormat` actually works!

I've also tried setting vp8 codec, just to try it out, like so:

[code]

I still get these errors, which hints that setting vp8 was not successful:

I've tried setting media stream config both in app delegate (after and before initializing RTCClient), and also after assigning screen vide capture.

[2018-03-28 12:04] Pro100Andrey commented on #978
@truemetal Use  QBRTCConfig.mediaStreamConfiguration().videoCodec = .VP8 before start/accept call

[2018-03-28 12:10] truemetal commented on #978
If I'm setting it like this in AppDelegate, I still get h264 errors
[code]

Here's a log: https://pastebin.com/QZUi0C5V

[2018-03-28 12:16] Pro100Andrey commented on #978
@truemetal my skype this.andrey

[2018-03-28 12:19] truemetal commented on #978
Thanks @Pro100Andrey !

<img width="909" alt="problem_sending_frames_from_replaykit_via_qbrtcvideocapture_ _issue__978_ _quickblox_quickblox-ios-sdk" src="https://user-images.githubusercontent.com/2472186/38028248-0a918234-329b-11e8-91dd-a517b181082e.png">

Missed this part, after setting that to vp8 on both devices (not only the sender) I see different log messages:

But that I guess is expected.

[2018-03-28 12:28] Pro100Andrey commented on #978
No.

My suggestion -  use h264 for camera without self.adaptOutputFormat  and  h264  for screen with self.adaptOutputFormat.

Because VP8 - software codec for iOS, h264 - hardware

[2018-03-28 12:29] Pro100Andrey commented on #978
If you will have any other problems please let us know by creating a separate issue.

[2018-03-28 12:29] truemetal commented on #978
Thanks

[2018-03-28 12:29] #978 closed

[2018-03-28 13:56] Pro100Andrey commented on #974
Hi @truemetal, fixed (v2.7 - Mar 28, 2018)

[Changelog](https://quickblox.com/developers/Sample-webrtc-ios#Framework_changelog)

Thanks!

[2018-03-28 13:56] #974 closed

[2018-03-28 13:56] Pro100Andrey commented on #935
Hi @LeonardoCardoso, fixed (v2.7 - Mar 28, 2018)

[Changelog](https://quickblox.com/developers/Sample-webrtc-ios#Framework_changelog)

Thanks!

[2018-03-28 13:56] #935 closed

[2018-03-28 13:57] Pro100Andrey commented on #977
Hi @truemetal, fixed (v2.7 - Mar 28, 2018)

[Changelog](https://quickblox.com/developers/Sample-webrtc-ios#Framework_changelog)

Thanks!

[2018-03-28 13:58] Pro100Andrey commented on #971
Hi @AtulKrP, check new version of SDK v2.7 - Mar 28, 2018

[Changelog](https://quickblox.com/developers/Sample-webrtc-ios#Framework_changelog)

Thanks!

[2018-03-28 14:47] AtulKrP commented on #971
Hi @Pro100Andrey

I have not tested yet. I will reach you asap.

Thanks

[2018-03-29 12:33] #970 closed

[2018-03-29 12:33] #933 closed

[2018-03-29 16:28] harirao001 opened #980 "Push-notifications Not working sometimes"
**New Issue Checklist**

 - [yes ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ yes] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------

[2018-03-29 23:07] vineeshtp commented on #973
[self.profile synchronizeWithUserData:user]; method is working fine.
thank you for the support.

[2018-03-29 23:14] vineeshtp opened #981 "Can not make video/audio call once app in background"
Hi

I implemented video and Audio chat sample sample application.
I could make both audio and video call successfully.
But, once app goes to background failed to make the calls. Also can not work call in background even after app get terminated.

Please find the below log,

**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched

[2018-03-29 23:30] Pro100Andrey commented on #981
Hi @vineeshtp,  For that you will need to use Apple CallKit, with VOIP push notifications. You can check [quick guide here](https://quickblox.com/developers/Sample-webrtc-ios#Apple_CallKit), as well as an example within our sample-videochat in the current repository.

[2018-03-29 23:34] Pro100Andrey commented on #981
@vineeshtp, Could you plese use gist.github.com for logs?

[2018-03-30 04:35] vineeshtp commented on #981
Already implemented with Apple Callkit by using Quickblox WebRTC sample code, not working yet in background. Please find the full log
https://gist.github.com/vineeshtp/af490fcb462b2373f0bc1173235fef7d

[2018-03-30 06:21] Pro100Andrey commented on #981
Hi @vineeshtp Could you please check this guild again - [Howto adding support for VOIPpush notifications](https://quickblox.com/developers/SimpleSample-messages_users-ios#Adding_support_for_VOIP_push_notifications)?

This guild said about create subscription:

[code]
However, nothing is said about create subscriptions in your [logs](https://gist.github.com/vineeshtp/af490fcb462b2373f0bc1173235fef7

[2018-03-30 06:28] vineeshtp commented on #981
This I need to do in Appdelegate right?
I hope after registration when received a incoming call will trigger the
'didReceiveIncomingPushWithPayload' delegate method. Then, we need to show
the call accept screen .

On 30 Mar 2018 11:51 a.m., "Andrey Ivanov" <notifications@github.com> wrote:

Hi @vineeshtp <https://github.com/vineeshtp> Could you please check this
guild again - Howto adding support

[2018-03-30 06:45] Pro100Andrey commented on #981
Yes, but after login if needed

 self.pushRegistry = [[PKPushRegistry alloc] initWithQueue:dispatch_get_main_queue()];    self.pushRegistry.delegate = self;
self.pushRegistry.desiredPushTypes = [NSSet setWithObject:PKPushTypeVoIP];

[2018-03-30 06:53] Pro100Andrey commented on #980
Hi @harirao001, Could you please provide full logs from app?

To enable full logs use the following code:
[code]

[2018-03-30 14:19] vineeshtp commented on #981
Not working in background,
I checked with your latest code,
https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc
which is updated 3 days before. not working in background.
I have replaced with my voip certificate and app credentials.

[2018-03-30 14:26] harirao001 commented on #980
2018-03-30 06:13:02:239 Feedback[22594:952b] SEND:
2018-03-30 06:13:02:248 Feedback[22594:952b] SEND: http://etherx.jabber.org/streams' version='1.0' to='chat.quickblox.com' from='46058193-68404@chat.quickblox.com'>
2018-03-30 06:13:03:846 Feedback[22594:19bb] RECV: http://etherx.jabber.org/streams" from="chat.quickblox.com" id="dadd8b76-11cc-48b7-b382-9ad3d9c89a24" version="1.0" stream1:lang="en"

[2018-03-30 14:28] harirao001 commented on #980
@Pro100Andrey here is what i am getting. please let me know if anything is missing.
if anything missing then provide me sample code of whatis missing. so i can send it to you

[2018-03-30 14:33] Pro100Andrey commented on #980
Hi @harirao001, your logs are not full, please  use [gist.github.com](https://gist.github.com).

[2018-03-30 14:34] harirao001 commented on #980
hi @Pro100Andrey , what should i send you in gist?

[2018-03-30 14:35] Pro100Andrey commented on #980
@harirao001
Push failed to register with error Error Domain=NSCocoaErrorDomain Code=3010 "remote notifications are not supported in the simulator" UserInfo={NSLocalizedDescription=remote notifications are not supported in the simulator

Dont use Simpulator!!

[2018-03-30 14:36] Pro100Andrey commented on #980
Full logs

[2018-03-30 14:37] harirao001 commented on #980
@Pro100Andrey let me send you logs from my device.

[2018-03-30 14:47] harirao001 commented on #980
https://gist.github.com/harirao001/50b66ce193877fad60bc1f483d45782e

[2018-03-30 14:47] harirao001 commented on #980
@Pro100Andrey is it good now?

[2018-03-30 14:49] Pro100Andrey commented on #980
@harirao001, I do not see any request in https://gist.github.com/harirao001/50b66ce193877fad60bc1f483d45782e

To enable full logs use the following code:
[code]

[2018-03-30 14:59] Raikerian commented on #981
Please check VOIP subscriptions in your quickblox admin panel. Also check that VOIP push is being delivered, and not failed, by checking status of VOIP push in your admin panel push queue page.

[2018-03-30 15:29] Pro100Andrey commented on #980
@harirao001, any updates?

[2018-03-30 15:30] Pro100Andrey commented on #981
@vineeshtp, Any updates?

[2018-03-30 15:33] harirao001 commented on #980
@Pro100Andrey can i send you my xcode files?

[2018-03-30 15:33] vineeshtp commented on #981
I checked in subscription tab from Pushnotification section, it contains two subscriptions. in queue nothing find.
I have a query, is there any background supported sample audio and video call  application available?

[2018-03-30 15:33] Pro100Andrey commented on #980
@harirao001 ok

[2018-03-30 15:33] harirao001 commented on #980
I am only getting above logs. I have implemented
[QBSettings setLogLevel:QBLogLevelDebug];
[QBSettings enableXMPPLogging];

[2018-03-30 15:34] Raikerian commented on #981
If there is nothing in the queue, that might mean that you do not send any. You need to send VOIP push when you are calling offline user.
All of this is available in our sample-videochat in the current repository.

[2018-03-30 15:36] Pro100Andrey commented on #980
@harirao001, please provide your project

[2018-03-30 15:44] Pro100Andrey commented on #980
@harirao001, project

[2018-03-30 15:47] vineeshtp commented on #981
I checked in subscription tab from Pushnotification section, it contains two subscriptions. in queue nothing find.
I have a query, is there any background supported sample audio and video call  application available?

[2018-03-30 15:50] Pro100Andrey commented on #981
@vineeshtp

yes

[2018-03-30 15:50] vineeshtp commented on #981
that is  'sample-videochat-webrtc' application right ? . If possible could you please mention the class name / function name for make call with offline users.

[2018-03-30 15:50] Pro100Andrey commented on #981
@vineeshtp yes

[2018-03-30 16:00] vineeshtp commented on #981
In the 'sample-videochat-webrtc' there is no separation for offline users call. How can I differentiate the same and send VOIP push ?

[2018-03-30 16:11] Pro100Andrey commented on #981
[Documentation ](https://quickblox.com/developers/SimpleSample-messages_users-ios#Receiving_VOIP_push_notification)

1) [Create registy (code from sample)](https://github.com/QuickBlox/quickblox-ios-sdk/blob/515e97fa3533f0a8181e10df02bedb84fc90e497/sample-videochat-webrtc/sample-videochat-webrtc/Components/Users/ViewControllers/UsersViewController/UsersViewController.m#L73)

2) [Create subscriptio

[2018-03-30 16:19] VitaliyGuru commented on #981
@vineeshtp, Please check that you have uploaded the universal and only one certificate for VoIP push notifications and the bundle of your project is the same that in your certificate.

[2018-03-30 16:20] vineeshtp commented on #981
yes, the bundle identifier is correct.

Thanks & Regards,

 Vineesh TP

On Fri, Mar 30, 2018 at 9:49 PM, 404 <notifications@github.com> wrote:

[2018-03-30 16:43] RubenBenBen opened #982 "VideoCaptureSession's sampleBufferDelegate returning nil"
**New Issue Checklist**

 - [X] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [X] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-03-30 16:47] vineeshtp commented on #981
yes, uploaded the only one VOIP certificate.

Thanks & Regards,

 Vineesh TP

On Fri, Mar 30, 2018 at 9:52 PM, 404 <notifications@github.com> wrote:

[2018-03-30 18:46] harirao001 commented on #980
@Pro100Andrey https://we.tl/jC2IkRdy8l
here is my app sourcecode

[2018-03-30 21:49] RubenBenBen opened #983 "can't keep videoFormat to kCVPixelFormatType_32ARGB"
**New Issue Checklist**

 - [X] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [X] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-03-31 01:18] vineeshtp opened #984 "Can not make call sencond time"
I am implementing quickblox audio/video chat,
I have an issue ie, I could make call success fully at first time.
When I make call again, it get rejected

It shows the below error,
'Switched from Speaker to Receiver port. Reason: The category of the session object changed or session was just activated'

Please find the log ,
https://gist.github.com/vineeshtp/81318a0a7d3c5e8ad792512a606a8a5a

 - [ ]

[2018-03-31 13:56] Pro100Andrey commented on #980
@harirao001, logs from your app (first run):

[code]

[2018-04-01 02:06] vineeshtp opened #985 "QuickBlox Audio call automatically rejected by the user."
I am trying to make the audio call.
But, First time I could successfully make call. After that the receiver automatically rejected the call.

Here is the log,
 https://gist.github.com/vineeshtp/2b93940ac8e93be20c2d5cf086faa504

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickb

[2018-04-01 03:18] vineeshtp opened #986 "How do I show Quickblox incoming call if app in background/terminated"
I have implemented quickblox chat,voice and video call.
I could make the call even if app in background.

How can show Quickblox incoming call if app in background or terminated.

If app in background I  am receiving the  **PKPushRegistry** delegate methog.

`func pushRegistry(_ registry: PKPushRegistry, didReceiveIncomingPushWith payload: PKPushPayload, for type: PKPushType) {
        if type ==

[2018-04-01 08:03] Pro100Andrey commented on #980
Hi @harirao001, any updates?

[2018-04-01 08:05] Pro100Andrey commented on #985
Duplicate with https://github.com/QuickBlox/quickblox-ios-sdk/issues/984

[2018-04-01 08:05] #985 closed

[2018-04-01 08:07] Pro100Andrey commented on #986
Duplicate with https://github.com/QuickBlox/quickblox-ios-sdk/issues/981

[2018-04-01 08:07] #986 closed

[2018-04-01 08:08] Pro100Andrey commented on #981
Hi @vineeshtp, any updates?

[2018-04-01 08:20] Pro100Andrey commented on #971
No activity. Closing.

[2018-04-01 08:20] #971 closed

[2018-04-01 08:33] Pro100Andrey commented on #984
Hi @vineeshtp, check our [Video calling guide](https://quickblox.com/developers/Sample-webrtc-ios#Getting_Started_with_Video_Calling_API) and [sample-videochat-webrtc](https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc)

When I make call again, it get rejected

Could you please confirm that this error occurs in our [sample-videochat-webrtc](https://github.com/QuickB

[2018-04-01 08:38] vineeshtp commented on #981
If app in background I am receiving the *PKPushRegistry* delegate methog.

func pushRegistry(_ registry: PKPushRegistry, didReceiveIncomingPushWith
payload: PKPushPayload, for type: PKPushType) { if type == .voIP { } }

To report the incoming call to CallKitManager, the session shall be nil, so
can not call this function.

CallKitManager.instance.reportIncomingCall(withUserIDs: opponentIDs,
sessio

[2018-04-01 08:40] Pro100Andrey commented on #981
@vineeshtp Could you please confirm that this case/error occurs on our sample-videochat-webrtc ?

[2018-04-01 08:43] vineeshtp commented on #981
Yes, it is not working in the sample application too.

Thanks & Regards,

 Vineesh TP

On Sun, Apr 1, 2018 at 2:10 PM, Andrey Ivanov <notifications@github.com>
wrote:

[2018-04-01 08:44] Pro100Andrey commented on #981
@vineeshtp Could you please provide steps to reproduce?

[2018-04-01 08:49] vineeshtp commented on #981
Call is working in foreground.
If app put into background or terminated the app, application will not get
any call.
But, I have check if it is background. As I mentioned above mail,

I am receiving the *PKPushRegistry* delegate methog.

func pushRegistry(_ registry: PKPushRegistry, didReceiveIncomingPushWith
payload: PKPushPayload, for type: PKPushType) { if type == .voIP { } }

To report the inco

[2018-04-01 08:57] Pro100Andrey commented on #981
@vineeshtp Could you please provide steps to reproduce the behavior in our [sample-videochat-webrtc](https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc)?

Thanks.

[2018-04-01 09:03] Pro100Andrey commented on #981
@vineeshtp I check our sample again but don't have any idea how to reproduce the behavior.

any call.

I have received a call and session after connect to chat

[2018-04-01 09:09] Pro100Andrey commented on #981
@vineeshtp check code from our sample [Receive IncomingPushWithPayload](https://github.com/QuickBlox/quickblox-ios-sdk/blob/515e97fa3533f0a8181e10df02bedb84fc90e497/sample-videochat-webrtc/sample-videochat-webrtc/Components/Users/ViewControllers/UsersViewController/UsersViewController.m#L540)

[code]
[After connect to chat](
https://github.com/QuickBlox/quickblox-ios-sdk/blob/0cc178065f25dc3d7680a

[2018-04-01 09:15] Pro100Andrey commented on #981
@vineeshtp Could you please provide steps to reproduce the behavior in our sample-videochat-webrtc?

[2018-04-01 09:20] Pro100Andrey commented on #984
@vineeshtp

this log about AudioSession Switched from Speaker to Receiver port is not an error.

When I make call again, it get rejected

Why your called reject method for QBRTCSession?

[2018-04-01 09:28] Pro100Andrey commented on #984
@vineeshtp any updates?

Thanks.

[2018-04-01 09:29] Pro100Andrey commented on #981
Hi @vineeshtp, any updates?

[2018-04-01 11:24] vineeshtp commented on #794
@Sengthai : I have the same situation, How you resolved this issue.?

[2018-04-02 09:06] VitaliyGuru commented on #794
@vineeshtp, Please create a separate issue and add additional information that you consider as helpful.

[2018-04-02 09:18] Raikerian commented on #983
Hi,

kCVPixelFormatType_32ARGB is among supported formats. Please show us some code how you are trying to use it.

[2018-04-02 09:30] RubenBenBen commented on #983
Hi, I just override the ```videoFormat``` in ```Settings.m```:

[code]

[2018-04-02 13:41] shaharukhs opened #988 "*** Assertion failure in -[QMDialogsMemoryStorage addChatDialog:andJoin:completion:]"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-04-02 14:01] VitaliyGuru commented on #988
@shaharukhs, Hello. You should specify dialog type before saving it to the memory storage.

[2018-04-02 15:32] harirao001 commented on #980
@pro100andrey I have tried with running from Xcode .. it was working. but then after i have submitted test flight build and in test flight build it is not working

[2018-04-02 15:40] pro100andrey commented on #980
Hi @harirao001. What certificate are you using?

[2018-04-02 15:45] harirao001 commented on #980
I am using distribution certificates. I am testing from quickblox dashboard with testing push notifications. and it's working.
so I think it's not certificate issue

[2018-04-02 15:52] pro100andrey commented on #980
@harirao001 Are you using Universal (Sandbox & Production & VoIP) SSL certificate?

[2018-04-02 16:02] pro100andrey commented on #980
@harirao001 Did you have any errors in "admin panel" -> Push notifications -> Queue?

[2018-04-02 16:04] harirao001 commented on #980
@pro100andrey i can see the status as Sent.

[2018-04-02 16:20] pro100andrey commented on #980
Could you provide logs from notifications queue

[2018-04-02 16:20] harirao001 commented on #980
I am using distribution certificate

[2018-04-02 16:23] VitaliyGuru commented on #980
@harirao001, Please remove all certificates and create the new one. It should be `Universal (Sandbox & Production & VoIP) SSL certificate`.

[2018-04-02 16:30] harirao001 commented on #980
[23316986_log.json.gz](https://github.com/QuickBlox/quickblox-ios-sdk/files/1868584/23316986_log.json.gz)

[2018-04-02 16:31] harirao001 commented on #980
I am using : Apple Push Notification service SSL (Sandbox & Production) certificates

[2018-04-02 16:32] harirao001 commented on #980
@VitaliyGuru  I am assuming it's not an issue of the certificate as I can test it from the dashboard and its working.

[2018-04-02 18:02] VitaliyGuru commented on #980
@harirao001, Try checking certificate error logs also.
![image](https://user-images.githubusercontent.com/4947664/38208235-0cbd5142-36b9-11e8-9a17-c73fab089d11.png)

[2018-04-02 18:46] VitaliyGuru commented on #988
Dialogs can have next types:

- 1-1 private dialog - a chat dialog between 2 users
- Group dialog - a chat dialog between many users
- Open group dialog - open chat dialog, any user can join and chat here.

Here is a list of the predefined fields:

`type` - Chat dialog type:

[code]

[2018-04-03 06:07] shaharukhs commented on #988
But This one happening on message receive
[code]

Please check screenshot
![screen shot 2018-04-03 at 11 35 49 am](https://user-images.githubusercontent.com/16479669/38232108-4b3bb5ce-3733-11e8-88d5-ee21b2bad2cf.png)

[2018-04-03 06:41] pro100andrey commented on #988
@shaharukhs The chat dialog with id 5ac2324ea28f9a3151ecb5dc and other fields should be containts in dialogMemeoryStorage.

[2018-04-03 07:21] pro100andrey commented on #988
[code]
your logs:

[code]
You should use this method:

[code]
or add all field in your system message for represent chat dialog:

[code]

[2018-04-03 07:43] pro100andrey commented on #984
No activity. Closing.

[2018-04-03 07:44] #984 closed

[2018-04-03 07:44] pro100andrey commented on #981
No activity. Closing.

[2018-04-03 07:44] #981 closed

[2018-04-03 07:47] pro100andrey commented on #980
Hi @harirao001 Any updates?

[2018-04-03 08:16] shaharukhs commented on #988
Thanks for your reply.

But I am receiving chat from web app which was using JS
to achieve this **Your system message should contains `<type>2</type>` type field.**
So my back end team need to change on there side right?

[2018-04-03 08:27] pro100andrey commented on #988
@shaharukhs

Yes, if this is notification message about creating dialog. Required fields:

[code]

[2018-04-03 08:29] pro100andrey commented on #988
@shaharukhs, if you will have any other problems please let us know by creating a separate issue.

Thanks!

[2018-04-03 08:29] #988 closed

[2018-04-03 09:13] Raikerian commented on #983
I have checked it and yeah, as of now `QBRTCCameraCapture` working only with `kCVPixelFormatType_420YpCbCr8BiPlanarFullRange`.
You can, however, subclass of `QBRTCVideoCapture` and use camera your way.

[2018-04-03 10:11] Raikerian commented on #983
We will try to fix it in `QBRTCCameraCapture` for the next version of our framework. As of now use suggestion above.

[2018-04-03 10:14] harirao001 commented on #980
[apns-production (1).log](https://github.com/QuickBlox/quickblox-ios-sdk/files/1871085/apns-production.1.log)
here is log

[2018-04-03 10:42] RubenBenBen commented on #983
Not sure how can I implement a subclass of ```QBRTCVideoCapture``` having only headers. Can you please provide the ```QBRTCVideoCapture.m``` and ```QBRTCCameraCapture.m``` to see how it should work?
Can you give an approximate time when to anticipate your next version of the framework?
Thanks

[2018-04-03 11:00] Raikerian commented on #983
I have just tested it, and AVCaptureVideoDataOutput (which is used by camera capture) does not support `kCVPixelFormatType_32ARGB`.

`kCVPixelFormatType_420YpCbCr8BiPlanarFullRange` is the only one for use here. You can see our screen sharing example on how we are using ARGB format here: https://github.com/QuickBlox/quickblox-ios-sdk/blob/master/sample-videochat-webrtc/sample-videochat-webrtc/View

[2018-04-03 11:07] pro100andrey commented on #983
Hi @RubenBenBen what was the reason behind using kCVPixelFormatType_32BGRA?

[2018-04-03 11:16] pro100andrey commented on #982
Hi @RubenBenBen,

QBRTCCameraCapture is the final object. But you can implement a subclass of the QBRTCVideoCapture and use camera your way.

You can see our screen sharing example on how we are using ARGB format here: https://github.com/QuickBlox/quickblox-ios-sdk/blob/master/sample-videochat-webrtc/sample-videochat-webrtc/ViewControllers/SharingViewController/QBRTCScreenCapture.m

[2018-04-03 11:27] RubenBenBen commented on #983
@Raikerian thanks for sharing. Yeah, sadly ```kCVPixelFormatType_32ARGB``` is not supported in ```AVCaptureVideoDataOutput```.
@pro100andrey Hi, I want to do some openCV rendering during the video stream, which needs r, g, b components of pixels, that's why I want to use ```ARGB``` or ```BGRA``` format.

[2018-04-03 11:50] pro100andrey commented on #982
@RubenBenBen, If you will have any other problems or questions please let us know by creating a separate issue.

Thanks!

[2018-04-03 11:50] #982 closed

[2018-04-03 11:58] pro100andrey commented on #983
@RubenBenBen You can use vImage within the `Accelerate.framework` for convert BGRA to ARGB

For swap pixel channels from `BGRA` to `ARGB` use code bellow:

[code]

[2018-04-03 12:06] pro100andrey commented on #983
@RubenBenBen, if you will have any other problems or questions please let us know by creating a separate issue.

Thanks!

[2018-04-03 12:06] #983 closed

[2018-04-03 12:19] pro100andrey commented on #980
Hi @harirao001, check https://github.com/QuickBlox/q-municate-ios/issues/332

[2018-04-03 12:31] RubenBenBen commented on #983
Thanks, I've seen that suggestion already in your previous issues. The problem is that if only ```kCVPixelFormatType_420YpCbCr8BiPlanarFullRange``` is supported, I don't have the ```BGRA``` format and that's what I'm trying to deal with: get b, g, r from ```kCVPixelFormatType_420YpCbCr8BiPlanarFullRange``` pixelBuffer.

[2018-04-03 12:54] pro100andrey commented on #980
@harirao001  Any updates?

[2018-04-03 13:25] harirao001 commented on #980
Generating new certificates now. above suggestion, I tried but didn't work.
Will let you know once i am done

[2018-04-03 13:26] pro100andrey commented on #980
@harirao001 Check https://github.com/QuickBlox/q-municate-ios/issues/332

[2018-04-03 13:26] pro100andrey commented on #980
@harirao001 this comment:

Hi @pro100andrey ,

[2018-04-03 13:31] harirao001 commented on #980
@pro100andrey tried above way. it was not working.

[2018-04-03 13:32] pro100andrey commented on #980
@Could you provide last  log in "admin panel" -> Push notifications -> Queue?

[2018-04-03 13:38] pro100andrey commented on #980
@harirao001 , Could you provide last logs from "admin panel" -> Push notifications -> Queue for notifications which were not received?

[2018-04-03 13:44] harirao001 commented on #980
[23328539_log.json.gz](https://github.com/QuickBlox/quickblox-ios-sdk/files/1871720/23328539_log.json.gz)
here it is

[2018-04-03 13:49] pro100andrey commented on #980
@harirao001, Thanks, and log for notifications which were received with a dashboard.

[2018-04-03 14:05] pro100andrey commented on #980
@harirao001,

Could you please remove sandbox sertificate from your app (68404) and try again?
You should upload only one certificate.

[2018-04-03 14:09] harirao001 commented on #980
@pro100andrey removed the certificate.

I have just uploaded the new certificates. checking with that.

[2018-04-03 14:39] harirao001 commented on #980
@pro100andrey working in testing. uploaded test flight build to check in production.
build still in processing. will keep you posted

[2018-04-03 14:40] pro100andrey commented on #980
@harirao001 Thanks.

[2018-04-03 14:57] RubenBenBen opened #990 "Getting r, g, b values from kCVPixelFormatType_420YpCbCr8BiPlanarFullRange pixel buffer"
**New Issue Checklist**

 - [X] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [X] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-04-03 15:28] pro100andrey commented on #990
@RubenBenBen, https://stackoverflow.com/questions/24090122/converting-a-kcvpixelformattype-420ypcbcr8biplanarfullrange-buffer-to-a-rgb-buff ?

[2018-04-03 15:33] pro100andrey commented on #990
@RubenBenBen, But best way implement subclass of QBRTCVideoCapture

[2018-04-03 15:46] pro100andrey commented on #990
@RubenBenBen, any updates?

[2018-04-03 16:52] RubenBenBen commented on #990
@pro100andrey It works! thanks very much

[2018-04-03 16:52] #990 closed

[2018-04-03 23:35] vineeshtp commented on #981
There is a big problem (login) while receive call if application terminated in Sample application.
I run the latest sample video call application.
I could successfully got call if app in background.
But, When I terminated the application, I got pushnotification when some one make call.
When tap on the pushnotification in the sample app always shows the login screen then only receive the call.
How

[2018-04-04 05:45] darpan-123 opened #991 "Not able to play Audio File sent by quickblox Chat"
Hi I am trying to send an Audio File  through Quickblox:

the Audio format that i am Sending is .wav , but on quickblox it shows as .mp4 and in chat i am not able to play audio. neither from sender nor from receiver.

the code that i am using is :

[code]
and the file that I am sending is : `file:///var/mobile/Containers/Data/Application/43229FB2-AAE5-47A8-8AA6-7C71CBA94BCE/Documents/recording-201

[2018-04-04 06:01] pro100andrey commented on #981
You should use voip notification + call kit

[2018-04-04 06:06] pro100andrey commented on #981
For CallKit + Voip don't need tapping on the push notification.

[2018-04-04 06:11] pro100andrey commented on #981
In our [sample-videochat-webrtc](https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc) we use CallKit + Voip

1) [Create registy (need for VoIP)](https://github.com/QuickBlox/quickblox-ios-sdk/blob/515e97fa3533f0a8181e10df02bedb84fc90e497/sample-videochat-webrtc/sample-videochat-webrtc/Components/Users/ViewControllers/UsersViewController/UsersViewController.m#L73)

2)

[2018-04-04 12:41] pro100andrey commented on #980
@harirao001, any updates?

[2018-04-04 12:42] harirao001 commented on #980
@pro100andrey it's working in development mode now. but for the test flight, I am only getting one-way push notifications.

so checking on that.. right now uploading new build

[2018-04-04 13:56] VitaliyGuru commented on #991
@darpan-123, Hello.
Try using the following code snippet:
[code]

[2018-04-04 16:48] harirao001 commented on #980
@pro100andrey I have checked in test flight build but the same issue. sometimes it's delivered and sometime its not delivered

[2018-04-05 09:47] VitaliyGuru commented on #991
@darpan-123, Any updates?

[2018-04-05 13:26] Serproger opened #992 "_CDAttachment duplicate class"
**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------------------------|
iOS Version                    | 11.3                                   |
Quickblox iOS SDK version      | 2.1.6                                  |
QuickbloxWebRTC SDK version    | 2.7                               |

[2018-04-05 13:49] #991 closed

[2018-04-06 11:15] pro100andrey commented on #980
Hi @harirao001,

Are there any firewalls blocking your traffic?

Check the following ports:

TCP port 2195 to send notifications to APNs.
TCP port 2196 for the APNs feedback service.

Because we are getting errors from APNS.

[code]

Check  [If you aren‘t getting Apple push notifications](https://support.apple.com/en-us/HT203609)

[2018-04-08 03:04] vineeshtp commented on #938
@shalem93 : How you solved the issue?

[2018-04-08 08:04] pro100andrey commented on #938
@vineeshtp, If you have any problems or questions please let us know by creating a separate issue.

[2018-04-09 06:05] vineeshtp commented on #877
@PrakashSalawria : I have the same issue, How you are solved this issue.

[2018-04-09 06:57] Serproger opened #993 "Missing required architecture i386 when build for profiling"
**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------------------------|
iOS Version                    | 11.3                                   |
Quickblox iOS SDK version      | 2.1.6                                 |
QuickbloxWebRTC SDK version    | 2.7                            |
Xcod

[2018-04-09 07:00] pro100andrey commented on #993
https://github.com/QuickBlox/quickblox-ios-sdk/issues/793

[2018-04-09 07:04] Serproger commented on #993
It's not a duplicate. I've followed all the instructions in your issue, but nothing works. And this error can be observed ONLY when build for profiling (for simulator and for physical device).

[2018-04-09 07:07] pro100andrey commented on #993
@Serproger Could you please provide sample project with this issue?

[2018-04-09 07:13] pro100andrey commented on #993
<img width="847" alt="screenshot 2018-04-09 10 12 36" src="https://user-images.githubusercontent.com/1109916/38484242-989e69e2-3bde-11e8-94a3-0db6bae55f25.png">

[2018-04-09 07:14] pro100andrey commented on #993
@Serproger any updates?

[2018-04-09 07:25] Serproger commented on #993
For which project I should set this property? Pods?

[2018-04-09 07:26] Serproger commented on #993
Besides that, valid architectures for CocaPods project are i386, x86_x64. Is it valid to update them in the way mentioned in issue 783?

[2018-04-09 07:28] pro100andrey commented on #993
For which project I should set this property? Pods?

For your project. For example : Targets - "<Your project name>" -" Build Settings"

[2018-04-09 07:31] pro100andrey commented on #993
https://github.com/QuickBlox/quickblox-ios-sdk/issues/783

?????

[2018-04-09 07:32] Serproger commented on #993
sorry, 793 :)

[2018-04-09 07:42] pro100andrey commented on #993
We don't support i386

Besides that, valid architectures for CocaPods project are i386, x86_x64. Is it valid to update them in the way mentioned in issue 793?

Only:
[code]

For Profiling, you should set "Build Active Architecture Only" to `yes` for "Debug & Release".

[2018-04-09 07:52] pro100andrey commented on #993
@Serproger, any updates?

[2018-04-09 08:08] Serproger commented on #993
Yes, setting of "Build Active Architecture Only" works, thanks.

[2018-04-09 08:10] pro100andrey commented on #993
@Serproger if you will have any other problems or questions please let us know by creating a separate issue.

Thanks!

[2018-04-09 08:10] #993 closed

[2018-04-09 11:34] ZalakSA commented on #933
Hello,

I am facing same issue. I want to update group dialog name, but its not updating already created group name.

I am using below methods to update group dialog name:
[code]
Please help me to resolve this issue.

Thanks,

[2018-04-10 09:53] hassan31 opened #994 "I want to receive CallKit UI when App is in background like many other apps."
Hello Dear,

I followed your video chat sdk and its really good to implement I can receive the native CallKit UI when app is in foreground, but I don't see any implementation of CallKit UI when app is in background.

Can you please guide me on this. My project is actually in objective-C, if you can help me by sharing the objective c code that would be great. Also if you can implement the same beha

[2018-04-10 10:00] Raikerian commented on #994
Hi,

check out this guide on implementing CallKit: https://quickblox.com/developers/Sample-webrtc-ios#Apple_CallKit
Also make sure, that you have set up VOIP push notifications. We are performing chat connect when receiving VOIP push notification with a specific key: https://github.com/QuickBlox/quickblox-ios-sdk/blob/master/sample-videochat-webrtc/sample-videochat-webrtc/Components/Users/ViewCont

[2018-04-10 10:35] pro100andrey commented on #994
@hassan31, any updates?

[2018-04-10 10:38] hassan31 commented on #994
Hi, Thanks for your help. I've already implemented this in AppDelegate method. And I was using development p12 file in quickblox push notifications settings. I'm wondering if it is fixed with production p12 file. I've uploaded my both apps to test flight and I'll test and will let you know.

[2018-04-10 11:14] haarj opened #995 "QMAttachmentStoreService.m "cachedImageForAttachment" wrong."
[code]
The bold logic is wrong. Set the first "image" to the "imageWithData". Right now, "image" will always be nil the first time since you don't set it to anything.

[2018-04-10 13:39] VitaliyGuru commented on #995
@haarj, Thanks. Will be fixed in the next release.

[2018-04-11 01:13] astanton commented on #667
I am getting this same issue right now.  It just hangs on the connecting block and is never called.  If I step over it, isConnected is still false and isConnecting stays true.

[2018-04-11 01:49] astanton opened #996 "QBChat.instance().connect hangs and never returns."
"QB-OS" = "iOS 11.2";
"QB-SDK" = "iOS 2.8.0.1";
XCode Version = 9.2
QB-WebRTC-not relevant

I do a QBRequest.logIn and that works fine, and with the QBUser that is returned in the completion block, I then try to do the QBChat.instance().connect and pass that user along.

At that point, it just hangs and it does nothing else.  I don't get an error or anything coming back.  Below is the logs with de

[2018-04-11 02:09] mpc20001 commented on #667
At the time it was related to the servers getting attacked.

[2018-04-11 07:49] pro100andrey commented on #996
@astanton Check this now.

[2018-04-11 09:32] VitaliyGuru commented on #994
@hassan31, It's better to use universal certificate

[2018-04-11 21:42] astanton commented on #996
@pro100andrey I just tried now and it's still not working, however the errors are different.  Here are the new logs:

[code]

It is still going after that and never returns in the completion block.  It keeps repeating those types of errors in the log though.

Any other ideas?  What was changed that you thought it would work?  Is there anything else on our end we need to do?  We haven't used our ac

[2018-04-12 05:51] pro100andrey commented on #996
@astanton Could you provide full logs?

[2018-04-12 05:55] pro100andrey commented on #996
@astanton Are there any firewalls blocking your traffic?

Check the following ports:

TCP port 5223, 5222

Thanks!

[2018-04-12 11:17] pro100andrey commented on #996
@astanton any updates?

Thanks.

[2018-04-12 11:24] astanton commented on #996
@pro100andrey I am not going to be able to play around with this until around 8pm EST tonight unfortunately.  I am about 99% sure that there are no firewall rules blocking the traffic though as this is my home network and nothing has changed in that sense, to my knowledge.

[2018-04-12 11:30] pro100andrey commented on #996
@astanton, ok, Could you please provide full logs?

To enable full logs use the following code:
[code]

[2018-04-13 09:58] ZalakSA commented on #805
@soulfly Hello,

I am also facing same issue. Can you please help me, how you made it working?

I am writing push notification code inside completion handler.

Thanks,
Zalak

[2018-04-13 10:19] VitaliyGuru commented on #805
@ZalakSA, Please create a separate issue and describe it in details.

[2018-04-13 10:38] ZalakSA opened #997 "Not able to unblock multiple users and stop sending notification when they are block ios"
Code for sending push notification is as below:

[code]
To block user I have used below method:

[code]

To block pass value as "false" to allow variable while creating QBPrivacyItem and "true" for unblocking

I am able to block multiple users but I am not able to unblock because I am not able to remove item from privacy list.

And User is blocked still push notification appears, how to stop comin

[2018-04-13 11:05] ZalakSA commented on #776
How to prevent block users from sending message notification ? Please help me

[2018-04-13 11:35] ZalakSA commented on #176
@Berk0ld Hello,

Can you please help me how I can prevent sending notification when user is blocked. I am able to stop local notification but not push notification.

Thanks

[2018-04-13 11:37] AndriiMoskvin commented on #176
@ZalakSA  - sorry, I can't help you I no longer work in Quickblox.

[2018-04-13 11:39] ZalakSA commented on #176
I am badly stuck with this. If you have gone anything such then or anybody else can help me for this would be greatful.

Thanks

[2018-04-13 11:43] Raikerian commented on #176
Hi @ZalakSA

Please create a separate issue and describe your problem with more details.

[2018-04-13 11:47] ZalakSA commented on #997
@Raikerian

I have already created separate issue with details.

Can you please go through it and if extra information is needed, I will for sure provide it. Because I need your help.

Thanks,

[2018-04-13 12:02] RubenBenBen opened #998 "Creation QBRTCSession (video) without setting opponentsIDs"
**New Issue Checklist**

 - [X] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [X] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-04-13 12:33] ZalakSA commented on #997
@VitaliyGuru Hello, Do you need more details for my issue?

Please help me for this issue.

Thanks

[2018-04-13 12:35] Raikerian commented on #998
Hi,

You don't need QBRTCSession instance to start capturing video. You are using QBRTCCameraCapture for that.
https://quickblox.com/developers/Sample-webrtc-ios#Manage_local_video_track

[2018-04-13 12:56] haarj opened #999 "QMChatViewController.m "inputToolBarStartPos""
`- (NSUInteger)inputToolBarStartPos {

    NSInteger screenHeight = [UIScreen mainScreen].nativeBounds.size.height;
    if (screenHeight == 2436) { //iPhone X
        return 34;
    }
    return 0;
}
`

This is one way to fix the issue of the extra spacing between the input toolbar and the home "button" on iPhone X.

Or is this being worked on/fixed?

[2018-04-13 13:05] #999 closed

[2018-04-13 17:36] VitaliyGuru commented on #997
@ZalakSA, Please follow [these instructions](https://github.com/QuickBlox/quickblox-ios-sdk/issues/948#issuecomment-373396277).

[2018-04-16 12:16] pro100andrey commented on #996
No activity. Closing.

[2018-04-16 12:17] pro100andrey commented on #994
No activity. Closing.

[2018-04-16 12:17] #994 closed

[2018-04-16 12:17] pro100andrey commented on #997
Hi @ZalakSA any updates?

[2018-04-16 13:03] astanton commented on #996
I was busy over the weekend and did not have time to get to it, I'll post logs tonight.

[2018-04-16 21:56] astanton commented on #996
@pro100andrey here you go.  I think this is the first time I've seen the code 35 at the top of the errors now.

[code]

[2018-04-17 08:25] RubenBenBen opened #1000 "QBRequest updateCurrentUser returning null tags"
Hi guys, I tried to update my current user's ```customData```, which works fine, but the ```tags``` get nullified. Here is how I tried it:
[code]
When I log my current user and updated user in successBlock, I get this:
currentUser:
[code]
and updated user:
[code]

So I tried then synchronizing ```QBUpdateUserParameters``` with ```currentUser``` before updating, like this:

[code]
When I update wit

[2018-04-17 08:30] pro100andrey commented on #1000
Hi @RubenBenBen, Thanks for reporting this.

[2018-04-17 10:03] pro100andrey commented on #996
Hi @astanton chatApp.quickblox.com ?

[2018-04-17 10:04] pro100andrey commented on #996
@astanton Could you please update SDK to the latest version and check your QBSettings

Thanks

[2018-04-17 10:16] pro100andrey commented on #997
No activity. Closing.

[2018-04-17 10:16] #997 closed

[2018-04-17 10:57] astanton commented on #996
@pro100andrey sorry it is chatspinthebottle.quickblox.com I just replaced that term in the logs with App for easier reading.

Also if we update SDK that is going to require rewriting a lot of our calls?

[2018-04-17 12:58] pro100andrey commented on #996
@astanton You seem to use Quickblox Enterprise Endpoints for your application, but the check showed the account those endpoints are referring to is no longer active.
I strongly recommend contacting Quickblox Support Team at https://assist.quickblox.com/index.php?/Tickets/Submit  to sort out this issue.

Thanks.

[2018-04-17 13:06] astanton commented on #996
@pro100andrey we were on enterprise but put it on hold for a bit, and are eventually going back to it once we finish this development effort, but for now I'm just trying to use our test app.  When I login it shows we're on the starter tier but that is still the endpoint it's showing to use.  Is there a different one we should be hitting meanwhile?

I opened a ticket like a week ago and have not he

[2018-04-17 13:13] dipendrapulse opened #1001 "Logout seems to be not working"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-04-17 13:16] Raikerian commented on #1001
Hi,

Please show us your crash trace.

[2018-04-17 13:26] pro100andrey commented on #996
@astanton use default endpoints, for example:

[code]
After remove and reinstall your app.
**Do not set chat and API endpoints.**

[2018-04-17 13:27] pro100andrey commented on #996
@astanton

Support team comment:
Please revert back to our Support team with the ticket ID or submit a new one here https://assist.quickblox.com/index.php?/Tickets/Submit  , but make sure that you choose Enterprise department directly in order to resolve the issue with active instance at the fist place.

[2018-04-17 13:29] astanton commented on #996
@pro100andrey okay I will give that a try this evening.  I know we're explicitly setting the chat endpoint in the code.  We're already setting the QBSettings as well, but that's before overriding the chat endpoint and setting it manually.

I'll report back, thanks!

[2018-04-17 13:41] dipendrapulse commented on #1001
Hi Raikerian,

Thanks for your quick response, below is log
2018-04-17 06:32:57.679374-0700 Leafpon[3347:1319383] [QBCore] Response object: (
        {
        subscription =         {
            device =             {
                "bundle_identifier" = "com.leafponapp.leafponapp";
                "client_identification_sequence" = 5e4ade0e17f113a222fa7a4c402095491d632e5feab10cb9af346fff92d6ff

[2018-04-17 15:13] dipendrapulse commented on #1001
I am using the latest version  "QB-SDK" = "iOS 2.9.2"

Thanks.

[2018-04-17 15:14] pro100andrey commented on #1001
No,  latest 2.16

[2018-04-17 20:19] astanton commented on #996
@pro100andrey no luck removing the line that sets the chat API endpoints.  Still having the same issue.

[2018-04-17 20:25] VitaliyGuru commented on #996
@astanton  Please provide updated logs.

[2018-04-17 20:27] VitaliyGuru commented on #996
@astanton  Have you removed and reinstalled your application?

[2018-04-17 20:49] astanton commented on #996
@pro100andrey yes I did remove and reinstall the app.  Here's the logs, it looks the same:

[code]
And here is the code that is running, so you can see I commented out the line that explicitly sets it:
[code]

[2018-04-18 08:12] dipendrapulse commented on #1001
Hi Andrew
I was trying to upgrade the sdk but didn't succeed, I will let you know once it's done

[2018-04-18 08:42] ykorshev opened #1002 "Socks5 proxy connection"
Hi everyone. Is there a way to connect to the chat service and execute api requests through socks5 proxy server?

[2018-04-18 09:36] VitaliyGuru commented on #1001
@dipendrapulse
Would you please say a little more about the issues you experienced during the update process?

[2018-04-18 11:03] soulfly commented on #1002
Hi there,

It's not supported as is.

We use GCDAsyncSocket under the hood which does not support proxy

I remember the https://github.com/chrisballinger/ProxyKit can do it, but we do not use it for now

[2018-04-18 11:05] pro100andrey commented on #996
Hi @astanton, could you please provide output for command bellow:

[code]

Thanks

[2018-04-18 11:07] pro100andrey commented on #996
or don't set this settings QBSettings.setAccountKey(kQBAccountKey). After remove and reinstall your app.

[2018-04-18 11:37] dipendrapulse commented on #1001
@VitaliyGuru
After upgrading to 2.16 I am seeing multiple errors, can you please advise if I am doing something wrong. I have attached screenshot of the same

![image](https://user-images.githubusercontent.com/18593012/38929694-cd33d6b2-432a-11e8-882c-4f6b783960e5.png)

![image](https://user-images.githubusercontent.com/18593012/38929734-f48f2a36-432a-11e8-881d-918bb695fdb5.png)

[2018-04-18 11:41] VitaliyGuru commented on #1001
@dipendrapulse  Please update `QMServices` also.

[2018-04-18 11:51] dipendrapulse commented on #1001
@VitaliyGuru
Can you please help me the version for QMServices i should update currently i am using 0.4.5

[2018-04-18 11:52] pro100andrey commented on #1001
@dipendrapulse 0.6.1

[2018-04-18 12:08] dipendrapulse commented on #1001
I tried to update Qmservice to  0.6.1 but it throws error
![screen shot 2018-04-18 at 5 26 42 pm](https://user-images.githubusercontent.com/18593012/38930943-3c1efc42-432f-11e8-870e-09539f8a1bee.png)

[2018-04-18 15:30] RubenBenBen opened #1003 "getting users by customData filter"
Hi, I added a ```NSDictionary``` to ```customData``` in ```QBUUser```s, and want to request users by filtering key values from customData. I've seen the filtering example filtering by ```last_request_at```:
[code]

Is there a way to do this with ```customData```? or if no, maybe is there a way to add some custom properties to users? For example, my custom data is ```@"status:1"``` or ```@"status:0

[2018-04-18 17:31] pro100andrey commented on #1001
Try pod update

[2018-04-18 23:53] astanton commented on #996
@pro100andrey if I don't set the account key, I get crashes calling `QMServicesManager.instance().usersService.loadFromCache()` in my AppDelegate, and if I comment that out, I get a crash after that in the call `QBRequest.logIn(withUserLogin)`

As for the curl command, here is the result:

`{"api_endpoint":"https://apispinthebottle.quickblox.com","chat_endpoint":"chatspinthebottle.quickblox.com","

[2018-04-19 09:57] pro100andrey commented on #1001
@dipendrapulse any updates?

[2018-04-19 10:34] Julls-03 commented on #996
Hi @astanton!
This is Julia from Quickblox Support team.
The issue you're encountering is related to the fact that your 'Starter' account keeps on using Quickblox Enterprise Custom Endpoints. Check that by visiting your Admin Panel>>Account>>Settings.

If you'd like to use this "Starter" account, please contact our Support team at https://assist.quickblox.com/ >>Submit Ticket choosing "Enterprise

[2018-04-19 13:16] pro100andrey commented on #1003
NO, this is all params, operators, Allowed Field for filtering:

Param | Operator | Allowed types | Allowed fields | Value Example | Description
-- | -- | -- | -- | -- | --
filter[] | gt | number,string,date | id,full_name,email,login,phone,website,created_at,updated_at,last_request_at,external_user_id,twitter_id,facebook_id | number+id+gt+3 | Will return users withs IDs greater than 3
filter[] |

[2018-04-19 14:44] dipendrapulse commented on #1001
@pro100andrey
Thanks for your support, i updated the pod & now i can log out.

[2018-04-19 14:45] #1001 closed

[2018-04-19 16:01] pro100andrey commented on #1003
Hi @RubenBenBen, any updates?

[2018-04-19 17:38] RubenBenBen commented on #1003
@pro100andrey thanks, I'll use these then.

[2018-04-19 17:38] #1003 closed

[2018-04-20 08:25] vineeshtp opened #1004 "Chat Accept/Reject at first time"
I have implemented QuickBlox chat for iOS.
IS there any provision for chat accept/reject at first time for the user.
Let me know any API available for the same

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info

[2018-04-20 08:57] pro100andrey commented on #1004
Hi @vineeshtp

What do you mean?

[2018-04-20 09:06] pro100andrey commented on #1004
if you mean ContactList Accept / Reject functionality use methods bellow:

[code]
Reject
[code]
For more details check our documentation : [Chat Contact list](https://quickblox.com/developers/SimpleSample-chat_users-ios#Contact_list)

[2018-04-20 11:01] vineeshtp commented on #1004
I want to show an accept/rejecte button when a new chat request
received(first time only).

On 20 Apr 2018 2:36 p.m., "Andrey Ivanov" <notifications@github.com> wrote:

[2018-04-20 11:45] Raikerian commented on #1004
Hi,

This is a client-side feature, if you want help on how to do it, you can check our Q-muinicate app source code here: https://github.com/QuickBlox/q-municate-ios

Show UI notification whenever you are receiving contact request message.

[2018-04-20 12:54] pro100andrey commented on #1004
@vineeshtp  if you will have any other problems or questions please let us know by creating a separate issue.

Thanks

[2018-04-20 12:54] #1004 closed

[2018-04-20 13:07] pro100andrey commented on #966
Hi @haarj is not a bug, check our [documentation](https://quickblox.com/developers/SimpleSample-customObjects-ios#Filters)

near | Location | [request setObject:@"23.4545,56.1233;10" forKey:@"user_location[near]"]; | Search records in a specific radius with current position in meters. Value format: longitude,latitude;radius (in meters)
-- | -- | -- | --

You need to replace order of location point

[2018-04-20 13:10] pro100andrey commented on #966
@haarj, if you will have any other problems or questions please let us know by creating a separate issue.

Thanks

[2018-04-20 13:10] #966 closed

[2018-04-20 23:31] vineeshtp opened #1005 "Incoming call with user name"
I have implemeted QuickBlox audio/video  call.
I have an issue, When a incoming call received it shows a number and appname.
Please find the attached image.
1. Showing the number
2. Appname + audio/video

How to replace this with call user name.

![img_0031](https://user-images.githubusercontent.com/2011379/39077600-e40b390a-4520-11e8-9d7f-10f3f1884954.png)

 - [ ] I have read the [Documentation](

[2018-04-21 06:38] vineeshtp commented on #1005
Any updates

[2018-04-21 07:41] vineeshtp opened #1006 "Mute Opponent user voice in Video call"
How do I mute opponent Voice while video chat.
I could turn off video and audio together but, couldn't the mute voice.
The the documentation it self it not mentioned separate ,
https://quickblox.com/developers/Sample-webrtc-ios#Getting_Started_with_Video_Calling_API

Please let me know the property to be execute for mute voice while video call.

 - [ ] I have read the [Documentation](https://quick

[2018-04-21 08:01] vineeshtp opened #1007 "Video call receiver automatically in loudspeaker"
I have implemented video and voice chat. Both working but, in video call the receiver automatically change the voice to loudspeaker.

I tried to change forcefully to receiver by using the below lines of code but, not working.

- (void)session:(QBRTCSession *)session receivedRemoteVideoTrack:(QBRTCVideoTrack *)videoTrack fromUser:(NSNumber *)userID {

    if (session == self.session) {

        dis

[2018-04-21 08:36] vineeshtp commented on #1005
Please update.

[2018-04-21 09:27] pro100andrey commented on #1005
Hi @vineeshtp, Check https://developer.apple.com/documentation/callkit

[2018-04-21 09:36] pro100andrey commented on #1006
Hi @vineeshtp, Check or documentation again

https://quickblox.com/developers/Sample-webrtc-ios#Getting_Started_with_Video_Calling_API

[code]

[2018-04-21 09:36] #1006 closed

[2018-04-21 09:36] #1005 closed

[2018-04-21 09:47] pro100andrey commented on #1007
Yes,  this is the default behavior for video (Check any app).

You can change this with:

[code]

[2018-04-22 01:53] vineeshtp commented on #1007
for the receiver it is not working. I could able to switch the speaker/receiver in  call intitiaor  side.

[2018-04-24 09:43] Raikerian commented on #1007
Hi,

Please show us code how you are initializing QBRTCAudioSession using initialize method.

[2018-04-24 12:06] pro100andrey commented on #996
Hi @astanton, if you will have any other problems or questions please let us know by creating a separate issue.

Thanks.

[2018-04-24 12:06] #996 closed

[2018-04-24 15:35] dipendrapulse opened #1008 "App crashes while handling remote notification"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-04-25 09:28] pro100andrey commented on #1008
@dipendrapulse,  if you will have any other problems or questions please let us know by creating a separate issue.

[2018-04-25 09:28] #1008 closed

[2018-04-25 09:29] pro100andrey commented on #1007
HI @vineeshtp, any updates?

[2018-04-25 09:29] vineeshtp commented on #1007
Thank you for the support.

On 25 Apr 2018 2:59 p.m., "Andrey Ivanov" <notifications@github.com> wrote:

[2018-04-25 10:50] #1007 closed

[2018-04-26 11:07] prographo opened #1009 "QBRequestGetBuilder - where array is NOT empty"
How do I specify that a field should not be null, i.e. an array must have at least one member. I have read the documentation, but I could not see this.

[2018-04-26 11:25] #1009 closed

[2018-04-26 11:41] prographo commented on #1009
This object allows you to specify criteria (fields, filters) when fetching custom objects or dialogs from the QuickBlox server. You can learn about it here: https://docsdev.quickblox.com/android/Chat/Dialogs.html

[2018-04-26 11:41] prographo commented on #1009
Ah, I posted in iOS, should have been in android.

[2018-04-26 11:42] VitaliyGuru commented on #1009
@prographo, yes, that's why we closed this issue.

[2018-04-30 04:11] Dharmikios opened #1011 "How to start voice message recorder ?"
I was trying to send voice record message in demo but it is not working. It is just showing recording view but it not start recording. Can you please provide suggestion on this and let me know why it is not working.

I am working with swift and did this but same result. It is only showing record view but nothing is happening, no recording and no time increment.
Let me know if i am doing anything w

[2018-04-30 09:48] pro100andrey commented on #1011
Duplicate https://github.com/QuickBlox/q-municate-ios/issues/335

[2018-04-30 09:48] #1011 closed

[2018-04-30 11:05] ParvinderParashar opened #1012 "Voip Push issue when app is idle for long time"
Hi
I am facing issue with iOS platform push notification , i am trying to send push notification using create event api. Voip notification are not receiving when app is background for long time ,

[code]
Response i am getting  state delivered true
[code]
Success log :
[code]
In some cases when user reset notification setting they are able to receive notification for some time

Thanks

[2018-04-30 12:32] darpan-123 opened #1013 "Push Notification not received when application is not running or in background mode"
Hello Team, am not able to receive push notification when my app is in background mode or not running. But when my app is open then only am able to receive the push notification in Chat Module. Am not able to understand why its happening and whats going wrong.

I have uploaded the certificates on QuickBlox admin panel. Should i mention any where that am using production mode or debug mode.

So ple

[2018-04-30 12:37] darpan-123 commented on #1013
Also am recieving these values in my console. Whenever i try to send the message to any user.

parameters: {
    event =     {
        environment = development;
        "event_type" = "one_shot";
        message = "WHhoeGh4aA==";
        "notification_type" = push;
        user =         {
            ids = 48723041;
        };
    };
}
2018-04-30 18:05:49.990675+0530 GAN[3286:1967715] [QMChatCac

[2018-04-30 12:42] Raikerian commented on #1013
Hi,

This indicates that there is no subscription to push notifications from the users, that you trying to send a push notification to. Please follow this guide on how to create and manage subscriptions: https://quickblox.com/developers/SimpleSample-messages_users-ios#Giving_a_user_a_Push_Notification_subscription

[2018-04-30 12:45] darpan-123 commented on #1013
But if that person is currently doing chat with me then he/she is receiving the message. And they are not ony receive the push notification. When my application is in background or application not running.

So my main concern how the user is able to receive push notification when the app open. If they are not able to receive the push notification when the app closed.

[2018-04-30 12:46] Raikerian commented on #1013
How does the push notification in the opened app look like? Do you see it in the log or ?

[2018-04-30 12:51] darpan-123 commented on #1013
They are showing a custom pop up from the top not the Bydefault push notification header.
![img_0101](https://user-images.githubusercontent.com/35089221/39427930-3a8a2d84-4ca3-11e8-8b5d-79113fde399a.PNG)

Like you are able to see in the above image.

[2018-04-30 12:53] Raikerian commented on #1013
Well, the thing you see is not a push notification. It is local in-app message notification, which does not have anything related to the guide I've linked to you above.

[2018-04-30 12:55] darpan-123 commented on #1013
Okay, Just tell me one things when we do chat one to one and one of the user closed the application and then another user send the message. So in that case should i receive the notification or not?

[2018-04-30 12:56] Raikerian commented on #1013
You will receive push notification when app is closed only if you have subscribed for them.

[2018-04-30 12:57] darpan-123 commented on #1013
For subscription am using this function should am doing in the correct way or not.

   func application(_ application: UIApplication, didRegisterForRemoteNotificationsWithDeviceToken deviceToken: Data) {

        let tokenParts = deviceToken.map { data -> String in
            return String(format: "%02.2hhx", data)
        }

        let token = tokenParts.joined()

        UserDefaults.standard.

[2018-04-30 13:02] Raikerian commented on #1013
It should work, just run it and see which block will be executed.

[2018-04-30 13:04] darpan-123 commented on #1013
am getting the status code 201, when ever this block is executed.

[2018-04-30 13:07] darpan-123 commented on #1013
object: (
        {
        subscription =         {
            device =             {
                "bundle_identifier" = "comm.ParkPad.com.SunSoft";
                "client_identification_sequence" = c6872764ec43572399789d64b9e54395867e00adb4b512e45d342077c49c7494;
                platform =                 {
                    name = ios;
                };
                udid = "EB8B6097-

[2018-04-30 13:09] Raikerian commented on #1013
201 indicates that subscription was successfully created, please once again follow this page as it contains everything you need to know about push notifications and subscriptions: https://quickblox.com/developers/SimpleSample-messages_users-ios#Giving_a_user_a_Push_Notification_subscription

And if you will have any problems, then use Issues to report them here.

[2018-04-30 13:09] darpan-123 commented on #1013
Am getting frustrated right now, I want to purchase your plan. But just tell me how should i receive the push notification. I have uploaded the certificates on the QuickBlox Admin panel. What am doing wrong. I have check your demo. And i have implement in the same way.

[2018-04-30 13:13] Raikerian commented on #1013
You said that you've created subscription above. Send a message to that user and check whether he will receive the push notification. Make sure you have chat alerts enabled in your admin panel: https://quickblox.com/developers/Chat#Alerts

[2018-05-01 10:55] pravin-yudiz opened #1014 "issue while video call has been connected with other user"
**Environment details**

Info                           | Value                                       |
-------------------------------|---------------------------------------------|
iOS Version                    | 10.0+                                  |
Xcode Version                  | xCode : 9.3                             |

**Expected behavior**
- getting crashed

**Actual behavior**
- shou

[2018-05-01 11:03] Dharmikios opened #1015 "How maintain media cell with play/push video or audio in swift ?"
I am working with swift and i reviewed demo app(https://github.com/QuickBlox/q-municate-ios) and find that for any media(video/audio) type message, for maintain their play/push you are using

 [self.mediaController configureView:(id<QMMediaViewDelegate>)cell
                                withMessage:message];

Please help me on this how can i do this in swift. I already tried with conversion of

[2018-05-02 09:26] pro100andrey commented on #1013
Hi @darpan-123,  if you will have any other problems or questions please let us know by creating a separate issue.

[2018-05-02 09:26] #1013 closed

[2018-05-02 09:53] VitaliyGuru commented on #1012
@ParvinderParashar, How many certificates do you have in the admin panel for push notifications?

[2018-05-02 10:06] ParvinderParashar commented on #1012
Hi 

Currently i have only one certificate installed i.e voip certifacte

Thanks
Parvinder

Sent from myMail for iOS

Wednesday, 2 May 2018, 3:23 PM +0530 from notifications@github.com  <notifications@github.com>:

[2018-05-02 12:34] Raikerian commented on #1014
Hi,

Please post the whole crash log you are getting. Press continue in the bottom panel to make console print more info on that crash: http://take.ms/f1kPD

[2018-05-02 12:38] Raikerian commented on #1014
Also please capture full logs where we can see call start.

[2018-05-02 14:11] hajakiyasudeen opened #1016 "Not able to createDialog in QBChatDialog"
Hi,

I have read this documentation https://quickblox.com/developers/IOS for implement Group chat

When I am create chat Dialog, response of the `QBRequest createDialog`  return null

I’m using below source code to create chatDialog,Please check the code and help me.

Source Code :

    QBChatDialog *chatDialog = [[QBChatDialog alloc] initWithDialogID:NULL type:QBChatDialogTypeGroup];
    chatDial

[2018-05-02 14:13] pro100andrey commented on #1016
Hi @hajakiyasudeen, could you provide full logs?

Thanks

[2018-05-02 14:42] hajakiyasudeen commented on #1016
Hi @pro100andrey

Thanks for quick reply,

Here is the code, please check.
2018-05-02 18:39:48.246239+0400 ClassMate[86711:9853691]
    ID:(null)
    Created At:(null)
    Updated At:(null)
    Room JID:(null)
    name:Chat with User A, User B, User C
    photo:(null)
    type:2
    lastMessage:(null)
    lastMessageDate:(null)
    occupantIDs:(
    48636831,
    48637053
)
    userID:0
    data:(

[2018-05-02 14:42] VitaliyGuru commented on #1016
@hajakiyasudeen, Please provide full logs from the start of the application.

[2018-05-02 15:06] hajakiyasudeen commented on #1016
@VitaliyGuru please check this logs,
2018-05-02 18:45:25.025443+0400 SyncMate[86859:9858208] [QBCore] Request URL:https://api.quickblox.com/chat/Dialog.json
2018-05-02 18:45:25.026830+0400 SyncMate[86859:9858208] [QBCore] Request method: POST
2018-05-02 18:45:25.026959+0400 SyncMate[86859:9858208] [QBCore] Request parameters:{
    name = "Chat with User A, User B, User C";
    "occupants_ids" = "4

[2018-05-03 09:53] pro100andrey commented on #1016
Hi @hajakiyasudeen,

The dialog is successfully created (from your logs):

[code]

[2018-05-03 09:56] pro100andrey commented on #1016
@hajakiyasudeen

Replace:

NSlog(@“result %@”,chatDialog); // return null

with:

NSlog(@“result %@”, createdDialog); // return null

[2018-05-03 09:58] pro100andrey commented on #1016
@hajakiyasudeen if you will have any other problems or questions please let us know by creating a separate issue.

Thanks

[2018-05-03 09:58] #1016 closed

[2018-05-03 10:00] pro100andrey commented on #1012
Hi @ParvinderParashar, could you provide applicationID?

Thanks

[2018-05-03 10:01] pro100andrey commented on #1014
Hi @pravin-yudiz, any updates?

Thanks.

[2018-05-03 10:03] VitaliyGuru commented on #1012
@ParvinderParashar And please provide full logs from the start of the application until VOIP push.

[2018-05-03 10:07] pro100andrey commented on #1015
Hi @Dharmikios,

Could you provide project example?

Thanks

[2018-05-03 13:57] #1015 closed

[2018-05-04 10:05] syammala commented on #943
I am seeing the same issue, did any one resolved this?

[2018-05-04 10:10] VitaliyGuru commented on #943
@syammala, Please create a separate issue and add logs and stats reports.

[2018-05-04 10:44] pro100andrey commented on #1012
Hi @ParvinderParashar Any updates?

[2018-05-07 05:43] jlubeck opened #1020 "DeviceTokenNotForTopic when sending VoIP Push"
I'm having issues getting the VoIP to work when my app is in the background.
After going through a few issues here on github, I was able to find the queue of messages inside my app. I see that they show up as sent, but failed. And here is an example of one:

[code]

What does that DeviceTokenNotForTopic mean? and where is that com.realstir.app.voip coming from? I'm not seeing that bundle id anywhe

[2018-05-07 06:11] Dharmikios opened #1021 "How to clear all chat messages in dialog ?"
I am trying to delete all messages from dialog but after deleting all when i come back to chat view controller again i am getting all that messages again.
This is working fine for the single chat message.

     QBRequest.deleteMessages(withIDs: Set(messageID), forAllUsers: false, successBlock: { (response) in
                    print(response)
                   ServicesManager.instance().chatSer

[2018-05-07 10:23] katoreRahul opened #1022 "Custom Status in iOS"
Custom Status in android is like:

[code]

Here are user can send 1. online/offline status, 2. Custom note like “I’m at home” 3. Subscription state and QBpresence Mode

But in iOS:
 [[QBChat instance] sendPresenceWithStatus:@"I shall return!"];

Here is only one string parameter.

Also in iOS for accessing user list we used

NSarray *contacts = [QBChat instance].contactList.contacts;
for (QBContac

[2018-05-07 12:33] pro100andrey commented on #1022
Hi @katoreRahul, try the method of QBChatDelegate:

/**
 Called in case of receiving presence with status.

 @param status Recieved presence status.
 @param userID User ID who did send presence.
 */
- (void)chatDidReceivePresenceWithStatus:(NSString *)status
                                fromUser:(NSInteger)userID;

[2018-05-07 12:41] pro100andrey commented on #1020
Hi @jlubeck

This error is returned from the Apple Push Notification service (APNs) when the presented push notifications token attributes does not match the topic specified at the time of sending. In the context of Quickblox Platform this means the token was issued to an app with a given Apple App ID but the server push SSL certificate is configured for another Apple App ID. When the service is s

[2018-05-07 12:47] pro100andrey commented on #1020
@jlubeck, how many certificates are you using?

[2018-05-07 12:50] Raikerian commented on #1020
@jlubeck you can check certificates in your admin panel: Push Notifications -> Settings.
Tell us how many certificates are there and what their types are. Or rather make a screenshot of that page so we can see ourselves.

[2018-05-07 13:50] katoreRahul commented on #1022
@pro100andrey
Thanks
 When my app is in foreground I can handle user status by using delegates.

 I want changes in status in contactList.contacts, when I'm launching my app, for showing first time in my dialogs list user is online/offline.

and as per quickblox docs we can fetch all users presences by using [QBChat instance].contactList.contacts;
can we change status/presences in contactList??

[2018-05-07 18:46] pro100andrey commented on #1020
Hi @jlubeck,

For fixing your issue with DeviceTokenNotForTopic you should:

1) Remove all certificates from your admin panel
2) Upload the Universal (sandbox & production & voip) certificate with `com.realstir.app` bundle.

Thanks.

[2018-05-07 18:59] #1014 closed

[2018-05-07 18:59] #1012 closed

[2018-05-07 19:01] pro100andrey commented on #932
fixed

[2018-05-07 19:01] #932 closed

[2018-05-07 19:27] jlubeck commented on #1020
Yup! That fixed it! I still see `com.realstir.app.voip` on the logs, but now it's working.
Thanks!

[2018-05-07 19:27] #1020 closed

[2018-05-07 19:41] VitaliyGuru commented on #1012
@ParvinderParashar, Please refer to [this post](https://quickblox.com/blog/shared-instance-update/).
We have added `messageID` field to the body of chat alert. So now you can read the message using information from the chat alert.
[code]

[code]

[2018-05-08 04:04] Dharmikios commented on #1021
Hello, we already did this. Please check into my code.

    ServicesManager.instance().chatService.deleteMessagesLocally(self.message, forDialogID: self.dialogid)
    ServicesManager.instance().chatService.messagesMemoryStorage.delete(self.message, forDialogID: self.dialogid)

Also i don't want to load earlier messages, i need to clear all chat. For now as we are showing first 100 messages and aft

[2018-05-08 06:54] syammala commented on #651
From where can I get these logs
VS (input) 480x640@19fps | (sent) 360x480@18fps
VS (enc) 419Kbps/412Kbps | (sent) 448Kbps/412Kbps | 49ms | VP8
VR (recv) 240x320@22fps | (decoded)20 | (output)20fps | 25Kbps/10Kbps | 2ms

[2018-05-08 08:34] Raikerian commented on #651
Hi @syammala

These logs come from WebRTC Stats report, please follow this to enable them: https://gist.github.com/Raikerian/abad70a0c91fe87311a7cbd6cee50223
Also please create a separate issue for your problem, rather then typing in an old one.

[2018-05-08 10:38] Raikerian commented on #1021
There is no need of second method where you accessing messages memory storage directly, as the first one designed to clear you memory storage and db cache:
[code]

There is no method to delete all messages on the server (you will need all your message ids from the specific dialogue you want to delete them from). So using a QBRequest method you mentioned in your original question is the correct way

[2018-05-08 14:12] pro100andrey commented on #1022
Hi @katoreRahul,

with:

[code]

For example:

[code]

[2018-05-10 08:41] pro100andrey commented on #1021
Hi @Dharmikios, any updates?

[2018-05-10 08:41] pro100andrey commented on #1022
Hi @katoreRahul, any updates?

[2018-05-10 13:55] #992 closed

[2018-05-10 13:55] #995 closed

[2018-05-10 16:10] pro100andrey commented on #1000
Fixed https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.17

[2018-05-10 16:10] #1000 closed

[2018-05-11 18:34] RubenBenBen opened #1024 "CustomObject UIImage not updating"
Hi guys, I was saving an ```UIImage``` to CustomObject as a ```string``` property:
[code]
 Everything was ok until today. Now it doesn't update and just returns the previous object in successBlock, I am assuming you added a limitation to the string property characters count?

[2018-05-11 18:40] pro100andrey commented on #1024
Hi @RubenBenBen, could you provide full logs with gist?

[2018-05-11 19:50] RubenBenBen commented on #1024
@VitaliyGuru thanks, I've seen this, but is it possible to upload a file in the same request? I want to update everything with 1 request, with ```[QBRequest updateObject:object]``` method by setting object fields ```[object.fields setObject:object]```, is it possible to do the same thing with files also?

[2018-05-11 20:02] RubenBenBen commented on #1024
@pro100andrey [https://gist.github.com/RubenBenBen/3c73f3c935271d89c27a212b20f0232e](log)
now it actually fails, was getting success with previous object earlier.

[2018-05-11 20:04] pro100andrey commented on #1024
PUT URL:https://api.quickblox.com/data/UserInfo/(null)

check object.ID = self.currentUserInfo.ID;

is 0

[2018-05-11 20:15] RubenBenBen commented on #1024
@pro100andrey sry my bad, here is the working [logs](https://gist.github.com/RubenBenBen/59adf88549028f7dfd7ac65bf981b3e3)

[2018-05-11 20:30] RubenBenBen commented on #1024
@pro100andrey thanks, I've seen this, but is it possible to upload a file in the same request? I want to update everything with 1 request, with [QBRequest updateObject:object] method by setting object fields [object.fields setObject:object], is it possible to do the same thing with files also?

[2018-05-11 21:05] RubenBenBen commented on #1024
@pro100andrey I've tried uploading image it with file property, but it doesn't seem to work:
[code]

and it just returns the object with empty data. Here are the full [logs](https://gist.github.com/RubenBenBen/d3b2073ab79fe2d737329df95a29e681) :

[2018-05-12 05:00] hdmavani commented on #1021
we use this method for delete message that works fine but after than i come back to chat view controller than old deleted message are come back.

i don't know where to come back these deleted messages

[2018-05-12 05:17] pro100andrey commented on #1024
@RubenBenBen

- is not possible

From [documentation](https://quickblox.com/developers/SimpleSample-customObjects-ios#Files).
**Files**
Custom Objects module supports the `File` field type. It is created to easily work with content from Custom Objects module. There is an ability to upload, download, update and delete content of file fields.

The max file size is 32 MB.

Uploading/Updating a file

[2018-05-12 08:46] #1024 closed

[2018-05-13 06:17] RubenBenBen opened #1025 "setting QBRTCLocalVideoTrack's videoCapture causes screen blink"
Hi, I am working on an app where I start a local cameraCapture session **before** calling another user, so I have my own captureSession handler (delegate). It looks like this:
[code]
and in my session handler:
[code]
But when I start a call session, I need to set:
[code]
which automatically overrides the output's `sampleBufferDelegate` to itself (`QBRTCCameraCapture`). That's ok for me, except tha

[2018-05-13 06:32] RubenBenBen commented on #1025
ok nvm, it actually has an access to the queue.

[2018-05-13 06:32] #1025 closed

[2018-05-13 20:24] RubenBenBen opened #1026 "session hangUp removing video track from another session"
Hi guys, I'm trying to handle the case when 2 users call each other simultaneously, so there are 2 sessions created. Here is how I'm handling it in my sessionHandler:
[code]
So, basically I have two sessions: session1 by user1 and session2 by user2, and I close the session whose creator (user1) has lower ID. The problem is that when the user1 closes his session1 and calls ```[self.session hangUp:@

[2018-05-14 10:39] Raikerian commented on #1026
Hi,

You must assign self.cameraCapture to localMediaStream videoTracks' videoCapture of your choice. In the code snippet you have provided you are setting it to the self.session's localMediaStream. Make sure that this is the correct session. And also look if there is any other code that might override videoCapture.

[2018-05-14 15:11] Raikerian commented on #1026
Try setting nil to the old session videoCapture, before assigning it to the new one. When QBRTCSession deallocating it does not stop your videoCapture, but do, in fact, clear old local video track from it (basically just setting nil for you in the old videoTrack). This should not be the problem in your situation, but in case there are some racing conditions occurs, try the suggestion above.

If it

[2018-05-14 15:33] RubenBenBen commented on #1026
@Raikerian thanks, it worked.

[2018-05-14 15:33] #1026 closed

[2018-05-14 16:50] RubenBenBen opened #1027 "can't upload file with new framework"
Hi again, I just updated my quickblox frameworks to the latest ones and now the file upload returns an 401 error. Here is the code I'm using, it worked fine with v.2.6.3:
[code]

Here are full [logs](https://gist.github.com/RubenBenBen/b46ed217f542be07db59b9a35ed54b0b)

[2018-05-14 16:56] pro100andrey commented on #1027
Hi @RubenBenBen, thanks for the report! Tomorrow will be fixed it.

[2018-05-15 07:26] pro100andrey commented on #1022
Hi @katoreRahul, could you please provide full logs with [gist.github.com](gist.github.com) for both devices?

[2018-05-15 08:26] Raikerian commented on #1026
@RubenBenBen if possible, please check your old code (without implementing suggestions above) with latest 2.7 framework. Thanks in advance.

[2018-05-15 08:53] RubenBenBen commented on #1026
@Raikerian if I comment ` self.session.localMediaStream.videoTrack.videoCapture = nil; ` this line, the bug still exists in v. 2.7.

[2018-05-15 11:29] pro100andrey commented on #1022
@katoreRahul, any updates ?

[2018-05-15 11:35] VitaliyGuru commented on #1022
@katoreRahul, When you said "not working for me" what did you mean?
Did you try the suggested solution?

[2018-05-15 12:43] pro100andrey commented on #1027
Fixed, See [changelog](https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.17.1).

Thanks.

[2018-05-15 12:43] #1027 closed

[2018-05-16 10:57] riteshpatel0 opened #1028 "How to Upload audio in message attachment?"
Hi,

I am not able to upload audio on Quickblox server? How can I attach my audio in message and upload into Quickblox server.

Thank you.

[2018-05-16 11:04] VitaliyGuru commented on #1028
@riteshpatel0, Hello.
Just follow the [Quickblox documentation](https://quickblox.com/developers/SimpleSample-chat_users-ios#Send_and_receive_a_message_with_attachment).

[2018-05-16 11:27] riteshpatel0 commented on #1028
Hello @VitaliyGuru ,

How to identify text and audio message type from the all messages.

Thanks.

[2018-05-16 11:45] VitaliyGuru commented on #1028
When you create an attachment you should provide its type, e.g. `"audio"`.
Then you can check the attachment type in the received message like in the method below:

[code]

[2018-05-16 20:23] RubenBenBen opened #1029 "remoteVideoTrack image load callback"
Hi guys, in my app when I make a video call to a user, I want to know when his remoteVideoTrack frame is set to my `QBRTCRemoteVideoView` and is visible. I only found two methods:
``` - (void)session:(QBRTCSession *)session receivedRemoteVideoTrack:(QBRTCVideoTrack *)videoTrack fromUser:(NSNumber *)userID ``` and ``` - (void)videoView:(QBRTCRemoteVideoView *)videoView didChangeVideoSize:(CGSize)si

[2018-05-17 09:18] Dharmikios opened #1030 "How to delete group dialog without leave from the group ?"
I need to clear group dialog conversation without leave group for me only. I need to do same like single user chat "Delete" on right swipe.
For now group dialog has leave option but i don't want to leave group, i just need to clear group dialog for me.

I tried with this same method used in single user dialog delete, But it is not working for group dialog. Calling this method for group leads to Le

[2018-05-17 09:55] pro100andrey commented on #1022
Closing. No activity.

[2018-05-17 09:55] #1022 closed, assigned to nobody

[2018-05-17 09:56] pro100andrey commented on #1028
Hi @riteshpatel0, any updates?

[2018-05-17 10:06] pro100andrey commented on #1030
Hi @Dharmikios, try

1) ServicesManager.instance().chatService.dialogsMemoryStorage.deleteChatDialog(withID:...
2) ServicesManager.instance().chatService.messagesMemoryStorage.deleteMessages(withDialogID:...
3) QMChatCache.instance.deleteDialog(WithID:...
4) QMChatCache.instance.deleteMessages(WithDialogID:...
5) Update your UI.

[2018-05-17 11:29] riteshpatel0 opened #1031 "I am not able to delete chat dialog."
Hello,

I am getting below error when I am try to delete chat dialog,
"{
    errors =     (
        "You don't have appropriate permissionsError while remove dialogs.
 to perform this operation"
    );
}"

------------------------------------------------------------------------------------------
Below my code for delete chat dialog,

QBRequest.deleteDialogs(withIDs: setDialog, forAllUsers: false,

[2018-05-17 11:30] pro100andrey commented on #1031
Hi @riteshpatel0, could you provide full logs with [gist](gist.github.com)?

[2018-05-17 13:34] Dharmikios commented on #1030
Hello @pro100andrey ,
I tried both but it is not working. I also tried this methods in demo code but it is not working. It is always leaving group instead of delete.  Can you please check this same in demo at your side and let me know if i am doing anything wrong.

[2018-05-17 16:10] RubenBenBen commented on #1029
I call `setVideoTrack:` in `receivedRemoteVideoTrack`, but **image** is **visible** when ```- (void)videoView:(QBRTCRemoteVideoView *)videoView didChangeVideoSize:(CGSize)size``` is called, I can track it that way in iOS 9.3. But when running on ios version > 9, it is loaded with delay and the following is logged:

[CAMetalLayerDrawable texture] should not be called after already presenting this d

[2018-05-18 04:50] riteshpatel0 commented on #1028
Hi @pro100andrey ,

We are doing attachment below way, is it perfect?. can you check below code,

We are upload image using below code,

QBRequest.tUploadFile(audioData!, fileName: soundFileName, contentType: "audio/m4a", isPublic: false, successBlock: { (response : QBResponse!, uploadedBlob :QBCBlob!) -> Void inQBRequest.tUploadFile(audioData!, fileName: soundFileName, contentType: "audio/m4a", i

[2018-05-18 09:45] pro100andrey commented on #1031
Hi @riteshpatel0, Could you provide full logs from the start of the application till this issue.

[2018-05-21 12:36] SalmanGhumsani opened #1032 "How to accept call from anywhere in iOS?"
Basically, I want to accept the call anywhere in my iOS application is there notification fired by the webRTC?

I have 20 UIViewController so how to implement the same functionality to open the CallViewController?

[2018-05-21 12:58] riteshpatel0 opened #1033 "How to get updated privacy list in block-unblock user."
Hello,

We are performing block-unblock user. it's working fine. but we are not getting updated privacy list.

we are use below snippet for fetching privacy list,
[code]

**For block-unblock user we are using below snippet**,
[code]
Thanks.

[2018-05-21 14:34] haarj opened #1034 "Persistent User login"
Question:

Is there a way to persistent a current user login without having to login every time a user needs to connect to the chat?

[2018-05-21 14:36] Raikerian commented on #1029
There is no really a way to know when the video will exactly be processed on screen, but you do start receiving frames when you have received video track. Of course, it might take some time to process the first frame on the screen, but that's about it.

How is this feature crucial for you? Give us some use cases. We might take a look if there is a way to get such internal notification.

[2018-05-21 14:41] Raikerian commented on #1032
Hi,

I will assume that currently, you have you call handlers (by that I mean you are handling call notifications) in 1 view controller, while you have 19 others. If that's wrong let me know.
So what you need to do, is basically, move your call handlers to some long living class (maybe you have 1 specific view controller that is always in memory? or you have 1 class that is always in memory like A

[2018-05-21 14:57] Raikerian commented on #1034
Hi,

What login method are using? Email or social provider? I guess you are asking if there is a way to login into QBChat without loggin in with QBRequest, right?

[2018-05-21 15:26] VitaliyGuru commented on #1033
@riteshpatel0, Hello.

Could you explain in more detail the thing about "same list at all"?

From the [documentation](https://quickblox.com/developers/SimpleSample-chat_users-ios#Privacy_lists):

There are some rules you should follow to update a privacy list:
- Include all of the desired items (not a "delta").
- If you want to update or set new privacy list instead of current you should decline c

[2018-05-21 15:41] haarj commented on #1034
Hi @Raikerian,

Yes I am using email and the ServicesManager's authservice object to login every time.

[2018-05-22 08:58] RubenBenBen commented on #1029
I have a timer which needs to start exactly when opponent is visible, so it is really important for my app. Actually, I can track it on iOS 9, ```- (void)videoView:(QBRTCRemoteVideoView *)videoView didChangeVideoSize:(CGSize)size``` is called when the first frame is received, so it works in 100% cases. My problem is when I run it on iOS 11 (iPhone 6s) I get a warning " [CAMetalLayerDrawable textur

[2018-05-22 09:00] Raikerian commented on #1029
The warning has nothing to do with it really. But I can suggest you force OpenGLES drawings instead of Metal, for now, just do this:
`QBRTCRemoteVideoView.preferMetal = NO;`

Let me know if that will achieve something you are looking for.

[2018-05-22 09:01] Raikerian commented on #1034
You can skip QBRequest login before QBChat login. but only if you are using login by email or password. You cannot skip it if you are using social provider login cause you always need to check for token not being expired, as that token used as password to connect to the chat.

[2018-05-22 09:13] RubenBenBen commented on #1029
thanks, will try and update it later today

[2018-05-22 17:33] haarj commented on #1034
Great. Thanks!

[2018-05-22 17:33] #1034 closed

[2018-05-23 07:32] RubenBenBen commented on #1029
I tested it on iPhone X too, and actually it was crashing on the same warning. But your suggestion helped, it works perfect now.

[2018-05-23 07:42] SalmanGhumsani commented on #1032
@Raikerian Thank you very much :)

[2018-05-23 07:44] Raikerian commented on #1029
Yeah, we will take a look at the Metal drawings problems in the next release. OpenGLES is the best for now.
Does our sample in this repository also crashes on your iPhone X with Metal drawings, or is this specific to your project? Would be helpful.

[2018-05-23 07:51] RubenBenBen commented on #1029
I've tested it on my project, but it should crash on the sample project as well, as the only difference is that I start my camera capture session before video calling. I can test it on sample project too when I have access to iPhone X again (I borrowed it yesterday for testing).

[2018-05-23 07:54] #1032 closed

[2018-05-23 07:55] pro100andrey commented on #1033
hi @riteshpatel0, any updates?

[2018-05-23 07:56] #1031 closed

[2018-05-23 09:38] riteshpatel0 commented on #1033
Hello @pro100andrey ,

We are try your code. but it's not working.

we are perform the step like, first we block the user then we check the list but we are not getting any user. always call the below method.

func chatDidNotReceivePrivacyList(withName name: String, error: Error) {
}

Thanks.

[2018-05-23 10:02] pro100andrey commented on #1033
Hi @riteshpatel0, Could you please provide full logs with [gist](gist.github.com)?

[2018-05-23 10:45] VitaliyGuru commented on #1033
@riteshpatel0, From your logs:
You have two privacy lists with the following names:
[code]
List with name "49643740" is set as active.

But I haven't found the method call `QBChat.instance.retrievePrivacyList(withName: "PrivacyList")`
and error.

Please provide logs with the above error.

[2018-05-23 11:00] riteshpatel0 commented on #1033
Hello @pro100andrey ,

Check below code logs with "retrievePrivacyList" method,

GET URL:https://api.quickblox.com/users/50193652.json
headers: {
    "Accept-Language" = "en-IN;q=1";
    "QB-OS" = "iOS 11.3.1";
    "QB-SDK" = "iOS 2.15";
    "QB-Token" = d9a9bf8a09a7a3c3b0c24a5ce4a7488e4901149f;
    "QuickBlox-REST-API-Version" = "0.1.1";
    "User-Agent" = "HelpMeOut/1.0 (iPhone; iOS 11.3.1; Scal

[2018-05-23 11:16] riteshpatel0 commented on #1033
Hello @pro100andrey ,

what we need to pass in QBPrivacyList with name. we are passing "dialog.id" in
 let list: QBPrivacyList = QBPrivacyList(name: chatid, items: [item])
 QBChat.instance.setDefaultPrivacyListWithName(chatid)

------------------------------------------------------------------------------------------
//Marks :- UnBlock methods
let item: QBPrivacyItem = QBPrivacyItem(privacyType: Q

[2018-05-24 08:39] RubenBenBen opened #1035 "rate limit for your current plan is exceeded"
Hi guys, I know this is not the right place to post this issue, but I already wrote this question to your support team two times more than a week ago and there is no response at all, and I need to clarify this asap. I've recently got two email notifications that "rate limit for your current plan (starter) is exceeded" . As I checked in [plans](https://quickblox.com/plans/) I'm not exceeding anythi

[2018-05-24 09:39] Raikerian commented on #1029
It will be helpful if you can get the case, where it crashes constantly. It is also probably not related to iPhone X, but perhaps to a specific use case of QBRTCRemoteVideoView. If you cannot narrow it down to what causing this then sure, close it.

[2018-05-24 09:44] Raikerian commented on #1035
Hi, while I don't know what caused it in your specific case, as I don't have access to that information, I can, however, inform you that audio/video calls are using chat messages in order to send and receive signals about themselves. By default QuickbloxWebRTC framework sending 1 call signal (message) per 5 seconds when you are calling someone. You can set this value in `QBRTCConfig`:
[code]

So t

[2018-05-24 11:02] RubenBenBen commented on #1029
Ok, it just may take some time, cause I need iPhone X to get the warning about metal, cause my default testing device is iPhone 4.

[2018-05-24 11:08] RubenBenBen commented on #1035
Thanks, now I get it. Is there a way to handle that? like if I exceed the limit of 20 calls/second and the call request gets rejected, to try again on another second.

[2018-05-24 11:10] Raikerian commented on #1029
Keep in mind that Metal only available with A7 processors or higher.

[2018-05-24 11:44] VitaliyGuru commented on #1033
@riteshpatel0, Hello. There is no need to create multiple privacy lists for separate dialogs.
You can have only one privacy list and update it according to your needs:
1. Create privacy list with name, e.g. "Default".
2. When you need to add/remove the item you should retrieve privacy list by name "Default", add/remove needed items and set it again.

[2018-05-24 19:52] tribushevsky opened #1036 "Ability to update message"
Hello! Can you add ability to update existing messages in next release? All attempts to install a non-release version were a failure.

[2018-05-25 06:49] riteshpatel0 commented on #1033
Hello @VitaliyGuru ,

It's working.

Thanks.

[2018-05-25 06:51] riteshpatel0 commented on #1028
Hello @pro100andrey ,

Is any update ?

Thanks.

[2018-05-25 06:57] riteshpatel0 opened #1037 "How to increase message limit ?"
Hello,

right now, I am getting last 100 messages. so how can I increase message limit of dialog.

Thanks.

[2018-05-25 07:47] PradumnaPatil opened #1038 "QuickBlox Crashed when created an Event"
Hello,

I am working on iOS application where I am using QuickBlox Framework.

I create events and store it on QuickBlox.

But when I am creating events the event gets created and before success app crashes.

Please check my crash logs :
[code]
Below is the block of code I am calling for creating an Event and storing it on QuickBlox :

[code]

My app crashed after
[code]
this line before success o

[2018-05-25 08:37] gosaitarun opened #1039 "How can I implement message pagination in chat ?"
Hello,

I working on the chat application in which I have implemented the chat with QuickBlox.
In chat, I want to implement the pagination but right now they return only 100 messages.

List Response:
{
    items =     (
    );
    limit = 100;
    skip = 0;
}

So, how can I do that?
Thanks!

[2018-05-25 10:47] #1033 closed

[2018-05-25 11:00] pro100andrey commented on #1037
Hi @riteshpatel0, For load next 100 messages use code bellow:

[code]

[2018-05-25 11:06] pro100andrey commented on #1039
Hi @gosaitarun, check this answer https://github.com/QuickBlox/quickblox-ios-sdk/issues/1037

[2018-05-25 11:21] pro100andrey commented on #1036
Hi @tribushevsky,

what do you mean?

[2018-05-25 11:43] VitaliyGuru commented on #1028
@riteshpatel0,
As for

Yes, this is the right way to handle attachments.

[2018-05-25 11:54] VitaliyGuru commented on #1028
Apparently, you've been mistaken and meant the audio uploading instead of the image uploading

[2018-05-25 11:56] ankitaugurs commented on #287
Does Quick blox work on Xcode 7.2.1?  Kindly reply

[2018-05-25 14:26] pro100andrey commented on #1039
@gosaitarun, any updates?

[2018-05-25 15:33] Raikerian commented on #1035
There is no way to handle this within webrtc, and you shouldn't really be bothered. If some messages exceed the plan, they will just fail to send. You can up dialling time interval a bit if you want to lighten your message network.

[2018-05-25 20:36] RubenBenBen commented on #1035
yeah already did that, thanks for clarifying.

[2018-05-25 20:36] #1035 closed

[2018-05-26 13:30] vineeshtp opened #1040 "call automatically disconnecting - iOS"
I have implemented QuickBlox video and audio call . Also integrated Apple CallKit.
Both working fine. While video call the recipient automatically disconnecting.
Implemented with latest version , pod 'Quickblox-WebRTC', '~> 2.7'
Please see the below logs.
[code]

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project]

[2018-05-26 15:56] vineeshtp opened #1041 "Can I update 'Quickblox-WebRTC', '~> 2.6' to 2.7"
I already implemented QuickBlox audio and video chat.

Like below issue thread,

[https://github.com/QuickBlox/quickblox-ios-sdk/issues/733](https://github.com/QuickBlox/quickblox-ios-sdk/issues/733)

facing some issue with MainThread checker and Automatically video call drop in `'Quickblox-WebRTC', '~> 2.6`

I used cocoapods for implementing the QuickBlox.
Can I update the pod file with `'Quickbl

[2018-05-26 17:05] vineeshtp commented on #1040
Any update on this ?

[2018-05-28 06:51] riteshpatel0 commented on #1037
Hello pro100andrey,

It's working.

Thanks.

[2018-05-28 06:57] riteshpatel0 opened #1042 "Sometimes dialog name not show in dialog list."
Hello,

we are not getting dialog name in dialog list(chat user list). and sometime we are getting same dialog for multiple times. so we have problem to show dialog in list.

Thanks.

[2018-05-28 09:14] riteshpatel0 opened #1043 "How to start/stop backup of messages on Quickblox server?"
Hello,

How to start/stop backup of messages on Quickblox server? we are trying to implement functionality like backup and restore. we need to start and stop backup of messages. so we have given option to the user for ON/OFF backup.

Thanks.

[2018-05-28 09:35] justashish00 opened #1044 "I am integrating quickblox in one of my app, in which i have successfully integrated chat functionality. now as per the requirement i need to display each user thumbnail on chat screen if it is a group. can some one suggest me how to achieve this."
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-05-28 11:27] gosaitarun commented on #1039
Hello @pro100andrey,

Yes, it's working..!!!

Thanks!

[2018-05-28 11:49] gosaitarun opened #1045 "Getting wrong unread count and last message"
Hello,

I am working in chat application with QuickBlox,
When I get a list of all dialog sometimes I got the wrong count of the unread message.
This issue special occurs when I am clear all message with using method QBRequest.deleteMessages
so that's a reason they also show me wrong last message.

Thanks!

[2018-05-28 12:21] #1037 closed

[2018-05-28 12:21] #1039 closed

[2018-05-29 06:18] Dharmikios commented on #1030
@pro100andrey is there any update ?

[2018-05-29 07:09] Raikerian commented on #1041
Hi,

You can see 2.7 changelogs here: https://quickblox.com/developers/Sample-webrtc-ios#Framework_changelog

According to it, we no longer support iOS 8 with the webrtc framework. So this might be an issue for you if your project target is lower than iOS 9. Other than that nothing was removed, but you might need to check some new features though.
If dropped iOS 8 is a problem for you, you will ha

[2018-05-29 07:12] Raikerian commented on #733
@vineeshtp answered in your thread. For future issues please restrain from reporting them in old closed ones (referencing old one in the new issue is recommended).

[2018-05-29 07:14] Raikerian commented on #1040
Hi,

Please capture a full log of the call from both devices. Use [gist.github.com](https://gist.github.com) to report two logs here.
Also, I suggest you checking our sample in the current repository (objective-c one) and see if the issue is persistent there. if not, look at some code examples.

[2018-05-29 07:18] Raikerian commented on #1044
Hi,

This is a very generic question and does not have to do anything with Quickblox.
However, I can suggest you look at our projects, such as:
[sample-chat](https://quickblox.com/developers/SimpleSample-chat_users-ios) - simple sample with basic dialogs and messages representation with users to chat with ([github link](https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-chat))
[Q-mu

[2018-05-29 07:18] #1044 closed

[2018-05-29 08:47] pro100andrey commented on #1042
Hi @riteshpatel0, Could you please provide full logs with this issue.

[2018-05-29 09:02] riteshpatel0 commented on #1043
Hi @pro100andrey ,

We have send one message using this param “Save_to_history”  to NO than remove the application from the device and reinstall the application and login with same credential,
After login we got all the messages, it doesn’t matter we have passed “Save_to_history”  YES/NO, So how we can get those messages which we have send message with “Save_to_history” to YES.

we are using below

[2018-05-29 09:21] pro100andrey commented on #1043
@riteshpatel0, Could you provide logs for `sendMessage`?

Thanks

[2018-05-29 11:47] riteshpatel0 commented on #1042
Hello @pro100andrey ,
Sometime we are not getting dialog name and different image of dialog. we don't know which image is come.

when selecting the dialog we are perform below code,

let qbuser = QBUUser()
        qbuser.id = UInt(user.chat_user_id!)
        qbuser.fullName = user.firstName+" "+user.lastName
        qbuser.login = user.email
        ServicesManager.instance().currentDialogID = Str

[2018-05-30 06:06] riteshpatel0 commented on #1043
Hello @pro100andrey ,

SendMessage log is below, Please check it,

18-05-30 11:33:35:992 HelpMeOut[18208:3003] SEND: <message type="chat" to="50678751-70815@chat.quickblox.com" id="5b0e3eb76a676220470041c2"><composing xmlns="http://jabber.org/protocol/chatstates"/></message>
2018-05-30 11:33:36.007845+0530 HelpMeOut[18208:3259691] [ChatService]: SNT: <message type="chat" to="50678751-70815@chat.qu

[2018-05-30 06:44] gosaitarun commented on #1045
Hello @pro100andrey,

--> I have load all the message with using this method,

QBRequest.messages(withDialogID: currentDialogID, extendedRequest: ["sort_desc" : "date_sent"], for: resPage, successBlock: {(response: QBResponse, messages: [QBChatMessage]?, responcePage: QBResponsePage?) in

}, errorBlock: {(response: QBResponse!) in

 })

but still, they showing me greater than 0 unread counts,

-->

[2018-05-30 11:54] PradumnaPatil commented on #1038
Hello @pro100andrey

Do you have any solution or reason for it?

[2018-05-31 14:29] vineeshtp opened #1046 "Where I can posts queries regarding android"
I tried to implement QuickBlox Chat, audio chat, video chat in Android.
Couldn't find any place to asks queries for Android.

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value

[2018-05-31 14:31] VitaliyGuru commented on #1046
@vineeshtp Hello.
You can post your questions [here](https://github.com/QuickBlox/quickblox-android-sdk).

[2018-05-31 14:31] #1046 closed

[2018-05-31 14:33] #1041 closed

[2018-05-31 18:15] #1028 closed

[2018-06-01 10:07] pro100andrey commented on #1045
Hi @gosaitarun, By default `QBRequest.messages(...`  mark messages as read.

From our [documentation](https://quickblox.com/developers/SimpleSample-chat_users-ios#List_chat_messages):

Thanks

[2018-06-01 10:15] pro100andrey commented on #1043
Hi @riteshpatel0, From your logs:
[code]

  **<save_to_history>1</save_to_history>**

Could you provide logs with **<save_to_history>0</save_to_history>**  and `QBRequest.messages(withDialogID` ?

[2018-06-01 10:50] pro100andrey commented on #1042
Hi @riteshpatel0,

1). Nothing that could help with your code and logs.

2). Fields `Name` and `Photo` - [ignored when type=3(PRIVATE)](https://quickblox.com/developers/SimpleSample-chat_users-ios#Create_new_1-1.28private.29_chat_dialog)

3). `You don't have appropriate permissions to perform this operation`- this error means: your user does not contain in the dialog(5b064a2da0eb476abdedeecb) occu

[2018-06-01 10:51] pro100andrey commented on #1040
Hi @vineeshtp, any updates?

[2018-06-01 10:53] pro100andrey commented on #1038
Hi @PradumnaPatil, I need more time for checking this issue. Thanks.

[2018-06-01 10:53] pro100andrey commented on #1036
Hi @tribushevsky, any updates?

[2018-06-04 03:50] vineeshtp opened #1047 "Thread 1: EXC_BAD_ACCESS (code=1, address=0x20) When subView"
I have implemented the sample application (both chat,video, audio). provided by quickBox.

Now I am facing an issue. I could make audio call success fully.
On Video call, I can get call using VOIP and successfully my custom video calling screen came.
But, after receiving the remote video delegate method,

I can see the remote video for second suddenly get crashed on Appdelegate. error message is s

[2018-06-04 05:01] #1040 closed

[2018-06-04 05:03] pro100andrey commented on #1047
duplicated https://github.com/QuickBlox/quickblox-ios-sdk/issues/1029

[2018-06-04 05:03] #1047 closed

[2018-06-04 05:37] pro100andrey commented on #1043
Hi @riteshpatel0, any updates?

[2018-06-04 05:38] pro100andrey commented on #1045
Hi @gosaitarun, any updates?

[2018-06-04 05:39] pro100andrey commented on #1042
Hi @riteshpatel0, any updates?

[2018-06-04 05:39] #1036 closed

[2018-06-04 05:40] pro100andrey commented on #1045
Hi @gosaitarun, any updates?

[2018-06-04 10:17] SalmanGhumsani opened #1048 "Unable to get push notification via messaging or voip manually"
Hi team,

I have uploaded my APNS certificate on the admin panel setting tab, All messages are coming via admin panel but not coming when I send the message to anyone even the same certificate used in FCM for our backend service it works fine but unable to get the notification in-case of Quickblox messaging.

[2018-06-06 04:48] kmittal97 opened #1049 "Hi, I am unable to find QBRTCScreenCapture Class in pods."
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-06-06 19:13] RubenBenBen opened #1050 "[QBRTCConfig setAnswerTimeInterval:10.f] not working"
Hi guys, I tried to change answer time interval of a video call ` [QBRTCConfig setAnswerTimeInterval:10.f] `, but it doesn't seem to work. I then check `[QBRTCConfig answerTimeInterval]` which returns `nil` , and also when I call a user, answerTimeOut is called after 45 seconds, which is the default value for it. `[QBRTCConfig dialingTimeInterval]` returns `nil` too.

[2018-06-07 09:38] hajakiyasudeen opened #1051 "When send message to group, and it's return error "You are not joined to the dialog""
**Environment details**
iOS version, Quickblox iOS SDK version, QuickbloxWebRTC SDK version (optional)
iOS 10.2.1
QuickBlox (2.7.3)
QMServices (0.4.2)

**Did this work before?**
Yes

**Expected behavior**
User can send messages in group

**Actual behavior**
User is login, while sending a message and receive error "You are not joined to the dialog".

**Logs**

I have logged with user “Helina(507251

[2018-06-07 12:43] VitaliyGuru commented on #1051
@hajakiyasudeen, Hello, you should perform join to the group dialog before sending the message.

[code]
[code]

[2018-06-07 12:51] VitaliyGuru commented on #1049
@kmittal97, Hello, please refer to the [Quickblox Video Sample](https://github.com/QuickBlox/quickblox-ios-sdk/blob/62117ced3f044a2b581e4875ab50739edb45c923/sample-videochat-webrtc/sample-videochat-webrtc/ViewControllers/SharingViewController/QBRTCScreenCapture.h).

[2018-06-07 12:54] VitaliyGuru commented on #1048
@SalmanGhumsani, Hello. Could you please provide full logs.
Could you please enable full logs and send us this information?

[code]

[2018-06-08 06:57] kmittal98 opened #1052 "Problem in setting Remote Video View"
Hi,

I am building video conferencing app using quickblox. As the number of participants is dynamic so I am using collection view to represent the video tracks.

I am using below code to set video tracks in collectionView
 let videoTrack = videoTracks[effectiveIndex]

        print(videoTrack)

       cell.videoView.setVideoTrack(videoTrack)

Im getting following Crash
'NSInternalInconsistencyExce

[2018-06-08 19:35] Cyangineer opened #1053 "Local video view stretching"
So I'm starting to work with quickblox and my project is in swift. Im working with the local video view and i noticed that the view is stretching and squishing like its trying to fit everything in the screen.

![img_0003](https://user-images.githubusercontent.com/8491681/41176776-bcfd9c92-6b2f-11e8-8ba6-100e233fceba.png)

![img_0005](https://user-images.githubusercontent.com/8491681/41176777-bd0b7

[2018-06-09 06:46] kmittal98 commented on #1053
Change video gravity to .aspect fit or whatever the you want like (.Center etc)

[2018-06-09 12:19] hajakiyasudeen commented on #1051
Yes It's working once I added joinWithCompletionBlock method, closed the issue
Thank you,

[2018-06-09 14:41] Ndennis commented on #1053
But I only have 3 choices for `AVLayerVideoGravity`, `.resize`, `.resizeAspect`, and `.resizeAspectFill` and they all do the same stretching thing. Is there a way i can get use the choices like `.aspectFit` or `.center`?

[2018-06-10 06:02] goutham465 opened #1054 "unable to connect incoming call to other device say Send voip push - Error"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-06-10 12:12] VitaliyGuru commented on #1054
@goutham465, Hello. Please provide the error.

[2018-06-10 12:18] #1051 closed

[2018-06-10 16:39] RubenBenBen opened #1055 "is QuickBlox shutting down?"
Hi guys, I want to integrate QuickBlox services for my new app, so I wonder if it will be running for the near future? It seems to me that it is in sort of uncertain/inactive condition right now? Thanks in advance.

[2018-06-11 06:09] kmittal98 opened #1056 "Can iOS Screen can be shared in background mode through quickblox?. If yes then please provide me code."
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-06-11 08:55] soulfly commented on #1055
Hi @RubenBenBen ,
I'm Igor, former QuickBlox CTO
I left the company 2 weeks ago, so not sure what is going on there now, is it still alive or not

[2018-06-11 15:23] RubenBenBen commented on #1055
@soulfly thanks for the reply, I guess I should consider another option instead of QuickBlox then, as it seems there is no active staff atm.

[2018-06-11 15:26] VitaliyGuru commented on #1055
@RubenBenBen, Please submit a ticket to the [support team](https://assist.quickblox.com/index.php?/Tickets/Submit).

[2018-06-11 15:30] RubenBenBen commented on #1055
@VitaliyGuru I already submitted a ticket about some other issue to your support team like a month ago, and I still didn't get any reply. The only place where someone from active staff responded to me is this iOS sdk github page.

[2018-06-11 18:04] Julls-03 commented on #1055
@RubenBenBen Hi! This is Julia from Quickblox Customer Support team.
Would you mind opening a ticket at https://assist.quickblox.com making sure you choose "Enterprise Support" department or provide ticket ID of existing one, so we can look at it?Thank you in advance.

[2018-06-11 20:56] RubenBenBen commented on #1055
@Julls-03 no need for that, I already resolved the previous issue by myself. Thanks for contacting though. So can anyone give me a straight answer about quickblox continuing to work or not? If your CTO and also I noticed pro100andrey also left, I assume something should be changing in the company. I really want to keep working with QuickBlox cause it had active developers and other staff members w

[2018-06-11 22:02] VitaliyGuru commented on #1052
@kmittal98, Hello.
it is not allowed to have more than 1 renderer for video track for performance reasons, please try to use only 1 remote video view for 1 video track in the WebRTC.
Please refer to [the video sample](https://github.com/QuickBlox/quickblox-ios-sdk/blob/master/sample-videochat-webrtc/sample-videochat-webrtc/ViewControllers/CallViewController/CallViewController.m#L390-L400) where we

[2018-06-12 06:20] sagarmseven commented on #958
how to solve issue
error: Request failed: not found (404)
reasons: {
    code = "<null>";
    message = "Couldn't find user";
}

[2018-06-12 16:37] goutham465 opened #1057 "wake up call issue and can support to ios to Android phone video call"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-06-13 04:35] kmittal98 commented on #1053
try resizeAspect

[2018-06-13 10:08] kmittal98 opened #1058 "Push notifications is not receiving on iPhone."
Hi,

I tried everything which is given in tutorial but notification is not receiving in iOS phone

[2018-06-13 12:04] VitaliyGuru commented on #1052
@kmittal98, Hello. Any updates?

[2018-06-13 12:06] VitaliyGuru commented on #1058
@kmittal98, Hello. Could you please describe in details your problem and steps you've already performed to configure push notifications?

[2018-06-13 12:11] VitaliyGuru commented on #1057
@goutham465, Hello. Please take a look at our [Q-municate](https://github.com/QuickBlox/q-municate-ios/blob/8b00f2270f970cc32539e4e609433abb2b24a14a/Q-municate/Classes/Core/QMCallManager/QMCallManager.m#L94-L153) application. To implement wake up call option you should configure voip push notifications and send event.
Also, will be helpful [Push notifications documentation](https://quickblox.com/d

[2018-06-14 08:46] Dharmikios commented on #1030
@pro100andrey is there any update ?

[2018-06-19 13:35] sagarmseven commented on #944
Hi @pro100andrey , We implement video Attachment from gallary,Video Attachment is show in Admin Panel but not show in receiver side .

![screen shot 2018-06-19 at 7 00 22 pm](https://user-images.githubusercontent.com/32161961/41600376-6a1bef2a-73f3-11e8-832b-ff54bdf7e92c.png)
Show screenshot Attachment in Admin panel.

In device video show blank show in below screenshot.

![simulator screen shot -

[2018-06-25 11:16] kmittal98 opened #1059 "Quickblox Notification"
Does Quickblox notification contains the key "mutable-content" key with value 1?

If no then how to add it from both the platform I.e Android and iOS

[2018-06-26 09:13] VitaliyGuru commented on #1059
@kmittal98, You can enable this feature in the admin panel. Go to the chatAlerts settings and tick the checkbox named "mutable content".
http://joxi.ru/eAOe3bxixpYbnm

[2018-06-27 11:52] arpitjain03 commented on #944
Please help me with same if anyone has found appropriate solution

[2018-06-29 11:35] kmittal98 commented on #1059
well I'm not asking for chat alerts. I'm asking for the notification that is sent through QBMEvent. It was mentioned on your site that to enable mutable-content in iOS the keyword in "iOS_mutable_content". It is working fine with Android but have issues in iOS.

Also from yesterday, I am not receiving notifications on iPhone. Please look into the matter.

I have checked the following points
1. The

[2018-06-29 11:54] kmittal98 commented on #1052
Hi,

The issue is solved though I have used different Approach. I did following

//1 Subclassed your videoTrack
class KunalVideoTrack: QBRTCVideoTrack {

    var videoTrack:QBRTCVideoTrack?

    init(videoTrack: QBRTCVideoTrack) {
        self.videoTrack = videoTrack
    }
    var attachedVideoTracks = [Int]()
    //The videoView Currently Attached with videoTrack
    var attachVideoView: QBRTCRem

[2018-07-02 09:37] kmittal98 opened #1060 "Quickblox Notification iOS Not Working"
Hello guys,

Notification not working in iOS from quickblox(Neither Dashboard nor API)

Some more info attached below

1. Logs of created Push
{"notification":{"id":15426200,"badge":null,"device_token":"99404e36da874a204b867eb38d50bd29b1cd6f7be51a957011186d8ad0b45b81","sound":"default","alert":"hi","data":{"headers":{"apns-topic":"employee.vFrame10"}},"expiry":86400,"delivered":false,"delivered_at

[2018-07-02 16:12] algrid commented on #1060
I'm having the same issue.
Lots of notifications going with "Delivered: 0, failed: 0".

[2018-07-02 18:20] kmittal98 commented on #1060
Hi algrid,

This issue starts with me from 29 June. Everything working fine before 29 June. Also i tested with one of my build which is on app store. The notification is working fine on that build.

Is the same case with you?

[2018-07-02 21:05] algrid commented on #1060
Hi @kmittal98 ,

Yes, it looks like it started June 29 for me too.
I'm not sure about the older builds. When I try to send a test push to all the users from the admin interface I see in logs "Delivered: 15, failed: 0", but no devices I have access to receive the push. And no mentions for their tokens in logs.

[2018-07-03 04:35] KrishnaPatell commented on #1060
Hello,
I'm also facing this issue from 29 June 2018 in my two projects.
I'm using 2.16 SDK version.
I've tried to send notification from dashboard, from app and from our server(our own control panel) but not working. It shows that notification successfully send but iOS receiver cannot receive notification anymore.
On dashboard its always shows me  "Delivered: 0, failed: 0"
On other hand android de

[2018-07-03 04:44] kmittal98 commented on #1060
Hi Krishna Patell,

The similar logs is shown on my side.

[2018-07-03 04:57] KrishnaPatell opened #1061 "iOS devices stops receiving push notifications"
Hello Team,

I'm facing this issue from 29 June 2018 in my two projects.
I'm using 2.16 SDK version.
I've tried to send notification from dashboard, from app and from our server(our own control panel) but not working. It shows that notification successfully send but iOS receiver cannot receive notification anymore.
On dashboard its always shows me "Delivered: 0, failed: 0"
On other hand android de

[2018-07-03 05:59] kmittal98 commented on #1061
Do you have any build on the App Store? I mean on production environment? Check with that

[2018-07-03 06:17] KrishnaPatell commented on #1061
@kmittal98
No I don't have any build uploaded on Appstore, my app is in development mode and suddenly it stops receiving notification. 😞

[2018-07-03 12:04] kmittal98 commented on #1061
Any updates?

[2018-07-03 12:05] kmittal98 commented on #1060
Any updates?

[2018-07-03 13:47] orlovev88 commented on #1061
we have same problem with our app. dev environment didn't work, but build from testflight works without any errors.

[2018-07-04 03:47] KrishnaPatell commented on #1061
Are Quickblox team working on this major issue? They even didn't reply for the ticket that I've generated.

[2018-07-04 04:39] kmittal98 commented on #1061
@orlovev88  is it start with 29 June in your case too?

[2018-07-04 04:44] orlovev88 commented on #1061
@kmittal98 yes, from 29 June too.

[2018-07-04 04:45] kmittal98 commented on #1060
I have tested the latest production build and it is working fine.
But development still not receiving the notifications. Please look into the matter

[2018-07-04 09:11] paviesf commented on #1061
@kmittal98 yes, My case too, My Client is so angry with me. monday was the deadline for submission

[2018-07-05 07:28] kmittal98 commented on #1060
I got a reply from quickblox that the issue is resolved from their side. but it looks my app is not receiving the notifications in development mode still.

Is the issue resolved for anyone. If yes then do the reply here please.

[2018-07-05 08:38] KrishnaPatell commented on #1060
Hi @kmittal98,
I also got reply from Quickblox saying that issue is resolved but my app is still not receiving notification in development mode.

[2018-07-05 09:52] tonifirnandes commented on #759
Hello team, we are still facing this issue on version "2.17.1", we got this error : unknown attribute: bundle_identifier. Where on previous version "2.7.5" just working well. Thanks.

[2018-07-05 09:54] tonifirnandes opened #1062 "Push notifications (version 2.17.1): Can't create subscription from iOS - "unknown attribute: bundle_identifier""
Dear team,

We are still facing this issue "unknown attribute: bundle_identifier" on version 2.17.1, where it never happened on previously version 2.7.5. We do upgrade the version since we are migrating our code form swift 2 to swift 3 using Xcode 8.3.3

Thanks.

[2018-07-05 10:37] Rumesh25 commented on #1060
Hi there!
I received a notification from the CB that they are closing. We all need to look for alternative platforms.

[2018-07-05 11:13] KrishnaPatell commented on #1060
Hi @Rumesh25,
Can you please send us a screenshot of what you receive from QB about closing?

[2018-07-05 11:29] romansorochak opened #1063 "Push notifications do not work at all!"
Push notifications do not work at all.
They do not work from the latest ios SDK and from quickblox admin panel.
I have my certificates up to date.
Here is my account id - 82514
Cannot even submit a ticket into quickblox service.
I see also today was created relevant issue - https://stackoverflow.com/questions/51172685/ios-push-notification-stop-working-in-quick-blox/51190208#51190208.
Is there an

[2018-07-05 11:38] romansorochak commented on #1060
I have same issue too.
do not receive push notifications when send it from the latest ios SDK either when send from quickblox admin panel
I cannot even submit a ticket cuz it asks some strange customer id (account id from quickblox profile settings does not accept)

Quickblox support please help !

[2018-07-05 11:39] romansorochak commented on #1061
I have same issue too.
do not receive push notifications when send it from the latest ios SDK either when send from quickblox admin panel
I cannot even submit a ticket cuz it asks some strange customer id (account id from quickblox profile settings does not accept)

Quickblox support please help !

[2018-07-05 14:41] Rumesh25 commented on #1060
Guys, I got a message how to resolve the push notifications issue with delivery fails on dev & prod, can share it with you , u can mail me <rumeshtubalor@gmail.com>

[2018-07-06 00:26] ZoranAus opened #1064 "Quickblox has shut down."

[2018-07-06 00:42] #1064 closed

[2018-07-07 08:51] vineeshtp commented on #1061
I have same problem. I already send mail to quickblox but, no response from th
em.

[2018-07-08 05:38] chiragiOSDev commented on #1060
Hi @kmittal98 @algrid @KrishnaPatell @Rumesh25 @romansorochak

I have the same problem with development mode push is not working. I shared build to a client before 15-20 days with the working condition now push is not working.

Any idea to fix this issue or help would be appreciated.

[2018-07-08 06:31] iOSMahesh commented on #936
@Raikerian
I know this issue closed but I want your helo for another issue. please check issue: https://github.com/QuickBlox/quickblox-ios-sdk/issues/1060

[2018-07-08 06:36] vineeshtp commented on #1060
Why they are closing.  This issue still exist.

[2018-07-08 08:46] RubenBenBen commented on #1061
@KrishnaPatell @kmittal98 any updates guys?

[2018-07-08 19:54] Raikerian commented on #936
Hey @iOSMahesh
Sorry, but I'm no longer working in Quickblox.

[2018-07-09 03:41] KrishnaPatell commented on #1061
hi @RubenBenBen,
QB says that issue is resolved but it is still pending. we cannot receive notification in development mode but can receive Push in production mode.

[2018-07-09 03:48] KrishnaPatell commented on #1063
Hi @romansorochak,

All of the developer around the world facing this issue with development mode. Please check the following issue...
#1061 #1060

[2018-07-09 04:46] paviesf commented on #1061
There is still issue cannot receive notification in development mode. But it is worked fine in production mode.  Use production certificate to create ad-hoc build and test it.

[2018-07-09 11:08] KrishnaPatell commented on #1060
Hi @kmittal98,
I just want to know that have you faces delayed in notification at all?

[2018-07-09 11:47] iOSMahesh commented on #936
@Raikerian
Thanks for quick updates. Do you know other contributor who help me. Its urgent. I'm trapped with push issue. We are going to release our app.

[2018-07-09 11:49] iOSMahesh commented on #1063
@romansorochak
I tried with Ad-Hoc certificate, but in iOS device push is not received. is there any other step need to perform?

[2018-07-10 09:51] vineeshtp commented on #1055
QuickBlox representatives not answering for queries,

https://github.com/QuickBlox/quickblox-android-sdk/issues/612

[2018-07-11 06:09] Dhananjay22 commented on #1063
@VitaliyGuru
is there any update on this issue? I am still facing the issue.
is Quickblox team has started fixing this issue?

[2018-07-11 06:14] Dhananjay22 commented on #1061
@VitaliyGuru
@andr45
@iSevenDays
@Berk0ld

is there any update on this issue? I am still facing the issue.
is Quickblox team has started fixing this issue?

[2018-07-11 06:14] Dhananjay22 commented on #1060
@VitaliyGuru
@andr45
@iSevenDays
@Berk0ld

is there any update on this issue? I am still facing the issue.
is Quickblox team has started fixing this issue?

[2018-07-11 06:46] vineeshtp commented on #1063
It is working with production certificate

On 11 Jul 2018 11:39 a.m., "Dhananjay22" <notifications@github.com> wrote:

[2018-07-11 16:03] prafulargiddi opened #1065 "QuickBlox "Request failed: client error (404):Couldn't find user""
GET URL:https://api.quickblox.com/users/by_tags.json?page=1&per_page=100&tags=dev
headers: {
    "Accept-Language" = "en;q=1";
    "QB-OS" = "iOS 11.2";
    "QB-SDK" = "iOS 2.17.1";
    "QB-Token" = 1bc21b092966c148383ecece586f3560dc011a2b;
    "QuickBlox-REST-API-Version" = "0.1.1";
    "User-Agent" = "QuickBloxDemo/1.0 (iPhone; iOS 11.2; Scale/2.00)";
}
parameters: {
    page = 1;
    "per_page"

[2018-07-11 16:05] prafulargiddi commented on #1065
please help me above error. I am stuck with this error. I am not able to get User information

[2018-07-11 16:26] vineeshtp opened #1066 "How do I block a user - And get status"
How do I block  a user for chat in swift.
I couldn't find any details for chat in QuickBlox iOS sample application.
And How do I check the blocked status of a user.

Edit:
I got some lines of code from other queries but, not working.

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox

[2018-07-11 16:50] vineeshtp commented on #1065
@prafulargiddi : You may deleted the user.

[2018-07-11 16:58] prafulargiddi commented on #1065
no. Records are available on tables but I cant able to retrieving user
records for new chat dialogs. Please help me as soon as possible.

On Wed, 11 Jul 2018 at 22:20, Vineesh <notifications@github.com> wrote:

[2018-07-11 16:59] vineeshtp commented on #1065
This error message shows that, "Couldn't find user".
error: Request failed: not found (404)
reasons: {
code = "";
message = "Couldn't find user";
}

[2018-07-11 17:01] prafulargiddi commented on #1065
yes but I have record on Admin tables

[2018-07-11 17:01] prafulargiddi commented on #1065
Any Settings are needed on Admin panel?

[2018-07-12 05:53] NikunjKumbhani commented on #649
Hello Everyone,
      I would like to take a screenshot of local VideoCaptureView during a call in ios Swift. I used 'QuickBlox', '~> 2.15' and 'Quickblox-WebRTC', '~> 2.6.3' Please give me solution as soon as possible.

[2018-07-12 06:51] prafulargiddi commented on #1065
I have used  tags bellow code
 class var QB_USERS_ENVIROMENT: String {

        #if DEBUG
            return "dev"
        #elseif QA
            return "qbqa"
        #else
            assert(false, "Not supported build configuration")
            return ""
        #endif

    }

anything changes are needed above codes. please help me I am stuck now. when I am going to run Sample Chat  Credential

[2018-07-14 07:24] vineeshtp opened #1067 "How do I check chat user blocked status"
I have Implemented the Block user functionality in iOS by using the below code,

 let item : QBPrivacyItem = QBPrivacyItem(privacyType: QBPrivacyType.userID, userID:UInt(self.dialog.recipientID), allow: false)!
        item.mutualBlock = false
        let list: QBPrivacyList = QBPrivacyList(name: "public", items: [item])
        QBChat.instance.setPrivacyList(list)
        QBChat.instance.setDefau

[2018-07-14 07:26] #1066 closed, assigned to nobody

[2018-07-15 08:35] vineeshtp opened #1068 "QBUser update name and notify other users"
I am trying to update QBUser custom property with string value.

[code]

I got call in success block. But, It is not notified for other users.
How do I notify other users when update user properties

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and foun

[2018-07-17 11:01] YogendraPatel opened #1069 "."
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-07-17 11:08] #1069 closed

[2018-07-17 11:41] YogendraPatel opened #1070 "error: Request failed: unauthorized (401) on signup user step (Version 2.17.1)"
I have working on quickblox framework integration from last 2 days, i follow https://quickblox.com/developers/IOS link for integration, but unfortunately i stop at signup user step

**==>Signup code**

QBUUser *user=[[QBUUser alloc] init];
user.login=@"abc";
user.password=@"12345678";

[QBRequest signUp:user successBlock:^(QBResponse * _Nonnull response, QBUUser * _Nonnull tUser) {

[2018-07-17 11:44] YogendraPatel commented on #1062
@toni firnandes hi, have you done successfully signup using latest version 2.17.1?

[2018-07-17 12:17] YogendraPatel commented on #269
@iSevenDays When i do signup using latest sdk 2.17.1 ,  i got below error everytime

error: Request failed: unauthorized (401)
reasons: {
    errors =     {
        base =         (
            "Required session does not exist"
        );
    };
}

Please help me if you know anything

[2018-07-18 11:31] KrishnaPatell commented on #1061
Hi @kmittal98 @orlovev88 @RubenBenBen
Can you guys please check with your production build for push notification?
I think its not working too.
Please check push notification in production environment.

[2018-07-18 11:32] KrishnaPatell commented on #1060
Hi @kmittal98 @orlovev88 @RubenBenBen @algrid
Can you guys please check with your production build for push notification?
I think its not working too.
Please check push notification in production environment.

[2018-07-18 11:58] orlovev88 commented on #1061
@KrishnaPatell

notifications for last week worked. but from this week we implemented sending notification from our server. we didn't receive any proper help from qb team. just general information how to upload and create notification. when we provided logs from our admin panel with information that notification not delivered - they said that they haven't detected any issues on Quickblox or Apple

[2018-07-18 12:01] #1050 closed

[2018-07-18 12:09] KrishnaPatell commented on #1061
@orlovev88
Have you tried with Production push certificates?
In my case, its working fine till yesterday but today iOS devices just stopped receiving notification.
I don't know what is the issue with Quickblox.

[2018-07-18 12:18] orlovev88 commented on #1061
@KrishnaPatell yes, we used Production certificate with qb until monday. i can check push with previous builds and provide for you information tomorrow.

[2018-07-18 12:34] KrishnaPatell commented on #1061
@orlovev88
Okay.. Please tell me tomorrow for this issue.
I also tried to send notification from QB dashboard (Live environment) but not receiving in iOS devices.
Please check this too.

[2018-07-19 07:36] orlovev88 commented on #1061
@KrishnaPatell i checked it - notification didn't work from device or admin panel.

[2018-07-19 08:37] KrishnaPatell commented on #1061
@orlovev88
Thanxx For update.
Can Anyone have solution for this problem??

[2018-07-20 16:24] RubenBenBen commented on #1061
https://quickblox.com/blog/push-notifications-issues-resolved-on-shared-instance-enterprise-customers-please-click-here-3/

[2018-07-23 05:35] goutham465 opened #1071 "iam unable to proceed further and getting badRequest(400)"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-07-23 05:54] KrishnaPatell commented on #1061
Thanxx @RubenBenBen for the update

[2018-07-23 08:36] williamtran1988 opened #1072 "Could not change QuickBlox app"
Hi All,

I have a problem when i change the reference to Quickblox app. I have 2 difference apps on QuickBlox, and my application has feature that allow user choose server to connect. I always init QuickBlox before user login by using:

[QBSettings setApplicationID:appID];
[QBSettings setAuthKey:authKey];
[QBSettings setAuthSecret:authSec];
[QBSettings setAccountKey:accountKey];
[QBSettings enable

[2018-07-23 10:38] williamtran1988 commented on #1072
I have fixed this issue by calling:

[QBRequest destroySessionWithSuccessBlock:^(QBResponse * _Nonnull response) {
        NSLog(@"destroy app session success");
    } errorBlock:^(QBResponse * _Nonnull response) {
        NSLog(@"destroy app session failed");
    }];

Whenever current user logout

[2018-07-23 10:38] #1072 closed

[2018-07-24 18:16] vineeshtp opened #1073 "Error code 429"
I am facing an issue Error code  429 , as per the documentation is clear that **Too Many Requests** per second. Since, it is free.
But, I am able to send too many messages / second in android.
in iOS error notification is coming too many times. How to deactivate the  error notification.

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a simil

[2018-07-26 12:22] katoreRahul opened #1074 "Quickblox Customize push notifications"
How can we customize Quickblox push notifications as per users requirement in iOS App?
For ex. If user wants to vibrate/silent/alert iPhone, when he received notification from quickblox server(from another QB User.)

[2018-07-27 07:13] riteshpatel0 opened #1075 "Can we encrypt and decrypt message in Quickblox ?"
Hello,

Can we send encrypted message to another. and another side can we decrypt those message?

Thanks!

[2018-07-31 06:13] arpitjain03 commented on #872
Firstly get the local video URL using Photo Library or Camera. Then proceed as follows:

    let message = QBChatMessage()
    message.senderID = (self.senderID)
    message.dialogID = self.chatDialogModel.id
    message.dateSent = Date()

    let attachment = QBChatAttachment.videoAttachment(withFileURL: url)
    self.chatDataSource.add(message)

    ServicesManager.instance().chatService.sendAtt

[2018-07-31 06:26] arpitjain03 commented on #944
I also faced the similar issue.
the solution will be like this in configureCell delegate of QMChatViewController check the attachment type and use this:

    if attachment.type == "video" {

    ServicesManager.instance().chatService.chatAttachmentService.assetService.loadAsset(for: attachment, messageID: message?.id ?? "")
    { (image, duration, size, error, bool) in

     guard attachmentCell.a

[2018-07-31 06:28] arpitjain03 commented on #807
Firstly get the local video URL using Photo Library or Camera. Then proceed as follows:

[code]

[2018-07-31 06:32] YogendraPatel commented on #311
@Raikerian

I have face a issue in login and signup in quickblox.
Got every time error

error: Request failed: unauthorized (401)
reasons: {
    errors =     {
        base =         (
            "Required session does not exist"
        );
    };
}

That means QBRequest not manage session automatically

Please help me as soon as possible

Thanks in advance

[2018-07-31 07:16] sagarmseven commented on #944
let videoaTtach = QBChatAttachment()

        videoaTtach.attachmentType = .contentTypeVideo

        videoaTtach.localFileURL = videoURL

        videoaTtach.type = "video"

        videoaTtach.name = "video"
+String(Int(NSDate().timeIntervalSince1970))

        self.chatDataSource.add(message)

        ServicesManager.instance().chatService.sendAttachmentMessage(message,
to: self.dialog, with: v

[2018-07-31 10:25] vivekshah-zymr commented on #1065
@prafulargiddi , Have you found any solution for this? I am facing the same issue.

[2018-07-31 13:03] riteshpatel0 commented on #1075
Hello

Any updates?

Thanks!

[2018-08-01 02:28] haarj commented on #1045
@soulfly I think the reason is because the updateAt properties are the same here.

[2018-08-01 11:11] prafulargiddi commented on #1065
Yes i had solution for this issue. there is one field tags in user tables quickblox web side.
you can insert records "dev/qbqa". its will search record matches from tags .
its will working.
if any facing issue let me know with screen short. i will help you
Regards
Praful Argiddi

[2018-08-06 04:17] KrishnaPatell commented on #1070
I'm also facing this issue. If anyone have solution then let us know.

[2018-08-06 09:15] #1060 closed

[2018-08-06 12:54] shoebzahoori commented on #1014
Does this issues fixed? Actually I am also getting same issues I am using below code:

 let remoteView :QBRTCRemoteVideoView = QBRTCRemoteVideoView()
            remoteView.videoGravity = AVLayerVideoGravity.resizeAspect.rawValue
            remoteView.clipsToBounds = true
            remoteView.setVideoTrack(videoTrack)
            remoteView.tag = userID.intValue
            self.views.append(re

[2018-08-06 13:25] sunkumar commented on #1014
Dear Team,

I am also getting the same issues when video call has been connected with other user.

I am using the code provided in folder: sample-videochat-webrtc-swift

 func relayout(with views: [UIView]) {
        self.stackView.removeAllArrangedSubviews()

        for v in views {

            if self.stackView.arrangedSubviews.count > 1 {
                let i = views.index(of: v)! % 2

[2018-08-07 10:10] ReusIosDeveloper opened #1077 "Retrieving registered user from quickblox getting crash with unknown exception"
Here is my method to retrive register user from quickblox

  QBRequest.registeredUsersFromAddressBook(withUdid: nil, isCompact: false,
                                                 successBlock: { (usersQB) in

        }) { (response) in
            print("\((response.error?.description)!)")
        }

but it crash with unknown exception

[2018-08-10 09:33] #1061 closed

[2018-08-10 10:58] Serproger commented on #1055
@soulfly, why have you left the company? Because of possibility of closing? :(

[2018-08-17 15:03] timeetdev1 opened #1079 "XMPPError: internal-server-error - wait"
@Julls-03 We are using QB SDK both for Android (3.8.1) and for iOS (2.17.1).
Since yesterday we are getting the following error:

 joinDialog: com.quickblox.core.exception.QBResponseException: XMPPError: internal-server-error - wait

Any idea?
I Read the ticket regarding QB shutting down but I also heard that this is faked news..

[2018-08-17 19:59] sergiuatodiresei opened #1080 "Swift - how to add link preview"
Please help me with Quickblox link preview implementation in Swift (in chat messages).

For example, in Objective-C i have this

`if (QMCore.instance.openGraphService.memoryStorage[message.ID] != nil) {
return isIncomingMessage ? QMChatIncomingLinkPreviewCell.class :  QMChatOutgoingLinkPreviewCell.class;
            }`

And in Swift, in QMServicesManager.instance(), the method openGraphService doe

[2018-08-18 15:38] math609 commented on #1079
You are not the only one having this issue. We have the same problem here.

[2018-08-20 07:11] MoonTechiOSDev1 opened #1081 "Required session does not exist"
**Required session does not exist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)

- [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------

[2018-08-22 11:19] soulfly commented on #1055
QuickBlox2018 != QuickBlox 2010/2017
These are 2 different companies - new CEO and completely new staff
I'm not in any adequate understanding of current company executives and new company policy

[2018-08-25 04:09] vineeshtp commented on #452
How did you resolve this issue?. I am facing the same when register new user.

[2018-08-27 23:22] vineeshtp opened #1082 "QBRequest.signUp Error 422"
When Sign up Got error 422
Find below code which is used for signp'

QBRequest.signUp(qUser, successBlock: { (response, user) in

            print(user)

        }) { (response) in
            if response.status.rawValue == 422{
                //Email ID already taken
                self.loginWithQuickBlox(qUser: qUser)
            }
            print(response)
        }
**Error Log:-**

header

[2018-08-27 23:58] vineeshtp opened #1083 "[CAMetalLayerDrawable texture] should not be called - Video call app crash"
In video call application crashing, Please see the below error message,

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
---------------

[2018-09-05 07:30] alexsdi opened #1084 "Silent Mode - Issue"
Hello Developer,

While Iam using the quickblox for audio call when my phone is silent mode I can't hear the receiver sound.
Below I have mentioned the file name
QMSoundManager

[2018-09-06 10:10] romansorochak opened #1085 "Sending Push notification issue"
**New Issue Checklist**

I cannot send push notification just after signup.
it says next error with message "can't be blank Should contain 'payload' key"

headers: {
    "Access-Control-Allow-Origin" = "*";
    "Cache-Control" = "no-cache";
    Connection = "keep-alive";
    "Content-Length" = 72;
    "Content-Type" = "application/json; charset=utf-8";
    Date = "Thu, 06 Sep 2018 09:50:55 GMT";

[2018-09-06 16:05] #1085 closed

[2018-09-07 09:52] RubenBenBen commented on #1060
Hi guys, @KrishnaPatell @kmittal98 @algrid @Dhananjay22 @romansorochak  can you please if notifications are working right now? I can send the notification, but it's not received by the user.

[2018-09-09 04:51] vineeshtp opened #1086 "Remote video not receiving- ios Swift"
I have implemented VoIP calls both video and Audio all  VoIP calls are working.
But In video call sometimes I am not able to get the remote user video.

Here I am attaching error log

[https://gist.github.com/vineeshtp/8a32c7c91f5ccd176422f8f32bee1f95](url)
Kindly let me know  how do I solve this issue.

**Note: Do not close the ticket, give me some time to answer.**

 - [ ] I have read the [Docum

[2018-09-11 12:28] dipendrapulse opened #1087 "The owner id is 0 while creating private group"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-09-14 13:25] dipendrapulse opened #1088 "Unable to send the message once the device goes in sleepmode"
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-09-17 06:50] kushal211 commented on #709
Did you able to get the total number of unread messages for all the dialogs?

[2018-09-17 06:51] kushal211 opened #1089 "How to get total unread messages count for all the dialogs?"
Hi,

I wanted to get the **total number of unread messages** count for all the Chat dialogs. I can able to get the unread messages count for the individual dialogs but not for all the dialogs in a single shot.

I have checked [this reported issue](https://github.com/QuickBlox/quickblox-ios-sdk/issues/709) and tried it as well but it is not returning me any count in response.

Please help me with t

[2018-09-17 11:04] sshaforenkoqb commented on #1088
If you want send something after application goes to background you can use background Task https://developer.apple.com/documentation/uikit/core_app/managing_your_app_s_life_cycle/preparing_your_app_to_run_in_the_background/extending_your_app_s_background_execution_time

[2018-09-19 15:08] katoreRahul opened #1090 "When My app is killed or in background, Android to iOS calling is not working(but ios to ios calling is working)."
1. iOS to iOS calling
      a. when app is in foreground, calling functionality works smoothly.
      b. when app is in background, calling functionality works smoothly.
      c. when app was killed/screen locked, calling functionality works but not smoothly.

2. android to iOS calling
      a. when app is in foreground, calling functionality works smoothly.
      b. when app is in background, cal

[2018-09-24 04:47] kushal211 commented on #1089
Hi,

Any update please!

[2018-09-27 12:32] mawshd commented on #145
2.16 is not working for custom data

[2018-09-30 00:15] mawshd opened #1091 "Custom object linked with QBChatMessage or QBChatDialog"
Hello,
I want to add likes and dislikes in group chat dialog.
like i am having 5 members in dialog, 3 of them like my message 2 of them dislike. i want to attach these counter with QBChatMessage. How i can do this?

Can we update QBChatmessage custom params?
If I create custom class for it, than its not linking with QBMessages when retrieval in dialog.?

Can you please guide me?
Thanks

[2018-09-30 00:27] mawshd commented on #1091
when i am creating new QBchatMessage with custom params, i am adding custom class key in dictionary like
 `
        let QBMsg = QBChatMessage.markable()
        QBMsg.text = textView.text.trim()
        QBMsg.customParameters = ["class_name": "myCustomClass", "likes" : 3, "dislikes" : 2, "save_to_history" : true]
        QBMsg.dialogID = dialog?.id
`

message being sent successfully, and when rece

[2018-09-30 00:31] mawshd commented on #1091
If I could get these id and parent id in QBChatMessage, than i will be able to update the counters by simply using

`QBRequest.update(custom, successBlock: { (response, customObje) in
            print(custom)
        }) { (response) in
            print(response)
        }
`

[2018-09-30 00:33] mawshd commented on #1091
Or guide me in better way. if it is possible to achieve this.?

[2018-10-11 12:38] prathap2626 opened #1096 "Code=-1011 "Request failed: internal server error (500)"
Hello, I am getting this error in AFNetworking.  I am using XCode 10
Error Domain=com.alamofire.error.serialization.response Code=-1011 "Request failed: internal server error (500)"

Anyone knows please reply fast...

`-(void)blockAndBook {

//    NSMutableDictionary *aBodyDictionary = [NSMutableDictionary dictionaryWithObject:[BRUtility getAuthToken] forKey:@"Authorization"];

    NSString *anURL

[2018-10-12 11:37] sohilspaceo opened #1097 "QuickBlox Voice Call Recording: Can't Hear Opponent Voice [Swift]"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-10-13 09:00] CookAmir opened #1098 "Can't create a subscription for iOS."
Hello, I am getting this error in create a subcription for iOS.

let subscription: QBMSubscription! = QBMSubscription()
subscription.notificationChannel = QBMNotificationChannel.APNS
subscription.devicePlatform = "iOS"
subscription.deviceUDID = UIDevice.current.identifierForVendor!.uuidString
subscription.deviceToken = "****firebase token****"
QBRequest.createSubscription(subscription, successBloc

[2018-10-18 14:55] dgem commented on #1098
Hi,
_disclaimer_: I'm not familiar with swift or the ios sdk.
Looking at the API documentation (https://quickblox.com/developers/Messages#Create_subscription_.28subscribes.29) the client_identification_sequence:

Based on the above, I would have expected you to set it as a property of the subscription, so it can be forwarded as per the docs rest call:
[code]

[2018-10-19 12:53] jrana0017 opened #1100 "Unable to upload certificate in quickblox admin panel"
Hi,

I'm not able to upload a certificate in quickblox admin panel for push notification.

Attaching screen shot of an error for the reference. Please take a look and revert.

Thanks,
Jay
![screen shot 2018-10-19 at 6 22 55 pm](https://user-images.githubusercontent.com/44294351/47219290-0e35dc00-d3cc-11e8-8410-7cf00353020d.png)

[2018-10-20 09:07] CookAmir commented on #1098
Hi, I need help on Swift.
Thanks for your advice.

[2018-10-23 18:21] CookAmir commented on #1098
![image](https://user-images.githubusercontent.com/4521435/47381821-791c4580-d733-11e8-9335-12994022dad6.png)

Hi, I am still getting same issue.
Please help me. I need it very much.
Regard.

[2018-10-26 13:32] sshaforenkoqb commented on #1100
Hi, you need to upload cert in p.12 format. Here is an instruction: https://quickblox.com/developers/APNS_instruction

[2018-10-26 15:32] proactive-solutions commented on #1029
I am also facing the same issue with `Xcode 10`. Using the sample code from `sample-videochat-webrtc-swift`

[2018-10-26 16:54] vineeshtp commented on #1083
Do not wait for quickBlox, you will not get any solution from QuickBlox. They only know how to close the issues...!!!

Set the below property.

`QBRTCRemoteVideoView.preferMetal = false`

[2018-10-29 07:52] proactive-solutions commented on #1083
@vineeshtp thanks for the reply.
`QBRTCRemoteVideoView.preferMetal = false` did the trick for me.
I just wonder why the sample app does not crash.

[2018-10-30 06:42] williamtran1988 commented on #1098
Hi All,

ARE THERE ANYWAY TO CREATE SUBSCRIPTION WITH "bundle_identifier" on iOS SDK?

QBMSubscription *subscription = [QBMSubscription subscription];
    subscription.notificationChannel = QBMNotificationChannelAPNS;
    subscription.deviceUDID = deviceUDID;
    subscription.deviceToken = deviceTokenData;

    [QBRequest createSubscription:subscription successBlock:^(QBResponse *response, NSA....

[2018-10-30 07:17] williamtran1988 opened #1102 "Could not create subscription with Bundle_identifier - IOS"
Hi All,

I am working on iOS sdk. Framework version 2.8.0.1 Do you know any way to create a subscription with bundle_identifier? I would like to support multi push notification certificate. I am using this

QBMSubscription *subscription = [QBMSubscription subscription];
    subscription.notificationChannel = QBMNotificationChannelAPNS;
    subscription.deviceUDID = deviceUDID;
    subscription.dev

[2018-10-30 08:50] williamtran1988 commented on #1102
Hi @sshaforenkoqb

Can I use QBRequest to make this kind of request? Could you please show me how to do that?

Thanks

[2018-10-30 09:53] williamtran1988 commented on #1102
But the first certificate will be used as default, that's why my application build according to seconds cert will not work. It means that sdk will not takes automatically.

[2018-10-31 06:57] williamtran1988 opened #1103 "How to custom QBRequest on IOS with Objective C?"
Hi All,

I  would like to create a function which can support create a subscription with specify Bundle_Identifier because my application supported multiple APNS certificate.

Could you please tell me how to do that? Can we use QBRequest to make REST API? If true how to do that?

Many thanks.
William Tran.

[2018-10-31 07:15] williamtran1988 commented on #1102
Do you have any ideas?

[2018-10-31 07:38] williamtran1988 commented on #1102
On Quickblox instruction:
Please make sure you keep the certificates up to date. We won't be able to send the APNS messages for you once certificates expire. If you have more than 1 push certificate for the same channel and environment and your push notifications subscriptions do not have 'bundle_identifier' value set - then the 1st uploaded certificate will be used.

So when i tried to send a pus

[2018-10-31 08:15] sshaforenkoqb commented on #1102
Here is a log from sample-push-notifications sample:
parameters: {
    device =     {
        platform = ios;
        udid = "57B9D830-90AE-4BD6-9484-7FBA896420BC";
    };
    "notification_channels" = apns;
    "push_token" =     {
        "bundle_identifier" = "com.quickblox.supersample";
        "client_identification_sequence" = 2dde940d87cde14e470b35a5db8eadf8f13a8730b6e03f2ad40e5de6b378e4f1;

[2018-10-31 09:33] williamtran1988 commented on #1102
I have check subscriptions on quickblox CMS. the bundle_identifier is empty. It could be a problem on version 2.8.0.1?

[2018-10-31 10:11] williamtran1988 commented on #1102
Anyway, do you know how to make a QBREquest on Objective C? I would like to add it instead of using createSubscription by SDK. Because i could not upgrade to latest version at the moment.

[2018-11-01 13:07] dudinvlad opened #1104 "Chat messages wrong sorting - Objective-c"
Hi everyone! After several days I spent to resolve this issue I want to ask about help.
I using Quickblox to create chat, but not inherited from QMChatViewController as it shown in demo project. As a result my chat messages go upside down. I mean the newest message located on the top.
It happened after updating Quickblox and replaced chatSectionManager to chatDataSource.
So, is it possible to make

[2018-11-14 10:10] pwsharma opened #1105 "Crash when sending userinfo with video call"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

https://github.com/QuickBlox/quickblox-ios-sdk/issues/712

**Environment details**

Info                           | Value                                       |
----

[2018-11-14 10:12] pwsharma commented on #712
@diegothucao did you find any solution for this issue. I am facing the same issue with latest version of QuickBlox iOS SDK.

[2018-11-18 23:35] ValeriiVV opened #1106 "FaceDetection with AVCaptureVideoDataOutputSampleBufferDelegate or ARSCNViewDelegate"
Hello, I have almost the same goal as astanton with his issue #404. I'm trying to detect face and make some manipulations then... Could you tell me please, is there any way to get access to AVCaptureVideoDataOutputSampleBufferDelegate or maybe somehow start ARSCNView's session in order to get access to its ARSCNViewDelegate methods?

I have already tried to import in project your files from #404 i

[2018-11-19 06:55] Mayurk007 commented on #1014
hello i am also getting this issue in iphone 6s
 ### **2018-11-19 12:14:59.969767+0530 ScyphirSecure[3356:1518836] [CAMetalLayerDrawable texture] should not be called after already presenting this drawable. Get a nextDrawable instead.**

please help me

[2018-11-19 07:44] MaitriDB opened #1107 "QuickBlox Remote Video is freezing for video call Swift."
**New Issue Checklist**

 - [ ] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [ ] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-11-19 08:38] Mayurk007 commented on #1014
i have a solution for this
add Metalframework in your app frameworks
then import Metalkit
then add this  QBRTCRemoteVideoView.preferMetal = false
ex :
if (session as! QBRTCSession).id == Mysession?.id {
            QBRTCRemoteVideoView.preferMetal = false
            let remoteView :QBRTCRemoteVideoView = QBRTCRemoteVideoView()
            remoteView.videoGravity = AVLayerVideoGravity.resizeAspect

[2018-11-23 05:13] raheeshishan commented on #970
call kit with distribution certificate backgroud not working

[2018-11-30 06:54] pwsharma commented on #1105
@soulfly @dgem @Nitrino @HoldFast88 hello, guys! please!

[2018-11-30 06:59] captainuberawesome opened #1109 "QuickbloxWebRTC.framework missing x86_64 architecture"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none
(there is a similar issue, but it's old, closed and doesn't help)

**Environment details**

Info                           | Value

[2018-12-04 05:35] dhavalpanchani commented on #1109
I'm getting same error, I've tried a lot but no luck,

@QuickBlox Team - Please help us asap as app is crashing a lot in the video call feature with multiple device logging in. I've see your past issues too, but not able to fix it. Can anyone help us on this?

[2018-12-04 10:19] dhavalpanchani commented on #1109
@captainuberawesome : What's the solution to run the app in the simulator? It's very hard to test in the real devices every time, as even other codes are not compiling in the simulator due to this QuickbloxWebRTC.framework.

[2018-12-05 10:57] NaveenYadavGithub opened #1110 "how to set user image with message in chat screen"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-12-05 11:01] NaveenYadavGithub commented on #1110
Please help with your possible answer it's urgent. I'm stuck here

[2018-12-06 06:39] Kiran-Patel commented on #499
The one which was referred ago in this thread [location code sample](http://quickblox.com/developers/SimpleSample-location_users-ios) has been deprecated and is no longer maintained now. Instead  they suggest that in order to achieve similar functionality, we should use the [Custom Objects module](https://quickblox.com/developers/Custom_Objects).

**Does any one have any hint with new [Custom Obje

[2018-12-06 06:59] Kiran-Patel opened #1111 "Share user current location old API has been deprecated, any idea how to achieve with new API?"
**Does any one have any hint with new [Custom Objects module](https://quickblox.com/developers/Custom_Objects) feature that, how we can share user's current location(not live location) like WhatsApp using QuickBlox?**

_Originally posted by @Kiran-Patel in https://github.com/QuickBlox/quickblox-ios-sdk/issues/499#issuecomment-444765078_

[2018-12-07 12:23] dhara6894 commented on #649
Hello Everyone,
I would like to take a screenshot of ongoing VideoCaptureView during a call in ios Swift. I used 'QuickBlox',

[2018-12-12 04:08] nyan2x opened #1113 "QB.instance.sendSystemMessage Crash EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
**New Issue Checklist**

 - [x] I have read the [Documentation](https://quickblox.com/developers/IOS)
 - [x] I have searched for a similar issue in the [project](https://github.com/QuickBlox/quickblox-ios-sdk/issues) and found none

**Environment details**

Info                           | Value                                       |
-------------------------------|-------------------------------

[2018-12-14 04:26] RahulTBI opened #1114 "Socket closed by remote peer"
Always i get this error "Socket closed by remote peer" while i am unlocking screen.

please help me out.

[2018-12-18 13:50] sshaforenkoqb commented on #1114
Hi RahulTBI, you can try to close chat connection when going to background.

[2018-12-19 07:12] RahulTBI commented on #1114
Hi sshaforenkoqb, Thanks for help.

[2018-12-19 15:32] QB-vladyslav-vyshniak commented on #1114
Hello, dear RahulTBI.

This issue is still relevant for you?

[2018-12-19 16:10] QB-vladyslav-vyshniak commented on #1111
Hello, dear Kiran-Patel.

Thank you for contacting us.
Could you create the custom object with the fields: latitude, longitude, timestamp and "user_id".
Just update it when the location changes.
If you want to see the location of particular user you can get this custom object by "user_id".

Could you confirm that this is a suitable solution for you?

[2018-12-20 15:54] sv9988 opened #1115 "Push notification don't show payload"
Sometimes, when I test call on iOS device at production, I receive a push notification with call ID string. This is not correct with payload which I send when start a call.

Somethings, device not show push notification but it show call view from backgound. It's good!
So why sometimes, device receive push notification with call ID. How to fix to show call view?

[2018-12-22 15:13] QB-vladyslav-vyshniak commented on #1113
Hello, dear Marianne.

Hope you are going well.
Thank you for contacting us.

Could you provide us with information about which fields you fill in QBMessage and detailed crash logs for the successful investigation.

[2018-12-22 15:20] QB-vladyslav-vyshniak commented on #1110
Hello, dear Naveen.

Thank you for contacting us.
Hope you are going well.

If you are using QMChatViewController for chat screen, you could use the following repository https://github.com/QuickBlox/QMChatViewController-ios

Let me know if you have an additional question.

[2018-12-26 15:48] QB-vladyslav-vyshniak commented on #1089
Hello, dear Kushal.

Thank you for contacting us.
You can implement the following logic:
=>>get values from unread dialogs and count the sum of all messages then display it as total count of unread messages.

Let me know if I can help you more.

[2018-12-27 11:41] arjunmaniyar opened #1116 "IOS Swift Video Call UI"
How can we customize the video call UI in IOS swift 4?

[2018-12-27 16:33] QB-vladyslav-vyshniak commented on #1100
Hello, dear Jay.

More about APNS you can see by this link: https://quickblox.com/developers/APNS_instruction
If you have additional question, please let us know.